Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

chore: configure pyspark labeling
  .github/renovate.json
Labels: ci

ci(setup-uv): remove default-enabled cache
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  justfile
  requirements-dev.txt
  uv.lock
Labels: ci, dependencies

chore(deps): refresh lockfile
  requirements-dev.txt
  uv.lock
Labels: dependencies

docs: add callout notes for some APIs changes and additions
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: duckdb

chore(docs): remove newline
  ibis/backends/duckdb/__init__.py
Labels: duckdb

ci(setup-uv): remove default-enabled cache
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  justfile
  requirements-dev.txt
  uv.lock
Labels: ci, dependencies

chore(deps): refresh lockfile
  requirements-dev.txt
  uv.lock
Labels: dependencies

ci: use uv to auto activate venv
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
Labels: ci

ci(docs): fix build by checking out uv.lock after building a temporary wheel
  justfile
Labels: none

ci(docs): fix build by checking out uv.lock after building a temporary wheel
  justfile
Labels: none

test(pyspark): fix failing pyspark test
  flake.lock
  ibis/backends/tests/test_export.py
  requirements-dev.txt
  uv.lock
Labels: tests, nix, dependencies

test(pyspark): fix failing pyspark test
  flake.lock
  ibis/backends/tests/test_export.py
  requirements-dev.txt
  uv.lock
Labels: tests, nix, dependencies

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

merge upstream changes
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
  ibis/backends/sql/compilers/datafusion.py
Labels: sql

revert changes to .devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Labels: none

revert changes to devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Labels: none

reformat datafusion file properly
  ibis/backends/sql/compilers/datafusion.py
Labels: sql

chore(dev-deps): bump pgvector, clang and llvm versions
  docker/postgres/Dockerfile
Labels: none

chore(postgis): bump postgres version
  docker/postgres/Dockerfile
Labels: none

chore(postgres): remove unnecessary container user
  compose.yaml
Labels: none

chore(dev-deps): bump pgvector, clang and llvm versions (#10614)
  compose.yaml
  docker/postgres/Dockerfile
Labels: none

chore: re-enable the dependency dashboard
  .github/renovate.json
Labels: ci

chore: re-enable the dependency dashboard (#10615)
  .github/renovate.json
Labels: ci

docs: add callout notes for some APIs changes and additions
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: duckdb

chore(docs): remove newline
  ibis/backends/duckdb/__init__.py
Labels: duckdb

chore: fix triple colon
  ibis/expr/types/generic.py
Labels: none

fix(api): ensure memtable schema and columns match
  ibis/expr/api.py
  ibis/expr/tests/test_api.py
Labels: tests

docs: add callout notes for some APIs changes and additions (#10551)
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: duckdb

ci(google-auth): use workload identity federation instead of json
  .github/workflows/ci-data.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-benchmarks.yml
Labels: ci

ci: add `project_id` and use `vars` instead of `secrets` for provider id
  .github/workflows/ci-data.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-benchmarks.yml
Labels: ci

ci(google-auth): use workload identity federation instead of json (#10342)
  .github/workflows/ci-data.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-benchmarks.yml
Labels: ci

test(api): update test to avoid executing anything
  ibis/expr/tests/test_api.py
Labels: tests

deps: relax upper bounds on required dependencies (except sqlglot)
  pyproject.toml
  uv.lock
Labels: dependencies

fix(api): ensure memtable schema and columns match (#10617)
  ibis/expr/api.py
  ibis/expr/tests/test_api.py
Labels: tests

chore(deps): relax upper bounds on required dependencies (except sqlglot) (#10620)
  pyproject.toml
  uv.lock
Labels: dependencies

ci: fix google cloud wif token permissions
  .github/workflows/ci-data.yml
  .github/workflows/ibis-benchmarks.yml
Labels: ci

ci: fix google cloud wif token permissions (#10621)
  .github/workflows/ci-data.yml
  .github/workflows/ibis-benchmarks.yml
Labels: ci

chore(deps): bump flakes and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies

test(polars): xfail on different error types and new panic when converting types
  ibis/backends/tests/test_generic.py
Labels: tests

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"
