Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"

chore(deps): use a slightly newer darwin sdk lower bound for psycopg-binary
  nix/overlay.nix
Labels: nix, dependencies

refactor(risingwave): decouple from the postgres backend
  ibis/backends/risingwave/__init__.py
Labels: risingwave

chore(deps): bump nix flakes and add missing `editables` dependency for `hatchling`
  flake.lock
  nix/pyproject-overrides.nix
Labels: nix, dependencies

chore(deps): bump nix flakes and add missing `editables` dependency for `hatchling` (#10670)
  flake.lock
  nix/pyproject-overrides.nix
Labels: nix, dependencies

chore(deps): bump pyodide and docs build
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  docs/tutorials/browser/repl.qmd
  justfile
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: ci, dependencies, docs

chore(docs): revert back to old wheel upload style
  justfile
Labels: none

chore(docs): install one by one
  docs/tutorials/browser/repl.qmd
Labels: docs

chore(docs): avoid clearing
  docs/tutorials/browser/repl.qmd
Labels: docs

chore: add frozen docs
  docs/_freeze/posts/classification-metrics-on-the-backend/index/execute-results/html.json
  docs/_freeze/posts/classification-metrics-on-the-backend/index/figure-html/cell-5-output-1.png
Labels: none

chore: fix jlite config location
  .gitignore
  docs/tutorials/browser/repl.qmd
  justfile
Labels: docs

refactor(risingwave): decouple the risingwave backend from the postgres backend (#10669)
  ibis/backends/risingwave/__init__.py
Labels: risingwave

chore(deps): bump pyodide and docs build
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  .gitignore
  docs/_freeze/posts/classification-metrics-on-the-backend/index/execute-results/html.json
  docs/_freeze/posts/classification-metrics-on-the-backend/index/figure-html/cell-5-output-1.png
  docs/tutorials/browser/repl.qmd
  justfile
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: ci, dependencies, docs

chore(deps): bump pyarrow to 19.0.0
  requirements-dev.txt
  uv.lock
Labels: dependencies

test(duckdb): xfail roundtrip delta test
  ibis/backends/tests/test_export.py
Labels: tests

test(duckdb): skip failing doctest
  ibis/expr/api.py
Labels: none

chore(deps): bump pyarrow to 19.0.0 (#10676)
  ibis/backends/tests/test_export.py
  ibis/expr/api.py
  requirements-dev.txt
  uv.lock
Labels: tests, dependencies

chore(deps): bump nixpkgs
  flake.lock
Labels: nix, dependencies

chore(deps): bump uv2nix
  flake.lock
Labels: nix, dependencies

chore(deps): bump jupyterlite kernel to pick up pyodide 0.27.1
  docs/tutorials/browser/repl.qmd
  requirements-dev.txt
  uv.lock
Labels: dependencies, docs

chore(deps): bump nix flakes and remove pyodide wheel loading hack (#10677)
  docs/tutorials/browser/repl.qmd
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies, docs

feat(types): add typing overloads to common .cast() dtypes
  ibis/expr/types/generic.py
Labels: none

feat(types): add typing overloads to common .cast() dtypes (#10682)
  ibis/expr/types/generic.py
Labels: none

Use `psycopg` rather than `psycopg2` for Postgres
  .github/renovate.json
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_struct.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: postgres, tests, ci, dependencies

Use `psycopg` rather than `psycopg2` for Risingwave
  .github/renovate.json
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/risingwave/tests/test_client.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: postgres, risingwave, tests, ci, dependencies

chore(deps): use psycopg binary
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: dependencies

fix(postgres): ignore when hstore cannot be loaded because the database has not registered it yet
  ibis/backends/postgres/__init__.py
Labels: postgres

chore(deps): use a slightly newer darwin sdk lower bound for psycopg-binary
  nix/overlay.nix
Labels: nix, dependencies

chore: move pandas import inside use site
  .github/renovate.json
  ibis/backends/risingwave/__init__.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/risingwave/tests/test_client.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/backends/tests/errors.py
Labels: risingwave, tests, ci

test(postgres): use new imports
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
Labels: tests

chore(deps): bring back psycopg2 for risingwave
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/test_array.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: risingwave, tests, dependencies

chore(docs): simply pip install ibis-framework instead of pre-installing a bunch of requirements
  docs/tutorials/browser/repl.qmd
Labels: docs

chore(deps): bump `uv2nix` and pickup latest `uv` version (0.5.20)
  flake.lock
Labels: nix, dependencies

chore(docs): remove unnecessary tabset for repl warning
  docs/_tabsets/repl_warning.qmd
  docs/tutorials/browser/repl.qmd
Labels: docs

feat(postgres): use `psycopg` rather than `psycopg2` (#10659)
  .github/renovate.json
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_numeric.py
  nix/overlay.nix
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: postgres, risingwave, tests, nix, ci, dependencies

chore(docs): simply pip install ibis-framework instead of pre-installing a bunch of requirements (#10683)
  docs/_tabsets/repl_warning.qmd
  docs/tutorials/browser/repl.qmd
  flake.lock
Labels: nix, dependencies, docs

feat(duckdb): add to_json() to Table and duckdb backend
  ibis/backends/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
  ibis/expr/types/core.py
Labels: duckdb, tests

chore(docs): avoid downloading files in jupyterlite setup
  docs/tutorials/browser/repl.qmd
  justfile
Labels: docs

chore(docs): remove remaining jupyterlite setup hacks (#10685)
  docs/tutorials/browser/repl.qmd
  justfile
Labels: docs

feat(duckdb): add to_json() to Table and duckdb backend
  ibis/backends/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
  ibis/expr/types/core.py
Labels: duckdb, tests

chore(deps): bump nixpkgs
  flake.lock
Labels: nix, dependencies
