Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

chore(deps): bump all flakes (#10618)
  flake.lock
  ibis/backends/tests/test_generic.py
  requirements-dev.txt
  uv.lock
Labels: tests, nix, dependencies

feat(polars): add StringFind operation
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Labels: polars, tests

feat(polars): add `StringFind` operation (#10624)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Labels: polars, tests

chore(dev-deps): avoid some uv overhead when using nix environments
  flake.lock
  flake.nix
  nix/overlay.nix
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies

chore: move quarto check to single workflow and run in a separate job
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
Labels: ci

chore(deps): move `uv` in nix environment to vendored version from `uv2nix` (#10625)
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  flake.lock
  flake.nix
  nix/overlay.nix
  requirements-dev.txt
  uv.lock
Labels: nix, ci, dependencies

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

chore(deps): bump nixpkgs
  flake.lock
Labels: nix, dependencies

chore(deps): bump pyproject-nix
  flake.lock
Labels: nix, dependencies

chore(deps): bump uv2nix
  flake.lock
Labels: nix, dependencies

feat(polars): add Intersection and Difference ops
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_set_ops.py
Labels: polars, tests

ci(bigquery): disable two failing tests until WIF auth is worked out
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
Labels: bigquery, tests

ci(bigquery): ensure that local tests do not xpass
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
Labels: bigquery, tests

ci(bigquery): disable two failing tests until WIF auth is worked out (#10630)
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
Labels: bigquery, tests

feat(polars): add `Intersection` and `Difference` ops (#10623)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_set_ops.py
Labels: polars, tests

fix(dtypes): allow passing `nullable` kwarg to string parsed dtypes
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_parse.py
Labels: tests, datatypes

feat(dtypes): allow passing `nullable` kwarg to string parsed dtypes (#10632)
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_parse.py
Labels: tests, datatypes

feat(polars): add bitwise operations (bit_and, bit_or, bit_xor)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: polars, tests

chore: use the reduction machinery instead of custom rules
  ibis/backends/polars/compiler.py
Labels: polars

feat(polars): add bitwise operations (`bit_and`, `bit_or`, `bit_xor`) (#10634)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: polars, tests

fix(duckdb): support memtables with all null columns in pyarrow output
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/converter.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/trino/__init__.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
  ibis/formats/pyarrow.py
Labels: clickhouse, duckdb, exasol, flink, impala, mssql, mysql, oracle, postgres, risingwave, trino, tests

fix(datatypes): return pd.Timestamp or pd.Series[datetime64] for date.to_pandas()
  docs/contribute/02_workflow.qmd
  ibis/backends/oracle/converter.py
  ibis/backends/snowflake/converter.py
  ibis/backends/sqlite/tests/test_types.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_temporal.py
  ibis/formats/pandas.py
Labels: oracle, snowflake, sqlite, tests, docs

feat(polars): add TimeFromHMS op
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: polars, tests

feat(polars): add `TimeFromHMS` op (#10635)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: polars, tests

docs: deduplicate rendering of cloud support policy
  docs/backends/support/cloud_support_policy.qmd
Labels: docs

docs: deduplicate rendering of cloud support policy (#10637)
  docs/backends/support/cloud_support_policy.qmd
Labels: docs

feat(polars): add ArrayStringJoin op
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Labels: polars, tests

chore: avoid setting environment variables except for local cases
  .env
  flake.nix
  ibis/backends/athena/tests/conftest.py
Labels: tests, nix, dependencies

chore: avoid setting environment variables except for local cases (#10639)
  .env
  flake.nix
  ibis/backends/athena/tests/conftest.py
Labels: tests, nix, dependencies

chore: avoid setting environment variables except for local cases
  .env
  flake.nix
Labels: nix, dependencies

chore: disable things until athena works
  .github/workflows/ibis-backends.yml
Labels: ci

chore: disable clouds
  .github/workflows/ibis-backends-cloud.yml
Labels: ci

chore: athena ci (#10640)
  .env
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  flake.nix
Labels: nix, ci, dependencies

chore: fail fast on clouds
  .github/workflows/ibis-backends-cloud.yml
Labels: ci

chore: fail fast on clouds (#10641)
  .github/workflows/ibis-backends-cloud.yml
Labels: ci

ci: revert athena debugging changes
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
Labels: ci

ci: revert athena debugging changes (#10642)
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
Labels: ci

feat(polars): add ArrayStringJoin op (#10638)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Labels: polars, tests

chore(deps): regen lockfiles
  requirements-dev.txt
  uv.lock
Labels: dependencies

chore(deps): bump nixpkgs
  flake.lock
Labels: nix, dependencies

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"
