Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"

fix(duckdb): thread udf parameters through
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_impure.py
  ibis/expr/decompile.py
  ibis/expr/operations/generic.py
Labels: tests

chore(test): add comment explaining pytest.mark.xdist_group
  ibis/backends/tests/test_impure.py
Labels: tests

test: add test for impure function correlation behavior
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_impure.py
Labels: tests

test(fixtures): ensure that most connections are cleaned up when the session ends (#10693)
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/tests/conftest.py
Labels: clickhouse, datafusion, duckdb, flink, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, tests

chore: checkpoint
  ibis/backends/tests/test_impure.py
Labels: tests

chore: avoid termination of any spark sessions
  ibis/backends/pyspark/tests/conftest.py
Labels: pyspark, tests

chore: disable cleanup for flink too
  ibis/backends/flink/tests/conftest.py
Labels: flink, tests

chore: more test fixes
  ibis/backends/tests/test_impure.py
Labels: tests

docs: clarify `distinct` in difference(), add examples
  ibis/expr/api.py
  ibis/expr/types/relations.py
Labels: none

Apply suggestions from code review
  ibis/expr/api.py
  ibis/expr/types/relations.py
Labels: none

docs: clarify `distinct` in difference(), add examples (#10716)
  ibis/expr/api.py
  ibis/expr/types/relations.py
Labels: none

chore(deps): relock
  requirements-dev.txt
Labels: dependencies

revert: test(fixtures): ensure that most connections are cleaned up when the session ends (#10693)
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/tests/conftest.py
Labels: clickhouse, datafusion, duckdb, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, tests

test: fix cloud purity tests (#10713)
  ibis/backends/tests/test_impure.py
Labels: tests

revert: test(fixtures): ensure that most connections are cleaned up when the session ends (#10693) (#10717)
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/tests/conftest.py
Labels: clickhouse, datafusion, duckdb, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, tests

chore(deps): bump nixpkgs and uv2nix
  flake.lock
Labels: nix, dependencies

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

chore: acknowledge the injection
  ibis/backends/mssql/__init__.py
Labels: mssql

chore(deps): bump deps (#10718)
  flake.lock
  ibis/backends/mssql/__init__.py
  requirements-dev.txt
  uv.lock
Labels: mssql, nix, dependencies

chore(deps): bump pyproject-nix, uv2nix, nixpkgs and relock
  flake.lock
  ibis/backends/tests/test_set_ops.py
  requirements-dev.txt
  uv.lock
Labels: tests, nix, dependencies

chore(deps): bump pyproject-nix, uv2nix, nixpkgs and relock (#10720)
  flake.lock
  ibis/backends/tests/test_set_ops.py
  requirements-dev.txt
  uv.lock
Labels: tests, nix, dependencies

docs: add JSON API docs
  docs/_quarto.yml
Labels: none

docs: add JSON API docs (#10722)
  docs/_quarto.yml
Labels: none

chore: ensure that uv.lock is updated and shipped with the release
  .releaserc.js
  ci/release/prepare.sh
Labels: none

ci(release): ensure that `uv.lock` is committed with a new release (#10723)
  .releaserc.js
  ci/release/prepare.sh
Labels: none

feat: return DSL string for DataDatatype.__repr__()
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/expr/datatypes/tests/test_pandas_numpy_value.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/operations/tests/snapshots/test_generic/test_error_message_when_constructing_literal/call1-too_many_positional_arguments/too_many_positional_arguments.txt
  ibis/expr/operations/tests/snapshots/test_generic/test_error_message_when_constructing_literal/call2-got_an_unexpected_keyword/got_an_unexpected_keyword.txt
  ibis/expr/operations/tests/snapshots/test_generic/test_error_message_when_constructing_literal/call3-multiple_values_for_argument/multiple_values_for_argument.txt
Labels: tests, datatypes

refactor(test): don't abuse pytest fixtures when simple constants work
  ibis/tests/expr/test_table.py
Labels: tests

chore(deps): bump nix flakes
  flake.lock
Labels: nix, dependencies

chore(deps): regen lockfiles
  requirements-dev.txt
  uv.lock
Labels: dependencies
