Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

test(polars): xfail now-panicking polars set operations
  ibis/backends/tests/test_set_ops.py
Labels: tests

test(polars): xfail now-panicking polars set operations
  ibis/backends/tests/test_set_ops.py
Labels: tests

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

chore(deps): bump nixpkgs
  flake.lock
Labels: nix, dependencies

fix(duckdb): support memtables with all null columns in pyarrow output
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/converter.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/trino/__init__.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
  ibis/formats/pyarrow.py
Labels: clickhouse, duckdb, exasol, flink, impala, mssql, mysql, oracle, postgres, risingwave, trino, tests

fix(duckdb): return null typed pyarrow arrays and disable creating tables with all null columns in duckdb (#9810)
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/converter.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/trino/__init__.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
  ibis/formats/pyarrow.py
Labels: clickhouse, duckdb, exasol, flink, impala, mssql, mysql, oracle, postgres, risingwave, trino, tests

chore(deps): bump nixpkgs
  flake.lock
Labels: nix, dependencies

chore(deps): bump nixpkgs and relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

test(cloud-backends): fix all-null tests for the clouds
  ibis/backends/tests/test_export.py
Labels: tests

chore(deps): bump flakes and bump lockfile versions (#10692)
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies

test(cloud-backends): fix all-null tests for the clouds (#10694)
  ibis/backends/tests/test_export.py
Labels: tests

test(fixtures): ensure that most connections are cleaned up when the session ends
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/tests/conftest.py
Labels: clickhouse, datafusion, duckdb, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, tests

chore: deal with pyspark imports
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/errors.py
Labels: pyspark, tests

chore: avoid testing clean up with local spark remote
  ibis/backends/pyspark/tests/conftest.py
Labels: pyspark, tests

feat: add to_dicts
  ibis/backends/__init__.py
  ibis/backends/tests/test_export.py
  ibis/expr/types/core.py
Labels: tests

test: mark druid as notimpl
  ibis/backends/tests/test_export.py
Labels: tests

fix(issue-10699): let bigquery backend respect window frame set by users
  ibis/backends/sql/compilers/bigquery/__init__.py
Labels: bigquery, sql

feat(api): support passing Deferreds as predicates to joins
  ibis/backends/tests/test_join.py
  ibis/expr/types/joins.py
Labels: tests

chore(deps): bump flakes
  flake.lock
Labels: nix, dependencies

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

chore(deps): bump flakes and bump locked versions (#10706)
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies

test: add test case for parse error
  ibis/backends/duckdb/tests/test_io.py
Labels: duckdb, tests

fix(duckdb): ensure that duckdb columns argument to read_csv accepts duckdb syntax not ibis syntax
  ibis/backends/duckdb/__init__.py
Labels: duckdb

test(imports): move `numpy` import to top-level
  ibis/backends/duckdb/tests/test_client.py
Labels: duckdb, tests

test(duckdb-client): use types that are valid duckdb strings and give better ids to test cases
  ibis/backends/duckdb/tests/test_client.py
Labels: duckdb, tests

chore: no need for csv extension in test
  ibis/backends/duckdb/tests/test_io.py
Labels: duckdb, tests

test(fixtures): ensure that most connections are cleaned up when the session ends (#10693)
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/tests/conftest.py
Labels: clickhouse, datafusion, duckdb, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, tests

fix(duckdb): ensure that duckdb columns argument to read_csv accepts duckdb syntax not ibis syntax (#10696)
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/duckdb/tests/test_io.py
Labels: duckdb, tests

test: add test for impure function correlation behavior
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_impure.py
Labels: tests

fix(postgres): dedent in udfs
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/tests/test_impure.py
Labels: sql, tests

fix(duckdb): thread udf parameters through
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_impure.py
  ibis/expr/decompile.py
  ibis/expr/operations/generic.py
Labels: tests

fix(udf): make udfs impure and avoid merging selects with impure functions
  ibis/backends/sql/rewrites.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/udf.py
Labels: sql

test(flink): xfail timestamp subtraction test case
  ibis/backends/tests/test_generic.py
Labels: tests

chore: remove redundant word
  ibis/common/tests/test_patterns.py
Labels: tests

chore: remove redundant word (#10707)
  ibis/common/tests/test_patterns.py
Labels: tests

chore(test): add comment explaining pytest.mark.xdist_group
  ibis/backends/tests/test_impure.py
Labels: tests

fix(udf): make udfs impure and avoid merging selects with impure functions
  ibis/backends/sql/rewrites.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/udf.py
Labels: sql

fix(postgres): dedent in udfs
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/tests/test_impure.py
Labels: sql, tests

test(flink): xfail timestamp subtraction test case
  ibis/backends/tests/test_generic.py
Labels: tests

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"
