Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

chore(datafusion): restore _register and deprecate usage in `do_connect`
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_connect.py
Labels: datafusion, tests

test: use more precise marker for backends that don't support arrays (#10552)
  ibis/backends/tests/test_string.py
Labels: tests

fix(sql): remove constants in `order_by` calls during select merging (#10475)
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/databricks/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/flink/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/pyspark/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/risingwave/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/trino/out.sql
  ibis/backends/tests/test_sql.py
Labels: sql, tests

feat(ux): include basename of path in generated table names in read_*()
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/tests/test_util.py
  ibis/util.py
Labels: clickhouse, datafusion, duckdb, flink, polars, pyspark, snowflake, tests

chore: update register tests to not rely on generated table names
  ibis/backends/tests/test_register.py
Labels: tests

Update docs/posts/classification-metrics-on-the-backend/index.qmd
  docs/posts/classification-metrics-on-the-backend/index.qmd
Labels: docs

docs(blog): classification metrics on the backend (#10501)
  docs/posts/classification-metrics-on-the-backend/confusion_matrix.png
  docs/posts/classification-metrics-on-the-backend/index.qmd
  docs/posts/classification-metrics-on-the-backend/thumbnail.png
Labels: docs

refactor(impala): remove `ImpalaTable` subclass
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/impala/tests/test_patched.py
Labels: impala, tests

chore(impala): remove dead fixtures
  ibis/backends/impala/tests/test_ddl.py
Labels: impala, tests

refactor(impala): remove impala table (#9840)
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/impala/tests/test_patched.py
Labels: impala, tests

chore(clickhouse): remove XPASSing xfails
  ibis/backends/tests/test_io.py
Labels: tests

docs(impala): remove table methods from backend docs
  docs/backends/impala.qmd
Labels: docs

docs(impala): remove table methods from backend docs (#10557)
  docs/backends/impala.qmd
Labels: docs

fix(docs): render func args as args, not list of args
  docs/backends/_utils.py
Labels: none

docs(blog): convert case to cases in blog posts
  docs/posts/classification-metrics-on-the-backend/index.qmd
  docs/posts/ibis-bench/index.qmd
Labels: docs

fix(docs): render func args as args, not list of args
  docs/backends/_utils.py
Labels: none

chore: clean up registered tables after every test
  ibis/backends/tests/test_register.py
  ibis/util.py
Labels: tests

chore: move import into TYPE_CHECKING block
  ibis/util.py
Labels: none

chore(deps): regen requirements-dev.txt
  requirements-dev.txt
Labels: dependencies

chore: fixup usage in snowflake and pyspark
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
Labels: pyspark, snowflake

test(polars): remove xfail for `table()` signature
  ibis/backends/tests/test_signatures.py
Labels: tests

chore(polars): add `database` arg, for consistency
  ibis/backends/polars/__init__.py
Labels: polars

docs(blog): fix metric print output in classification blog
  docs/posts/classification-metrics-on-the-backend/index.qmd
Labels: docs

docs(blog): fix metric print output in classification blog
  docs/posts/classification-metrics-on-the-backend/index.qmd
Labels: docs

ci(nix): make skip helper python version match the non-skipped job
  .github/workflows/nix-skip-helper.yml
Labels: ci

ci(nix): make skip helper python version match the non-skipped job (#10568)
  .github/workflows/nix-skip-helper.yml
Labels: ci

chore(deps): regen requirements-dev.txt
  requirements-dev.txt
Labels: dependencies

chore(deps): bump all flakes
  flake.lock
  flake.nix
Labels: nix, dependencies

chore(dev-deps): add libgcc to quarto so deno can pick it up
  nix/quarto/default.nix
Labels: nix, dependencies

chore: use pyproject-build-systems
  flake.lock
  flake.nix
  nix/overlay.nix
Labels: nix, dependencies

chore: relock requirements
  nix/pyproject-overrides.nix
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies

docs: add callout notes for some APIs changes and additions
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: duckdb

Enable editing of project and use of git in container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

Update docs
  docs/contribute/01_environment.qmd
Labels: docs

Update docs
  docs/contribute/01_environment.qmd
Labels: docs

Remove old chown code
  .devcontainer/Dockerfile
Labels: none

Update docs
  docs/contribute/01_environment.qmd
Labels: docs

Fix trailing whitespace
  docs/contribute/01_environment.qmd
Labels: docs

chore(polars): add `database` arg, for consistency (#10555)
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_signatures.py
Labels: polars, tests

docs(examples): add distinct argument example for intersect
  ibis/expr/api.py
  ibis/expr/types/relations.py
Labels: none

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"
