Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"

chore(deps): regen requirements-dev.txt
  requirements-dev.txt
Labels: dependencies

docs(examples) ensure join result is ordered
  ibis/expr/types/relations.py
Labels: none

refactor(repr): pass Interactive dataclass around, not raw values
  ibis/expr/types/generic.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
Labels: none

feat(datafusion): remove pytest not yet annotations, fix fmt
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/test_map.py
Labels: sql, tests

docs(examples): add `asof_join` weather example (#10507)
  ibis/expr/types/relations.py
Labels: none

docs(examples): add Value.asc and Value.desc examples
  ibis/expr/api.py
  ibis/expr/types/generic.py
Labels: none

docs(examples): add `Value.asc` and `Value.desc` examples (#10515)
  ibis/expr/api.py
  ibis/expr/types/generic.py
Labels: none

build(ruff): remove unnecessary target-version use
  pyproject.toml
Labels: none

build(ruff): remove unnecessary target-version use (#10520)
  pyproject.toml
Labels: none

feat(repr): show col and row count in rich repr
  ibis/config.py
  ibis/expr/types/generic.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
Labels: none

chore(pyspark): use normalize_filenames() from util
  ibis/backends/pyspark/__init__.py
Labels: pyspark

chore(pyspark): use normalize_filenames() from util (#10521)
  ibis/backends/pyspark/__init__.py
Labels: pyspark

docs(examples): add example and see also ref for compile
  ibis/expr/types/core.py
Labels: none

docs(examples): add example and see also ref for ibis.to_sql
  ibis/expr/sql.py
Labels: none

docs(fix): skip doctest for SqlString return
  ibis/expr/sql.py
Labels: none

docs(blog): add confusion matrix seaborn viz
  docs/posts/classification-metrics-on-the-backend/index.qmd
Labels: docs

docs(examples): add example and see also ref for ibis.to_sql
  ibis/expr/sql.py
Labels: none

docs(examples): add example and see also ref for compile
  ibis/expr/types/core.py
Labels: none

docs(fix): skip doctest for SqlString return
  ibis/expr/sql.py
Labels: none

docs(examples): add example and see also ref for Table.execute
  ibis/expr/types/core.py
Labels: none

docs(examples): add example and see also ref for Table.execute
  ibis/expr/types/core.py
Labels: none

docs: reword backend counting to nearly 20 from 20+
  README.md
  docs/how-to/extending/unbound_expression.qmd
  docs/index.qmd
  docs/why.qmd
Labels: docs

docs(examples): add hashbytes example
  ibis/expr/types/strings.py
Labels: none

feat(mssql): add md2 and md4 hashbytes algos
  ibis/backends/sql/compilers/mssql.py
  ibis/expr/operations/generic.py
Labels: sql

chore(ci): skip nixos on mac-14, python3.12 for docs only prs
  .github/workflows/nix-skip-helper.yml
Labels: ci

docs: reword backend counting to nearly 20 from 20+ (#10533)
  README.md
  docs/how-to/extending/unbound_expression.qmd
  docs/index.qmd
  docs/why.qmd
Labels: docs

chore(mysql): remove XPASSing xfails from emoji string tests
  ibis/backends/tests/test_string.py
Labels: tests

chore(dev): update requirements-dev.txt file
  requirements-dev.txt
Labels: dependencies

chore(ci): skip nixos on mac-14, python3.12 for docs only prs
  .github/workflows/nix-skip-helper.yml
Labels: ci

Use uv to install project, dev and test dependencies
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

Update Dockerfile EOF and devcontainer.json formatting
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

Revert "feat(mssql): add md2 and md4 hashbytes algos"
  ibis/backends/sql/compilers/mssql.py
  ibis/expr/operations/generic.py
Labels: sql

docs(examples): add hashbytes example (#10537)
  ibis/expr/types/strings.py
Labels: none

refactor(register): remove deprecated register method
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_register.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_io.py
  ibis/backends/polars/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_io.py
  ibis/backends/tests/test_register.py
Labels: datafusion, duckdb, polars, pyspark, tests

Fix typo in ibis-for-sql-users.qmd
  docs/tutorials/ibis-for-sql-users.qmd
Labels: docs

docs(tutorial): fix typo in ibis-for-sql-users.qmd (#10549)
  docs/tutorials/ibis-for-sql-users.qmd
Labels: docs

docs(examples): add distinct argument example for intersect
  ibis/expr/api.py
  ibis/expr/types/relations.py
Labels: none

docs(examples): add rest arg examples for intersect
  ibis/expr/api.py
  ibis/expr/types/relations.py
Labels: none

docs: add callout notes for some APIs changes and additions
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: duckdb

chore(test): use more precise marker for backends that don't support arrays.
  ibis/backends/tests/test_string.py
Labels: tests
