Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

ci: rename nix update workflow to match remaining workflow naming conventions
  .github/workflows/update-nix-flakes.yml
Labels: ci

ci: rename nix update workflow to match remaining workflow naming conventions
  .github/workflows/update-nix-flakes.yml
Labels: ci

ci: re-enable deprecation checks
  .releaserc.js
Labels: none

refactor(api): remove `StringValue.initcap` method
  ibis/expr/types/strings.py
Labels: none

refactor(api): remove the `how` parameter from `Value.arbitrary`
  ibis/expr/types/generic.py
Labels: none

refactor(duckdb): remove the `read_in_memory` method from the duckdb backend
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_io.py
Labels: duckdb, tests

chore: remove some unused parameters and tests
  ibis/backends/duckdb/__init__.py
  ibis/tests/expr/test_value_exprs.py
Labels: duckdb, tests

chore(deps): add `packaging` for `verify_release.sh` script
  flake.nix
Labels: nix, dependencies

refactor(api): remove `IntegerValue.label`
  ibis/backends/impala/tests/test_bucket_histogram.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/expr/types/numeric.py
Labels: impala, postgres, risingwave, tests

refactor(api): remove `IntegerValue.label`
  ibis/backends/impala/tests/test_bucket_histogram.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/expr/types/numeric.py
Labels: impala, postgres, risingwave, tests

test(sqlite): ensure that duckdb io tests properly close sqlite connections
  ibis/backends/duckdb/tests/test_io.py
Labels: duckdb, tests

fixup! test(sqlite): ensure that duckdb io tests properly close sqlite connections
  ibis/backends/duckdb/__init__.py
Labels: duckdb

test(sqlite): ensure remaining sqlite tests close their connections
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_types.py
Labels: sqlite, tests

refactor(api): remove `StringValue.initcap` method
  ibis/expr/types/strings.py
Labels: none

chore: remove some unused parameters and tests
  ibis/backends/duckdb/__init__.py
  ibis/tests/expr/test_value_exprs.py
Labels: duckdb, tests

refactor(api): remove the `how` parameter from `Value.arbitrary`
  ibis/expr/types/generic.py
Labels: none

refactor(duckdb): remove the `read_in_memory` method from the duckdb backend
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_io.py
Labels: duckdb, tests

ci: re-enable deprecation checks
  .releaserc.js
Labels: none

chore(deps): add `packaging` for `verify_release.sh` script
  flake.nix
Labels: nix, dependencies

test(sqlite): ensure that duckdb io tests properly close sqlite connections
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_io.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_types.py
Labels: duckdb, sqlite, tests

test(memtable): avoid state associated with setting the default backend
  ibis/backends/duckdb/tests/test_client.py
Labels: duckdb, tests

test(sqlite): fix test flakiness caused by failing to close `sqlite3.Connection` objects (#10597)
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/duckdb/tests/test_io.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_types.py
Labels: duckdb, sqlite, tests

chore(deps): bump flakes and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies

chore: remove linguist highlighting as it is already set by github for all our files
  .gitattributes
Labels: none

test(clickhouse): xfail broken-on-clickhouse-only TPC-DS queries
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

test(clickhouse): enable non-equijoin xpassing test
  ibis/backends/clickhouse/tests/test_select.py
Labels: clickhouse, tests

feat(api): grouping sets/rollup/cube
  .codespellrc
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/datafusion/out.sql
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/clickhouse/ds/18.sql
  ibis/backends/tests/tpc/queries/duckdb/ds/05.sql
  ibis/backends/tests/tpc/queries/duckdb/ds/80.sql
  ibis/expr/api.py
  ibis/expr/decompile.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_aggregate_arg_names/repr.txt
  ibis/expr/tests/snapshots/test_format/test_complex_repr/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_table/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_tables_in_join/repr.txt
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_database_table/repr.txt
  ibis/tests/expr/test_aggregation.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_table.py
Labels: sql, tests

chore(deps): pin uv to 0.4.x in ci
  .github/workflows/check-generated-files.yml
Labels: ci

test(clickhouse): xfail broken-on-clickhouse-only TPC-DS queries
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

test(clickhouse): enable non-equijoin xpassing test
  ibis/backends/clickhouse/tests/test_select.py
Labels: clickhouse, tests

chore(deps): bump flakes and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies

chore: remove linguist highlighting as it is already set by github for all our files
  .gitattributes
Labels: none

chore(deps): pin uv to 0.4.x in ci
  .github/workflows/check-generated-files.yml
Labels: ci

chore(deps): relock requirements-dev.txt
  requirements-dev.txt
Labels: dependencies

chore(deps): relock requirements-dev.txt
  requirements-dev.txt
Labels: dependencies

chore: configure pyspark labeling
  .github/renovate.json
Labels: ci

chore(deps): bump nixpkgs
  flake.lock
Labels: nix, dependencies

chore(deps): bump uv2nix
  flake.lock
Labels: nix, dependencies

chore(deps): bump nixpkgs
  flake.lock
Labels: nix, dependencies

chore(deps): bump uv2nix
  flake.lock
Labels: nix, dependencies

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"
