Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"

docs(examples): add rest arg examples for intersect
  ibis/expr/api.py
  ibis/expr/types/relations.py
Labels: none

feat(deps): install project and dev and test dependencies in devcontainer (#10544)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docs/contribute/01_environment.qmd
Labels: docs

Activate default virtual environment named venv
  .devcontainer/Dockerfile
Labels: none

Update docs to ensure fork is synced before updated devcontainer build
  docs/contribute/01_environment.qmd
Labels: docs

fix(deps): enable running uv lock command in devcontainer (#10576)
  .devcontainer/Dockerfile
  docs/contribute/01_environment.qmd
Labels: docs

fix(mssql): support new sqlglot temporal types
  ibis/backends/sql/datatypes.py
Labels: sql

fix(deps): regen requirements-dev.txt
  requirements-dev.txt
Labels: dependencies

test(snowflake): disable test for broken upstream `COPY` from bytes functionality
  ibis/backends/tests/test_generic.py
Labels: tests

fix(mssql): support new sqlglot temporal types
  ibis/backends/sql/datatypes.py
Labels: sql

test(snowflake): disable test for broken upstream `COPY` from bytes functionality
  ibis/backends/tests/test_generic.py
Labels: tests

fix(deps): regen requirements-dev.txt
  requirements-dev.txt
Labels: dependencies

chore: fix spelling of backend hierarchy docs file
  docs/backend_table_hierarchy.qmd
Labels: docs

chore: fix spelling of backend hierarchy docs file (#10581)
  docs/backend_table_hierarchy.qmd
Labels: docs

feat(python): support python 3.13
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  flake.nix
  ibis/backends/sql/compilers/bigquery/udf/core.py
  nix/overlay.nix
  nix/pyproject-overrides.nix
  requirements-dev.txt
  uv.lock
Labels: bigquery, sql, nix, ci, dependencies

chore: support macOS x86_64
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  nix/quarto/default.nix
Labels: nix, ci, dependencies

chore: simplify nix matrix
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Labels: ci

feat(python): support python 3.13 (#10582)
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  flake.nix
  ibis/backends/sql/compilers/bigquery/udf/core.py
  nix/overlay.nix
  nix/pyproject-overrides.nix
  nix/quarto/default.nix
  requirements-dev.txt
  uv.lock
Labels: bigquery, sql, nix, ci, dependencies

chore(deps): bump quarto version
  nix/quarto/default.nix
Labels: nix, dependencies

docs(development-setup): fix support matrix
  docs/contribute/01_environment.qmd
Labels: docs

test(bigquery): fix array concat test
  ibis/backends/tests/test_array.py
Labels: tests

test(bigquery): fix array concat test (#10584)
  ibis/backends/tests/test_array.py
Labels: tests

chore(deps): bump quarto version (#10583)
  docs/contribute/01_environment.qmd
  nix/quarto/default.nix
Labels: nix, dependencies, docs

feat(risingwave): support `include_null` in `first`/`last` aggs
  ibis/backends/sql/compilers/risingwave.py
  ibis/backends/tests/test_aggregation.py
Labels: sql, tests

chore(dev-deps): bump devcontainer python version base image to 3.13
  .devcontainer/Dockerfile
Labels: none

docs(development): update tool matrices for accuracy
  docs/contribute/01_environment.qmd
Labels: docs

feat(risingwave): support `include_null` in `first`/`last` aggs
  ibis/backends/sql/compilers/risingwave.py
  ibis/backends/tests/test_aggregation.py
Labels: sql, tests

fix(deps): remove the upper bounds for `pyarrow` (#10503)
  pyproject.toml
  uv.lock
Labels: dependencies

chore(dev-deps): bump devcontainer python version base image to 3.13
  .devcontainer/Dockerfile
Labels: none

docs(development): update tool matrices for accuracy
  docs/contribute/01_environment.qmd
Labels: docs

chore(deps): bump 3.12 usage to 3.13
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: nix, ci, dependencies

fix(bigquery): ensure that ast patterns still match even though new fields are required in python 3.13
  ibis/backends/sql/compilers/bigquery/udf/core.py
  ibis/backends/sql/compilers/bigquery/udf/rewrite.py
Labels: bigquery, sql

ci(pyspark): keep python 3.12, since server and client python versions must match
  .github/workflows/ibis-backends.yml
Labels: ci

ci: special-case pytorch on windows
  .github/workflows/ibis-backends.yml
Labels: ci

refactor(register): remove deprecated register method (#10545)
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_connect.py
  ibis/backends/datafusion/tests/test_register.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_io.py
  ibis/backends/polars/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_io.py
  ibis/backends/tests/test_register.py
Labels: datafusion, duckdb, polars, pyspark, tests

chore(deps): bump 3.12 usage to 3.13 (#10588)
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  flake.lock
  ibis/backends/sql/compilers/bigquery/udf/core.py
  ibis/backends/sql/compilers/bigquery/udf/rewrite.py
  requirements-dev.txt
  uv.lock
Labels: bigquery, sql, nix, ci, dependencies

test(snowflake,bigquery): enable xpassing tests and relax read_csv schema assertion from float64 to numeric
  ibis/backends/tests/test_io.py
Labels: tests

test(sqlite): use context managers for all sqlite connections in testing to avoid `ResourceWarning`s starting in python 3.13
  ibis/backends/duckdb/tests/test_io.py
  ibis/backends/sqlite/tests/test_types.py
Labels: duckdb, sqlite, tests

chore(dev-deps): default to 3.12 because snowflake 3.13 wheels are not yet published
  flake.nix
Labels: nix, dependencies

test(snowflake,bigquery): enable xpassing tests and relax read_csv schema assertion from float64 to numeric (#10589)
  flake.nix
  ibis/backends/tests/test_io.py
Labels: tests, nix, dependencies

test(sqlite): use context managers for sqlite connections to avoid `ResourceWarning` in python 3.13 (#10590)
  ibis/backends/duckdb/tests/test_io.py
  ibis/backends/sqlite/tests/test_types.py
Labels: duckdb, sqlite, tests
