Repository ibis-project/ibis, changes with the labels that .github/labeler.yml gives for each.
All labels: bigquery, clickhouse, datafusion, druid, duckdb, exasol, flink, impala, mssql, mysql, oracle, polars, postgres, pyspark, risingwave, snowflake, sqlite, trino, sql, tests, nix, datatypes, ci, dependencies, docs

.github/labeler.yml:

# backends
bigquery:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/bigquery/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/bigquery/**"

clickhouse:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/clickhouse/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/clickhouse/**"

datafusion:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/datafusion/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/datafusion/**"

druid:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/druid/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/druid/**"

duckdb:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/duckdb/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/duckdb/**"

exasol:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/exasol/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/exasol/**"

flink:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/flink/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/flink/**"

impala:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/impala/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/impala/**"

mssql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mssql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mssql/**"

mysql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/mysql/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/mysql/**"

oracle:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/oracle/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/oracle/**"

polars:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/polars/**"

postgres:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/postgres/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/postgres/**"

pyspark:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/pyspark/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/pyspark/**"

risingwave:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/risingwave/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/risingwave/**"

snowflake:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/snowflake/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/snowflake/**"

sqlite:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sqlite/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/sqlite/**"

trino:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/trino/**"
      - any-glob-to-any-file: "ibis/backends/sql/compilers/trino/**"

sql:
  - changed-files:
      - any-glob-to-any-file: "ibis/backends/sql/**"

# miscellaneous labels
tests:
  - changed-files:
      - any-glob-to-any-file: "**/tests/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"

datatypes:
  - changed-files:
      - any-glob-to-any-file: "ibis/expr/datatypes/**"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"
      - any-glob-to-any-file: "flake.lock"
      - any-glob-to-any-file: "uv.lock"
      - any-glob-to-any-file: "requirements-dev.txt"
      - any-glob-to-any-file: "conda/*.yml"

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.qmd"
      - any-glob-to-any-file: "**/*.md"

chore(deps): bump pyproject-build-systems
  flake.lock
Labels: nix, dependencies

chore(dev-deps): add a command to pull and/or build compose service images
  justfile
Labels: none

chore: remove duplicate `lint` rule
  justfile
Labels: none

chore(tools): quiet down the `fmt` just rule
  justfile
Labels: none

test(athena): ensure that results are ordered
  ibis/backends/tests/test_generic.py
Labels: tests

test(athena): use a bucket that complies with the athena access policy
  ibis/backends/athena/tests/conftest.py
Labels: tests

test(athena): ensure that results are ordered (#10646)
  ibis/backends/athena/tests/conftest.py
  ibis/backends/tests/test_generic.py
Labels: tests

test(druid): xfail because druid cannot sort by anything but timestamps
  ibis/backends/tests/test_generic.py
Labels: tests

test(druid): xfail because druid cannot sort by anything but timestamps (#10647)
  ibis/backends/tests/test_generic.py
Labels: tests

chore(deps): bump nix flakes and regen lockfiles
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies

chore(deps): bump nix flakes and regenerate lockfiles (#10649)
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: nix, dependencies

chore(athena): reuse existing connection when setting up data fixtures
  ibis/backends/athena/tests/conftest.py
Labels: tests

chore(athena): clean up deps
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: dependencies

chore(athena): reuse existing connection when setting up data fixtures (#10650)
  ibis/backends/athena/tests/conftest.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: tests, dependencies

feat(api): grouping sets/rollup/cube
  .codespellrc
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/datafusion/out.sql
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/clickhouse/ds/18.sql
  ibis/backends/tests/tpc/queries/duckdb/ds/05.sql
  ibis/backends/tests/tpc/queries/duckdb/ds/80.sql
  ibis/expr/api.py
  ibis/expr/decompile.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_aggregate_arg_names/repr.txt
  ibis/expr/tests/snapshots/test_format/test_complex_repr/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_table/repr.txt
  ibis/expr/tests/snapshots/test_format/test_memoize_filtered_tables_in_join/repr.txt
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/tests/expr/snapshots/test_format_sql_operations/test_memoize_database_table/repr.txt
  ibis/tests/expr/test_aggregation.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_table.py
Labels: sql, tests

test(grouping-sets): add very basic backend tests
  ibis/backends/tests/test_aggregation.py
Labels: tests

test(grouping-sets): add empty table grouping
  ibis/backends/tests/test_aggregation.py
Labels: tests

chore: tighten up test for empty group by
  ibis/backends/tests/test_aggregation.py
Labels: tests

Use `psycopg` rather than `psycopg2` for Postgres
  .github/renovate.json
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_struct.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: postgres, tests, ci, dependencies

Use `psycopg` rather than `psycopg2` for Risingwave
  .github/renovate.json
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/risingwave/tests/test_client.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: postgres, risingwave, tests, ci, dependencies

Update typing.py
  ibis/common/typing.py
Labels: none

Create test_typing.py
  ibis/tests/test_typing.py
Labels: tests

Update test_typing.py
  ibis/tests/test_typing.py
Labels: tests

Update test_typing.py
  ibis/tests/test_typing.py
Labels: tests

Update test_typing.py
  ibis/tests/test_typing.py
Labels: tests

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

test(polars): enable xpassing test
  ibis/backends/tests/test_generic.py
Labels: tests

style(ruff): ruff fixes
  docs/_renderer.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/bigquery/udf/core.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/tpc/conftest.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_pretty_repr.py
Labels: bigquery, clickhouse, duckdb, impala, sql, tests, datatypes

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

style(ruff): ruff fixes
  docs/_renderer.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/bigquery/udf/core.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/tpc/conftest.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_pretty_repr.py
Labels: bigquery, clickhouse, duckdb, impala, sql, tests, datatypes

test(polars): enable xpassing test
  ibis/backends/tests/test_generic.py
Labels: tests

fix(mysql): use `char_length` for all `length` calls
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/dialects.py
Labels: sql

test(risingwave): fix exception type for newer risingwave version
  ibis/backends/tests/test_temporal.py
Labels: tests

chore(deps): bump sqlglot
  requirements-dev.txt
Labels: dependencies

chore(deps): lockfile maintenance
  requirements-dev.txt
  uv.lock
Labels: dependencies

Use `psycopg` rather than `psycopg2` for Postgres
  .github/renovate.json
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_struct.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: postgres, tests, ci, dependencies

Use `psycopg` rather than `psycopg2` for Risingwave
  .github/renovate.json
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/risingwave/tests/test_client.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: postgres, risingwave, tests, ci, dependencies

chore(deps): relock
  requirements-dev.txt
  uv.lock
Labels: dependencies

chore(deps): use psycopg binary
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: dependencies

fix(postgres): ignore when hstore cannot be loaded because the database has not registered it yet
  ibis/backends/postgres/__init__.py
Labels: postgres
