Repository ibis-project/ibis, pull requests merged in 2019-03, with the labels that each got.

#1744 CLN: Update pr merge script
  dev/merge-pr.py
Labels: refactoring

#1736 [MAPD] Added SQL method for mapd backend
  ibis/mapd/client.py
  ibis/tests/all/test_client.py
Labels: mapd

#1683 [OmniSci/MapD] Add support for arbitrary aggregate
  ibis/bigquery/compiler.py
  ibis/clickhouse/operations.py
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/mapd/operations.py
  ibis/mapd/tests/conftest.py
  ibis/mapd/tests/test_operations.py
  ibis/pandas/execution/generic.py
Labels: mapd

#1746 DOC: Add releases and split docs
  .circleci/config.yml
  Makefile
  ci/Dockerfile.docs
  ci/requirements-docs.yml
  docs/source/conf.py
  docs/source/index.rst
  docs/source/release-pre-1.0.rst
  docs/source/release.rst
Labels: documentation, enhancement

#1747 BUG: Remove tag prefix from versioneer
  setup.cfg
Labels: bug

#1748 BUG/BLD: Do not build universal wheels
  ci/requirements-dev.yml
  docs/source/release.rst
  setup.cfg
Labels: bug

#1710 CI: Re-enabled CI for building step.
  .circleci/config.yml
  azure-pipelines.yml
Labels: ci
