Repository ibis-project/ibis, pull requests merged in 2019-12, with the labels that each got.

#2043 Ping dependency of rtree to fix CI failure
  Makefile
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
Labels: ci

#2046 DOC: Add Spark to supported backends list
  README.md
Labels: documentation

#2041 BUG: Fix argument in pymapd.connect calling
  docs/source/release.rst
  ibis/omniscidb/client.py
Labels: bug, omnisci

#2035 ENH: Support multi args window UDF for pandas backend
  Makefile
  benchmarks/benchmarks.py
  docs/source/release.rst
  ibis/pandas/aggcontext.py
  ibis/pandas/execution/tests/test_arrays.py
  ibis/pandas/tests/test_udf.py
  ibis/pandas/udf.py
Labels: enhancement, pandas

#2044 FEAT: [BQ] Implemented covariance in bigquery
  docs/source/release.rst
  ibis/bigquery/compiler.py
  ibis/bigquery/tests/test_compiler.py
Labels: bigquery
