Repository ibis-project/ibis, pull requests merged in 2019-07, with the labels that each got.

#1867 BUG: Fix return type of Struct.from_tuples
  ibis/expr/datatypes.py
  ibis/expr/tests/test_datatypes.py
  ibis/expr/tests/test_table.py
Labels: bug, expressions

#1869 BUG: Remove -x from pytest call in linux CI
  ci/azure/linux.yml
Labels: bug, ci, testing

#1868 FEAT: Use pandas rolling apply to implement rows_with_max_lookback
  ibis/expr/tests/test_window_functions.py
  ibis/expr/window.py
  ibis/pandas/aggcontext.py
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/execution/window.py
Labels: enhancement, pandas, window functions

#1807 FEAT: Spark client
  .gitignore
  .isort.cfg
  ci/Dockerfile.dev
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  ibis/__init__.py
  ibis/common.py
  ibis/spark/api.py
  ibis/spark/client.py
  ibis/spark/compiler.py
  ibis/spark/tests/conftest.py
  ibis/spark/tests/test_client.py
  setup.py
Labels: enhancement, spark

#1876 BUG: Fix the case where we do not have an index when using preceding with intervals
  ibis/pandas/aggcontext.py
  ibis/pandas/execution/tests/test_window.py
Labels: bug, testing

#1882 Added CoC section
  docs/source/contributing.rst
Labels: community, documentation

#1883 BUG: Fix small formatting buglet in PR merge tool
  dev/merge-pr.py
Labels: bug

#1830 FEAT: Spark tests
  conftest.py
  ibis/impala/compiler.py
  ibis/impala/tests/test_exprs.py
  ibis/spark/api.py
  ibis/spark/client.py
  ibis/spark/compiler.py
  ibis/spark/tests/conftest.py
  ibis/spark/tests/test_client.py
  ibis/sql/compiler.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_generic.py
  ibis/tests/all/test_string.py
  ibis/tests/all/test_temporal.py
  ibis/tests/all/test_window.py
  ibis/tests/backends.py
  ibis/util.py
  setup.cfg
Labels: spark

#1893 BUG: Fix according to bug in pd.to_datetime when passing the unit flag
  ibis/expr/api.py
  ibis/expr/tests/test_timestamp.py
  ibis/pandas/execution/generic.py
  ibis/pandas/execution/temporal.py
  ibis/pandas/execution/tests/test_temporal.py
  ibis/sql/postgres/tests/test_functions.py
  ibis/sql/sqlite/tests/test_functions.py
Labels: bug

#1891 BUG: Make Nodes enforce the proper signature
  ibis/expr/api.py
  ibis/expr/signature.py
  ibis/expr/tests/test_operations.py
Labels: bug

#1888 BUG: Fix various Spark backend issues
  conftest.py
  ibis/spark/api.py
  ibis/spark/compiler.py
  ibis/spark/tests/conftest.py
  ibis/spark/tests/test_api.py
  ibis/spark/tests/test_numeric.py
  ibis/tests/all/conftest.py
  ibis/tests/backends.py
Labels: spark

#1896 CI: Removing linting from windows
  ci/azure/windows.yml
Labels: ci

#1899 BUG: Pass scope to grouping execution in the pandas backend
  ibis/expr/operations.py
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/execution/window.py
Labels: bug, pandas

#1871 FEAT: Add support for Postgres UDFs
  .pre-commit-config.yaml
  Makefile
  ci/azure/linux.yml
  ci/azure/windows.yml
  ci/datamgr.py
  ci/docker-compose.yml
  ibis/sql/postgres/__init__.py
  ibis/sql/postgres/client.py
  ibis/sql/postgres/compiler.py
  ibis/sql/postgres/tests/conftest.py
  ibis/sql/postgres/tests/test_postgis.py
  ibis/sql/postgres/tests/test_udf.py
  ibis/sql/postgres/udf/__init__.py
  ibis/sql/postgres/udf/api.py
  setup.cfg
Labels: postgres
