Repository ibis-project/ibis, pull requests merged in 2019-08, with the labels that each got.

#1885 FEAT: Spark UDFs
  ibis/pandas/client.py
  ibis/spark/api.py
  ibis/spark/client.py
  ibis/spark/compiler.py
  ibis/spark/tests/test_client.py
  ibis/spark/tests/test_udf.py
  ibis/spark/udf.py
  ibis/tests/all/conftest.py
Labels: spark

#1901 BUG: OmniSci/MapD - Fix reduction for bool
  ibis/mapd/operations.py
  ibis/mapd/tests/test_operations.py
Labels: bug, omnisci

#1912 BUG: Fix failing com imports on master
  ibis/spark/tests/test_udf.py
  ibis/spark/udf.py
Labels: bug, spark

#1910 BUG: Fix union implementation
  ibis/pandas/execution/generic.py
  ibis/pandas/execution/tests/test_operations.py
Labels: bug, pandas

#1903 BUG: `sql` method doesn't work when the query uses LIMIT clause
  ibis/mapd/api.py
  ibis/mapd/client.py
  ibis/mapd/tests/test_client.py
  ibis/tests/all/test_client.py
Labels: bug, omnisci

#1908 ENH: DDL support for Spark backend
  ibis/impala/client.py
  ibis/spark/client.py
  ibis/spark/datatypes.py
  ibis/spark/ddl.py
  ibis/spark/tests/conftest.py
  ibis/spark/tests/test_client.py
  ibis/spark/tests/test_ddl.py
  ibis/spark/tests/test_ddl_compilation.py
  ibis/spark/tests/test_udf.py
  ibis/spark/udf.py
  ibis/tests/backends.py
Labels: spark

#1926 BUG/TST/CI: Fix failing BigQuery tests
  ibis/tests/all/test_client.py
Labels: bug

#1866 SUPP: Rename mapd to omniscidb backend
  Makefile
  README.md
  ci/.env
  ci/azure/linux.yml
  ci/azure/windows.yml
  ci/build.sh
  ci/datamgr.py
  ci/docker-compose.yml
  ci/feedstock.py
  ci/load-data.sh
  ci/omniscidb.conf
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  ci/requirements-docs.yml
  ci/schema/omniscidb.sql
  docs/source/getting-started.rst
  ibis/__init__.py
  ibis/expr/tests/mocks.py
  ibis/omniscidb/README.rst
  ibis/omniscidb/__init__.py
  ibis/omniscidb/api.py
  ibis/omniscidb/client.py
  ibis/omniscidb/compiler.py
  ibis/omniscidb/ddl.py
  ibis/omniscidb/identifiers.py
  ibis/omniscidb/operations.py
  ibis/omniscidb/tests/__init__.py
  ibis/omniscidb/tests/conftest.py
  ibis/omniscidb/tests/test_client.py
  ibis/omniscidb/tests/test_operations.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_generic.py
  ibis/tests/all/test_geospatial.py
  ibis/tests/all/test_numeric.py
  ibis/tests/all/test_string.py
  ibis/tests/all/test_temporal.py
  ibis/tests/all/test_window.py
  ibis/tests/backends.py
  setup.cfg
  setup.py
Labels: enhancement, omnisci

#1938 BUG: Upgrade to JDK11
  ci/Dockerfile.dev
  ci/Dockerfile.docs
  ci/azure/windows.yml
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
Labels: bug, ci

#1937 BUG: Fix incorrect assumptions about attached SQLite databases
  ci/azure/windows.yml
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  ibis/sql/alchemy.py
  ibis/sql/postgres/client.py
  ibis/sql/sqlite/client.py
  ibis/sql/sqlite/tests/conftest.py
  ibis/sql/sqlite/tests/test_client.py
  ibis/sql/sqlite/tests/test_functions.py
Labels: bug, sqlalchemy

#1913 FEAT: PySpark backend
  ibis/__init__.py
  ibis/pyspark/__init__.py
  ibis/pyspark/api.py
  ibis/pyspark/client.py
  ibis/pyspark/compiler.py
  ibis/pyspark/operations.py
  ibis/pyspark/tests/test_basic.py
  ibis/spark/api.py
  ibis/spark/client.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_client.py
  ibis/tests/backends.py
  setup.cfg
Labels: spark

#1933 BUG: Fixes explain operation
  ibis/omniscidb/client.py
  ibis/omniscidb/tests/test_client.py
Labels: bug, omnisci

#1925 PostGIS enhancements
  ibis/common/geospatial.py
  ibis/expr/api.py
  ibis/expr/datatypes.py
  ibis/expr/rules.py
  ibis/expr/tests/test_datatypes.py
  ibis/expr/tests/test_geospatial.py
  ibis/expr/tests/test_value_exprs.py
  ibis/expr/types.py
  ibis/sql/alchemy.py
  ibis/tests/all/test_geospatial.py
Labels: enhancement, postgis, postgres
