Repository ibis-project/ibis, pull requests merged in 2019-09, with the labels that each got.

#1942 ENH: PySpark backend string and column ops
  ibis/pyspark/compiler.py
  ibis/tests/all/test_string.py
Labels: enhancement, spark

#1948 DOC: Add developer docs to get docker setup
  docs/source/contributing.rst
Labels: documentation

#1950 SUPP: Remove pandas deprecation warnings
  ibis/pandas/execution/generic.py
Labels: pandas

#1951 FEAT: Implement IntervalSub for pandas backend
  ibis/pandas/execution/temporal.py
  ibis/pandas/execution/tests/test_temporal.py
Labels: pandas

#1945 ENH: window operations for pyspark backend
  ibis/pyspark/compiler.py
  ibis/pyspark/tests/test_basic.py
  ibis/tests/all/test_window.py
Labels: spark

#1943 ENH: filter for PySpark backend
  ibis/pyspark/compiler.py
  ibis/pyspark/tests/test_basic.py
Labels: spark

#1960 DOC: Developer doc enhancements
  docs/source/contributing.rst
Labels: documentation

#1961 SUPP: Disable codecov report upload during CI builds
  ci/azure/linux.yml
Labels: ci, coverage

#1973 ENH: Add support for params, query_schema, and sql in PySpark backend
  ibis/pyspark/api.py
  ibis/pyspark/client.py
  ibis/pyspark/compiler.py
  ibis/tests/all/test_client.py
Labels: spark

#1974 ENH: Add support for date/time operations in PySpark backend
  ibis/pyspark/compiler.py
  ibis/pyspark/tests/test_basic.py
  ibis/tests/all/test_param.py
  ibis/tests/all/test_temporal.py
  ibis/tests/backends.py
Labels: spark
