Repository ibis-project/ibis, pull requests merged in 2019-06, with the labels that each got.

#1811 BUG/DOC/CI: Pin sphinx version to 2.0.1
  ci/requirements-docs.yml
Labels: bug, ci, documentation

#1805 DOC: Fix design and developer docs
  .circleci/config.yml
  Makefile
  ci/docker-compose.yml
  ci/docs.sh
  ci/requirements-docs.yml
  docs/source/conf.py
  docs/source/configuration.rst
  docs/source/design.rst
  docs/source/developer.rst
  docs/source/getting-started.rst
  docs/source/impala.rst
  docs/source/index.rst
  docs/source/notebooks/tutorial/1-Intro-and-Setup.ipynb
  docs/source/notebooks/tutorial/2-Basics-Aggregate-Filter-Limit.ipynb
  docs/source/notebooks/tutorial/3-Projection-Join-Sort.ipynb
  docs/source/notebooks/tutorial/4-More-Value-Expressions.ipynb
  docs/source/notebooks/tutorial/5-IO-Create-Insert-External-Data.ipynb
  docs/source/notebooks/tutorial/6-Advanced-Topics-TopK-SelfJoins.ipynb
  docs/source/notebooks/tutorial/7-Advanced-Topics-ComplexFiltering.ipynb
  docs/source/notebooks/tutorial/8-More-Analytics-Helpers.ipynb
  docs/source/sql.rst
  docs/source/udf.rst
  ibis/impala/tests/test_kudu_support.py
Labels: bug, documentation

#1812 BUG: Chained mutate operations give wrong results
  Makefile
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/tests/test_analysis.py
  ibis/expr/tests/test_table.py
  ibis/expr/types.py
  ibis/tests/backends.py
Labels: bug, expressions

#1809 consolidate trailing window functions
  ibis/expr/tests/test_window_functions.py
  ibis/expr/window.py
Labels: enhancement, expressions, window functions

#1816 PKG: Add pre-commit, black and isort to setup.py
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  setup.py
Labels: ci, enhancement, packaging

#1817 BUG: Do not give a frame clause where not necessary in window functions
  README.md
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  ibis/impala/compiler.py
  ibis/sql/alchemy.py
  ibis/sql/postgres/tests/test_functions.py
  setup.py
Labels: bug, postgres

#1820 ENH/TST: Remove decorator hacks and add custom markers
  ibis/tests/all/conftest.py
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_array.py
  ibis/tests/all/test_client.py
  ibis/tests/all/test_column.py
  ibis/tests/all/test_generic.py
  ibis/tests/all/test_geospatial.py
  ibis/tests/all/test_numeric.py
  ibis/tests/all/test_param.py
  ibis/tests/all/test_string.py
  ibis/tests/all/test_temporal.py
  ibis/tests/all/test_window.py
  ibis/tests/util.py
Labels: enhancement, testing

#1819 BUG: Fix group_concat test and implementations
  ci/Dockerfile.dev
  ci/Dockerfile.docs
  ibis/bigquery/compiler.py
  ibis/impala/compiler.py
  ibis/pandas/aggcontext.py
  ibis/pandas/execution/strings.py
  ibis/sql/alchemy.py
  ibis/sql/mysql/compiler.py
  ibis/tests/all/test_aggregation.py
Labels: bigquery, bug, impala, mysql, postgres

#1818 BUG: Fix failing strftime tests on Python 3.7
  azure-pipelines.yml
  ci/requirements-3.5-dev.yml
  conftest.py
  ibis/bigquery/tests/test_datatypes.py
  ibis/bigquery/udf/tests/test_core.py
  ibis/bigquery/udf/tests/test_find.py
  ibis/clickhouse/tests/test_select.py
  ibis/impala/tests/test_metadata.py
  ibis/sql/postgres/compiler.py
  ibis/sql/postgres/tests/test_functions.py
  ibis/sql/sqlite/tests/conftest.py
  ibis/sql/sqlite/tests/test_functions.py
  ibis/tests/all/test_temporal.py
  setup.cfg
Labels: bug, postgres, testing

#1826 SUPP: Allow passing a branch to ci/feedstock.py
  ci/feedstock.py
Labels: ci, testing

#1825 Accept rows-with-max-lookback as preceding parameter
  ibis/expr/api.py
  ibis/expr/tests/test_window_functions.py
  ibis/expr/window.py
  ibis/impala/tests/test_window.py
  ibis/pandas/execution/tests/test_window.py
Labels: enhancement, window functions

#1838 allow pandas timedelta in rows_with_max_lookback
  ibis/expr/tests/test_window_functions.py
  ibis/expr/window.py
Labels: usability

#1840 SUPP: Tighter version spec for pytest
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  setup.py
Labels: testing

#1837 BUG: Partially revert #1758
  ibis/file/client.py
  ibis/file/tests/test_csv.py
  ibis/file/tests/test_hdf5.py
  ibis/file/tests/test_parquet.py
  ibis/pandas/client.py
  ibis/pandas/core.py
  ibis/pandas/dispatch.py
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/execution/window.py
Labels: bug, pandas

#1843 BUG: Add max_lookback to window replace and combine functions
  ibis/expr/tests/test_window_functions.py
  ibis/expr/window.py
Labels: usability, window functions

#1844 SUPP: Raise exception on backends where rows_with_max_lookback can't be implemented
  ibis/impala/compiler.py
  ibis/impala/tests/test_window.py
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/execution/window.py
  ibis/sql/alchemy.py
  ibis/sql/postgres/tests/test_functions.py
Labels: usability

#1845 SUPP: Generate release notes from commits
  .isort.cfg
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  dev/genrelease.py
  setup.py
Labels: documentation

#1850 BUG: Fix repr of empty schema
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
Labels: bug

#1848 SUPP: Validate order_by when using rows_with_max_lookback window
  ibis/expr/operations.py
  ibis/expr/tests/test_window_functions.py
  ibis/impala/tests/test_window.py
  ibis/pandas/execution/tests/test_window.py
  ibis/sql/postgres/tests/test_functions.py
Labels: enhancement

#1851 BUG: Fix nested array literal repr
  ibis/expr/datatypes.py
  ibis/expr/format.py
  ibis/expr/operations.py
  ibis/expr/tests/test_value_exprs.py
Labels: bug, expressions, usability

#1855 BUG: Fix call to psql causing failing CI
  ci/datamgr.py
Labels: bug, ci

#1847 SUPP: Skip SQLAlchemy backend tests in connect method in backends.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_client.py
  ibis/tests/backends.py
  setup.cfg
Labels: ci, testing

#1856 SUPP: Move CI pipelines to Azure
  .circleci/config.yml
  Makefile
  README.md
  azure-pipelines.yml
  ci/azure/linux.yml
  ci/azure/windows.yml
  ci/datamgr.py
  ci/docker-compose.yml
  ci/impalamgr.py
  ibis/bigquery/tests/conftest.py
  ibis/tests/all/conftest.py
  ibis/tests/test_version.py
Labels: ci
