Repository ibis-project/ibis, pull requests merged in 2019-05, with the labels that each got.

#1776 BUG/CI: Constrain PyMapD version to get passing builds
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
Labels: bug, ci, mapd

#1775 Fixes DOC: conda create command listed no longer works
  docs/source/developer.rst
Labels: bug, documentation

#1777 ENH/CLN: Enable window function tests where possible
  ibis/file/tests/test_hdf5.py
  ibis/file/tests/test_parquet.py
  ibis/impala/compiler.py
  ibis/pandas/aggcontext.py
  ibis/pandas/execution/window.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_window.py
  ibis/tests/util.py
Labels: testing

#1778 Add marker for xfailing specific backends
  ibis/impala/compiler.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_window.py
Labels: testing

#1784 BUG: NullIf should enforce that its arguments are castable to a common type
  ibis/expr/operations.py
  ibis/expr/tests/test_value_exprs.py
  ibis/impala/tests/test_exprs.py
Labels: bug, expressions

#1779 Clean up most xpassing tests
  ibis/clickhouse/tests/test_functions.py
  ibis/impala/tests/test_partition.py
  ibis/pandas/execution/temporal.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_generic.py
  ibis/tests/all/test_temporal.py
  ibis/tests/all/test_window.py
  setup.cfg
Labels: refactoring, testing

#1758 ENH: Rewrite pandas execution to use topological sort instead of recursion
  Makefile
  ibis/bigquery/compiler.py
  ibis/bigquery/udf/tests/test_udf_execute.py
  ibis/expr/analysis.py
  ibis/file/client.py
  ibis/file/tests/test_csv.py
  ibis/file/tests/test_hdf5.py
  ibis/file/tests/test_parquet.py
  ibis/pandas/aggcontext.py
  ibis/pandas/client.py
  ibis/pandas/core.py
  ibis/pandas/dispatch.py
  ibis/pandas/execution/generic.py
  ibis/pandas/execution/selection.py
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/execution/window.py
  ibis/pandas/tests/test_udf.py
  ibis/sql/compiler.py
  ibis/sql/postgres/compiler.py
  ibis/tests/all/test_window.py
Labels: enhancement, pandas, refactoring

#1771 First version of omnisci window op
  .circleci/config.yml
  ci/.env
  ci/datamgr.py
  ci/docker-compose.yml
  ci/omnisci.conf
  ibis/mapd/operations.py
  ibis/tests/all/test_window.py
  ibis/tests/backends.py
Labels: omnisci (mapd), windows

#1788 Fixes `outer_join` generating LEFT join instead of full outer
  ibis/expr/tests/mocks.py
  ibis/sql/alchemy.py
  ibis/sql/tests/test_sqlalchemy.py
Labels: bug

#1789 BUG/COMPAT: Fix compatibility and bugs associated with pandas toposort reimplementation
  ibis/pandas/aggcontext.py
  ibis/pandas/client.py
  ibis/pandas/core.py
  ibis/pandas/dispatch.py
  ibis/pandas/execution/constants.py
  ibis/pandas/execution/generic.py
  ibis/pandas/execution/tests/test_functions.py
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/execution/window.py
  ibis/pandas/tests/test_core.py
  ibis/pandas/udf.py
  ibis/tests/all/test_window.py
Labels: bug, expressions, pandas

#1790 ENH: Add missing date operations and struct field operation for the pandas backend
  ibis/expr/operations.py
  ibis/pandas/execution/__init__.py
  ibis/pandas/execution/generic.py
  ibis/pandas/execution/structs.py
  ibis/pandas/execution/temporal.py
  ibis/pandas/execution/tests/test_structs.py
  ibis/tests/all/test_temporal.py
  ibis/tests/backends.py
Labels: enhancement, pandas

#1791 ENH: Allow strings for types in pandas UDFs
  ibis/pandas/tests/test_udf.py
  ibis/pandas/udf.py
Labels: enhancement, pandas

#1795 Add pep8speaks integration
  .pep8speaks.yml
Labels: ci, enhancement, testing, usability

#1792 Add min periods parameter to Window
  ibis/pandas/aggcontext.py
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/tests/test_udf.py
Labels: enhancement, pandas, windows

#1798 BUG/CI/BLD: Fix Python 3.5 dependency versions
  ci/Dockerfile.dev
  ci/Dockerfile.docs
  ci/requirements-3.5-dev.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  setup.py
Labels: bug, ci, omnisci

#1796 Mapd session
  ibis/mapd/api.py
  ibis/mapd/client.py
  ibis/mapd/tests/conftest.py
  ibis/mapd/tests/test_client.py
Labels: omnisci

#1797 BUG: Allow projections from joins to attempt fusion
  ibis/expr/analysis.py
  ibis/expr/tests/test_value_exprs.py
  ibis/pandas/execution/tests/test_join.py
Labels: bug, expressions

#1800 ENH: Call to_interval when casting integers to intervals
  Makefile
  ibis/bigquery/compiler.py
  ibis/expr/rules.py
  ibis/pandas/execution/generic.py
  ibis/pandas/execution/temporal.py
  ibis/sql/compiler.py
  ibis/sql/mysql/compiler.py
  ibis/tests/all/test_temporal.py
Labels: enhancement, expressions
