Repository ibis-project/ibis, pull requests merged in 2020-05, with the labels that each got.

#2196 CI: Removing backends from docs build to fix disk space problem
  ci/azure/linux.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  docs/source/getting-started.rst
Labels: ci, documentation

#2194 CI: Split tests in two groups by backend
  ci/azure/linux.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  ci/requirements-docs.yml
Labels: ci

#2195 Fix CondaBuild CI job
  ci/azure/linux.yml
  ci/feedstock.py
Labels: ci

#2160 DOC: Better organization of the docs
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/release/index.rst
  docs/source/release/release-pre-1.0.rst
  docs/source/tutorial.rst
  docs/source/tutorial/01-Intro-and-Setup.ipynb
  docs/source/tutorial/02-Basics-Aggregate-Filter-Limit.ipynb
  docs/source/tutorial/03-Projection-Join-Sort.ipynb
  docs/source/tutorial/04-More-Value-Expressions.ipynb
  docs/source/tutorial/05-IO-Create-Insert-External-Data.ipynb
  docs/source/tutorial/06-Advanced-Topics-TopK-SelfJoins.ipynb
  docs/source/tutorial/07-Advanced-Topics-ComplexFiltering.ipynb
  docs/source/tutorial/08-More-Analytics-Helpers.ipynb
  docs/source/tutorial/index.rst
  docs/source/user_guide/backends.rst
  docs/source/user_guide/configuration.rst
  docs/source/user_guide/design.rst
  docs/source/user_guide/extending.rst
  docs/source/user_guide/extending_elementwise_expr.ipynb
  docs/source/user_guide/extending_reduce_expr.ipynb
  docs/source/user_guide/geospatial_analysis.ipynb
  docs/source/user_guide/impala.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/sql.rst
  docs/source/user_guide/udf.rst
Labels: documentation

#2147 Add new website
  docs/web/about/index.md
  docs/web/about/team.md
  docs/web/community/coc.md
  docs/web/config.yml
  docs/web/contribute.md
  docs/web/getting_started.md
  docs/web/index.md
  docs/web/static/css/ibis.css
  docs/web/static/img/favicon.ico
  docs/web/static/img/install/anaconda_prompt.png
  docs/web/static/img/install/jupyterlab_home.png
  docs/web/static/img/logo_ibis.svg
Labels: documentation

#2207 CI: Fix flake8 errors
  ibis/impala/tests/test_udf.py
Labels: ci

#2206 DOC: Rendering the website, and publishing it with the docs
  ci/azure/linux.yml
  docs/web/about/team.md
  docs/web/community/coc.md
  docs/web/config.yml
  docs/web/getting_started.md
Labels: ci, documentation

#2208 CI: Publish website instead of docs
  ci/azure/linux.yml
Labels: documentation

#2209 CI: Fixing the path of the git repo when building the web
  ci/azure/linux.yml
Labels: documentation

#2214 CI: Running isort with the latest version to fix CI
  ibis/filesystems.py
  ibis/impala/client.py
  ibis/impala/pandas_interop.py
  ibis/impala/tests/test_ddl.py
  ibis/impala/tests/test_parquet_ddl.py
  ibis/impala/tests/test_partition.py
  ibis/impala/tests/test_udf.py
  ibis/spark/tests/test_ddl.py
  ibis/tests/test_filesystems.py
Labels: ci

#2205 CI: Restoring omnisci tests in the ci
  ci/azure/linux.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  ci/requirements-docs.yml
Labels: ci, omnisci

#2213 DOC: Building website inside docker
  ci/Dockerfile.docs
  ci/azure/linux.yml
  ci/requirements-docs.yml
Labels: ci, documentation

#2157 BUG: Interactive mode returned expression and not value in Jupyter
  docs/source/release/index.rst
  ibis/expr/tests/test_interactive.py
  ibis/expr/types.py
Labels: bug

#2186 FEATURE: implement 'ZeroIfNull' and 'NullIfZero' for omnisci backend
  docs/source/release/index.rst
  ibis/omniscidb/operations.py
Labels: omnisci

#2173 FEAT: Create ExtractDayOfYear operation and add its support to Clickhouse, CSV, MySQL, OmniSciDB, Pandas, Parquet, PostgreSQL, PySpark, SQLite and Spark
  docs/source/release/index.rst
  ibis/clickhouse/operations.py
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/omniscidb/operations.py
  ibis/pyspark/compiler.py
  ibis/spark/compiler.py
  ibis/sql/mysql/compiler.py
  ibis/sql/postgres/compiler.py
  ibis/sql/sqlite/compiler.py
  ibis/tests/all/test_temporal.py
Labels: enhancement

#2218 DOC: Moving doc pages to the website
  docs/source/contributing.rst
  docs/source/index.rst
  docs/web/about/license.md
  docs/web/about/roadmap.md
  docs/web/config.yml
  docs/web/static/css/ibis.css
Labels: documentation

#1981 FEAT: Added load_data to sqlalchemy's backend
  docs/source/release/index.rst
  ibis/impala/client.py
  ibis/omniscidb/client.py
  ibis/sql/alchemy.py
  ibis/sql/postgres/tests/conftest.py
  ibis/sql/postgres/tests/test_client.py
  ibis/sql/sqlite/client.py
  ibis/tests/all/test_client.py
Labels: ddl, enhancement, postgres, sqlalchemy

#2175 FEAT: Create ExtractQuarter operation and add its support to Clickhouse, CSV, Impala, MySQL, OmniSciDB, Pandas, Parquet, PostgreSQL, PySpark, SQLite and Spark
  docs/source/release/index.rst
  ibis/clickhouse/operations.py
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/impala/compiler.py
  ibis/omniscidb/operations.py
  ibis/pyspark/compiler.py
  ibis/spark/compiler.py
  ibis/sql/mysql/compiler.py
  ibis/sql/postgres/compiler.py
  ibis/sql/sqlite/compiler.py
  ibis/tests/all/test_temporal.py
Labels: enhancement

#2210 FEAT: Move ibis.pandas.udf.reduction and ibis.pandas.udf.analytics to ibis.udf.vectorized namespace
  ibis/expr/operations.py
  ibis/pandas/tests/test_udf.py
  ibis/pandas/udf.py
  ibis/spark/udf.py
  ibis/tests/all/test_vectorized_udf.py
  ibis/udf/vectorized.py
Labels: pandas

#2221 BUG: Rename AnalyticsVectorizedUDF to AnalyticVectorizedUDF
  ibis/expr/operations.py
  ibis/pandas/udf.py
  ibis/udf/vectorized.py
Labels: bug

#2216 CI: Fix and restore PySpark and Spark tests
  Makefile
  ci/Dockerfile.dev
  ci/Dockerfile.docs
  ci/azure/linux.yml
  ci/docker-compose.yml
  ci/requirements-dev-3.6-main.yml
  ci/requirements-dev-3.6-pyspark-spark.yml
  ci/requirements-dev-3.7-main.yml
  ci/requirements-dev-3.7-pyspark-spark.yml
  ci/requirements-dev-3.8-main.yml
  docs/web/contribute.md
Labels: ci, pyspark

#2171 FEAT: OmniSciDB - Add support to week extraction
  docs/source/release/index.rst
  ibis/omniscidb/operations.py
Labels: omnisci
