Repository ibis-project/ibis, pull requests merged in 2020-03, with the labels that each got.

#2104 CI: Fix LinuxCondaBuild
  ci/feedstock.py
Labels: ci

#2122 Update minimum Python version in getting started page
  docs/source/getting-started.rst
Labels: documentation

#2096 FEAT: OmniSciDB supports round()
  docs/source/release.rst
  ibis/omniscidb/operations.py
  ibis/tests/backends.py
Labels: omnisci

#2092 TST: OmniSciDB enable literal_multi_geospatial_inferred test
  ibis/tests/all/test_geospatial.py
Labels: geospatial, omnisci, testing

#2060 Add initial support for ibis.random function
  docs/source/api.rst
  docs/source/release.rst
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/expr/random.py
  ibis/sql/mysql/compiler.py
  ibis/sql/postgres/compiler.py
  ibis/tests/all/test_numeric.py
Labels: enhancement

#2114 BUG: remove drop method
  ibis/omniscidb/client.py
Labels: bug, ddl, omnisci

#2113 FEAT: OmnisciDB Supporting of cumulative ops through impala
  docs/source/release.rst
  ibis/omniscidb/operations.py
Labels: enhancement, omnisci

#2125 FEAT: OmniSciDB - Add support for within, d_fully_within and point
  docs/source/release.rst
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/omniscidb/operations.py
  ibis/tests/all/test_geospatial.py
Labels: geospatial, omnisci

#2134 BUG: [OmniSciDB] Fix TopK when used as filter
  docs/source/release.rst
  ibis/file/parquet.py
  ibis/omniscidb/compiler.py
  ibis/tests/all/test_aggregation.py
Labels: bug, omnisci

#2062 FEAT: Implement read_csv for omniscidb backend
  docs/source/release.rst
  ibis/omniscidb/client.py
  ibis/omniscidb/ddl.py
  ibis/omniscidb/tests/test_client.py
Labels: omnisci

#2126 FEAT: add translation rules for isnull() and notnull() for pyspark backend
  docs/source/release.rst
  ibis/pyspark/compiler.py
  ibis/pyspark/tests/conftest.py
  ibis/pyspark/tests/test_null.py
Labels: enhancement, pyspark

#2117 FEAT: Add non-nullable info to schema output
  docs/source/release.rst
  ibis/expr/datatypes.py
  ibis/expr/tests/test_schema.py
Labels: enhancement

#2140 CI: Fix PYTHONHASHSEED issue
  Makefile
Labels: ci

#2107 FEAT: OmniSciDB Added fragment_size to table creation
  docs/source/release.rst
  ibis/omniscidb/client.py
  ibis/omniscidb/ddl.py
  ibis/omniscidb/tests/test_client.py
Labels: ddl, enhancement, omnisci

#2084 TST: OmniSciDB - Enable logical value tests
  README.md
  ci/docker-compose.yml
  docs/source/getting-started.rst
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_generic.py
  ibis/tests/all/test_numeric.py
  ibis/tests/all/test_temporal.py
Labels: omnisci, testing

#2145 CLN: Rename tutorials to keep order
  docs/source/extending.rst
  docs/source/notebooks/tutorial/01-Intro-and-Setup.ipynb
  docs/source/notebooks/tutorial/02-Basics-Aggregate-Filter-Limit.ipynb
  docs/source/notebooks/tutorial/03-Projection-Join-Sort.ipynb
  docs/source/notebooks/tutorial/04-More-Value-Expressions.ipynb
  docs/source/notebooks/tutorial/05-IO-Create-Insert-External-Data.ipynb
  docs/source/notebooks/tutorial/06-Advanced-Topics-TopK-SelfJoins.ipynb
  docs/source/notebooks/tutorial/07-Advanced-Topics-ComplexFiltering.ipynb
  docs/source/notebooks/tutorial/08-More-Analytics-Helpers.ipynb
  docs/source/notebooks/tutorial/09-Adding-a-new-elementwise-expression.ipynb
  docs/source/tutorial.rst
Labels: documentation

#2097 FEAT: OmniSciDB ops.Date, ops.DateDiff and ops.TimestampDiff implementation
  docs/source/release.rst
  ibis/omniscidb/operations.py
Labels: enhancement, omnisci

#2086 FEAT: OmniSciDB - Refactor/Fix DDL and Client; Add temporary parameter to create_table and "force" parameter to drop_view
  ci/requirements-3.8-dev.yml
  docs/source/release.rst
  ibis/omniscidb/client.py
  ibis/omniscidb/ddl.py
  ibis/omniscidb/dtypes.py
  ibis/omniscidb/operations.py
  ibis/omniscidb/tests/conftest.py
  ibis/omniscidb/tests/test_client.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_client.py
Labels: ddl, enhancement, omnisci

#2127 BUG: Fix PySpark error when doing alias after selection
  docs/source/release.rst
  ibis/pyspark/compiler.py
  ibis/pyspark/tests/test_basic.py
Labels: bug, spark

#2094 FEAT: [OmnisciDB] Support add_columns and drop_columns for OmnisciDB table
  docs/source/release.rst
  ibis/omniscidb/client.py
  ibis/omniscidb/ddl.py
  ibis/omniscidb/dtypes.py
  ibis/omniscidb/tests/conftest.py
  ibis/omniscidb/tests/test_client.py
Labels: ddl, enhancement, omnisci

#2095 FEAT: OmniSciDB Log Log2 Log10 implementations
  docs/source/release.rst
  ibis/omniscidb/operations.py
Labels: omnisci

#2093 FEAT: OmniSciDB IsNan implementation
  docs/source/release.rst
  ibis/omniscidb/operations.py
  ibis/tests/all/test_numeric.py
Labels: enhancement, omnisci
