Repository ibis-project/ibis, pull requests merged in 2020-06, with the labels that each got.

#2106 Fix typo made in #1964
  ibis/omniscidb/client.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_client.py
Labels: bug, omnisci

#2223 BUG: PySpark compiler cannot compile elementwise UDF for some output types
  docs/source/release/index.rst
  ibis/pyspark/compiler.py
  ibis/spark/datatypes.py
Labels: pyspark, spark

#2198 FEAT: Validate that the output type of a UDF is a single element
  docs/source/release/index.rst
  ibis/bigquery/udf/api.py
  ibis/impala/udf.py
  ibis/spark/udf.py
  ibis/sql/postgres/udf/api.py
  ibis/tests/all/test_vectorized_udf.py
  ibis/udf/validate.py
  ibis/udf/vectorized.py
Labels: bug, pandas, pyspark

#2233 FEAT: Implement ibis.pandas.trace module to add time and call stack informa…
  docs/source/release/index.rst
  ibis/config_init.py
  ibis/pandas/core.py
  ibis/pandas/dispatch.py
  ibis/pandas/trace.py
Labels: pandas

#2228 TST: Fix MySQL window tests selection on CI
  ibis/tests/all/test_window.py
  ibis/tests/backends.py
Labels: mysql, testing

#2242 Pin google-api-core=1.17.0
  ci/requirements-dev-3.6-main.yml
  ci/requirements-dev-3.7-main.yml
  ci/requirements-dev-3.8-main.yml
Labels: ci

#2239 BUG: Fix Makefile targets for running tests
  Makefile
  docs/web/contribute.md
Labels: ci

#2244 Use stable version of OmniSciDB on CI
  README.md
  ci/docker-compose.yml
  docs/source/release/index.rst
Labels: omnisci

#2249 BUG: Fix same column with multiple aliases not showing properly in repr
  docs/source/release/index.rst
  ibis/expr/format.py
  ibis/expr/tests/test_format.py
Labels: bug, expressions

#2247 TST: Add tests for radians, degrees, covariance, correlation and ilike ops
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_numeric.py
  ibis/tests/all/test_string.py
Labels: testing

#2234 Remove experimental mentions for OmniSciDB and Pandas backends
  README.md
  docs/source/api.rst
  docs/source/index.rst
  docs/source/release/index.rst
  docs/source/user_guide/backends.rst
Labels: omnisci

#2246 FEAT: Implement two level dispatcher for execute_node
  ci/azure/windows.yml
  docs/source/release/index.rst
  ibis/pandas/dispatch.py
  ibis/pandas/dispatcher.py
  ibis/pandas/tests/test_core.py
  ibis/pandas/tests/test_dispatcher.py
  ibis/pandas/trace.py
Labels: expressions, pandas

#2252 BUG: Allow group_by and order_by column as window input in pandas backend
  docs/source/release/index.rst
  ibis/pandas/aggcontext.py
  ibis/pandas/execution/tests/test_window.py
Labels: bug, pandas

#2232 FEAT: Add window ops support to SQLite
  docs/source/release/index.rst
  ibis/sql/sqlite/compiler.py
  ibis/tests/all/test_window.py
  ibis/tests/backends.py
Labels: sqlite, window functions

#2257 FEAT: Refactor window_agg_udf to take window indices instead of window sizes
  ibis/pandas/aggcontext.py
  ibis/pandas/tests/test_aggcontext.py
Labels: window functions

#2184 DOC: add bigquery client reference and privacy policy
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/user_guide/backends/bigquery.rst
  docs/source/user_guide/backends/index.rst
  docs/source/user_guide/index.rst
Labels: bigquery, documentation

#2237 BUG: Add missing float types to pandas backend
  docs/source/release/index.rst
  ibis/pandas/execution/constants.py
  ibis/pandas/execution/tests/test_cast.py
Labels: compatibility
