Repository ibis-project/ibis, pull requests merged in 2020-10, with the labels that each got.

#2425 ISS 2415 Added IBIS project link to the contribute page
  docs/web/contribute.md
Labels: docs

#2414 BUG: Fix same window op with different window size on table lead to incorrect results for pyspark backend
  docs/source/release/index.rst
  ibis/pyspark/compiler.py
  ibis/pyspark/tests/test_window.py
Labels: backends - pyspark, backends - spark, window functions

#2426 BUG: add upper-bound to BigQuery dependency
  ci/deps/bigquery.yml
  setup.py
Labels: backends - bigquery

#2442 CI: Remove import skip in tests/all
  ibis/tests/all/conftest.py
  ibis/tests/backends.py
Labels: ci, testing

#2447 CI: Copying the recipe to this repo, and using it for the packaging build
  .github/workflows/main.yml
  ci/recipe/meta.yaml
Labels: ci

#2443 TST: Not importing backends globally in the tests
  ibis/tests/backends.py
Labels: testing

#2266 DOC: Replace first three tutorials by improved ones
  docs/source/conf.py
  docs/source/tutorial/01-Intro-and-Setup.ipynb
  docs/source/tutorial/01-Introduction-to-Ibis.ipynb
  docs/source/tutorial/02-Aggregates-Joins.ipynb
  docs/source/tutorial/02-Basics-Aggregate-Filter-Limit.ipynb
  docs/source/tutorial/03-Expressions-Lazy-Mode-Logging.ipynb
  docs/source/tutorial/03-Projection-Join-Sort.ipynb
  docs/source/tutorial/data/Create-geography-database.ipynb
  docs/source/tutorial/data/geography.db
  docs/source/tutorial/data/geography.json
  docs/source/tutorial/index.rst
Labels: docs

#2410 BUG: Fix Summarize not always producing a scalar value (Pandas backend)
  docs/source/release/index.rst
  ibis/pandas/aggcontext.py
  ibis/pandas/tests/test_aggcontext.py
Labels: backends - pandas, window functions

#2450 CI: Enable isort in the CI and fix pending imports
  .github/workflows/main.yml
  ci/datamgr.py
  ibis/backends/omniscidb/__init__.py
  ibis/backends/omniscidb/client.py
  ibis/backends/omniscidb/ddl.py
  ibis/backends/omniscidb/operations.py
  ibis/compat.py
  ibis/config.py
  ibis/expr/operations.py
  ibis/expr/rules.py
  ibis/file/tests/conftest.py
  ibis/filesystems.py
  ibis/impala/client.py
  ibis/impala/tests/test_ddl.py
  ibis/impala/tests/test_exprs.py
  ibis/impala/tests/test_parquet_ddl.py
  ibis/impala/tests/test_partition.py
  ibis/impala/tests/test_udf.py
  ibis/pyspark/tests/conftest.py
  ibis/spark/tests/test_ddl.py
  ibis/sql/mysql/client.py
  ibis/sql/postgres/client.py
  ibis/tests/all/test_column.py
  ibis/tests/expr/test_visualize.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/test_filesystems.py
Labels: ci

#2437 Move ClickHouse backend to backends/ directory
  ci/azure/linux.yml
  ci/recipe/meta.yaml
  ibis/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/identifiers.py
  ibis/backends/clickhouse/operations.py
  ibis/backends/clickhouse/tests/__init__.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/clickhouse/tests/test_aggregations.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/clickhouse/tests/test_identifiers.py
  ibis/backends/clickhouse/tests/test_literals.py
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/clickhouse/tests/test_types.py
  ibis/clickhouse/tests/__init__.py
Labels: backends - clickhouse, refactoring

#2452 CI: Fix isort after clickhouse refactoring
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/clickhouse/operations.py
Labels: backends - clickhouse, ci

#2434 Move Spark backend to backends/ directory
  ci/recipe/meta.yaml
  docs/source/backends/spark.rst
  ibis/__init__.py
  ibis/backends/spark/__init__.py
  ibis/backends/spark/client.py
  ibis/backends/spark/compiler.py
  ibis/backends/spark/datatypes.py
  ibis/backends/spark/ddl.py
  ibis/backends/spark/tests/__init__.py
  ibis/backends/spark/tests/conftest.py
  ibis/backends/spark/tests/test_api.py
  ibis/backends/spark/tests/test_client.py
  ibis/backends/spark/tests/test_ddl.py
  ibis/backends/spark/tests/test_ddl_compilation.py
  ibis/backends/spark/tests/test_numeric.py
  ibis/backends/spark/tests/test_udf.py
  ibis/backends/spark/udf.py
  ibis/pyspark/client.py
  ibis/pyspark/compiler.py
  ibis/spark/tests/__init__.py
Labels: backends - spark, refactoring

#2436 move BigQuery backend
  ci/recipe/meta.yaml
  docs/source/backends/bigquery.rst
  ibis/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/tests/__init__.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/test_client.py
  ibis/backends/bigquery/tests/test_compiler.py
  ibis/backends/bigquery/tests/test_datatypes.py
  ibis/backends/bigquery/tests/udf/__init__.py
  ibis/backends/bigquery/tests/udf/test_core.py
  ibis/backends/bigquery/tests/udf/test_find.py
  ibis/backends/bigquery/tests/udf/test_udf_execute.py
  ibis/backends/bigquery/udf/__init__.py
  ibis/backends/bigquery/udf/core.py
  ibis/backends/bigquery/udf/find.py
  ibis/backends/bigquery/udf/rewrite.py
  ibis/bigquery/__init__.py
  ibis/bigquery/udf/__init__.py
Labels: backends - bigquery, refactoring

#2439 FEAT: Add logic for time context adjustment for pyspark backend
  ibis/expr/timecontext.py
  ibis/pandas/tests/execution/test_timecontext.py
  ibis/pyspark/compiler.py
  ibis/pyspark/tests/conftest.py
  ibis/pyspark/tests/test_timecontext.py
  ibis/pyspark/tests/test_window.py
  ibis/pyspark/tests/test_window_context_adjustment.py
  ibis/pyspark/timecontext.py
Labels: backends - pyspark, backends - spark

#2458 ENH: Avoid top-level circular imports in ibis/expr/types.py
  ibis/expr/types.py
Labels: expressions

#2433 Move `sql/sqlite` to `backends/sqlite`
  ci/recipe/meta.yaml
  docs/source/backends/sqlite.rst
  ibis/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/client.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/sqlite/tests/__init__.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/sql/sqlite/tests/__init__.py
Labels: backends - sqlite, refactoring

#2456 DOC: Added autosummary of ClickHouse API
  docs/source/backends/clickhouse.rst
Labels: backends - clickhouse, docs

#2459 DEPS: Remove old pandas compatibility functionality
  ibis/compat.py
  ibis/expr/api.py
  ibis/pandas/client.py
  ibis/pandas/execution/generic.py
  ibis/pandas/tests/test_datatypes.py
Labels: backends - pandas

#2449 CLN: Make bigquery backend not depend on impala backend (part 1)
  ibis/backends/base_sql/__init__.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/spark/compiler.py
  ibis/backends/spark/ddl.py
  ibis/impala/compiler.py
  ibis/impala/ddl.py
Labels: backends - bigquery, backends - impala, refactoring

#2451 CI: Simplifying benchmarks call
  .github/workflows/main.yml
  ci/asvconfig.py
  ci/benchmark.sh
  environment.yml
Labels: ci, refactoring

#2464 Support for MACADDR and INET Postgres Types
  docs/source/release/index.rst
  ibis/backends/postgres/tests/test_client.py
  ibis/expr/datatypes.py
  ibis/expr/types.py
  ibis/sql/alchemy.py
  ibis/tests/all/test_nettypes.py
Labels: backends - postgres, enhancement

#2446 Move MYSQL backend to the backends/ directory #2422
  ci/recipe/meta.yaml
  docs/source/backends/mysql.rst
  ibis/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/client.py
  ibis/backends/mysql/compiler.py
  ibis/sql/mysql/__init__.py
Labels: backends - mysql, refactoring

#2474 Remove seed-isort-config and upgrade isort
  .pre-commit-config.yaml
Labels: ci

#2470 Made IbisTestEnv imported locally in fs test
  ibis/tests/test_filesystems.py
Labels: backends - impala, refactoring

#2472 Move impala op reg batch 1
  ibis/backends/base_sql/__init__.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/omniscidb/operations.py
  ibis/backends/spark/compiler.py
  ibis/impala/compiler.py
  setup.cfg
Labels: backends - impala, refactoring

#2468 Move ibis/sql module to ibis/backends/base_sqlalchemy
  ibis/backends/base_sqlalchemy/__init__.py
  ibis/backends/base_sqlalchemy/alchemy.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/client.py
  ibis/backends/mysql/compiler.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/client.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/udf/api.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/client.py
  ibis/backends/sqlite/compiler.py
  ibis/tests/all/test_client.py
  ibis/tests/all/test_numeric.py
  ibis/tests/expr/mocks.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: backends - sqlalchemy, refactoring

#2479 Move pyspark backend to backends directory
  ci/recipe/meta.yaml
  docs/source/backends/spark.rst
  ibis/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/operations.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_array.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/pyspark/tests/test_null.py
  ibis/backends/pyspark/tests/test_timecontext.py
  ibis/backends/pyspark/tests/test_window.py
  ibis/backends/pyspark/tests/test_window_context_adjustment.py
  ibis/backends/pyspark/timecontext.py
  ibis/pyspark/__init__.py
Labels: backends - pyspark, refactoring

#2483 CLN: Removing unused test directory in call
  ci/run_tests.sh
Labels: ci, testing

#2473 FEAT: Implement support for elementwise UDF that returns multiple col…
  docs/source/release/index.rst
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pyspark/compiler.py
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/expr/types.py
  ibis/tests/all/test_vectorized_udf.py
  ibis/udf/vectorized.py
Labels: backends - pandas, backends - pyspark, udf

#2482 Move file backends to the new structure
  ci/azure/windows.yml
  ci/recipe/meta.yaml
  ci/run_tests.sh
  ibis/__init__.py
  ibis/backends/base_file/__init__.py
  ibis/backends/base_file/tests/__init__.py
  ibis/backends/base_file/tests/test_schema.py
  ibis/backends/conftest.py
  ibis/backends/csv/__init__.py
  ibis/backends/csv/tests/conftest.py
  ibis/backends/csv/tests/test_csv.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/hdf5/tests/conftest.py
  ibis/backends/hdf5/tests/test_hdf5.py
  ibis/backends/parquet/__init__.py
  ibis/backends/parquet/tests/conftest.py
  ibis/backends/parquet/tests/test_parquet.py
  ibis/file/tests/__init__.py
  ibis/file/tests/conftest.py
Labels: backends - pandas, refactoring

#2476 Move impala op reg batch 2
  ibis/backends/base_sql/__init__.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/spark/compiler.py
  ibis/impala/compiler.py
  ibis/impala/ddl.py
Labels: backends - impala, refactoring

#2486 Omnisci thrift update
  .github/workflows/main.yml
  ci/azure/windows.yml
  ci/deps/omniscidb.yml
  ci/docker-compose.yml
  ci/recipe/meta.yaml
  docs/source/backends/omnisci.rst
  docs/source/release/index.rst
  ibis/backends/omniscidb/client.py
  setup.py
Labels: backends - omnisci

#2165 FEAT: [OmniSciDB] Add method parameter to load_data
  ci/deps/omniscidb.yml
  docs/source/release/index.rst
  ibis/backends/omniscidb/client.py
  ibis/backends/omniscidb/tests/test_client.py
  setup.py
Labels: backends - omnisci

#2487 FEAT: Add destructure support for analtyic and reduction UDF
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/udf.py
  ibis/backends/pyspark/compiler.py
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/expr/types.py
  ibis/tests/all/test_vectorized_udf.py
  ibis/tests/backends.py
  ibis/udf/vectorized.py
  ibis/util.py
Labels: backends - pandas, backends - pyspark, udf

#2491 Batch 3 impala operation registry move
  ibis/backends/base_sql/__init__.py
  ibis/impala/compiler.py
Labels: backends - impala, refactoring

#2498 Move impala op reg batch 4
  ibis/backends/base_sql/__init__.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/omniscidb/operations.py
  ibis/backends/spark/compiler.py
  ibis/impala/compiler.py
  ibis/impala/udf.py
Labels: backends - impala, refactoring

#2495 CI: Installing web generator pysuerga from pipy and not github
  ci/azure/linux.yml
  environment.yml
Labels: ci, docs

#2492 Move ibis/sql to ibis/backends/base_sqlalchemy
  ibis/backends/base_sql/__init__.py
  ibis/backends/base_sqlalchemy/alchemy.py
  ibis/backends/base_sqlalchemy/compiler.py
  ibis/backends/base_sqlalchemy/transforms.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/client.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/operations.py
  ibis/backends/omniscidb/client.py
  ibis/backends/omniscidb/compiler.py
  ibis/backends/omniscidb/ddl.py
  ibis/backends/pandas/__init__.py
  ibis/backends/spark/compiler.py
  ibis/client.py
  ibis/impala/client.py
  ibis/impala/compiler.py
  ibis/impala/ddl.py
  ibis/sql/__init__.py
  ibis/tests/backends.py
Labels: backends - sqlalchemy, refactoring

#2500 CI: Make GitHub Actions builds compatible with Windows
  .github/workflows/main.yml
  ci/setup_env.sh
Labels: ci

#2497 Prepare to move hdfs functions to impala backend
  docs/source/api.rst
  docs/source/backends/impala.rst
  docs/source/release/index.rst
  ibis/__init__.py
  ibis/impala/api.py
Labels: backends - impala, hdfs, refactoring

#2506 CI: Removing Azure Windows build
  azure-pipelines.yml
  ci/azure/windows.yml
Labels: ci

#2509 Swap broken binder link for a link to tutorials in docs
  docs/web/getting_started.md
Labels: docs
