Repository ibis-project/ibis, pull requests merged in 2020-08, with the labels that each got.

#2312 CI: Add linting to GitHub actions
  .github/workflows/main.yml
  ci/benchmark.sh
  ci/setup_env.sh
  environment.yml
Labels: ci

#2314 CI: Adding tests to GitHub actions
  .github/workflows/bigquery.yml
  .github/workflows/main.yml
  ci/datamgr.py
  ci/deps/bigquery.yml
  ci/deps/clickhouse.yml
  ci/deps/impala.yml
  ci/deps/mysql.yml
  ci/deps/omniscidb.yml
  ci/deps/parquet.yml
  ci/deps/postgres.yml
  ci/deps/pyspark.yml
  ci/deps/spark.yml
  ci/run_tests.sh
  ci/setup_env.sh
  environment.yml
  ibis/spark/tests/test_udf.py
  ibis/tests/all/conftest.py
Labels: ci, testing

#2322 CI: Remove pipelines jobs moved to actions, and use new dependencies
  Makefile
  ci/Dockerfile.dev
  ci/Dockerfile.docs
  ci/azure/linux.yml
  ci/azure/windows.yml
  ci/docker-compose.yml
  ci/requirements-dev-3.6-main.yml
  ci/requirements-dev-3.6-pyspark-spark.yml
  ci/requirements-dev-3.7-main.yml
  ci/requirements-dev-3.7-pyspark-spark.yml
  ci/requirements-dev-3.8-main.yml
  ci/requirements-docs.yml
  environment.yml
  ibis/expr/api.py
Labels: ci

#2323 CI: Fixing typo in bigquery new job
  .github/workflows/bigquery.yml
Labels: backends - bigquery, ci

#2301 DOC: Structuring the docs on extending Ibis
  docs/source/backends/bigquery.rst
  docs/source/user_guide/extending/extending_elementwise_expr.ipynb
  docs/source/user_guide/extending/extending_reduce_expr.ipynb
  docs/source/user_guide/extending/index.rst
  docs/source/user_guide/index.rst
Labels: docs

#2326 CLN: Remove empty backends
  ci/run_tests.sh
  ibis/hive/__init__.py
  ibis/hive/tests/__init__.py
  ibis/sql/presto/__init__.py
  ibis/sql/presto/tests/__init__.py
  ibis/sql/redshift/__init__.py
  ibis/sql/redshift/tests/__init__.py
  ibis/sql/vertica/__init__.py
  ibis/sql/vertica/tests/__init__.py
Labels: backends

#2327 CI: Adding missing environment variables for bigquery
  .github/workflows/bigquery.yml
  ci/.env
Labels: backends - bigquery, ci

#2304 SUPP: update min google-cloud-bigquery version
  ci/deps/bigquery.yml
  docs/source/release/index.rst
  setup.py
Labels: backends - bigquery

#2303 ENH: add application name option to BigQuery connect
  docs/source/release/index.rst
  ibis/bigquery/api.py
  ibis/bigquery/client.py
  ibis/bigquery/tests/conftest.py
  ibis/bigquery/tests/test_client.py
Labels: backends - bigquery

#2328 CI: Make bigquery credentials available for the loading of the data
  .github/workflows/bigquery.yml
Labels: backends - bigquery, ci

#2332 CI: Using bigquery key as json, not base64
  .github/workflows/bigquery.yml
Labels: backends - bigquery, ci

#2334 CI: Removing old GBQ script for docker volume
  ci/setup_docker_volume.sh
Labels: backends - bigquery, ci

#2331 TST: add bigquery schema to datamgr
  ci/datamgr.py
  ci/schema/bigquery.sql
Labels: backends - bigquery, ci, testing

#2335 CI: Making sure backend tests run when expected to run
  ci/azure/linux.yml
  ci/azure/windows.yml
  ibis/expr/tests/test_interactive.py
  ibis/sql/postgres/tests/test_client.py
  ibis/sql/postgres/tests/test_functions.py
  ibis/sql/postgres/tests/test_postgis.py
  ibis/sql/postgres/tests/test_udf.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_generic.py
  ibis/tests/all/test_geospatial.py
  ibis/tests/all/test_json.py
  ibis/tests/all/test_numeric.py
  ibis/tests/all/test_string.py
  ibis/tests/all/test_temporal.py
  ibis/tests/all/test_union.py
  ibis/tests/all/test_vectorized_udf.py
  ibis/tests/all/test_window.py
  ibis/tests/backends.py
  setup.cfg
Labels: ci, testing

#2340 CI: Fix copying bigquery secret to file
  .github/workflows/bigquery.yml
Labels: backends - bigquery, ci

#2320 FEAT: Allow window_agg_udf to handle the case where window and data has different frequency
  ibis/pandas/aggcontext.py
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/tests/test_aggcontext.py
Labels: backends - pandas, window functions

#2343 DOC: Add ecosystem page to docs
  docs/web/community/ecosystem.md
  docs/web/config.yml
Labels: docs

#2250 ENH: Add intersection set operation to api
  docs/source/release/index.rst
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/expr/tests/test_table.py
  ibis/pandas/execution/generic.py
  ibis/pandas/execution/tests/conftest.py
  ibis/pandas/execution/tests/test_operations.py
  ibis/sql/compiler.py
  ibis/sql/tests/test_compiler.py
Labels: enhancement, expressions

#2346 FIX: Avoid creating unnecessary `index` column when executing Aggregation node on Pandas backend
  ibis/pandas/execution/generic.py
  ibis/tests/all/test_aggregation.py
Labels: analytics, compatibility
