Repository ibis-project/ibis, pull requests merged in 2020-04, with the labels that each got.

#2153 omnisci image fix
  ci/docker-compose.yml
  docs/source/release.rst
  ibis/omniscidb/operations.py
  ibis/tests/all/test_generic.py
Labels: omnisci

#2176 CI: Fix disk space issue
  Makefile
  ci/Dockerfile.dev
  ci/Dockerfile.docs
Labels: ci

#2174 CI: Update Clickhouse server image tag to 18.14
  ci/docker-compose.yml
Labels: clickhouse

#2150 fix path to temporary test files at 'test_read_csv'
  ibis/omniscidb/tests/test_client.py
Labels: omnisci, testing

#2163 CI: Update MySQL to 10.4.12, fix #2162
  ci/docker-compose.yml
Labels: mysql

#2170 BUG: Fix millisecond issue for omniscidb, mysql, postgresql and pandas
  docs/source/release.rst
  ibis/omniscidb/operations.py
  ibis/pandas/execution/temporal.py
  ibis/sql/mysql/compiler.py
  ibis/sql/postgres/compiler.py
  ibis/tests/all/test_temporal.py
Labels: bug

#2190 CI: Testing if previous arrow builds fix arrow error
  ci/azure/windows.yml
Labels: ci

#2193 CI: Speeding up conda solver time by removing pymapd and pinning some packages
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
Labels: ci
