Repository ibis-project/ibis, pull requests merged in 2020-12, with the labels that each got.

#2548 CI: Skipping time test in CI
  ibis/tests/test_version.py
Labels: ci, testing

#2545 Remove previously deprecated hdfs function from top level module
  ci/impalamgr.py
  docs/source/release/index.rst
  ibis/__init__.py
Labels: backends - impala, compatibility, hdfs

#2547 STY: Add flake8-comprehension
  environment.yml
  ibis/backends/base_sql/compiler.py
  ibis/backends/bigquery/client.py
  ibis/backends/clickhouse/client.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/omniscidb/compiler.py
  ibis/backends/omniscidb/ddl.py
  ibis/backends/omniscidb/tests/test_client.py
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/dispatcher.py
  ibis/backends/pandas/tests/execution/conftest.py
  ibis/backends/pandas/tests/execution/test_join.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/pyspark/timecontext.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/expr/api.py
  ibis/expr/datatypes.py
  ibis/expr/operations.py
  ibis/expr/schema.py
  ibis/expr/window.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_temporal.py
  ibis/tests/expr/test_rules.py
  ibis/udf/validate.py
Labels: ci, refactoring

#2541 ENH: Add non-execution dask code
  ibis/backends/dask/__init__.py
  ibis/backends/dask/client.py
  ibis/backends/dask/core.py
  ibis/backends/dask/execution/__init__.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/dask/tests/test_datatypes.py
  ibis/backends/dask/tests/test_dispatcher.py
  ibis/backends/dask/tests/test_import.py
  ibis/backends/dask/tests/test_schema.py
  ibis/backends/dask/trace.py
Labels: backends - dask

#2556 Remove setup.py dev dependencies
  setup.py
Labels: developer-api

#2558 DOC: Update hdfs_connect calls in docs
  docs/source/backends/impala.rst
  docs/source/tutorial/04-More-Value-Expressions.ipynb
  docs/source/tutorial/05-IO-Create-Insert-External-Data.ipynb
  docs/source/tutorial/06-Advanced-Topics-TopK-SelfJoins.ipynb
  docs/source/tutorial/07-Advanced-Topics-ComplexFiltering.ipynb
  docs/source/tutorial/08-More-Analytics-Helpers.ipynb
  docs/source/user_guide/configuration.rst
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_hdfs.py
  ibis/tests/backends.py
Labels: backends - impala, ci, docs

#2560 update setup.py for release level
  setup.py
Labels: docs

#2561 BLD: Speed up azure builds
  ci/Dockerfile.dev
Labels: ci

#2540 Update pandas.util.testing to pandas.testing
  ibis/backends/bigquery/tests/test_client.py
  ibis/backends/bigquery/tests/udf/test_udf_execute.py
  ibis/backends/clickhouse/tests/test_aggregations.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_pandas_interop.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/pandas/tests/execution/test_arrays.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_join.py
  ibis/backends/pandas/tests/execution/test_maps.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_strings.py
  ibis/backends/pandas/tests/execution/test_structs.py
  ibis/backends/pandas/tests/execution/test_temporal.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/pandas/tests/test_core.py
  ibis/backends/pandas/tests/test_schema.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/pyspark/tests/test_array.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/pyspark/tests/test_null.py
  ibis/backends/pyspark/tests/test_timecontext.py
  ibis/backends/pyspark/tests/test_window.py
  ibis/backends/pyspark/tests/test_window_context_adjustment.py
  ibis/backends/spark/tests/test_udf.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/tests/all/test_temporal.py
Labels: refactoring

#2567 CI: Skipping time test in Azure
  ibis/tests/test_version.py
Labels: ci

#2562 Fix hdfs_connect on GHA
  .github/workflows/main.yml
Labels: backends - impala, ci

#2566 TST: Refactoring backend tests
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/csv/tests/conftest.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/hdf5/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mysql/tests/__init__.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/omniscidb/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/parquet/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/spark/tests/conftest.py
  ibis/backends/spark/tests/test_udf.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/__init__.py
  ibis/backends/tests/base.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_geospatial.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_nettypes.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_union.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  ibis/tests/all/conftest.py
  ibis/tests/backends.py
Labels: backends, refactoring, testing

#2574 Revert "TST: Refactoring backend tests (#2566)"
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/csv/tests/conftest.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/hdf5/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mysql/tests/__init__.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/omniscidb/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/parquet/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/spark/tests/conftest.py
  ibis/backends/spark/tests/test_udf.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/conftest.py
  ibis/tests/all/__init__.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_array.py
  ibis/tests/all/test_client.py
  ibis/tests/all/test_column.py
  ibis/tests/all/test_generic.py
  ibis/tests/all/test_geospatial.py
  ibis/tests/all/test_join.py
  ibis/tests/all/test_json.py
  ibis/tests/all/test_nettypes.py
  ibis/tests/all/test_numeric.py
  ibis/tests/all/test_param.py
  ibis/tests/all/test_string.py
  ibis/tests/all/test_temporal.py
  ibis/tests/all/test_union.py
  ibis/tests/all/test_vectorized_udf.py
  ibis/tests/all/test_window.py
  ibis/tests/backends.py
Labels: backends, ci, testing

#2579 Pin sphinx<=3.3.1
  environment.yml
Labels: docs

#2557 Dask backend execution
  ci/deps/dask-min.yml
  ci/deps/dask.yml
  environment.yml
  ibis/__init__.py
  ibis/backends/dask/client.py
  ibis/backends/dask/core.py
  ibis/backends/dask/execution/__init__.py
  ibis/backends/dask/execution/aggregations.py
  ibis/backends/dask/execution/arrays.py
  ibis/backends/dask/execution/decimal.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/indexing.py
  ibis/backends/dask/execution/join.py
  ibis/backends/dask/execution/maps.py
  ibis/backends/dask/execution/numeric.py
  ibis/backends/dask/execution/reductions.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/strings.py
  ibis/backends/dask/execution/structs.py
  ibis/backends/dask/execution/temporal.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/tests/execution/conftest.py
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_maps.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/dask/tests/test_datatypes.py
  ibis/tests/all/conftest.py
  ibis/tests/all/test_aggregation.py
  ibis/tests/all/test_generic.py
  ibis/tests/all/test_join.py
  ibis/tests/all/test_numeric.py
  ibis/tests/all/test_string.py
  ibis/tests/all/test_temporal.py
  ibis/tests/all/test_union.py
  ibis/tests/all/test_vectorized_udf.py
  ibis/tests/backends.py
  setup.py
Labels: backends - dask

#2577 BUG: Make StructValue picklable
  docs/source/api.rst
  docs/source/release/index.rst
  ibis/backends/bigquery/tests/test_client.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/pandas/tests/execution/test_structs.py
  ibis/expr/api.py
  ibis/tests/all/test_param.py
  ibis/tests/expr/test_struct.py
  ibis/tests/expr/test_value_exprs.py
Labels: expressions

#2583 CI: Fix failing tests related to graphviz
  ci/setup_env.sh
  environment.yml
Labels: ci

#2584 DOC: fix simple typo, valudators -> validators
  ibis/expr/rules.py
Labels: docs

#2582 CI: Unpin sphinx version
  environment.yml
Labels: ci, docs
