Repository ibis-project/ibis, pull requests merged in 2020-07, with the labels that each got.

#2183 TST: [OmniSciDB] Fix test_add_columns
  ibis/omniscidb/tests/conftest.py
  ibis/omniscidb/tests/test_client.py
Labels: omnisci, testing

#2260 FEAT: Support custom window in pandas backend
  docs/source/release/index.rst
  ibis/expr/window.py
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/execution/window.py
Labels: pandas

#2261 DOC: Adding syntax hihlighting to the code in the website
  docs/web/config.yml
  docs/web/contribute.md
  docs/web/getting_started.md
  docs/web/static/css/codehilite.css
  docs/web/static/css/ibis.css
Labels: docs

#2259 DOC: move impala guide to backends directory
  docs/source/user_guide/backends/impala.rst
  docs/source/user_guide/index.rst
Labels: backends - impala, docs

#2178 Create epoch extraction op
  docs/source/api.rst
  docs/source/release/index.rst
  ibis/clickhouse/operations.py
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/impala/compiler.py
  ibis/omniscidb/operations.py
  ibis/pandas/execution/temporal.py
  ibis/pyspark/compiler.py
  ibis/spark/compiler.py
  ibis/sql/mysql/compiler.py
  ibis/sql/postgres/compiler.py
  ibis/sql/sqlite/compiler.py
  ibis/tests/all/test_temporal.py
Labels: backends - pandas, enhancement

#2272 CI: Pinning pymapd to 0.23 to speed up conda solver
  ci/requirements-dev-3.6-main.yml
  ci/requirements-dev-3.7-main.yml
Labels: ci

#2277 CI: Pin pytest version to be below 6.0.0rc1 to fix failing CI
  ci/requirements-dev-3.6-main.yml
  ci/requirements-dev-3.6-pyspark-spark.yml
  ci/requirements-dev-3.7-main.yml
  ci/requirements-dev-3.7-pyspark-spark.yml
  ci/requirements-dev-3.8-main.yml
Labels: ci

#2270 FEAT: Add support for Union in PySpark backend
  docs/source/release/index.rst
  ibis/pandas/execution/tests/test_operations.py
  ibis/pyspark/compiler.py
  ibis/sql/postgres/tests/test_functions.py
  ibis/tests/all/test_union.py
Labels: backends - pyspark

#2279 FEAT: Add scope and kwargs to get_aggcontext to allow passing custom data s…
  ibis/pandas/execution/tests/test_window.py
  ibis/pandas/execution/window.py
Labels: backends - pandas, window functions

#2269 TST: parametrize BigQuery compiler tests by project ID
  ci/datamgr.py
  docs/source/user_guide/extending.rst
  ibis/bigquery/tests/test_compiler.py
Labels: backends - bigquery, testing

#2283 BUG: Revert changes to ExprFormatter._format_subexpr that causes SQL/BigQuery compilation slowness
  docs/source/release/index.rst
  ibis/bigquery/tests/test_compiler.py
  ibis/expr/format.py
  ibis/expr/tests/test_format.py
Labels: bug

#2285 ENH: Add category integration for cast to pandas backend
  docs/source/release/index.rst
  ibis/expr/datatypes.py
  ibis/pandas/execution/constants.py
  ibis/pandas/execution/tests/test_cast.py
Labels: expressions

#2265 DOC: Making public the internal omnisci documentation
  docs/source/user_guide/backends/index.rst
  docs/source/user_guide/backends/omnisci.rst
Labels: backends - omnisci, docs

#2282 Allow vectorized UDFs to accept *args
  ibis/pandas/tests/test_udf.py
  ibis/tests/all/test_vectorized_udf.py
  ibis/udf/validate.py
Labels: udf

#2264 BUG: Add verbose logging to SQL backends
  docs/source/release/index.rst
  ibis/bigquery/client.py
  ibis/client.py
  ibis/omniscidb/client.py
  ibis/sql/alchemy.py
  ibis/sql/sqlite/tests/test_client.py
Labels: backends - sqlalchemy, bug

#2273 CI: Add some unsupported BigQuery ops inherited from Impala
  docs/source/release/index.rst
  ibis/bigquery/compiler.py
Labels: backends - bigquery, ci

#2291 DOC: Fix website CNAME and stop using a fork as a base
  Makefile
  ci/Dockerfile.docs
  ci/azure/linux.yml
Labels: ci, docs

#2292 CI: Fixing typo when pushing the docs
  ci/azure/linux.yml
Labels: ci, docs

#2293 CI: Fixing another typo when pushing the docs (secret token env)
  ci/azure/linux.yml
Labels: ci, docs

#2287 DOC: Restructuring the documentation of the backends
  docs/source/api.rst
  docs/source/backends/bigquery.rst
  docs/source/backends/clickhouse.rst
  docs/source/backends/impala.rst
  docs/source/backends/index.rst
  docs/source/backends/mysql.rst
  docs/source/backends/omnisci.rst
  docs/source/backends/pandas.rst
  docs/source/backends/postgres.rst
  docs/source/backends/spark.rst
  docs/source/backends/sqlite.rst
  docs/source/getting-started.rst
  docs/source/index.rst
  docs/source/release/release-pre-1.0.rst
  docs/source/user_guide/index.rst
Labels: docs

#2296 DOC: Updating titles of backend pages
  docs/source/backends/bigquery.rst
  docs/source/backends/clickhouse.rst
  docs/source/backends/impala.rst
  docs/source/backends/mysql.rst
  docs/source/backends/omnisci.rst
  docs/source/backends/pandas.rst
  docs/source/backends/postgres.rst
  docs/source/backends/spark.rst
  docs/source/backends/sqlite.rst
Labels: docs

#2253 FEAT: Add time context in pandas execution
  ibis/expr/types.py
  ibis/expr/typing.py
  ibis/omniscidb/client.py
  ibis/pandas/core.py
  ibis/pandas/execution/__init__.py
  ibis/pandas/execution/generic.py
  ibis/pandas/execution/selection.py
  ibis/pandas/execution/tests/conftest.py
  ibis/pandas/execution/tests/test_timecontext.py
  ibis/pandas/execution/timecontext.py
  ibis/pandas/execution/window.py
Labels: backends - pandas

#2299 DOC: Fix wrong conda-forge package in setup instructions
  docs/web/getting_started.md
Labels: docs

#2298 DOC: Improving the home page, and minor fixes to the web
  docs/web/about/license.md
  docs/web/config.yml
  docs/web/index.md
  docs/web/static/css/ibis.css
  docs/web/static/img/ibis_sky.png
Labels: docs

#2302 TST/CI: Fix test failing in pandas 1.1
  ibis/expr/tests/test_datatypes.py
Labels: ci, testing
