Repository ibis-project/ibis, pull requests merged in 2020-01, with the labels that each got.

#2034 DOC: Add new backends and Geospatial methods to documentation
  docs/source/api.rst
  docs/source/backends.rst
  docs/source/contributing.rst
  docs/source/index.rst
  docs/source/release.rst
  ibis/pyspark/api.py
  ibis/spark/api.py
Labels: documentation, omnisci

#2050 CI: [Omnisci] Drop table only if it exists
  ci/datamgr.py
  docs/source/release.rst
Labels: ci, omnisci

#2047 FEAT: Introduce vectorized UDF api
  docs/source/release.rst
  ibis/expr/operations.py
  ibis/pandas/execution/tests/test_functions.py
  ibis/pandas/udf.py
  ibis/pyspark/compiler.py
  ibis/tests/all/test_vectorized_udf.py
  ibis/udf/__init__.py
  ibis/udf/vectorized.py
Labels: enhancement

#2055 BUG: Fix cudf import on OmniSciDB backend
  docs/source/release.rst
  ibis/omniscidb/client.py
Labels: bug, omnisci

#2052 refactor makefile
  Makefile
  ci/Dockerfile.dev
  ci/Dockerfile.docs
  ci/azure/linux.yml
  ci/backends-markers.sh
  ci/backends-to-start.sh
  ci/build.sh
  ci/check-services.sh
  ci/docker-compose.yml
  ci/dockerize.sh
  ci/test.sh
  docs/source/contributing.rst
  docs/source/extending.rst
  docs/source/notebooks/tutorial/10-Adding-a-new-reduction-expression.ipynb
  docs/source/notebooks/tutorial/9-Adding-a-new-elementwise-expression.ipynb
  docs/source/release.rst
Labels: ci

#1976 FEAT: Adding more window operations to OmniSciDB
  docs/source/release.rst
  ibis/omniscidb/operations.py
  ibis/tests/all/test_window.py
Labels: omnisci, window functions

#2056 BUG: Fix data map for int8 on OmniSciDB
  docs/source/release.rst
  ibis/omniscidb/client.py
  ibis/omniscidb/operations.py
  ibis/omniscidb/tests/test_client.py
Labels: bug, omnisci

#2061 CI: Fix CI builds related to new pandas 1.0 compatibility
  docs/source/getting-started.rst
  docs/source/release.rst
  ibis/expr/tests/test_datatypes.py
  ibis/pandas/aggcontext.py
  ibis/pandas/tests/test_udf.py
Labels: bug, ci
