Repository ibis-project/ibis, pull requests merged in 2020-02, with the labels that each got.

#2057 BUG: fix datamgr.py fail if IBIS_TEST_OMNISCIDB_DATABASE=omnisci
  ci/datamgr.py
  docs/source/release.rst
Labels: bug, omnisci

#2068 SUPP: use conda for installation black and isort tools
  .pre-commit-config.yaml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
Labels: ci

#2074 TST: Link pandas issues with xfail tests in pandas/tests/test_udf.py
  ibis/pandas/tests/test_udf.py
Labels: ci, compatibility, pandas

#2069 BUG: Fix load data stage for Linux CI
  Makefile
  ci/azure/linux.yml
  ci/backends-to-start.sh
  ci/datamgr.py
  ci/load-data.sh
  docs/source/release.rst
Labels: bug, ci

#2071 FEAT: Improve pandas udf performance for many arguments
  docs/source/release.rst
  ibis/pandas/core.py
  ibis/pandas/execution/tests/test_functions.py
  ibis/pandas/tests/test_udf.py
  ibis/pandas/udf.py
Labels: pandas, performance

#2051 [Omnisci] The same SRIDs for test_geo_spatial_binops
  ci/datamgr.py
  ci/schema/omniscidb.sql
  ibis/sql/postgres/tests/test_postgis.py
  ibis/tests/all/test_geospatial.py
Labels: bug, omnisci

#2077 CI: Change OmniSciDB docker image version from v5.0.0 to v5.1.0
  ci/docker-compose.yml
  docs/source/release.rst
Labels: ci, omnisci

#2079 SUPP: Pin back version of isort
  .isort.cfg
  .pre-commit-config.yaml
  Makefile
  ci/azure/linux.yml
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  setup.cfg
Labels: ci

#2089 BUG: change clickhouse-driver version to >=0.1.3
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  docs/source/getting-started.rst
  docs/source/release.rst
  setup.py
Labels: clickhouse

#2066 SUPP: Add support to Python 3.8
  ci/azure/linux.yml
  ci/azure/windows.yml
  ci/requirements-3.8-dev.yml
  docs/source/release.rst
  ibis/__init__.py
  ibis/bigquery/udf/api.py
  ibis/bigquery/udf/tests/test_core.py
  ibis/bigquery/udf/tests/test_find.py
  ibis/bigquery/udf/tests/test_udf_execute.py
  ibis/compat.py
  ibis/expr/datatypes.py
  ibis/filesystems.py
  ibis/impala/ddl.py
  ibis/impala/kudu_support.py
  ibis/pandas/aggcontext.py
  ibis/spark/client.py
  pyproject.toml
Labels: packaging

#1964 FEAT: Remove execution_type param and add gpu_device and ipc to execute method for OmniSciDB backend
  ci/requirements-3.6-dev.yml
  ci/requirements-3.7-dev.yml
  docs/source/release.rst
  ibis/client.py
  ibis/omniscidb/api.py
  ibis/omniscidb/client.py
  ibis/omniscidb/tests/test_client.py
  setup.cfg
Labels: omnisci

#2100 RLS: Add release notes for release 1.3.0
  docs/source/release.rst
Labels: documentation
