Repository ibis-project/ibis, pull requests merged in 2021-03, with the labels that each got.

#2636 BUG: Fix overwrite logic to account for DestructColumn inside mutate API
  docs/source/release/index.rst
  ibis/backends/tests/test_vectorized_udf.py
  ibis/expr/api.py
Labels: expressions

#2647 FEAT: add `bit_xor` aggregate to BigQuery and MySQL backends
  docs/source/api.rst
  docs/source/release/index.rst
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/test_compiler.py
  ibis/backends/mysql/compiler.py
  ibis/expr/api.py
  ibis/expr/operations.py
Labels: expressions

#2650 ENH: rlz.member_of accepts enum literals now
  ibis/expr/datatypes.py
  ibis/expr/rules.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_rules.py
Labels: expressions

#2652 BUG: Fix BigQuery connect bug that ignored project ID parameter
  docs/source/release/index.rst
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/test_client.py
  ibis/backends/bigquery/tests/test_connect.py
  ibis/backends/bigquery/tests/test_datatypes.py
  ibis/backends/bigquery/tests/udf/test_core.py
  ibis/backends/bigquery/tests/udf/test_find.py
  ibis/backends/bigquery/tests/udf/test_udf_execute.py
Labels: backends - bigquery, bug

#2654 Refactor logic in mutate API into method
  ibis/expr/analysis.py
  ibis/expr/api.py
Labels: expressions

#2658 Adding builder and dialect to Backend classes
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/parquet/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/spark/__init__.py
  ibis/backends/sqlite/__init__.py
Labels: backends, refactoring

#2656 Loading new Backend class (so far doesn't do anything)
  ibis/__init__.py
  ibis/backends/base/__init__.py
  ibis/backends/csv/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/hdf5/__init__.py
Labels: backends, refactoring

#2662 TST: Not skipping tests if data directory not found
  conftest.py
Labels: ci, testing

#2657 BUG: Add temporary struct col in pyspark backend to ensure that UDFs are e…
  ci/deps/pyspark.yml
  docs/source/release/index.rst
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/base.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_vectorized_udf.py
  setup.cfg
Labels: backends - pyspark

#2593 Register backend options using Backend class
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/pandas/__init__.py
Labels: backends, refactoring

#2666 CI: Removing Dask builds on Windows, since they seem redundant
  .github/workflows/main.yml
Labels: backends - dask, ci

#2669 Replacing Azure badge by the GitHub actions one in README
  README.md
Labels: ci, docs

#2674 Remove uneeded excluded files from linting
  setup.cfg
Labels: ci

#2655 FEAT: Add auth_local_webserver, auth_external_data, and auth_cache to BigQuery connect
  docs/source/release/index.rst
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/test_connect.py
Labels: backends - bigquery

#2675 TST: unskip or recategorize dask pandas skipped tests
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_union.py
Labels: backends - dask, testing

#2646 FEAT: Support context adjustment for udfs for pandas backend
  docs/source/release/index.rst
  ibis/__init__.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/conftest.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pyspark/timecontext.py
  ibis/backends/tests/test_timecontext.py
  ibis/expr/timecontext.py
Labels: backends - pandas, expressions

#2672 CI: Simplifying dependencies to speed up conda resolve
  ci/deps/clickhouse.yml
  ci/deps/dask-min.yml
  ci/deps/dask.yml
  ci/deps/hdf5.yml
  ci/deps/impala.yml
  ci/deps/mysql.yml
  ci/deps/parquet.yml
  ci/deps/postgres.yml
  ci/deps/pyspark.yml
  ci/deps/spark.yml
  ci/setup_env.sh
  environment.yml
  ibis/backends/base_file/tests/test_schema.py
Labels: ci

#2679 TST: Avoid skiping tests if backend dependencies are missing
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/test_client.py
  ibis/backends/bigquery/tests/test_compiler.py
  ibis/backends/bigquery/tests/test_connect.py
  ibis/backends/bigquery/tests/udf/test_udf_execute.py
  ibis/backends/clickhouse/tests/test_aggregations.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/clickhouse/tests/test_identifiers.py
  ibis/backends/clickhouse/tests/test_literals.py
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/clickhouse/tests/test_types.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_connection_pool.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_kudu_support.py
  ibis/backends/impala/tests/test_pandas_interop.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/impala/tests/test_patched.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/impala/tests/test_window.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/pyspark/tests/test_array.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/pyspark/tests/test_null.py
  ibis/backends/pyspark/tests/test_timecontext.py
  ibis/backends/pyspark/tests/test_window.py
  ibis/backends/pyspark/tests/test_window_context_adjustment.py
  ibis/backends/spark/tests/conftest.py
  ibis/backends/spark/tests/test_api.py
  ibis/backends/spark/tests/test_ddl.py
  ibis/backends/spark/tests/test_udf.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_functions.py
Labels: backends, testing

#2683 TST: Use multiple partitions for spark csv test data
  ibis/backends/tests/base.py
  ibis/backends/tests/test_vectorized_udf.py
Labels: backends - pyspark, testing

#2680 ENH: Namespace time_col config, fix type check for trim_with_timecontext for pandas window execution.
  docs/source/release/index.rst
  ibis/__init__.py
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/tests/test_timecontext.py
  ibis/expr/timecontext.py
Labels: expressions

#2685 DOC: Restoring website
  .github/workflows/main.yml
Labels: ci, docs

#2686 DOC: Fixing docs path, so website and docs are uploaded together
  .github/workflows/main.yml
Labels: ci, docs

#2684 CI: Making Ibis compatible with latest graphviz
  environment.yml
Labels: ci, compatibility

#2667 CI: Test Ibis in Python 3.9
  .github/workflows/bigquery.yml
  .github/workflows/main.yml
  ci/deps/impala.yml
Labels: ci

#2690 Making Ibis work with SQLAlchemy 1.4
  ci/deps/clickhouse.yml
  ci/deps/postgres-min.yml
  docs/source/release/index.rst
  ibis/backends/base_sqlalchemy/alchemy.py
  ibis/backends/mysql/compiler.py
  ibis/backends/postgres/tests/test_functions.py
  setup.py
Labels: backends - sqlalchemy, ci, compatibility

#2695 CI: Using older ubuntu in Spark to fix CI
  .github/workflows/main.yml
Labels: backends - spark, ci

#2693 BUG: Fix issues with context adjustment for filter with PySpark backend
  docs/source/release/index.rst
  ibis/backends/pyspark/client.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/timecontext.py
  ibis/backends/tests/test_timecontext.py
  ibis/expr/timecontext.py
Labels: backends - pyspark, context adjustment

#2702 BUG: Fix `aggregate` exploding the output of Reduction ops that return a list/ndarray
  docs/source/release/index.rst
  ibis/backends/pandas/execution/util.py
  ibis/backends/tests/test_aggregation.py
Labels: expressions

#2696 BUG: Fix wrong row indexing in the result for 'window after filter' for timecontext adjustment
  docs/source/release/index.rst
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/tests/test_timecontext.py
  ibis/expr/timecontext.py
Labels: backends - pandas, context adjustment

#2687 FEAT: Support Spark filter with window operation
  docs/source/release/index.rst
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_generic.py
Labels: backends - spark

#2704 BUG: Sort index for series in selection for context adjustment for pandas backend
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/selection.py
Labels: backends - pandas, context adjustment

#2661 Use new backend classes
  docs/source/backends/bigquery.rst
  docs/source/backends/clickhouse.rst
  docs/source/backends/impala.rst
  docs/source/backends/mysql.rst
  docs/source/backends/postgres.rst
  docs/source/backends/spark.rst
  docs/source/backends/sqlite.rst
  docs/source/user_guide/extending/extending_elementwise_expr.ipynb
  docs/source/user_guide/extending/extending_reduce_expr.ipynb
  ibis/__init__.py
  ibis/backends/base/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/csv/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/tests/execution/conftest.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/compiler.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/tests/execution/conftest.py
  ibis/backends/pandas/tests/execution/test_join.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_structs.py
  ibis/backends/pandas/tests/execution/test_temporal.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/pandas/tests/test_core.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/parquet/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/spark/__init__.py
  ibis/backends/spark/compiler.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/base.py
  ibis/backends/tests/test_api.py
Labels: backends, refactoring

#2698 Support ungrouped apply multi-column UDF
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/udf.py
  ibis/backends/tests/test_vectorized_udf.py
Labels: expressions

#2705 TST: Add unit test for Pyspark selection logic
  ibis/backends/pyspark/tests/test_basic.py
Labels: backends - pyspark, testing

#2660 Standardize more attributes in the backend class
  ibis/backends/base_file/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/csv/__init__.py
  ibis/backends/csv/tests/conftest.py
  ibis/backends/csv/tests/test_csv.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/client.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/hdf5/tests/conftest.py
  ibis/backends/hdf5/tests/test_hdf5.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/client.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/tests/test_core.py
  ibis/backends/parquet/__init__.py
  ibis/backends/parquet/tests/conftest.py
  ibis/backends/parquet/tests/test_parquet.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/spark/__init__.py
  ibis/backends/spark/client.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/client.py
Labels: backends, refactoring

#2710 BUG: Fix range_window for base_sql backend (continued)
  docs/source/release/index.rst
  ibis/backends/base_sql/__init__.py
  ibis/backends/base_sql/compiler.py
  ibis/backends/tests/test_window.py
Labels: backends - sqlalchemy

#2648 ENH: UDF operations for dask backend
  ibis/backends/dask/__init__.py
  ibis/backends/dask/execution/aggregations.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_util.py
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/udf.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/util.py
Labels: backends - dask

#2712 BUG: Fix time context trimming error for multi column udfs in pandas backend
  docs/source/release/index.rst
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/tests/test_timecontext.py
  ibis/expr/timecontext.py
Labels: backends - pandas, context adjustment, udf

#2714 First step towards unifying dialects
  ibis/backends/base/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/csv/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/core.py
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/tests/mocks.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/compiler.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/dispatch.py
  ibis/backends/parquet/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/spark/__init__.py
  ibis/backends/spark/client.py
  ibis/backends/spark/compiler.py
  ibis/backends/spark/tests/test_ddl_compilation.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/tests/expr/mocks.py
Labels: backends, refactoring
