Repository ibis-project/ibis, pull requests merged in 2021-04, with the labels that each got.

#2718 Moving the registry to the base backend, and defining its public API
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/registry/__init__.py
  ibis/backends/base/sql/registry/aggregate.py
  ibis/backends/base/sql/registry/binary_infix.py
  ibis/backends/base/sql/registry/case.py
  ibis/backends/base/sql/registry/helpers.py
  ibis/backends/base/sql/registry/identifiers.py
  ibis/backends/base/sql/registry/literal.py
  ibis/backends/base/sql/registry/string.py
  ibis/backends/base/sql/registry/timestamp.py
  ibis/backends/base/sql/registry/window.py
  ibis/backends/base_sql/__init__.py
  ibis/backends/base_sql/compiler.py
  ibis/backends/base_sql/ddl.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/udf.py
  ibis/backends/spark/compiler.py
  ibis/backends/spark/ddl.py
Labels: backends, refactoring

#2720 Restore build_ast in BigQuery backend
  ibis/backends/bigquery/compiler.py
Labels: backends - bigquery

#2725 Make backend registries standard and clearer
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/registry.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/udf.py
  ibis/backends/mysql/compiler.py
  ibis/backends/mysql/registry.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/registry.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/operations.py
  ibis/backends/spark/compiler.py
  ibis/backends/spark/datatypes.py
  ibis/backends/spark/ddl.py
  ibis/backends/spark/registry.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/sqlite/registry.py
Labels: backends, refactoring

#2732 CI: Fixing Spark tests by setting the ip address to bind
  ibis/backends/tests/base.py
Labels: backends - spark, ci

#2727 Reorganize and define base SQLAlchemy backend API
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/base/sql/alchemy/database.py
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/alchemy/geospatial.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/alchemy/translator.py
  ibis/backends/base_sql/compiler.py
  ibis/backends/base_sqlalchemy/alchemy.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/client.py
  ibis/backends/mysql/compiler.py
  ibis/backends/mysql/registry.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/client.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/registry.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/udf/api.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/client.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_numeric.py
  ibis/tests/expr/mocks.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: backends, refactoring

#2724 CLN: Removing bigquery backend from the Ibis repo
  .github/workflows/bigquery.yml
  ci/datamgr.py
  ci/deps/bigquery.yml
  ci/recipe/meta.yaml
  ci/schema/bigquery.sql
  docs/source/backends/bigquery.rst
  docs/source/backends/index.rst
  docs/source/release/index.rst
  docs/source/release/release-pre-1.0.rst
  docs/source/user_guide/udf.rst
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/tests/__init__.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/test_client.py
  ibis/backends/bigquery/tests/test_compiler.py
  ibis/backends/bigquery/tests/test_connect.py
  ibis/backends/bigquery/tests/test_datatypes.py
  ibis/backends/bigquery/tests/udf/__init__.py
  ibis/backends/bigquery/tests/udf/test_core.py
  ibis/backends/bigquery/tests/udf/test_find.py
  ibis/backends/bigquery/tests/udf/test_udf_execute.py
  ibis/backends/bigquery/udf/__init__.py
  ibis/backends/bigquery/udf/core.py
  ibis/backends/bigquery/udf/find.py
  ibis/backends/bigquery/udf/rewrite.py
  setup.cfg
  setup.py
Labels: backends - bigquery

#2734 CI: Do not skip sqlite tests if database is not found
  ibis/backends/sqlite/tests/conftest.py
Labels: backends - sqlite, ci, testing

#2737 CI: Testing with older impyla and bitarray versions
  ci/deps/impala.yml
Labels: ci

#2740 Make Clickhouse compiler inherit from the right classes
  ibis/backends/clickhouse/compiler.py
Labels: backends - clickhouse, refactoring
