Repository ibis-project/ibis, pull requests merged in 2021-06, with the labels that each got.

#2802 ENH: More tightly bound dask versions
  ci/deps/dask-min.yml
  ci/deps/dask.yml
  setup.py
Labels: backends - dask, ci

#2791 FEAT: Add startswith and endswith
  docs/source/release/index.rst
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/string.py
  ibis/backends/pandas/execution/strings.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_string.py
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/tests/expr/test_operations.py
  ibis/tests/expr/test_string.py
  ibis/tests/sql/test_compiler.py
Labels: backends - sqlalchemy, expressions

#2792 ENH: Use more useful fallback types for 'categorical' and 'decimal' Series'
  docs/source/release/index.rst
  ibis/backends/pandas/client.py
  ibis/backends/pandas/tests/test_datatypes.py
Labels: backends - pandas, expressions

#2719 Implementation for insert method for SQLAlchemy backends
  docs/source/release/index.rst
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_client.py
Labels: backends - sqlite, enhancement

#2805 Make op schema a cached property
  ci/recipe/meta.yaml
  docs/source/release/index.rst
  environment.yml
  ibis/expr/operations.py
  requirements.txt
  setup.cfg
Labels: expressions, performance

#2789 CLN: Removing Query class
  docs/source/release/index.rst
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/test_patched.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/spark/__init__.py
  ibis/backends/spark/client.py
  ibis/backends/spark/tests/test_ddl.py
  ibis/backends/tests/test_client.py
  ibis/client.py
  ibis/tests/expr/mocks.py
Labels: refactoring

#2807 CI: Force mamba to use conda-forge
  environment.yml
Labels: ci

#2808 Support comparison of ColumnExpr to timestamp literal
  docs/source/release/index.rst
  ibis/backends/dask/execution/generic.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/tests/test_temporal.py
Labels: backends - pandas, expressions

#2809 CLN: Improve QueryBuilder and SelectBuilder API
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base_sql/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/spark/compiler.py
Labels: refactoring

#2810 CLN: Moving base client to the base backend
  docs/source/backends/impala.rst
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/base/sql/alchemy/database.py
  ibis/backends/base/sql/client.py
  ibis/backends/clickhouse/client.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/csv/tests/conftest.py
  ibis/backends/dask/client.py
  ibis/backends/dask/core.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/udf.py
  ibis/backends/hdf5/tests/conftest.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/dispatch.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/pandas/udf.py
  ibis/backends/parquet/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/spark/client.py
  ibis/backends/sqlite/client.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/conftest.py
  ibis/client.py
  ibis/expr/api.py
  ibis/expr/rules.py
  ibis/expr/types.py
  ibis/tests/expr/mocks.py
Labels: refactoring

#2816 CLN: Simplify QueryBuilder code
  ibis/backends/base/sql/compiler/query_builder.py
Labels: refactoring

#2817 CLN: Standardize udf files across backends
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/postgres/udf.py
  ibis/backends/postgres/udf/__init__.py
  ibis/backends/sqlite/client.py
  ibis/backends/sqlite/udf.py
Labels: backends - postgres, backends - sqlite, refactoring

#2819 CI: Fixing and validaing flake8
  .github/workflows/main.yml
  ci/impalamgr.py
  dev/merge-pr.py
  ibis/_version.py
  ibis/backends/dask/tests/execution/conftest.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/expr/operations.py
Labels: ci

#2820 BUG: Aggregation with mixed reduction datatypes (array, scalar, etc) fails on Dask backend
  docs/source/release/index.rst
  ibis/backends/dask/execution/util.py
  ibis/backends/tests/test_aggregation.py
Labels: backends - dask, bug

#2821 BUG: `.cast()` to array outputs list instead of np.array in Pandas backend
  docs/source/release/index.rst
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/tests/execution/test_cast.py
Labels: backends - pandas

#2818 Pending compiler refactoring
  ibis/backends/base/__init__.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/alchemy/translator.py
  ibis/backends/base/sql/client.py
  ibis/backends/base/sql/compiler/__init__.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/base_sql/__init__.py
  ibis/backends/base_sql/compiler.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/csv/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/client.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/kudu_support.py
  ibis/backends/impala/tests/mocks.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_kudu_support.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/impala/tests/test_window.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/client.py
  ibis/backends/mysql/compiler.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/client.py
  ibis/backends/parquet/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/client.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/spark/__init__.py
  ibis/backends/spark/client.py
  ibis/backends/spark/compiler.py
  ibis/backends/spark/tests/test_ddl_compilation.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/client.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/test_client.py
  ibis/tests/expr/mocks.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: refactoring

#2825 CLN: Make compiler attribute names consistent
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/spark/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/sqlite/tests/conftest.py
Labels: refactoring

#2830 Disable aggregation expr optimization due to N squared performance
  docs/source/release/index.rst
  ibis/expr/operations.py
Labels: expressions

#2814 DEP: Uncap dask dependency
  ci/deps/dask.yml
  setup.py
Labels: backends - dask

#2833 Load backends in a lazy way
  docs/source/release/index.rst
  ibis/__init__.py
  ibis/backends/dask/client.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/tests/execution/conftest.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/pandas/client.py
  ibis/backends/parquet/tests/test_datatypes_arrow.py
  ibis/backends/spark/compiler.py
  ibis/config.py
  ibis/expr/schema.py
  ibis/tests/test_api.py
Labels: backends

#2836 TST: Run tests for backends defined as entrypoints
  environment.yml
  ibis/backends/tests/conftest.py
  requirements.txt
Labels: backends, testing

#2838 Loading TestConf correctly for third-party backends
  ibis/backends/tests/conftest.py
  ibis/tests/test_api.py
Labels: backends, testing

#2841 CLN: Fix and standardize SQLAlchemy dialect imports
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/registry.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/udf.py
  ibis/backends/tests/test_numeric.py
Labels: backends - sqlalchemy, refactoring
