Repository ibis-project/ibis, pull requests merged in 2021-11, with the labels that each got.

#3100 ci: remove unused field when pushing docs
  .github/workflows/main.yml
Labels: docs

#3104 FIX: Pandas and Dask backends fail when adjusted context is not a superset of original context
  ibis/backends/dask/core.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
Labels: expressions, backends - pandas, backends - dask

#3097 Support fillna and dropna on TableExpr
  docs/source/release/index.rst
  ibis/backends/dask/execution/generic.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
  ibis/expr/operations/relations.py
Labels: expressions

#3111 feat(ci): More readable workflow job titles
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/test-report.yml
  poetry.lock
  pyproject.toml
  setup.py
Labels: ci

#3115 docs: reflect CI split in badges on README.md
  README.md
  conda-lock/linux-64-3.7.lock
  conda-lock/linux-64-3.8.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.7.lock
  conda-lock/osx-64-3.8.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/win-64-3.7.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
  poetry.lock
  setup.py
Labels: docs

#3116 PREF: Do not materialize predicates on selection
  ibis/backends/dask/execution/selection.py
Labels: performance, backends - dask

#3131 fix(literal): allow creating ibis literal with uuid
  ibis/expr/operations/generic.py
  ibis/tests/expr/test_value_exprs.py
Labels: bug, expressions

#3134 chore(poetry.lock): maintenance
  conda-lock/linux-64-3.7.lock
  conda-lock/linux-64-3.8.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.7.lock
  conda-lock/osx-64-3.8.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/win-64-3.7.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
  ibis/tests/expr/test_value_exprs.py
  poetry.lock
Labels: dependencies

#3137 ci: use the precise python version installed for cache lookups
  .github/workflows/check-setup-py.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/update-setup-py.yml
Labels: ci
