Repository ibis-project/ibis, pull requests merged in 2021-10, with the labels that each got.

#3030 Move methods from Client to Backend for pandas based backends
  ibis/backends/base/__init__.py
  ibis/backends/base/file/__init__.py
  ibis/backends/csv/__init__.py
  ibis/backends/csv/tests/test_csv.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/client.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/dask/udf.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/dispatch.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_join.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_strings.py
  ibis/backends/pandas/tests/execution/test_structs.py
  ibis/backends/pandas/tests/execution/test_temporal.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_core.py
  ibis/backends/pandas/tests/test_dispatcher.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/pandas/udf.py
  ibis/backends/parquet/__init__.py
Labels: refactoring, backends - pandas, backends - dask

#3035 CLN: Removing pending Client classes
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/base/sql/client.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/dask/core.py
  ibis/backends/dask/udf.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/mocks.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_kudu_support.py
  ibis/backends/impala/tests/test_patched.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/client.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/dispatch.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/pandas/udf.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/client.py
  ibis/backends/tests/base.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_client.py
  ibis/expr/rules.py
  ibis/expr/types.py
  ibis/tests/expr/conftest.py
  ibis/tests/expr/mocks.py
  ibis/tests/expr/test_analytics.py
  ibis/tests/expr/test_interactive.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: refactoring, backends

#3036 Avoid running PostGIS specific backends in all backends
  ibis/backends/tests/test_geospatial.py
Labels: testing, backends - postgres, geospatial

#3037 ENH: Pass scope to context-adjustment functions
  ibis/backends/dask/core.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/execution/timecontext.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/expr/timecontext.py
Labels: compatibility

#3038 DOC: Adding release note for the backend API changes
  docs/source/release/index.rst
Labels: docs, backends
