Repository ibis-project/ibis, pull requests merged in 2021-09, with the labels that each got.

#2925 BUG: Fix race condition in temporary table deletion
  ibis/backends/tests/test_client.py
Labels: ci

#2927 TST: show the name of the backend when running tests
  ibis/backends/tests/conftest.py
Labels: ci

#2926 BUG: Fix pyspark client that was being used to test without data
  ibis/backends/pyspark/tests/conftest.py
Labels: ci, backends - pyspark

#2931 TST: Add backend marker
  ibis/backends/tests/conftest.py
Labels: ci

#2930 TST: Remove low-utility test
  ibis/tests/test_version.py
Labels: ci

#2933 fix: fix a few broken assumptions in the dask and pandas backends
  .github/workflows/main.yml
  ci/run_tests.sh
  environment.yml
  ibis/backends/dask/trace.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/pandas/trace.py
Labels: bug, testing, backends - pandas, backends - dask

#2934 refactor: move some config to pyproject.toml
  pyproject.toml
  setup.cfg
Labels: ci

#2939 ci: clean up pytest_errors.sh script
  ci/pytest_errors.sh
Labels: ci

#2942 fix: allow an undefined PYTEST_BACKENDS variable to indicate no backends should be tested
  ibis/backends/tests/conftest.py
Labels: testing, ci

#2941 fix: forward the spark entry point to pyspark
  setup.py
Labels: bug

#2899 CLN: Standardize and move list_tables method to backend
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/base/sql/alchemy/database.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/csv/__init__.py
  ibis/backends/dask/client.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/kudu_support.py
  ibis/backends/mysql/client.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/client.py
  ibis/backends/parquet/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/client.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/client.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/tests/test_api.py
Labels: refactoring, backends

#2914 CLN: Remove overcomplicatted logging
  docs/source/release/index.rst
  ibis/backends/clickhouse/client.py
  ibis/backends/impala/client.py
  ibis/backends/impala/hdfs.py
  ibis/backends/pyspark/client.py
Labels: refactoring, backends

#2951 chore: remove unneeded deps
  environment.yml
Labels: ci

#2950 ci: refactor ci part 1
  .github/workflows/main.yml
  ci/condarc
  ci/deps/clickhouse.yml
  ci/deps/dask-min.yml
  ci/deps/dask.yml
  ci/deps/hdf5.yml
  ci/deps/impala.yml
  ci/deps/mysql.yml
  ci/deps/parquet.yml
  ci/deps/postgres-min.yml
  ci/deps/postgres.yml
  ci/deps/pyspark-min.yml
  ci/deps/pyspark.yml
  ci/merge_and_update_env.sh
  ci/run_tests.sh
  ci/setup_env.sh
  docs/source/backends/pyspark.rst
  environment.yml
Labels: ci

#2953 ENH: Remove Expr._root_tables()
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/expr/analysis.py
  ibis/expr/operations.py
  ibis/expr/types.py
  ibis/tests/expr/test_table.py
Labels: expressions

#2938 ENH: Add __getstate__ and __setstate__ for Nodes
  docs/source/release/index.rst
  ibis/expr/operations.py
  ibis/tests/expr/test_case.py
  ibis/tests/expr/test_literal.py
  ibis/tests/expr/test_struct.py
  ibis/tests/expr/test_table.py
  ibis/tests/util.py
Labels: expressions

#2955 docs: fix doc build
  .github/workflows/main.yml
  .gitignore
Labels: docs, ci

#2957 ci: replace bespoke test munging with junit reporter
  .github/workflows/main.yml
  ci/pytest_errors.sh
  ci/run_tests.sh
Labels: enhancement, ci

#2958 ci: handle matrix for test output
  .github/workflows/main.yml
Labels: ci

#2959 DEPR: Deprecate set_database
  docs/source/api.rst
  docs/source/backends/clickhouse.rst
  docs/source/release/index.rst
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/tests/test_api.py
Labels: usability, backends - impala, backends - pyspark

#2960 ci: make the test reporter fork friendly
  .github/workflows/main.yml
  .github/workflows/test-report.yml
Labels: ci

#2956 fix: Change map to geo_equals
  docs/source/api.rst
  docs/source/release/index.rst
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/tests/test_geospatial.py
  ibis/expr/api.py
  ibis/expr/types.py
Labels: backends - postgres, geospatial

#2963 ci: only produce a test report if the workflow succeeded or failed
  .github/workflows/test-report.yml
Labels: ci

#2965 Raise NotImplementedError when databases are not supported
  docs/source/release/index.rst
  ibis/backends/pandas/__init__.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_api.py
Labels: usability, backends - pandas

#2968 chore: disable dask parallel testing
  .github/workflows/main.yml
Labels: testing, ci

#2974 chore: update pre-commit
  .pre-commit-config.yaml
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base/sql/ddl.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/dask/core.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/indexing.py
  ibis/backends/dask/execution/maps.py
  ibis/backends/dask/execution/strings.py
  ibis/backends/dask/execution/temporal.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/execution/window.py
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_maps.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/dask/tests/test_dispatcher.py
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/trace.py
  ibis/backends/dask/udf.py
  ibis/backends/impala/client.py
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/execution/arrays.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_arrays.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_aggcontext.py
  ibis/backends/pandas/tests/test_dispatcher.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/pandas/udf.py
  ibis/backends/pyspark/client.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/ddl.py
  ibis/backends/pyspark/tests/test_window.py
  ibis/backends/pyspark/tests/test_window_context_adjustment.py
  ibis/backends/pyspark/timecontext.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  ibis/expr/datatypes.py
  ibis/expr/lineage.py
  ibis/expr/operations.py
  ibis/expr/schema.py
  ibis/expr/scope.py
  ibis/expr/timecontext.py
  ibis/expr/types.py
  ibis/tests/sql/test_compiler.py
  ibis/udf/vectorized.py
Labels: style

#2979 ci: only run ibis/tests in one job
  .github/workflows/main.yml
  ci/run_tests.sh
Labels: ci

#2978 chore: add pyupgrade pre-commit check
  .pre-commit-config.yaml
  ibis/backends/base/sql/ddl.py
Labels: ci

#2980 ci: rename workflow
  .github/workflows/main.yml
  .github/workflows/test-report.yml
Labels: ci

#2977 refactor: replace handwritten parser with library
  ci/recipe/meta.yaml
  docs/source/release/index.rst
  environment.yml
  ibis/backends/tests/test_client.py
  ibis/expr/datatypes.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_rules.py
  ibis/tests/expr/test_schema.py
  requirements.txt
Labels: refactoring

#2971 test: run tests in a random order
  .github/workflows/main.yml
  environment.yml
  ibis/backends/dask/tests/test_dispatcher.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/pandas/tests/test_dispatcher.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/sqlite/tests/conftest.py
Labels: testing, ci

#2987 ci: temporarily add pure-sasl to impala conda dependencies
  ci/deps/impala.yml
  ci/merge_and_update_env.sh
  ibis/backends/impala/tests/test_client.py
Labels: bug, ci, dependencies

#2985 fix: fix literal of Nullable in Clickhouse
  ibis/backends/clickhouse/registry.py
  ibis/backends/clickhouse/tests/test_functions.py
Labels: bug, backends - clickhouse

#2986 test: don't suppress test start info
  ci/run_tests.sh
Labels: ci

#2984 fix: fix order of limit and offset param in Clickhouse.
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/test_select.py
Labels: bug, backends - clickhouse

#2990 test: fix incorrect connection pool test
  ibis/backends/impala/tests/test_connection_pool.py
Labels: testing, backends - impala

#2991 fix: fix cursor accounting races
  docs/source/release/index.rst
  ibis/backends/impala/client.py
Labels: bug, backends - impala

#2992 docs: add missing release notes
  docs/source/release/index.rst
  ibis/backends/clickhouse/tests/test_functions.py
Labels: docs, backends - clickhouse

#2993 test: fix incorrect assumption about GC in impala test
  ibis/backends/impala/tests/test_client.py
Labels: testing, backends - impala

#2995 Call aggregation function directly for pandas Summarize
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/udf.py
Labels: expressions, backends - pandas

#2989 ci: remove pure-sasl dependency
  ci/deps/impala.yml
Labels: ci

#2999 test: ensure that python ci/datamgr.py hdf5 produces data
  ci/datamgr.py
  ibis/backends/base/file/__init__.py
  ibis/backends/csv/__init__.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/parquet/__init__.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
Labels: bug, testing, backends - hdf5

#2905 CLN: Deprecate and standardize exists_table
  docs/source/release/index.rst
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/file/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/dask/client.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/pyspark/client.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/tests/test_api.py
Labels: refactoring, backends

#3012 refactor: remove ImpalaTemporaryTable
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/test_parquet_ddl.py
Labels: refactoring, backends - impala

#3013 refactor: remove __del__ from pandas_interop
  ibis/backends/impala/client.py
  ibis/backends/impala/kudu_support.py
  ibis/backends/impala/pandas_interop.py
  ibis/backends/impala/tests/test_pandas_interop.py
Labels: refactoring, backends - impala

#3018 Move methods of SQL backends from Client to Backend
  ci/impalamgr.py
  docs/source/backends/clickhouse.rst
  docs/source/backends/impala.rst
  docs/source/backends/mysql.rst
  docs/source/backends/postgres.rst
  docs/source/backends/pyspark.rst
  docs/source/backends/sqlite.rst
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/base/sql/client.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_patched.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/client.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/client.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/client.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_client.py
  ibis/expr/rules.py
  ibis/expr/types.py
  ibis/tests/expr/mocks.py
Labels: refactoring, backends

#3027 CLN: Remove redundant bool in clickhouse fully_qualified_name
  ibis/backends/clickhouse/__init__.py
Labels: refactoring, backends - clickhouse

#3024 fix(ir): remove accidental print statement
  ibis/expr/api.py
Labels: expressions

#3029 Use TableExpr validator in Join node
  ibis/expr/operations.py
Labels: expressions
