Repository ibis-project/ibis, pull requests merged in 2021-05, with the labels that each got.

#2749 ENH: Add rlz.optional rule
  ibis/expr/rules.py
  ibis/tests/expr/test_rules.py
Labels: expressions

#2748 Register sql option with other options
  ibis/__init__.py
  ibis/backends/base_sql/__init__.py
Labels: refactoring

#2747 Move ddl to base_sqlalchemy
  ibis/backends/base_sqlalchemy/ddl.py
  ibis/backends/impala/client.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/kudu_support.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/spark/client.py
  ibis/backends/spark/ddl.py
  ibis/backends/spark/tests/test_ddl_compilation.py
Labels: backends, refactoring

#2746 Making Clickhouse, Impala and Spark use simpler base classes
  ibis/backends/base/__init__.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/tests/mocks.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/impala/tests/test_window.py
  ibis/backends/spark/compiler.py
Labels: backends, refactoring

#2729 Replace ops with compiles decorator by regular registry
  docs/source/user_guide/extending/extending_elementwise_expr.ipynb
  docs/source/user_guide/extending/extending_reduce_expr.ipynb
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/alchemy/translator.py
  ibis/backends/base_sql/compiler.py
  ibis/backends/base_sqlalchemy/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/mysql/registry.py
  ibis/backends/postgres/compiler.py
  ibis/backends/spark/compiler.py
  ibis/backends/spark/registry.py
  ibis/backends/spark/udf.py
  ibis/backends/sqlite/compiler.py
Labels: refactoring

#2751 Moving base classes of file backends to base/
  ci/run_tests.sh
  ibis/backends/base/file/__init__.py
  ibis/backends/base_file/tests/__init__.py
  ibis/backends/csv/__init__.py
  ibis/backends/csv/tests/test_csv.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/hdf5/tests/test_hdf5.py
  ibis/backends/parquet/__init__.py
  ibis/backends/parquet/tests/test_parquet.py
  ibis/backends/parquet/tests/test_schema.py
  ibis/tests/expr/test_datatypes_arrow.py
Labels: refactoring

#2754 ENH: Silence warnings from selection in dask backend
  ibis/backends/dask/execution/selection.py
Labels: backends - dask

#2757 DOC: Link to advanced installation broken
  docs/web/getting_started.md
Labels: docs

#2759 Making base.sql.registry its own module
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/registry/__init__.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/window.py
  ibis/backends/base_sql/compiler.py
  ibis/backends/base_sqlalchemy/ddl.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/udf.py
  ibis/backends/spark/compiler.py
  ibis/backends/spark/datatypes.py
  ibis/backends/spark/ddl.py
  ibis/backends/spark/registry.py
Labels: refactoring

#2755 BUG: Fix dask udaf_node_groupby for multiple key grouping
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/udf.py
Labels: backends - dask, udf

#2760 Move ddl to base/sql and define its API
  ibis/backends/base/sql/ddl.py
  ibis/backends/base_sqlalchemy/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/kudu_support.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/spark/client.py
  ibis/backends/spark/ddl.py
  ibis/backends/spark/tests/test_ddl_compilation.py
Labels: refactoring

#2762 Remove functionality from base_sql
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/base_sql/compiler.py
Labels: refactoring

#2764 Move (Not)ExistsSubquery to the right location
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/__init__.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/transforms.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/clickhouse/registry.py
  ibis/expr/operations.py
  ibis/expr/types.py
Labels: refactoring

#2763 BUG: Patch meta for DatetimeTZDtype
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/udf.py
Labels: backends - dask

#2766 Restore import from registry after fixing circular problem
  ibis/backends/base/sql/compiler/query_builder.py
Labels: refactoring

#2753 ENH: Use `ndarray` as array representation in Pandas backend
  docs/source/release/index.rst
  ibis/backends/dask/execution/arrays.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_maps.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/execution/arrays.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/maps.py
  ibis/backends/pandas/tests/execution/conftest.py
  ibis/backends/pandas/tests/execution/test_arrays.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_maps.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_strings.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/pandas/tests/test_datatypes.py
  ibis/backends/pandas/tests/test_schema.py
  ibis/backends/tests/test_array.py
  ibis/expr/api.py
  ibis/expr/operations.py
Labels: expressions

#2772 CI: Pin sphinx below `4.0.0`
  environment.yml
Labels: ci, docs

#2770 BUG: Reduction UDF returning `np.array` hits error when used in grouped aggregation
  docs/source/release/index.rst
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/tests/test_udf.py
Labels: bug, expressions, udf

#2781 Pin bitarray version to 2.0.1 to fix CI
  ci/deps/impala.yml
Labels: backends - impala, ci

#2784 CI: Pin jinja2 to restore CI
  environment.yml
Labels: ci

#2773 BUG: Fix a few more places dask could recieve tz meta
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/udf.py
Labels: backends - dask, udf

#2785 ENH: Let dask handle scalar projection
  ibis/backends/dask/execution/selection.py
Labels: backends - dask

#2779 Implement Clip in the Pyspark backend
  docs/source/release/index.rst
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_numeric.py
Labels: backends - pyspark, expressions

#2776 ENH: Allow more flexible return type for UDFs
  docs/source/release/index.rst
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pandas/udf.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/expr/schema.py
  ibis/udf/vectorized.py
  ibis/util.py
Labels: enhancement, udf

#2787 Remove unneeded check about arrays in coerce_to_dataframe
  ibis/expr/schema.py
Labels: expressions

#2797 ENH: Add dt.Struct support back to elementwise udfs
  docs/source/release/index.rst
  ibis/backends/dask/udf.py
  ibis/backends/tests/test_vectorized_udf.py
Labels: backends - dask, udf
