Repository ibis-project/ibis, pull requests merged in 2021-02, with the labels that each got.

#2605 TST: Fix custom pytest marker skip_missing_feature
  ibis/backends/tests/conftest.py
Labels: testing

#2603 ENH: Add support for np.array literals
  docs/source/release/index.rst
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_array.py
Labels: backends - pyspark

#2606 ENH: Adding separate dispatchers for dask backend
  ibis/backends/dask/core.py
  ibis/backends/dask/dispatch.py
  ibis/backends/dask/execution/aggregations.py
  ibis/backends/dask/execution/arrays.py
  ibis/backends/dask/execution/decimal.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/indexing.py
  ibis/backends/dask/execution/join.py
  ibis/backends/dask/execution/maps.py
  ibis/backends/dask/execution/numeric.py
  ibis/backends/dask/execution/reductions.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/strings.py
  ibis/backends/dask/execution/structs.py
  ibis/backends/dask/execution/temporal.py
  ibis/backends/dask/tests/test_core.py
Labels: backends - dask

#2609 DOC: Make tutorial 5 not require Impala
  docs/source/backends/impala.rst
  docs/source/tutorial/05-IO-Create-Insert-External-Data.ipynb
Labels: backends - impala, ci, docs

#2607 FEAT: Implement Not operation in PySpark backend
  docs/source/release/index.rst
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_generic.py
Labels: backends - pyspark

#2610 FEAT: Add support for case/when in PySpark backend
  docs/source/release/index.rst
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_string.py
Labels: backends - pyspark, backends - spark

#2617 TST: Add back assert in test_filter
  ibis/backends/tests/test_generic.py
Labels: testing

#2615 FEAT: API for creating array column from other columns
  docs/source/release/index.rst
  ibis/backends/dask/execution/arrays.py
  ibis/backends/pandas/execution/arrays.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_array.py
  ibis/expr/api.py
  ibis/expr/operations.py
  ibis/expr/types.py
  ibis/tests/test_api.py
Labels: expressions

#2616 ENH: Partial sorting support in dask backend
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_union.py
Labels: backends - dask

#2620 DOC: Update docstring for compute_sort_key in dask backend
  ibis/backends/dask/execution/util.py
Labels: backends - dask, docs

#2622 TST: Add missing assert to pandas test
  ibis/backends/pandas/tests/execution/test_functions.py
Labels: backends - pandas

#2625 DOC: Using countries data and SQLite in tutorial 7
  docs/source/tutorial/07-Advanced-Topics-ComplexFiltering.ipynb
Labels: docs

#2623 ENH: Change dask backend to return computed objects with .execute()
  ibis/backends/dask/client.py
  ibis/backends/dask/core.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_maps.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
Labels: backends - dask

#2626 DOC: Use geography database and SQLite in tutorial 8
  docs/source/tutorial/07-Advanced-Topics-ComplexFiltering.ipynb
  docs/source/tutorial/08-More-Analytics-Helpers.ipynb
Labels: docs

#2630 CI: Pinning graphviz
  environment.yml
Labels: ci

#2628 DOC: Moving tutorial 6 to Impala docs
  docs/source/tutorial/06-Advanced-Topics-ComplexFiltering.ipynb
  docs/source/tutorial/06-Advanced-Topics-TopK-SelfJoins.ipynb
  docs/source/tutorial/07-Advanced-Topics-Analytics-Tools.ipynb
  docs/source/tutorial/index.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/self_joins.rst
  docs/source/user_guide/topk.rst
Labels: docs

#2632 DOC: Use SQLite instead of PostgreSQL in elementwise extending
  docs/source/user_guide/extending/extending_elementwise_expr.ipynb
Labels: docs

#2633 DOC: Using SQLite in extending reduce page
  docs/source/user_guide/extending/extending_elementwise_expr.ipynb
  docs/source/user_guide/extending/extending_reduce_expr.ipynb
Labels: docs

#2590 CI: Moving docs build to GitHub Actions
  .github/workflows/main.yml
  Makefile
  ci/Dockerfile.docs
  ci/azure/linux.yml
  ci/docker-compose.yml
  ci/setup_env.sh
Labels: ci, docs

#2635 BUG: Fix fusion optimization bug that incorrectly changes operation order
  docs/source/release/index.rst
  ibis/backends/tests/test_generic.py
  ibis/expr/analysis.py
  ibis/tests/expr/test_analysis.py
Labels: expressions

#2639 DOC: Adding code to create tutorials db in PostgreSQL
  docs/source/tutorial/data/Create-geography-database.ipynb
Labels: docs

#2638 Pushing the docs to GitHub pages from the CI
  .github/workflows/main.yml
Labels: ci, docs

#2640 DOC: Set up custom domain when pushing the docs
  .github/workflows/main.yml
Labels: ci, docs

#2643 DOC: Fixing website repo url
  .github/workflows/main.yml
Labels: ci, docs

#2644 DOC: Adding nojekyll file so static files are served by GitHub pages
  .github/workflows/main.yml
Labels: ci, docs

#2624 CI: Enabling Impala build in actions
  .github/workflows/main.yml
  ibis/backends/tests/test_string.py
Labels: backends - impala, ci

#2645 CI: Remove Azure and the docker stuff
  Makefile
  azure-pipelines.yml
  ci/Dockerfile.dev
  ci/azure/linux.yml
  ci/backends-markers.sh
  ci/backends-to-start.sh
  ci/check-services.sh
  ci/docker-compose.yml
  ci/dockerize.sh
  ci/docs.sh
  ci/load-data.sh
  docs/source/user_guide/extending/index.rst
Labels: ci

#2379 Using entry points for loading backends
  docs/source/release/index.rst
  docs/source/user_guide/extending/index.rst
  ibis/__init__.py
  setup.py
Labels: backends, refactoring
