Repository ibis-project/ibis, pull requests merged in 2021-08, with the labels that each got.

#2839 clickhouse: support `group_concat` operation
  docs/source/release/index.rst
  ibis/backends/clickhouse/registry.py
  ibis/backends/clickhouse/tests/test_functions.py
Labels: backends - clickhouse

#2875 CI: Fix most mypy errors in the Dask backend
  ibis/backends/dask/client.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/execution/window.py
  ibis/backends/pandas/execution/constants.py
  ibis/expr/scope.py
Labels: backends - dask, ci, style

#2893 MAINT: Remove duplicate udf branch in pandas backend
  ibis/backends/pandas/udf.py
Labels: backends - pandas, udf

#2883 CLN: Start definition of Backend API, and implement version
  docs/source/api.rst
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/clickhouse/tests/test_types.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/client.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/client.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_client.py
Labels: refactoring

#2895 DOC: Adding pending release note for Client.version output
  docs/source/release/index.rst
Labels: docs

#2894 Fix mypy errors in backends/base
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/client.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/base/sql/registry/window.py
Labels: ci, style

#2896 Fix most mypy errors in ibis/expr
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/datatypes.py
  ibis/expr/format.py
  ibis/expr/scope.py
  ibis/expr/timecontext.py
Labels: expressions, ci, style

#2900 CI: Fix mypy errors in the pandas backend
  environment.yml
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/execution/arrays.py
  ibis/backends/pandas/execution/constants.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_datatypes.py
Labels: backends - pandas, ci, style

#2904 CI: Pin tzlocal version
  ci/recipe/meta.yaml
  environment.yml
Labels: ci, backends - clickhouse

#2903 CLN: Remove unused and inconsistent backend markers
  ibis/backends/clickhouse/tests/test_aggregations.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/clickhouse/tests/test_identifiers.py
  ibis/backends/clickhouse/tests/test_literals.py
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/clickhouse/tests/test_types.py
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/dask/tests/test_schema.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_connection_pool.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_metadata.py
  ibis/backends/impala/tests/test_pandas_interop.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/impala/tests/test_patched.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/impala/tests/test_window.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_join.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_strings.py
  ibis/backends/pandas/tests/execution/test_temporal.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/pandas/tests/test_core.py
  ibis/backends/pandas/tests/test_schema.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/pyspark/tests/test_array.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/pyspark/tests/test_null.py
  ibis/backends/pyspark/tests/test_timecontext.py
  ibis/backends/pyspark/tests/test_window.py
  ibis/backends/pyspark/tests/test_window_context_adjustment.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_functions.py
  setup.cfg
Labels: refactoring, testing, backends

#2897 Deprecate Client.database method and move to BaseBackend
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/client.py
  ibis/backends/dask/client.py
  ibis/backends/mysql/client.py
  ibis/backends/pandas/client.py
  ibis/backends/postgres/client.py
  ibis/backends/pyspark/client.py
Labels: refactoring, backends

#2902 TST: Running and fixing geo tests
  ci/deps/postgres-min.yml
  ci/deps/postgres.yml
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/tests/test_geospatial.py
  ibis/tests/expr/test_geospatial.py
  setup.cfg
Labels: testing, backends - postgres

#2910 CLN: Standardize list_databases and exists_database and move to Backend
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/csv/__init__.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/pandas/__init__.py
  ibis/backends/parquet/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/tests/test_api.py
Labels: refactoring, backends

#2911 CLN: Standardize current_database and move to Backend
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/base/sql/client.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/tests/test_api.py
Labels: refactoring, backends

#2909 CLN: Standardize set_database and move to Backend
  docs/source/api.rst
  ibis/backends/base/__init__.py
  ibis/backends/base/client.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/alchemy/client.py
  ibis/backends/clickhouse/client.py
  ibis/backends/csv/tests/test_csv.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/pandas/__init__.py
  ibis/backends/parquet/tests/test_parquet.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/tests/test_api.py
Labels: refactoring, backends, pending review

#2908 Support summarization of empty data in Pandas backend
  docs/source/release/index.rst
  ibis/backends/pandas/aggcontext.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/expr/schema.py
Labels: bug, backends - pandas, backends - dask

#2917 Do not print full tree repr in resolve_name error message
  ibis/expr/operations.py
Labels: expressions
