Repository ibis-project/ibis, pull requests merged in 2021-01, with the labels that each got.

#2576 TST: Refactor backend tests
  ci/run_tests.sh
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/csv/tests/conftest.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/hdf5/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mysql/tests/__init__.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/omniscidb/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/parquet/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/spark/tests/conftest.py
  ibis/backends/spark/tests/test_udf.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/__init__.py
  ibis/backends/tests/base.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_geospatial.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_nettypes.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_union.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  ibis/tests/all/conftest.py
  ibis/tests/backends.py
Labels: backends, refactoring, testing

#2563 CLN: Remove OmniSciDB backend
  .github/workflows/main.yml
  Makefile
  ci/.env
  ci/backends-markers.sh
  ci/backends-to-start.sh
  ci/datamgr.py
  ci/deps/omniscidb.yml
  ci/docker-compose.yml
  ci/dockerize.sh
  ci/omniscidb.conf
  ci/recipe/meta.yaml
  ci/schema/omniscidb.sql
  docs/source/backends/index.rst
  docs/source/backends/omnisci.rst
  ibis/__init__.py
  ibis/backends/omniscidb/__init__.py
  ibis/backends/omniscidb/client.py
  ibis/backends/omniscidb/compiler.py
  ibis/backends/omniscidb/ddl.py
  ibis/backends/omniscidb/dtypes.py
  ibis/backends/omniscidb/identifiers.py
  ibis/backends/omniscidb/operations.py
  ibis/backends/omniscidb/tests/__init__.py
  ibis/backends/omniscidb/tests/conftest.py
  ibis/backends/omniscidb/tests/test_client.py
  ibis/backends/omniscidb/tests/test_operations.py
  setup.cfg
  setup.py
Labels: backends - omnisci

#2589 Adding skeleton for new backends API (Backend class)
  ibis/backends/base/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/csv/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/parquet/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/spark/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_api.py
Labels: backends, refactoring

#2594 ENH: Grouping operations in the dask backend
  ibis/backends/dask/execution/arrays.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/numeric.py
  ibis/backends/dask/execution/reductions.py
  ibis/backends/dask/execution/strings.py
  ibis/backends/dask/execution/structs.py
  ibis/backends/dask/execution/temporal.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/tests/test_temporal.py
Labels: backends - dask, enhancement

#2597 Adds proper binary column translation for BigQuery compiler
  docs/source/release/index.rst
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/tests/test_compiler.py
Labels: backends - bigquery

#2599 DOC: Using tutorial database in tutorial 4
  docs/source/tutorial/04-More-Value-Expressions.ipynb
  docs/source/tutorial/data/Create-geography-database.ipynb
  docs/source/tutorial/data/geography.db
  docs/source/tutorial/data/geography.json
Labels: docs

#2600 DOC: Making Impala doc not require an Impala server
  docs/source/backends/impala.rst
Labels: backends - impala, docs

#2596 [ENH] Dask backend aggregations
  ibis/backends/dask/core.py
  ibis/backends/dask/execution/aggregations.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/numeric.py
  ibis/backends/dask/execution/reductions.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/tests/execution/conftest.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/dask/tests/test_schema.py
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
Labels: backends - dask, enhancement
