Repository ibis-project/ibis, pull requests merged in 2021-12, with the labels that each got.

#3151 fix: restore the ability to have more than two option levels
  ibis/config.py
  ibis/tests/test_api.py
Labels: compatibility

#3158 ci: move to app generated tokens
  .github/rotate-key-template.md
  .github/workflows/conda-lock-dispatch.yml
  .github/workflows/conda-lock-pr.yml
  .github/workflows/conda-lock.yml
  .github/workflows/create-rotate-key-issue.yml
  .github/workflows/ibis-main.yml
  .github/workflows/update-setup-py.yml
  .rgignore
Labels: ci

#3172 test: remove invalid xfail, and remove unittest usage from test_interactive.py
  ibis/tests/expr/test_interactive.py
Labels: tests

#3170 refactor: remove dead pandas code for handling windows
  ibis/backends/pandas/aggcontext.py
Labels: backends - pandas

#3174 docs: clean up schema documentation
  ibis/expr/api.py
Labels: docs

#3175 docs: fix release notes
  docs/source/release/index.rst
Labels: docs

#3127 fix(sqlite): defer db connection until needed
  ibis/backends/base/__init__.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/database.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/expr/types.py
  ibis/tests/expr/mocks.py
  ibis/tests/expr/test_table.py
Labels: enhancement, breaking change

#3181 ci: clean up issue assignment job
  .github/workflows/assign.yml
Labels: refactoring, ci

#3183 docs: fix rendering of shell scripts in contributing docs
  docs/web/contribute.md
Labels: docs

#3153 feat: allow column_of to take a column expression
  ibis/expr/rules.py
  ibis/tests/expr/test_rules.py
Labels: enhancement, type system

#3196 ci: remove 3.10 from conda lock
  .github/workflows/conda-lock.yml
Labels: ci

#3191 docs: reorganize install section of contribute.md
  poetry.lock
  pyproject.toml
Labels: docs

#3202 ci: remove additional concurrency group from simulate_release job
  .github/workflows/ibis-main.yml
Labels: ci

#3204 ci: fix docs cache key for caching dependencies
  .github/workflows/ibis-main.yml
Labels: docs, ci

#3203 ci: skip ci when running condalock
  .github/workflows/conda-lock.yml
Labels: ci

#3206 ci: fix email addresses of bots
  .github/rotate-key-template.md
  .github/workflows/auto-rebase.yml
  .github/workflows/check-setup-py.yml
  .github/workflows/conda-lock.yml
  .github/workflows/create-rotate-key-issue.yml
  .github/workflows/ibis-main.yml
  .github/workflows/update-setup-py.yml
Labels: ci

#3217 ci: add codeql security analysis workflow
  .github/workflows/codeql-analysis.yml
Labels: ci
