Repository ibis-project/ibis, pull requests merged in 2022-07, with the labels that each got.

#4174 test(impala): use pytest for mocking impala
  ibis/backends/impala/tests/test_patched.py
Labels: refactor, tests

#4173 chore: remove unused overrides
  patches/datafusion-macos.patch
  patches/templates.patch
  patches/watchdog-force-kqueue.patch
  poetry-overrides.nix
Labels: refactor, dependencies, developer-tools

#4178 chore(deps): remove more poetry overrides
  poetry-overrides.nix
Labels: refactor, dependencies

#4180 ci: only run coverage on pull requests
  codecov.yml
Labels: ci, developer-tools

#4184 test(deps): remove remaining use of `pkg_resources`
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/pandas/tests/execution/test_temporal.py
  ibis/tests/test_version.py
Labels: refactor, tests

#4186 ci: run condalock less frequently
  .github/workflows/conda-lock.yml
Labels: ci

#4187 feat(api): make struct metadata more convenient to access
  ibis/expr/types/structs.py
  ibis/tests/expr/test_value_exprs.py
Labels: feature, expressions

#4191 chore: remove unnecessary poetry override
  poetry-overrides.nix
Labels: refactor, dependencies

#4192 feat: add `__getattr__` support to `StructValue`
  ibis/expr/types/structs.py
  ibis/tests/expr/test_struct.py
Labels: feature

#4196 fix(pandas): force backend options registration on trace.enable() calls
  ibis/backends/dask/trace.py
  ibis/backends/pandas/trace.py
Labels: bug

#4197 ci: remove nightly rebase of 4.x.x
  .github/workflows/ibis-rebase-nightly.yml
Labels: ci

#4199 refactor(tests): move array expression tests to `test_value_exprs.py`
  ibis/tests/expr/test_array.py
  ibis/tests/expr/test_value_exprs.py
Labels: refactor, tests, expressions

#4225 fix(duckdb): ensure that paths with non-extension `.` chars are parsed correctly
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: bug, backends - duckdb

#4234 refactor(analysis): remove `"tmp"` name from subquery filter rewriting
  ibis/expr/analysis.py
Labels: refactor

#4240 ci: delay codecov reporting
  codecov.yml
Labels: ci

#4241 feat(api): add cume_dist operation
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/window.py
  ibis/backends/clickhouse/registry.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_window.py
  ibis/expr/operations/analytic.py
  ibis/expr/types/generic.py
Labels: feature, backends

#4239 chore(deps): drop `cached-property` dependency
  ibis/backends/base/__init__.py
  ibis/expr/operations/relations.py
  ibis/expr/types/core.py
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
  ibis/expr/window.py
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.py
Labels: refactor, dependencies

#4235 refactor: remove dead poetry-overrides
  .pre-commit-config.yaml
  default.nix
  nix/default.nix
  poetry-overrides.nix
  shell.nix
Labels: refactor, developer-tools

#4237 fix(sqlalchemy): fix parsing and construction of nested array types
  ci/schema/clickhouse.sql
  ci/schema/duckdb.sql
  ci/schema/postgresql.sql
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/test_array.py
Labels: bug, backends - sqlalchemy

#4245 chore(dev-deps): remove constraints from transitive dev dependencies
  ibis/expr/types/core.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies, developer-tools

#4251 chore(dev): bring back `builtins.toPath` for `shell.nix` convenience
  shell.nix
Labels: developer-tools

#4253 ci: Track `__init__.py` files in coverage
  .coveragerc
  codecov.yml
Labels: ci, developer-tools

#4250 fix(api): ensure that `Deferred` objects work in aggregations
  ibis/backends/tests/test_aggregation.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
Labels: bug, expressions

#4238 feat(api): add `.tables` accessor to `BaseBackend`
  ibis/backends/base/__init__.py
  ibis/backends/tests/test_api.py
Labels: feature, ux, backends

#4255 feat(duckdb): return the `ir.Table` instance from DuckDB's `register` API
  ibis/backends/duckdb/__init__.py
Labels: feature, backends - duckdb

#4264 feat(clickhouse): add ability to pass arbitrary kwargs to Clickhouse driver settings
  ibis/backends/clickhouse/__init__.py
Labels: feature, backends - clickhouse

#4265 ci: try to fix tpc queries
  .github/workflows/ibis-tpch-queries.yml
Labels: ci, dependencies

#4271 fix(impala): A delimited table explicitly declare stored as textfile
  ibis/backends/impala/ddl.py
  ibis/backends/impala/tests/test_ddl_compilation.py
Labels: bug, backends - impala

#4257 refactor: remove backend specific test_binary_arithmetic which are already in larger suite
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/postgres/tests/test_functions.py
Labels: refactor, tests

#4276 Ibis v3.1.0 Release Blogpost
  docs/blog/Ibis-version-3.1.0-release.md
  docs/stylesheets/extra.css
  justfile
Labels: docs

#4281 chore: regenerate lockfiles
  .github/workflows/check-generated-files.yml
  ci/release/verify.sh
  poetry.lock
  requirements.txt
  shell.nix
Labels: ci

#4283 docs: remove underspecified UDF doc page
  docs/user_guide/udfs.md
Labels: docs
