Repository ibis-project/ibis, pull requests merged in 2022-04, with the labels that each got.

#3691 chore: remove unused patch
  patches/Cargo.lock.patch
Labels: backends - datafusion, dependencies

#3675 docs: set up versioned documentation
  .github/workflows/ibis-docs-lint.yml
  mkdocs.yml
  patches/templates.patch
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  shell.nix
Labels: docs, ci

#3694 refactor(ci): clean up docs lint ci
  .github/workflows/ibis-docs-lint.yml
Labels: refactor, ci

#3696 docs: convert absolute links to relative links
  .github/workflows/ibis-main-skip-helper.yml
  docs/backends/template.md
  docs/index.md
  docs/user_guide/udfs.md
Labels: docs

#3699 ci: fix release notes path in semantic-release config
  .releaserc.json
Labels: docs, ci

#3700 docs: add .sql and .alias method docstrings
  ibis/expr/types/relations.py
Labels: docs

#3707 chore(dev-deps): use a headless jdk in nix shell
  shell.nix
Labels: dependencies, developer-tools

#3710 feat(repr): add interval info to interval repr
  ibis/expr/format.py
Labels: feature, expressions

#3711 test: fix pyspark cleanup
  ibis/backends/pyspark/tests/conftest.py
Labels: tests, backends - pyspark

#3713 test: localize table creation instead of altering existing batting table
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/test_dot_sql.py
Labels: tests, backends - pyspark

#3712 chore: disable semrel PR/issue commenting
  .releaserc.json
Labels: ci, developer-tools

#3715 refactor(sqlalchemy): use exported_columns instead of corresponding_column
  ibis/backends/base/sql/alchemy/registry.py
Labels: refactor, backends - sqlalchemy, expressions

#3714 ci: run renovate over docker-compose setup
  .github/renovate.json
Labels: analytics

#3721 chore(deps): increase sqlalchemy lower bound to 1.4
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/postgres/registry.py
  poetry.lock
  pyproject.toml
  setup.py
Labels: backends - sqlalchemy, dependencies, breaking change

#3722 chore(dev): make it easier to run benchmarks
  justfile
Labels: developer-tools

#3726 ci: comment on commit when benchmarks exceed threshold
  .github/workflows/ibis-docs-lint.yml
Labels: ci, developer-tools

#3703 fix: filter SettingWithCopyWarning to silence user-facing warning
  ibis/backends/pandas/execution/selection.py
  pyproject.toml
Labels: ux, backends - pandas, backends - dask

#3728 feat(ver): dynamic version identifiers
  .gitignore
  .releaserc.json
  ci/release/dry_run.sh
  ci/release/run.sh
  ibis/__init__.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  setup.py
Labels: ci

#3732 fix(annotable): allow optional arguments at any position
  ibis/common/grounds.py
  ibis/common/tests/test_grounds.py
Labels: bug

#3733 style(release): use conventional-commits style
  .releaserc.json
  ci/release/dry_run.sh
  ci/release/run.sh
Labels: ci, developer-tools

#3744 ci: add codecov upload reports
  .github/workflows/check-setup-py.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
Labels: ci

#3743 refactor(benchmarks): add compile benchmarks for backends where possible; add benchmark groups
  .github/workflows/ibis-docs-lint.yml
  ibis/tests/benchmarks/test_benchmarks.py
  poetry.lock
  pyproject.toml
Labels: tests

#3746 docs: cleanup the backends section of the README
  README.md
  docs/backends/DuckDB.md
  setup.py
Labels: docs

#3776 chore(tutorial): update usage of distinct in tutorial notebooks
  docs/tutorial/04-More-Value-Expressions.ipynb
Labels: docs

#3774 chore(dev): make it easier to render the changelog
  shell.nix
Labels: docs, developer-tools

#3775 chore(release): move latest alias to release
  .github/workflows/ibis-docs-lint.yml
Labels: docs, ci

#3755 fix(sql): retain column names for named ColumnExprs
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_temporal.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_non_tabular_results.py
Labels: bug, expressions

#3797 build(nix): remove more upstream'd poetry overrides
  poetry-overrides.nix
Labels: dependencies

#3803 fix(duckdb): fix array column type discovery on leaf tables and add tests
  ci/schema/clickhouse.sql
  ci/schema/duckdb.sql
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/test_array.py
Labels: backends - pandas, backends - clickhouse, backends - pyspark, backends - duckdb

#3805 chore(dev): ignore mass import refactor in git-blame
  .git-blame-ignore-revs
  .gitconfig
Labels: developer-tools

#3816 docs: rebrand OmniSciDB to HeavyAI
  docs/backends/index.md
Labels: docs

#3783 test: run tpc-queries on CI
  .github/workflows/ibis-tpch-queries.yml
Labels: ci

#3793 ci: run macOS in nix build
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  docs/contribute/01_environment.md
  patches/datafusion-macos.patch
  patches/watchdog-force-kqueue.patch
  poetry-overrides.nix
Labels: ci

#3817 ci: split release docs build into separate workflow
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
Labels: docs, ci

#3823 docs: Adding updates to breaking changes section and materialize()
  docs/blog/Ibis-version-3.0.0-release.md
Labels: docs

#3786 refactor(ops): add StringContains operation
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/dask/execution/strings.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/duckdb/registry.py
  ibis/backends/pandas/execution/strings.py
  ibis/backends/pyspark/compiler.py
  ibis/expr/operations/strings.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_string.py
  ibis/tests/sql/test_compiler.py
Labels: developer-api, refactor, backends

#3830 fix(build): replace version before exec plugin runs
  .releaserc.json
Labels: bug

#3831 fix(docs): fix tempdir location for docs build
  shell.nix
Labels: docs, ci

#3837 ci: verify version in built wheel during prepare phase
  ci/release/prepare.sh
Labels: ci

#3838 chore(deps): unconstrain jinja2 and markupsafe
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
Labels: dependencies

#3839 chore(deps): lock file maintenance
  poetry.lock
  pyproject.toml
Labels: dependencies
