Repository ibis-project/ibis, pull requests merged in 2022-10, with the labels that each got.

#4609 build: use `./nix` as the source of nixpkgs instead of `nixos-unstable`
  ci/release/dry_run.sh
  ci/release/prepare.sh
  ci/release/publish.sh
  ci/release/run.sh
  ci/release/verify.sh
  default.nix
  dev/lockfile_diff.sh
  dev/update-lock-files.sh
  nix/default.nix
  shell.nix
Labels: dependencies, developer-tools

#4588 refactor(ir): enforce slots definitions for Expression subclasses
  ibis/common/grounds.py
  ibis/common/tests/test_grounds.py
  ibis/expr/format.py
  ibis/expr/types/core.py
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
  ibis/expr/window.py
Labels: refactor

#4579 feat(duckdb): enable registration of parquet files over http or s3
  ibis/backends/duckdb/__init__.py
Labels: feature, backends - duckdb

#4615 test(snowflake): fix `test_export` and skip tests if envar isn't defined
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/tests/test_export.py
Labels: tests, backends - snowflake

#4600 depr: deprecate `Table.sort_by` in favor of `Table.order_by`
  docs/example.py
  docs/ibis-for-sql-programmers.ipynb
  docs/tutorial/01-Introduction-to-Ibis.ipynb
  docs/tutorial/04-More-Value-Expressions.ipynb
  docs/tutorial/07-Analytics-Tools.ipynb
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/conftest.py
  ibis/backends/dask/tests/execution/conftest.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/pandas/tests/execution/conftest.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_set_ops.py
  ibis/expr/api.py
  ibis/expr/operations/relations.py
  ibis/expr/types/analytic.py
  ibis/expr/types/relations.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/test_format.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/expr/test_visualize.py
  ibis/tests/sql/test_select_sql.py
  ibis/tests/sql/test_sqlalchemy.py
  ibis/tests/sqlgolden/test_join_with_limited_table.sql
  ibis/tests/sqlgolden/test_multiple_joins.sql
  ibis/tests/sqlgolden/test_order_by_on_limit_yield_subquery.sql
Labels: refactor, ux

#4617 depr: deprecate `Table.groupby` alias in favor of `Table.group_by`
  docs/tutorial/06-ComplexFiltering.ipynb
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/pandas/tests/execution/conftest.py
  ibis/backends/pandas/tests/execution/test_join.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_structs.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/expr/types/relations.py
  ibis/expr/visualize.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_visualize.py
  ibis/tests/sql/test_compiler.py
  ibis/udf/vectorized.py
Labels: refactor, ux

#4620 chore: add black reformat commit to git blame ignore revs
  .git-blame-ignore-revs
Labels: developer-tools

#4628 ci: don't exit with non-zero code always [skip ci]
  .github/workflows/ci-data.yml
Labels: ci

#4649 fix: fix `table.mutate` with deferred named expressions
  ibis/expr/analysis.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: bug

#4625 build: upgrade builds to poetry 1.2
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
  .github/workflows/ibis-main.yml
  .github/workflows/ibis-snowflake.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  ci/release/prepare.sh
  ci/release/publish.sh
  ci/release/run.sh
  ci/release/verify.sh
  default.nix
  dev/lockfile_diff.sh
  dev/update-lock-files.sh
  ibis/backends/dask/client.py
  ibis/backends/dask/execution/strings.py
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/strings.py
  ibis/backends/pandas/execution/structs.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/udf.py
  ibis/backends/polars/compiler.py
  ibis/backends/pyspark/tests/test_null.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  ibis/tests/benchmarks/test_benchmarks.py
  justfile
  mkdocs.yml
  nix/default.nix
  nix/patches/py-polars.patch
  nix/sources.json
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
  shell.nix
Labels: ci, dependencies, developer-tools

#4681 chore(nix): override duckdb to respect NIX_BUILD_CORES
  poetry-overrides.nix
Labels: developer-tools

#4706 ci(docs): fix build
  nix/default.nix
Labels: docs, ci

#4680 docs: improve the docstring of the generic connect method
  ibis/backends/base/__init__.py
Labels: docs

#4708 ci: remove krb5 system dependency installs from ci
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
Labels: analytics, ci

#4651 fix: avoid renaming known equal columns for inner joins with equality predicates
  ibis/backends/tests/test_join.py
  ibis/expr/operations/relations.py
  ibis/tests/expr/test_table.py
Labels: ux, breaking change

#4725 chore(dev-deps): bump `pytest`, `pytest-xdist`, `pytest-benchmark` to latest versions
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: tests, dependencies

#4713 fix(ux): improve error messages for rlz.comparable failures
  ibis/expr/builders.py
  ibis/expr/operations/logical.py
  ibis/expr/rules.py
  ibis/tests/expr/test_value_exprs.py
Labels: ux

#4716 feat(duckdb): pass through kwargs to file loaders
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: feature, backends - duckdb

#4679 docs: added memtable howto guide
  docs/how_to/memtable-join.md
Labels: docs

#4727 test(pyspark): `notimpl` substr test
  ibis/backends/tests/test_string.py
Labels: tests, backends - pyspark

#4633 feat(insert): add support for list+dict to sqlalchemy backends
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/tests/test_client.py
Labels: feature, backends - sqlalchemy

#4692 feat: support both `postgresql://` and `postgres://` in `ibis.connect`
  ibis/backends/base/__init__.py
  ibis/backends/tests/test_client.py
Labels: ux

#4715 feat(docs): first draft of Ibis for pandas users
  docs/SUMMARY.md
  docs/ibis-for-pandas-users.ipynb
Labels: docs

#4623 feat: add way to specify sqlglot dialect on backend
  ibis/backends/clickhouse/__init__.py
  ibis/backends/impala/__init__.py
  ibis/common/pretty.py
Labels: feature, ux

#4735 fix(duckdb): rereflect sqla table on re-registration
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: bug, backends - duckdb

#4734 fix(api): ensure that window functions are propagated
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/clickhouse/registry.py
  ibis/backends/dask/execution/reductions.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/polars/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_window.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/strings.py
  ibis/expr/types/generic.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_operations.py
Labels: bug, backends

#4745 ci: test against postgres 15
  docker/postgres/Dockerfile
Labels: backends - postgres, ci

#4739 test(backend): actually test a window function inside of coalesce
  ibis/backends/tests/test_window.py
Labels: tests, backends

#4736 docs: fix snowflake doc link in readme.md
  README.md
Labels: docs, backends - snowflake
