Repository ibis-project/ibis, pull requests merged in 2022-08, with the labels that each got.

#4299 revert: chore(deps): update dependency flake8 to v5
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies

#4226 docs: fix relative links in tutorial
  docs/tutorial/01-Introduction-to-Ibis.ipynb
  docs/tutorial/04-More-Value-Expressions.ipynb
Labels: docs

#4229 feat(api): allow transmute-style select method
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: feature, ux

#4279 Pin Mariadb to 10.8.2
  docker-compose.yml
Labels: ci, dependencies

#4302 fix(pandas): Fix anti-joins
  ibis/backends/pandas/execution/join.py
  ibis/backends/tests/test_join.py
Labels: bug, backends - pandas

#4222 feat(ux): use `rich` to format `Table.info()` output
  ibis/backends/tests/test_generic.py
  ibis/common/grounds.py
  ibis/expr/types/relations.py
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.py
Labels: feature, ux

#4285 docs: add how-to section to docs
  docs/SUMMARY.md
  docs/how_to/topk.md
  docs/user_guide/topk.md
Labels: docs

#4259 feat(duckdb): unsigned integer support
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/tests/test_client.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/temporal.py
  ibis/expr/rules.py
Labels: feature, type system, backends - duckdb

#4230 feat(api): add `StructValue.lift()` and `Table.unpack(*args)` API for projecting struct fields
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
  ibis/tests/expr/test_struct.py
Labels: feature, ux

#4321 fix(dask): set dask upper bound due to large scale test breakage
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.py
Labels: tests, ci, backends - dask, dependencies

#4325 fix(backends): only recommend installing ibis-foo when foo is a known backend
  ibis/__init__.py
  ibis/tests/test_api.py
Labels: ux

#4344 build: show more release notes; introduce `depr` commit type for deprecations
  .commitlintrc.json
  .conventionalcommits.js
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-docs-lint.yml
  .releaserc.js
  .releaserc.json
  ci/release/dry_run.sh
  ci/release/verify.sh
  dev/lockfile_diff.sh
  nix/default.nix
  shell.nix
Labels: ci, developer-tools

#4341 feat(log): make BaseSQLBackend._log print by default
  ibis/backends/base/sql/__init__.py
Labels: feature, ux, backends - sql

#4345 refactor(internals): move struct operations to their own module
  ibis/expr/operations/__init__.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/structs.py
Labels: refactor

#4348 test(datafusion): xfail test on older datafusion versions
  ibis/backends/conftest.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_vectorized_udf.py
  poetry.lock
  pyproject.toml
Labels: refactor, tests, backends - datafusion

#4330 fix(decimal): add decimal type inference
  ibis/expr/rules.py
  ibis/tests/expr/test_decimal.py
Labels: bug, expressions, type system

#4356 ci: use dyff instead of jd for readable poetry.lock diffing
  ci/release/dry_run.sh
  ci/release/verify.sh
  dev/lockfile_diff.sh
  poetry.lock
  requirements.txt
  shell.nix
Labels: ci, developer-tools

#4203 fix(duckdb): support large timestamps by way of pyarrow.Table
  ibis/backends/duckdb/__init__.py
  ibis/backends/pandas/client.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/schema.py
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.py
Labels: bug, backends - duckdb

#4361 ci: remove most usage of `PYTHONHASHSEED`
  .github/workflows/check-generated-files.yml
  ci/release/verify.sh
  dev/lockfile_diff.sh
  dev/poetry2setup
  dev/update-lock-files.sh
  docs/contribute/05_maintainers_guide.md
  poetry-overrides.nix
  poetry.lock
  requirements.txt
  setup.py
Labels: ci, developer-tools

#4363 feat(clickhouse): add enum, ipaddr, json, lowcardinality to type parser
  ibis/backends/clickhouse/datatypes.py
  ibis/backends/clickhouse/tests/test_types.py
Labels: backends - clickhouse, type system

#4367 chore: revert `PYTHONHASHSEED` removal
  dev/lockfile_diff.sh
  dev/poetry2setup
  dev/update-lock-files.sh
  docs/contribute/05_maintainers_guide.md
  poetry.lock
  setup.py
Labels: ci, developer-tools

#4368 feat(mysql): register BLOB types
  ibis/backends/base/sql/alchemy/datatypes.py
Labels: backends - mysql, type system

#4373 test(mysql): check that we correctly infer blob types from sqlalchemy
  ibis/backends/mysql/tests/test_client.py
Labels: tests, backends - mysql, type system

#4372 test(ir): ensure that `Node` instances doesn't have `__dict__`
  ibis/tests/expr/test_operations.py
Labels: tests

#4386 docs: add how-to for ibis+duckdb register
  docs/how_to/duckdb_register.md
Labels: docs

#4387 fix(pyspark): make sure `ibis.connect` works with pyspark
  ibis/backends/base/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_client.py
Labels: bug, ux, backends - pyspark

#4390 fix(backend): ensure that limit chains respect inner limits
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/tests/test_api.py
  ibis/tests/sql/test_select_sql.py
Labels: bug, backends

#4392 ci: only run auto-rebase in main repo
  .github/workflows/auto-rebase.yml
Labels: ci

#4395 ci: remove pep8speaks
  .pep8speaks.yml
Labels: ci

#4399 test(pyspark): enable `random` test
  ibis/backends/tests/test_numeric.py
Labels: bug, tests, backends - pyspark

#4323 feat(api): add `ibis.memtable` API to support in-memory table expressions
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/pandas/client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_client.py
  ibis/common/grounds.py
  ibis/expr/api.py
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/rules.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: ux, expressions, backends

#4400 refactor(ir): remove sch.HasSchema and introduce ops.Projection base class for ops.Selection
  ibis/expr/analysis.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
  ibis/tests/expr/test_format.py
Labels: refactor

#4417 refactor(ir): simplify SortKey construction using rules
  ibis/common/validators.py
  ibis/expr/api.py
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/rules.py
  ibis/expr/types/relations.py
  ibis/expr/window.py
Labels: refactor

#4429 fix(compiler): use `repr` for SQL string `VALUES` data
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/pyspark/__init__.py
Labels: bug, backends - impala, backends - pyspark

#4425 refactor(ir): make all value operations 'Named' for more consistent naming semantics
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/base/sql/registry/binary_infix.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/dask/execution/aggregations.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/util.py
  ibis/backends/duckdb/registry.py
  ibis/backends/impala/tests/test_case_exprs.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/join.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/execution/util.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_geospatial.py
  ibis/backends/postgres/udf.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/tests/test_array.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/analysis.py
  ibis/expr/datatypes/core.py
  ibis/expr/format.py
  ibis/expr/operations/analytic.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/operations/structs.py
  ibis/expr/types/analytic.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/numeric.py
  ibis/expr/types/structs.py
  ibis/expr/visualize.py
  ibis/tests/expr/test_operations.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_non_tabular_results.py
  ibis/tests/sql/test_select_sql.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: refactor

#4427 refactor(ir): split out table count into `CountStar` operation
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/clickhouse/registry.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/impala/tests/test_bucket_histogram.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/operations/reductions.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_non_tabular_results.py
  ibis/tests/sql/test_select_sql.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: refactor

#4447 fix(clickhouse): add IPv4/IPv6 literal inference
  ibis/backends/clickhouse/registry.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/generic.py
  ibis/tests/expr/test_value_exprs.py
Labels: bug, feature, backends - clickhouse, type system

#4440 feat: implement dropna for SQL backends
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/expr/operations/relations.py
  ibis/expr/types/relations.py
Labels: feature, expressions, backends - sql

#4450 fix(clickhouse): fix listing tables from databases with no tables
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
Labels: bug, backends - clickhouse
