Repository ibis-project/ibis, pull requests merged in 2022-12, with the labels that each got.

#4586 fix: pandas/dask now cast int<->timestamp as seconds since epoch
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/execution/test_temporal.py
  ibis/backends/tests/test_temporal.py
Labels: backends - pandas, backends - dask, breaking change

#4941 chore(deps): move nix setup to flakes
  .envrc
  .gitattributes
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .github/workflows/update-deps.yml
  ci/release/dry_run.sh
  ci/release/prepare.sh
  ci/release/publish.sh
  ci/release/run.sh
  ci/release/verify.sh
  default.nix
  dev/update-datafusion.sh
  dev/update-lock-files.sh
  dev/update-polars.sh
  flake.lock
  flake.nix
  nix/default.nix
  nix/sources.json
  nix/sources.nix
  poetry-overrides.nix
  shell.nix
Labels: dependencies, nix

#4946 test(bigquery): fix failing udf test
  ibis/backends/bigquery/tests/system/udf/snapshots/test_udf_execute/test_multiple_calls_has_one_definition/out.sql
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
Labels: tests, backends - bigquery

#4954 test(mssql): fix test so that ordering is consistent
  ibis/backends/tests/test_client.py
Labels: tests, backends - mssql

#4953 chore(dev-deps): add flake compatibility for nix-shell et al
  default.nix
  flake.lock
  flake.nix
  shell.nix
Labels: developer-tools, nix

#4958 chore: run pyspark tests in parallel
  .github/workflows/ibis-backends.yml
Labels: tests, ci, backends - pyspark

#4957 docs(pandas-udf-examples): UDF Examples for Pandas have the incorrect import path.
  docs/backends/Pandas.md
Labels: bug, docs

#4947 feat(common): support function annotations with both typehints and rules
  ibis/common/annotations.py
  ibis/common/grounds.py
  ibis/common/tests/test_annotations.py
  ibis/common/typing.py
  ibis/common/validators.py
Labels: refactor

#4964 chore(dev): fix broken local development in the nix environment
  flake.nix
Labels: developer-tools, nix

#4967 fix(clickhouse): fix list_tables to use database name
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
Labels: bug, backends - clickhouse

#4975 ci: remove `python-dev`
  .github/workflows/ibis-backends.yml
Labels: ci

#4979 chore(dev-deps): remove unused development dependencies
  .prettierignore
  justfile
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, dependencies, developer-tools

#4968 fix(clickhouse): use clickhouse's dbapi
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/tests/test_export.py
Labels: bug, feature, backends - clickhouse

#4976 chore(deps): increase dask and pandas upper bounds
  .github/workflows/ibis-backends.yml
  ibis/backends/dask/execution/numeric.py
  ibis/backends/dask/execution/temporal.py
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_maps.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/dask/tests/execution/test_structs.py
  ibis/backends/dask/tests/execution/test_temporal.py
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/udf.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_vectorized_udf.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: backends, dependencies

#4984 test: rename files that may conflict with case-insensitive filesystems
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/day-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/day-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/hour-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/hour-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/micros-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/micros-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/millis-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/millis-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/minute-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/minute-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/month-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/month-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/quarter-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/quarter-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/second-time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/second-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/week-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/week-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/year-date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_temporal_truncate/year-timestamp/out.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
Labels: tests, developer-tools

#4980 feat(trino): add trino backend
  .github/workflows/ibis-backends.yml
  docker-compose.yml
  docker/trino/catalog/postgresql.properties
  docker/trino/jvm.config
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/duckdb/registry.py
  ibis/backends/mysql/compiler.py
  ibis/backends/mysql/registry.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/registry.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_pretty.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_window.py
  ibis/backends/trino/__init__.py
  ibis/backends/trino/compiler.py
  ibis/backends/trino/datatypes.py
  ibis/backends/trino/registry.py
  ibis/backends/trino/tests/conftest.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
Labels: feature

#4987 docs(trino): add backend docs
  README.md
  docs/backends/Trino.md
Labels: docs, backends - trino

#4989 feat(trino): add some basic aggregation ops
  ibis/backends/tests/test_aggregation.py
  ibis/backends/trino/registry.py
Labels: feature, backends - trino

#4992 test: remove xfail from xpassing snowflake tests
  ibis/backends/tests/test_temporal.py
Labels: tests, backends - snowflake

#4993 chore(deps): lock file maintenance
  flake.nix
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_struct.py
  nix/patches/py-polars.patch
  poetry-overrides.nix
  poetry.lock
  requirements.txt
Labels: dependencies

#5016 chore(dev-deps): remove upstreamed poetry2nix overrides
  flake.lock
  poetry-overrides.nix
Labels: dependencies, developer-tools, nix

#5020 chore(dev-deps): remove `click` dependency
  ci/make_geography_db.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, dependencies, developer-tools

#5022 chore(deps): bump docformatter and run it over the codebase
  .pre-commit-config.yaml
  ibis/backends/base/sql/compiler/base.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base/sql/ddl.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/dask/udf.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/metadata.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pyspark/ddl.py
  ibis/common/caching.py
  ibis/common/graph.py
  ibis/common/grounds.py
  ibis/common/tests/test_grounds.py
  ibis/expr/analysis.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/logical.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
  ibis/expr/types/generic.py
  ibis/expr/types/strings.py
  ibis/expr/types/temporal.py
  ibis/util.py
  poetry.lock
  requirements.txt
Labels: dependencies

#5026 Simplify ops.ArrayColumn in Postgres backend
  ibis/backends/postgres/registry.py
Labels: refactor, backends - postgres

#5024 Avoid roundtripping to expression for IFF
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/alchemy/translator.py
  ibis/backends/mysql/registry.py
Labels: refactor, expressions

#5027 test(perf): speed up extremely slow join test
  ibis/backends/tests/test_join.py
Labels: tests, performance

#5028 refactor: simplify ops.ArrayColumn in alchemy backend
  ibis/backends/base/sql/alchemy/registry.py
Labels: refactor, backends - sqlalchemy

#5032 chore(deps): bump testing jdk to 17
  .github/workflows/ibis-backends.yml
  flake.nix
Labels: ci, backends - pyspark, dependencies

#5031 chore(deps): make the `regex` dep optional
  ibis/backends/pandas/execution/strings.py
  ibis/backends/sqlite/udf.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, backends - sqlite, backends - pandas, backends - dask, dependencies

#5029 chore(dev): add `flake8-noqa`
  .github/workflows/ibis-docs-lint.yml
  ibis/backends/base/sql/alchemy/geospatial.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
  ibis/backends/bigquery/udf/core.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/execution/decimal.py
  ibis/backends/dask/execution/maps.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/test_pandas_interop.py
  ibis/backends/pandas/execution/decimal.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_temporal.py
  ibis/backends/postgres/registry.py
  ibis/backends/sqlite/tests/snapshots/test_client/test_compile_toplevel/out.sql
  ibis/backends/sqlite/tests/test_client.py
  ibis/common/grounds.py
  ibis/expr/api.py
  ibis/expr/datatypes/__init__.py
  ibis/expr/schema.py
  ibis/expr/types/binary.py
  ibis/expr/types/category.py
  ibis/expr/types/collections.py
  ibis/expr/types/generic.py
  ibis/expr/types/inet.py
  ibis/expr/types/json.py
  ibis/expr/types/logical.py
  ibis/expr/types/maps.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
  ibis/expr/types/temporal.py
  ibis/expr/types/uuid.py
  ibis/tests/expr/test_visualize.py
  ibis/tests/expr/test_window_functions.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, dependencies, developer-tools

#5021 build(perf): use wheels with nix
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  ibis/backends/conftest.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/tests/test_aggregation.py
  nix/patches/datafusion.patch
  nix/patches/py-polars.patch
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, ci, performance, dependencies, developer-tools, nix

#5030 chore(deps): bump duckdb lower bound
  ibis/backends/duckdb/registry.py
  poetry.lock
  pyproject.toml
Labels: dependencies, backends - duckdb

#5034 ci: reduce pyspark flakiness by running tests serially
  .github/workflows/ibis-backends.yml
Labels: ci, backends - pyspark

#5036 ci: re-enable release notes in `simulate_release`
  ci/release/dry_run.sh
Labels: docs, ci

#5038 ci: increase GH API rate limit for nix updates and don't `fail-fast`
  .github/workflows/update-deps.yml
Labels: ci, dependencies, nix

#5040 test: prevent clickhouse test `list_tables` flakiness
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/clickhouse/tests/test_client.py
Labels: tests, ci, backends - clickhouse

#5043 fix(postgres): fix array_index operation
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_array.py
Labels: bug, backends - postgres

#5050 feat(sql): add ops.StringSQLILike
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/string.py
  ibis/backends/tests/test_string.py
Labels: feature, backends - sql

#4853 feat(ir): prototype for parsing SQL into an ibis expression
  .pre-commit-config.yaml
  ibis/backends/tests/test_sql.py
  ibis/common/pretty.py
  ibis/expr/api.py
  ibis/expr/decompile.py
  ibis/expr/sql.py
  ibis/tests/expr/test_sql.py
  ibis/tests/sql/snapshots/test_compiler/test_subquery_where_location/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_order_by_on_limit_yield_subquery/decompiled.py
  justfile
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: feature, expressions, backends - sql

#5051 refactor(dev-deps): remove unnecessary `poetry2nix` overrides
  flake.lock
  poetry-overrides.nix
Labels: refactor, dependencies, nix

#5003 refactor: split up custom nix code; remove unused derivations
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
  .github/workflows/nix.yml
  .github/workflows/update-deps.yml
  ci/release/dry_run.sh
  ci/release/prepare.sh
  ci/release/publish.sh
  ci/release/run.sh
  ci/release/verify.sh
  flake.lock
  flake.nix
  nix/ibis.nix
  nix/overlay.nix
Labels: refactor, developer-tools, nix

#5055 build(docs): fix broken docs builds and remove unnecessary `ibisDocsEnv`
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
  flake.nix
  nix/overlay.nix
Labels: docs, ci, dependencies, nix

#5056 fix: support `arbitrary` with no arguments
  ibis/backends/bigquery/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/operations/reductions.py
  ibis/expr/types/generic.py
  ibis/tests/expr/test_value_exprs.py
Labels: expressions, backends - sql

#5059 test: relax the assertion on `list_tables` content vs accessor
  ibis/backends/dask/tests/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/test_api.py
  pyproject.toml
Labels: tests, backends

#5053 refactor(ir): better encapsulate graph traversal logic, schema and datatype objects are not traversable anymore
  .commitlintrc.json
  ibis/common/annotations.py
  ibis/common/graph.py
  ibis/common/grounds.py
  ibis/common/tests/test_graph.py
  ibis/common/tests/test_grounds.py
  ibis/expr/decompile.py
  ibis/expr/operations/core.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_decompile.py
  ibis/tests/expr/test_operations.py
  ibis/tests/sql/snapshots/test_compiler/test_difference_project_column/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_intersect_project_column/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_subquery_where_location/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_table_difference/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_table_drop_with_filter/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_table_intersect/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_union/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_union_project_column/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_case_in_projection/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_join_just_materialized/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_where_with_between/decompiled.py
  poetry.lock
Labels: refactor, breaking change, type system

#5061 chore(dev): remove codecov PR comments
  codecov.yml
Labels: developer-tools

#4935 test: initial support for property-based testing using hypothesis
  ibis/expr/datatypes/core.py
  ibis/expr/schema.py
  ibis/tests/conftest.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_schema.py
  ibis/tests/strategies.py
  ibis/tests/test_strategies.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, tests

#5063 chore: remove `isort` in favor of `ruff` equivalent
  .pre-commit-config.yaml
  ibis/backends/base/__init__.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/datatypes.py
  ibis/expr/api.py
  ibis/expr/rules.py
  ibis/expr/types/temporal.py
  justfile
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: developer-tools

#5068 fix(docs): make sure data can be downloaded when building notebooks
  docs/ibis-for-pandas-users.ipynb
  docs/ibis-for-sql-programmers.ipynb
  flake.nix
  mkdocs.yml
Labels: bug, docs

#5067 core(dev-deps): replace `docformatter` with `ruff`'s `pydocstyle` support
  .pre-commit-config.yaml
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/ddl.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/udf/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/core.py
  ibis/backends/dask/execution/aggregations.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/trace.py
  ibis/backends/impala/metadata.py
  ibis/backends/impala/udf.py
  ibis/backends/pandas/aggcontext.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/trace.py
  ibis/backends/pandas/udf.py
  ibis/backends/postgres/udf.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/timecontext.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/udf.py
  ibis/common/annotations.py
  ibis/common/dispatch.py
  ibis/common/grounds.py
  ibis/expr/analysis.py
  ibis/expr/builders.py
  ibis/expr/datatypes/value.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/geospatial.py
  ibis/expr/operations/logical.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
  ibis/expr/timecontext.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/udf/vectorized.py
  ibis/util.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: docs, developer-tools

#5070 build(nix): use the right python version for nix builds
  nix/overlay.nix
Labels: ci, nix

#5074 feat(sqlalchemy): in-memory tables have name in generated SQL
  ibis/backends/base/sql/alchemy/query_builder.py
Labels: feature

#5077 fix: don't fuse filters & selections that contain window functions
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_window.py
  ibis/expr/analysis.py
Labels: bug, expressions

#5075 ci: disable hypothesis too-slow healthcheck
  ibis/tests/conftest.py
Labels: tests, ci, performance

#5081 feat(bigquery): add support for correlation
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - bigquery

#5076 feat(bigquery): implement `argmin` and `argmax`
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - bigquery

#5087 fix(mssql): use double-dollar sign to prevent from interpolating a value
  .github/workflows/ibis-backends.yml
  docker-compose.yml
Labels: tests, ci, backends - mssql

#5093 test(snowflake): fix failing snowflake struct test
  ibis/backends/tests/test_struct.py
Labels: tests, ci, backends - snowflake

#5092 feat(trino): implement map operations
  ci/schema/clickhouse.sql
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/tests/test_map.py
  ibis/backends/trino/datatypes.py
  ibis/backends/trino/registry.py
  ibis/backends/trino/tests/conftest.py
Labels: feature, backends - trino

#5069 docs: fix missing argument descriptions across the codebase
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/registry/window.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/udf/__init__.py
  ibis/backends/bigquery/udf/core.py
  ibis/backends/bigquery/udf/find.py
  ibis/backends/bigquery/udf/rewrite.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/core.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/udf.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/execution/strings.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/pandas/udf.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/udf.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/timecontext.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/udf.py
  ibis/common/exceptions.py
  ibis/common/graph.py
  ibis/common/validators.py
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/datatypes/core.py
  ibis/expr/decompile.py
  ibis/expr/format.py
  ibis/expr/rules.py
  ibis/expr/scope.py
  ibis/expr/timecontext.py
  ibis/expr/types/core.py
  ibis/expr/types/relations.py
  ibis/udf/validate.py
  ibis/util.py
  poetry.lock
  pyproject.toml
Labels: docs

#5095 refactor: clean up timezone support in ops.TimestampFromYMDHMS
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/sqlite/registry.py
  ibis/backends/trino/registry.py
Labels: refactor

#5098 chore(dev): automatically name the nix shell derivation
  flake.nix
Labels: developer-tools, nix

#5101 chore(dev): bump ruff and fix lints
  .pre-commit-config.yaml
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/sqlite/__init__.py
  poetry.lock
  requirements.txt
Labels: ci, developer-tools

#5108 ci: make sure that PRs that update nix flakes run the correct workflow
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Labels: ci, dependencies, nix

#5099 feat(pyspark): add support for struct operations
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/datatypes.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/test_struct.py
Labels: expressions, backends - pyspark
