Repository ibis-project/ibis, pull requests merged in 2022-11, with the labels that each got.

#4748 docs: update readme
  README.md
Labels: docs

#4756 ci: ignore `poetry-check`
  .pre-commit-config.yaml
Labels: ci, dependencies, developer-tools

#4757 ci: allow snowflake to fail
  .github/workflows/ibis-snowflake.yml
Labels: ci, backends - snowflake

#4755 build: remove unused poetry overrides
  nix/sources.json
  poetry-overrides.nix
Labels: dependencies, developer-tools

#4760 docs: fix docs for building docs
  docs/contribute/01_environment.md
Labels: docs

#4765 feat(api): add `agg` alias for `aggregate`
  ibis/expr/types/relations.py
Labels: feature, ux

#4780 feat(api): add `agg` alias to `group_by`
  ibis/expr/types/groupby.py
Labels: feature, ux

#4781 fix(repr): fix off by one in repr
  ibis/expr/types/pretty.py
Labels: bug, ux

#4785 refactor: cleanup a few nix things
  nix/default.nix
  poetry-overrides.nix
  shell.nix
Labels: developer-tools

#4789 build: give `mkdocs` program access to the local ibis path
  poetry-overrides.nix
Labels: bug, developer-tools

#4795 chore(dev-deps): remove poetry check pre-commit hook
  .pre-commit-config.yaml
Labels: developer-tools

#4799 ci: drop coverage from tpch tests
  .github/workflows/ibis-tpch-queries.yml
Labels: tests, ci

#4768 docs: front page rework
  CODE_OF_CONDUCT.md
  docs/SUMMARY.md
  docs/about/license.md
  docs/about/roadmap.md
  docs/about/team.md
  docs/backends/template.md
  docs/community/contribute/01_environment.md
  docs/community/contribute/02_workflow.md
  docs/community/contribute/03_style.md
  docs/community/contribute/05_maintainers_guide.md
  docs/community/contribute/index.md
  docs/community/ecosystem.md
  docs/community/index.md
  docs/contribute/02_workflow.md
  docs/contribute/03_style.md
  docs/contribute/04_backend_tests.md
  docs/contribute/05_maintainers_guide.md
  docs/docs/index.md
  docs/index.md
  docs/install.md
  docs/stylesheets/extra.css
  docs/tutorial/01-Introduction-to-Ibis.ipynb
  docs/tutorial/index.md
  main.py
  mkdocs.yml
Labels: docs

#4815 fix(snowflake): fix snowflake list_databases
  ibis/backends/snowflake/__init__.py
Labels: bug, backends - snowflake

#4802 fix(snowflake): handle schema when getting table
  ibis/backends/snowflake/__init__.py
Labels: bug, backends - snowflake

#4817 docs: fix tutorial button link
  docs/install.md
Labels: bug, docs

#4818 chore(pre-commit): add hook to check for leftover breakpoints
  .pre-commit-config.yaml
Labels: ci, developer-tools

#4770 feat: support `Table.fillna` for SQL backends
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/tests/test_generic.py
  ibis/expr/operations/generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_format.py
Labels: feature, backends - sql

#4771 fix: exclude geospatial ops from pandas/dask/polars `has_operation`
  ibis/backends/dask/tests/test_client.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
Labels: docs, ux, tests, geospatial

#4823 ci: make sure `geospatial` extra is installed with `mysql` backend
  .github/workflows/ibis-backends.yml
Labels: bug, ci, backends - mysql, geospatial, dependencies

#4826 feat(snowflake): implement `time` literal
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_temporal.py
Labels: feature, timestamps, backends - snowflake

#4828 feat(snowflake): implement `rowid` scalar
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_column.py
Labels: feature, backends - snowflake

#4827 docs: add issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: docs

#4839 fix: support dtype in `__array__` methods
  ibis/backends/tests/test_client.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: bug

#4842 refactor(ir): remove duplicated literal creation code
  ibis/expr/datatypes/core.py
  ibis/expr/rules.py
  ibis/expr/types/generic.py
Labels: refactor

#4844 feat: add unbind method to expressions
  ibis/backends/tests/test_api.py
  ibis/expr/analysis.py
  ibis/expr/types/core.py
Labels: feature, expressions

#4786 perf(ux): remove pandas import overhead from `import ibis`
  ibis/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/client.py
  ibis/backends/dask/core.py
  ibis/backends/dask/execution/aggregations.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/execution/window.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/metadata.py
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/execution/timecontext.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/tests/test_timecontext.py
  ibis/backends/pyspark/timecontext.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_api.py
  ibis/config.py
  ibis/expr/api.py
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/value.py
  ibis/expr/operations/generic.py
  ibis/expr/scope.py
  ibis/expr/timecontext.py
  ibis/expr/types/core.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
  ibis/expr/typing.py
  ibis/expr/window.py
  ibis/tests/expr/mocks.py
  ibis/tests/test_api.py
  ibis/udf/vectorized.py
Labels: ux, performance

#4851 revert: chore(deps): lock file maintenance
  nix/patches/py-polars.patch
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: bug, ci

#4850 chore(deps): support duckdb 0.6.0
  nix/sources.json
  poetry-overrides.nix
  poetry.lock
Labels: dependencies, backends - duckdb

#4843 docs(how-to): sessionization
  docs/how_to/sessionize.md
Labels: feature, docs

#4855 fix(analysis): only propagate sort keys that are in an agg's output
  ibis/expr/analysis.py
  ibis/tests/sql/snapshots/test_select_sql/test_sort_then_group_by_propagates_keys/result1.sql
  ibis/tests/sql/snapshots/test_select_sql/test_sort_then_group_by_propagates_keys/result2.sql
  ibis/tests/sql/test_select_sql.py
Labels: bug, backends - sql

#4862 docs(how-to): use parquet data source for sessionization, fix typos, more deferred usage
  docs/how_to/sessionize.md
Labels: docs

#4860 feat(duckdb): support out of core execution for in-memory connections
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: feature, backends - duckdb

#4864 docs(dev): python-duckdb now available for windows with conda
  docs/community/contribute/01_environment.md
Labels: docs

#4865 fix(visualize): handle join predicates in visualize
  ibis/expr/visualize.py
Labels: bug, graphviz

#4866 fix: allow inserting memtable with alchemy backends
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/tests/test_client.py
Labels: bug, backends - sqlalchemy

#4870 chore: disable snowflake for memtable test
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/tests/test_client.py
Labels: bug, tests, backends - snowflake

#4876 docs: add `backend_sensitive` decorator
  ibis/expr/types/strings.py
  ibis/util.py
Labels: feature, docs, developer-tools

#4883 ci: run nix builds nightly to populate the cachix cache
  .github/workflows/nix.yml
  shell.nix
Labels: ci, developer-tools

#4885 refactor: remove duplicate `_random_identifier` calls
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
Labels: refactor, tests

#4863 fix(sql): fix generated cartesian join
  ibis/expr/analysis.py
  ibis/expr/operations/relations.py
  ibis/expr/types/groupby.py
  ibis/tests/sql/snapshots/test_sqlalchemy/test_no_cart_join/out.sql
  ibis/tests/sql/test_sqlalchemy.py
Labels: bug

#4895 chore(devtools): remove special case `mic` tool
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
  nix/default.nix
  shell.nix
Labels: refactor, developer-tools

#4901 fix(sqlalchemy): ensure that arbitrary expressions are valid sort keys
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/tests/sql/snapshots/test_sqlalchemy/test_order_by_expr/out.sql
  ibis/tests/sql/test_sqlalchemy.py
Labels: bug, backends - sqlalchemy

#4893 fix(duckdb): s3 priority
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: bug, ux, backends - duckdb

#4908 fix(snowflake): snowflake now likes Tuesdays
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_temporal.py
Labels: bug, backends - snowflake

#4910 feat(snowflake): enable day-of-week column expression
  ibis/backends/tests/test_temporal.py
Labels: feature, tests, backends - snowflake

#4911 perf: add drop compilation benchmark
  .gitignore
  ibis/tests/benchmarks/test_benchmarks.py
Labels: ux, tests, performance

#4912 perf(expr): traverse nodes only once during compilation
  ibis/backends/base/sql/compiler/select_builder.py
Labels: ux, tests, performance

#4913 test(perf): add Node repr benchmark
  ibis/tests/benchmarks/test_benchmarks.py
Labels: ux, tests, performance

#4891 refactor(ir): remove ops.NodeList and ir.List in favor of builtin sequences
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base/sql/registry/binary_infix.py
  ibis/backends/base/sql/registry/case.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/string.py
  ibis/backends/clickhouse/registry.py
  ibis/backends/dask/execution/arrays.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/strings.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/registry.py
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/execution/arrays.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/execution/strings.py
  ibis/backends/polars/compiler.py
  ibis/backends/postgres/registry.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/sqlite/registry.py
  ibis/common/annotations.py
  ibis/common/graph.py
  ibis/common/grounds.py
  ibis/common/tests/test_graph.py
  ibis/common/tests/test_grounds.py
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/builders.py
  ibis/expr/decompile.py
  ibis/expr/format.py
  ibis/expr/operations/arrays.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/histograms.py
  ibis/expr/operations/logical.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/strings.py
  ibis/expr/operations/structs.py
  ibis/expr/operations/vectorized.py
  ibis/expr/rules.py
  ibis/expr/types/generic.py
  ibis/expr/visualize.py
  ibis/tests/expr/test_operations.py
  ibis/tests/expr/test_operations_py310.py
  ibis/tests/expr/test_rules.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/expr/test_visualize.py
  ibis/tests/sql/snapshots/test_select_sql/test_aggregate_count_joined/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_fuse_projections/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_join_between_joins/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_multiple_joins/decompiled.py
  ibis/util.py
Labels: refactor

#4916 fix(api): allow boolean scalars in predicate APIs
  ibis/expr/operations/relations.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: bug, ux, expressions

#4914 docs: created how to guide for deferred expressions
  docs/how_to/chain-expressions.md
Labels: docs

#4917 perf(node): give `Node`s the default Python repr
  ibis/expr/operations/core.py
  ibis/tests/benchmarks/test_benchmarks.py
  justfile
Labels: performance

#4919 ci: remove reach section of codecov report
  codecov.yml
Labels: ci, developer-tools

#4920 ci: remove `project` coverage from CI status checks
  codecov.yml
Labels: ci, developer-tools

#4648 feat(duckdb): support registering external postgres tables with duckdb
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: feature, backends - duckdb

#4924 docs: add `pip install poetry` dev env setup step
  docs/community/contribute/01_environment.md
Labels: docs, developer-tools

#4925 ci: actually disable project coverage
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  codecov.yml
Labels: ci, developer-tools

#4927 refactor: remove dead `compat.py` module
  ibis/backends/bigquery/udf/__init__.py
  ibis/compat.py
Labels: refactor

#4922 refactor(datafusion): align register API across backends
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/datafusion/tests/test_client.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
Labels: refactor, ux, backends

#4929 docs: fix pyarrow batches docstring
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/expr/types/core.py
Labels: docs
