Repository ibis-project/ibis, pull requests merged in 2022-01, with the labels that each got.

#3221 fix(deps): bump minimum dask version to 2021.10.0
  .github/workflows/conda-lock.yml
  .github/workflows/ibis-backends.yml
  conda-lock/linux-64-3.7.lock
  conda-lock/linux-64-3.8.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.7.lock
  conda-lock/osx-64-3.8.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/win-64-3.7.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
  poetry.lock
  pyproject.toml
  setup.py
Labels: security, backends - dask, dependencies, autorebase:opt-in

#3234 docs: fix release notes
  docs/web/config.yml
Labels: docs

#3227 ci: upload workflow run data to GCS daily
  .github/workflows/ci-data.yml
Labels: ci

#3241 ci: fix setuptools install check
  .gitignore
  ibis/__init__.py
  ibis/tests/test_api.py
Labels: ci

#3242 ci: fix rate limit calculation
  .github/workflows/ci-data.yml
Labels: ci

#3246 ci: use an action for issue assignment
  .github/workflows/assign.yml
Labels: ci

#3231 docs: move to mkdocs
  .github/workflows/ibis-main.yml
  .gitignore
  conda-lock/linux-64-3.7.lock
  conda-lock/linux-64-3.8.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.7.lock
  conda-lock/osx-64-3.8.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/win-64-3.7.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
  default.nix
  docs/_config.yml
  docs/mkdocs.yml
  docs/source/conf.py
  docs/web/about/team.md
  docs/web/community/coc.md
  docs/web/community/ecosystem.md
  docs/web/config.yml
  docs/web/contribute.md
  docs/web/getting_started.md
  docs/web/index.md
  docs/web/static/css/codehilite.css
  docs/web/static/css/ibis.css
  docs/web/static/img/install/anaconda_prompt.png
  docs/web/static/img/install/jupyterlab_home.png
  nix/default.nix
  poetry.lock
  pyproject.toml
  shell.nix
Labels: docs, ci

#3251 ci: remove stale conda recipe build
  .github/workflows/ibis-main.yml
Labels: ci, dependencies, autorebase:opt-in

#3245 ci: fully automate nix updates
  .github/workflows/update-deps.yml
Labels: ci, dependencies

#3218 ci: setup automatic releases
  .github/workflows/ibis-main.yml
  .github/workflows/release.yml
  .releaserc.json
  ci/release/dry_run.sh
  ci/release/prepare.sh
  ci/release/publish.sh
  ci/release/run.sh
  ci/release/verify.sh
  docs/web/release_notes.md
  pre-commit.nix
  pyproject.toml
Labels: ci, release

#3264 docs: fix copyright years
  docs/mkdocs.yml
  docs/source/conf.py
Labels: docs, autorebase:opt-in

#3262 refactor(test): remove unittest from test_analytics.py
  ibis/tests/expr/test_analytics.py
Labels: refactor, tests, autorebase:opt-in

#3261 fix: correlated subquery with join generates incorrect SQL
  ibis/backends/base/sql/alchemy/registry.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: bug

#3269 docs(install): update backend specific install options
  docs/source/backends/clickhouse.rst
  docs/source/backends/datafusion.rst
  docs/source/backends/impala.rst
  docs/source/backends/mysql.rst
  docs/source/backends/postgres.rst
  docs/source/backends/pyspark.rst
  docs/source/backends/sqlite.rst
  docs/source/tutorial/01-Introduction-to-Ibis.ipynb
Labels: docs

#3281 docs: port existing post-1.0 release notes to markdown, remove sphinx-releases, remove cryptography pin
  .github/workflows/ibis-main.yml
  .releaserc.json
  docs/source/conf.py
  docs/source/index.rst
  docs/source/release/index.rst
  docs/source/release/release-pre-1.0.rst
  docs/web/release_notes.md
  poetry.lock
  pyproject.toml
  setup.py
Labels: docs

#3282 chore(deps): remove maturin from development dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies, autorebase:opt-in

#3283 ci: remove git tagging from docs build
  .github/workflows/ibis-main.yml
Labels: docs, ci

#3274 ci(docs): skip backend tests if _only_ docs have been touched
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
Labels: docs

#3155 refactor(deprecated): add @util.deprecated and util.warn_deprecated
  ibis/backends/base/__init__.py
  ibis/backends/base/file/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/hdf5/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/expr/types.py
  ibis/util.py
Labels: enhancement, refactor, developer-tools

#3287 ci: fix racy workflow run test reports
  .github/workflows/test-report.yml
Labels: ci

#3288 ci: test latest postgres backend deps with python 3.7
  .github/workflows/ibis-backends.yml
Labels: ci

#3138 refactor: dt.UUID inherits from DataType, not String
  ibis/expr/datatypes.py
  ibis/tests/expr/test_datatypes.py
Labels: bug, refactor, breaking change

#3185 feat: support of arrays and tuples for clickhouse
  ibis/backends/clickhouse/client.py
  ibis/backends/clickhouse/registry.py
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/clickhouse/tests/test_types.py
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/pandas/tests/execution/test_arrays.py
  ibis/backends/postgres/registry.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/tests/test_array.py
  ibis/expr/api.py
Labels: enhancement, backends - clickhouse, breaking change

#3290 ci: fix the test report yet again
  .github/workflows/test-report.yml
Labels: ci

#3297 refactor: remove da.select shim after dask min version is 2021.6.1
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/util.py
Labels: refactor, backends - dask

#3249 fix(format): remove some newlines from formatted expr repr
  ibis/expr/format.py
  ibis/tests/expr/test_format.py
  ibis/tests/expr/test_temporal.py
  ibis/tests/expr/test_value_exprs.py
Labels: ux, expressions, breaking change

#3117 perf: fast path for simple column selection
  ibis/backends/dask/execution/selection.py
Labels: performance, backends - dask

#3306 ci: reduce the amount of nix package download noise in ci
  .github/workflows/ibis-docs-lint.yml
Labels: ci

#3317 chore(tests): remove all instances of Assert False
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/impala/tests/test_hdfs.py
  ibis/backends/impala/tests/test_pandas_interop.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/impala/tests/test_window.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_case.py
  ibis/tests/expr/test_sql_builtins.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_temporal.py
  ibis/tests/expr/test_timestamp.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: refactor, tests

#3310 chore(format): fix double quotes and alter the location of refs and names in relations
  ibis/expr/format.py
  ibis/expr/types.py
  ibis/tests/expr/test_format.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
Labels: ux, expressions

#3329 ci: split up min version jobs
  .github/workflows/ibis-backends.yml
  poetry.lock
  pyproject.toml
  setup.py
Labels: ci

#3123 refactor(ir): remove all occurrences of Arg(*)
  docs/source/user_guide/design.rst
  docs/source/user_guide/extending/extending_elementwise_expr.ipynb
  docs/source/user_guide/extending/extending_reduce_expr.ipynb
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/clickhouse/registry.py
  ibis/backends/postgres/udf.py
  ibis/expr/api.py
  ibis/expr/operations/analytic.py
  ibis/expr/operations/arrays.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/geospatial.py
  ibis/expr/operations/histograms.py
  ibis/expr/operations/logical.py
  ibis/expr/operations/maps.py
  ibis/expr/operations/numeric.py
  ibis/expr/operations/reductions.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/operations/strings.py
  ibis/expr/operations/temporal.py
  ibis/expr/operations/vectorized.py
  ibis/expr/rules.py
  ibis/expr/signature.py
  ibis/tests/expr/test_operations.py
  ibis/tests/expr/test_signature.py
  ibis/tests/expr/test_sql_builtins.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/expr/test_visualize.py
Labels: refactor, expressions

#3335 Remove full tree repr from rule validator error message
  ibis/expr/rules.py
Labels: performance

#3327 feat: allow construction of decimal literals
  ibis/expr/datatypes.py
  ibis/expr/operations/generic.py
  ibis/tests/expr/test_value_exprs.py
Labels: enhancement

#3332 test: add test for DatabaseTable equality semantics
  ibis/backends/sqlite/tests/test_client.py
Labels: tests

#3320 ci: run nix builds only when relevant files have changed
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  default.nix
  poetry.lock
  pyproject.toml
Labels: ci, performance

#3333 ci: tighten up the docker-compose setup
  .github/workflows/ibis-backends.yml
  ci/datamgr.py
  docker-compose.yml
  docker/ibis-postgres/Dockerfile
  docs/web/contribute/backend_test_suite.md
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/postgres/udf.py
  ibis/backends/tests/test_window.py
  shell.nix
Labels: ci

#3344 fix: remove broken csv pre_execute
  ibis/backends/csv/__init__.py
  ibis/backends/tests/test_join.py
Labels: bug, backends - pandas

#3350 ci: make postgres docker easier to use
  .github/workflows/ibis-backends.yml
  .prettierignore
  docker-compose.yml
  docker/postgres/Dockerfile
  docs/web/contribute/backend_test_suite.md
Labels: ci, developer-tools

#3359 fix: ibis.expr.signature.Parameter is not pickleable
  ibis/expr/signature.py
  ibis/tests/expr/test_signature.py
  ibis/tests/util.py
Labels: bug, expressions

#3339 refactor(api): remove the materialize method from TableExprs
  docs/source/tutorial/02-Aggregates-Joins.ipynb
  docs/source/user_guide/geospatial_analysis.ipynb
  docs/source/user_guide/sql.rst
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/dask/execution/join.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/pandas/execution/join.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/tests/execution/test_join.py
  ibis/backends/pyspark/tests/test_basic.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/operations/relations.py
  ibis/expr/types.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
  poetry.lock
  pyproject.toml
  shell.nix
Labels: bug, enhancement, expressions

#3357 fix: mutate + filter no longer compiles to unintentionnal cross join
  ibis/expr/analysis.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: bug

#3369 fix: implement create_table correctly for pandas and dask backends
  .rgignore
  ibis/backends/dask/__init__.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/pandas/__init__.py
  ibis/backends/tests/test_client.py
  ibis/common/exceptions.py
Labels: bug

#3374 docs: add fugue to ecosystems
  docs/web/community/ecosystem.md
Labels: docs, ecosystem

#3364 test: remove unnecessary skip decorator on test_insert
  ibis/backends/clickhouse/tests/test_client.py
Labels: tests

#3368 refactor(benchmarks): move to pytest-benchmark
  .github/workflows/ibis-main.yml
  .gitignore
  .prettierignore
  asv.conf.json
  benchmarks/benchmarks.py
  conda-lock/linux-64-3.7.lock
  conda-lock/linux-64-3.8.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.7.lock
  conda-lock/osx-64-3.8.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/win-64-3.7.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
  ibis/tests/benchmarks/__init__.py
  ibis/tests/benchmarks/test_benchmarks.py
  poetry.lock
  pyproject.toml
  setup.py
Labels: refactor, performance
