Repository ibis-project/ibis, pull requests merged in 2023-12, with the labels that each got.

#7628 fix(deferred): don't pass expression in fstringified error message
  ibis/common/deferred.py
Labels: bug, ux

#7668 ci: documentation previews
  .github/workflows/docs-preview-dispatch.yml
  .github/workflows/preview-command.yml
Labels: docs, developer-tools

#7670 ci: docs preview fixes
  .github/workflows/docs-preview-dispatch.yml
  .github/workflows/preview-command.yml
Labels: docs

#7665 fix(datafusion): ensure that non-matching re_search calls return bool values when patterns do not match
  ibis/backends/datafusion/compiler/values.py
  ibis/backends/tests/test_string.py
Labels: bug, datafusion

#7673 ci(bigquery): fix quoting
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_unnest/out_one_unnest.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_unnest/out_two_unnests.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/bigquery/out.sql
Labels: tests, ci, bigquery

#7672 test(duckdb): fix flaky extension installation test for windows
  ibis/backends/duckdb/tests/test_register.py
Labels: geospatial, duckdb

#7660 test: use backend assertions in backend test suite
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_udf.py
  ibis/backends/tests/test_window.py
  ibis/backends/tests/tpch/conftest.py
Labels: tests, ci, flink

#7690 build: move `docker-compose.yml` to `compose.yaml`
  compose.yaml
  docs/contribute/02_workflow.qmd
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/tests/base.py
Labels: ci, developer-tools

#7692 fix(memtable): ensure column names match provided data
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
Labels: bug, pandas

#7693 ci(deps): use non-deprecated method of updating nix flakes
  .github/workflows/update-deps.yml
Labels: ci, dependencies, nix

#7588 feat(snowflake): add support for `imports` and `packages` UDF configuration arguments
  .github/workflows/ibis-backends-cloud.yml
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/snowflake/tests/test_udf.py
Labels: feature, udf, snowflake

#7702 docs(build): allow building individual docs without rendering api docs first
  docs/contribute/05_reference.qmd
Labels: bug, docs, developer-tools

#7706 chore(deps): bump poetry2nix
  flake.lock
Labels: ci, dependencies, nix

#7708 fix(mssql): compute the length of strings correctly
  ibis/backends/mssql/registry.py
  ibis/backends/mssql/tests/test_client.py
Labels: bug, mssql

#7713 fix(oracle): ensure that `.sql` metadata results are in column-definition order
  ibis/backends/oracle/__init__.py
Labels: bug, oracle, heisenbug

#7728 fix(pyspark,polars): add packaging extra
  poetry.lock
  pyproject.toml
Labels: tests, dependencies

#7729 ci: use labels to restrict who can run docs-previews
  .github/workflows/docs-preview.yml
Labels: ci

#7730 feat(base): add `to_pandas` method to BaseBackend
  ibis/backends/base/__init__.py
Labels: feature

#7727 docs(backends): include docs for inherited members
  docs/backends/_templates/api.qmd
Labels: docs, backends

#7735 chore: remove unused translation rules in duckdb
  ibis/backends/duckdb/registry.py
Labels: refactor, duckdb

#7736 refactor(snowflake): use upstream map-from-arrays function instead of a custom UDF
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/registry.py
Labels: refactor, snowflake

#7753 fix(ir): raise if `Concrete.copy()` receives unexpected arguments
  ibis/common/grounds.py
  ibis/common/tests/test_grounds.py
Labels: refactor

#7754 refactor(common): remove `traverse()` function's `filter` argument since it can be expressed using the visitor
  ibis/common/graph.py
  ibis/expr/analysis.py
Labels: refactor

#7755 feat(common): allow matching on dictionaries in possibly nested patterns
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Labels: refactor

#7757 refactor(common): unify the `node.find()` and `node.match()` methods to transparently support types and patterns
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
  ibis/expr/analysis.py
Labels: refactor

#7758 feat(common): add `node.find_topmost()` method to locate matching nodes without descending further to their children
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
Labels: refactor

#7759 feat(common): expose `node.__children__` property to access the flattened list of children of a node
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
Labels: refactor

#7761 perf(common): improve the performance of replacing nodes by using a specialized `node.__recreate__()` method
  ibis/common/graph.py
  ibis/common/tests/test_graph_benchmarks.py
Labels: refactor

#7771 ci(dev): simplify minio container setup
  ci/schema/trino.sql
  compose.yaml
  ibis/backends/tests/base.py
  ibis/backends/trino/tests/conftest.py
Labels: ci, developer-tools

#7773 refactor(formats): move the `TableProxy` object to formats from the operations
  ibis/expr/api.py
  ibis/expr/operations/relations.py
  ibis/formats/__init__.py
  ibis/formats/pandas.py
  ibis/formats/pyarrow.py
  ibis/util.py
Labels: refactor

#7772 docs: remove confusing backend page
  docs/concepts/backend.qmd
  docs/support_matrix.qmd
Labels: docs

#7779 chore(flink): change "functiona_" to "functional_"
  ibis/backends/flink/tests/test_ddl.py
Labels: refactor, tests, flink

#7751 docs(flink): override default install instructions
  docs/_tabsets/install.qmd
Labels: docs, flink

#7784 docs(perf): use an unordered list instead of an ordered one
  docs/_freeze/posts/pydata-performance/index/execute-results/html.json
  docs/posts/pydata-performance/index.qmd
Labels: docs, pandas, performance, dask, duckdb

#7785 test(array): add test for #7679
  ibis/backends/tests/test_array.py
Labels: tests

#7790 fix(ir): merge window frames for bound analytic window functions with a subsequent over call
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/max/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/mean/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/min/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/sum/out1.sql
  ibis/backends/tests/test_window.py
  ibis/expr/analysis.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_window_functions.py
Labels: bug, regression

#7591 Snowflake: Add Support for "read_csv" with https
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
Labels: feature, ux, snowflake, io

#7795 fix(snowflake): convert path to `str` when checking for a prefix
  ibis/backends/snowflake/__init__.py
Labels: bug, snowflake

#7803 ci(flink): clean up docker image specifications
  compose.yaml
  docker/flink/Dockerfile
Labels: ci, flink

#7804 docs(sql-tutorial): fix minor typo in union section of SQL user tutorial
  docs/tutorials/ibis-for-sql-users.qmd
Labels: docs

#7808 ci(dev-tools): add PR title and body linter to verify conventional commits and allow squash merges
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/pr-title.yml
Labels: ci, developer-tools

#7813 ci: move back to download artifact v4 until actions/download-artifact#249 is fixed
  .github/workflows/conda-lock.yml
  .github/workflows/ibis-backends.yml
Labels: ci

#7816 ci: bring back apparently necessary install step
  .github/workflows/pr-title.yml
Labels: ci

#7810 feat(api): support median and quantile on more types
  ibis/backends/duckdb/registry.py
  ibis/backends/oracle/registry.py
  ibis/backends/polars/compiler.py
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/operations/reductions.py
  ibis/expr/types/generic.py
  ibis/expr/types/numeric.py
Labels: feature, postgres, duckdb, oracle

#7817 fix(repr): default to pa.binary for all geospatial dtypes
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pyarrow.py
Labels: bug, geospatial

#7818 fix(duckdb): allow table creation from expr with geospatial datatypes
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/duckdb/tests/test_geospatial.py
Labels: bug, geospatial, duckdb

#7826 chore(deps): bump sqlalchemy-exasol and pyodbc in `poetry.lock`
  poetry.lock
  requirements-dev.txt
Labels: dependencies, exasol

#7830 feat(impala): rudimentary date support
  ibis/backends/base/sql/registry/helpers.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_temporal.py
Labels: feature, impala, timestamps

#7829 docs(contrib): add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, community

#7832 test(ir): cover constructing reductions in the core test suite
  ibis/expr/tests/test_reductions.py
  ibis/expr/types/generic.py
Labels: bug

#7828 docs(security): add a security policy
  SECURITY.md
Labels: docs

#7840 ci: deduplicate both ci environment variables and odbc setup
  .github/workflows/ibis-backends.yml
  .gitignore
  ci/odbc/odbcinst.ini
Labels: refactor, ci, mssql

#7841 fix(decompile): ensure that `SelfReference` is decompiled with a call to `.view()`
  ibis/backends/tests/sql/test_compiler.py
  ibis/backends/tests/sql/test_select_sql.py
  ibis/backends/tests/sql/test_sql.py
  ibis/expr/decompile.py
  ibis/expr/tests/test_decompile.py
  ibis/tests/util.py
Labels: refactor

#7839 refactor(ir): support join of joins without nesting the left side
  ibis/expr/rewrites.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
Labels: refactor, chained joins

#7845 fix(deps): remove `filelock` from required dependencies
  poetry.lock
  pyproject.toml
Labels: tests, dependencies

#7849 feat(datatypes): fix decimal support and add geospatial types to the sqlglot type mapper
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/base/sqlglot/tests/test_datatypes.py
  ibis/tests/strategies.py
Labels: feature, datatypes

#7850 feat(datatypes): make intervals round trip through sqlglot type mapper
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/base/sqlglot/tests/test_datatypes.py
Labels: feature, tests, datatypes

#7857 feat(common): add `Dispatched` base class for convenient visitor pattern implementation
  ibis/common/dispatch.py
  ibis/common/tests/test_dispatch.py
Labels: feature, refactor, developer-tools

#7860 refactor(duckdb): remove the need for a specialized `_to_geodataframe` method
  ibis/backends/duckdb/__init__.py
Labels: refactor, duckdb

#7861 fix(duckdb): ensure that create_schema and create_database are actually tested
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_client.py
Labels: bug, tests, duckdb

#7864 fix(common): intermediate result removal fails if there are duplicated dependencies
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
Labels: refactor

#7865 test: consolidate backend errors in a single file
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_network.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_window.py
Labels: refactor, tests

#7859 refactor(api): revamp `asof` join predicates
  ibis/backends/clickhouse/tests/test_select.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_asof_join/repr.txt
  ibis/expr/tests/test_format.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: refactor
