Repository ibis-project/ibis, pull requests merged in 2023-05, with the labels that each got.

#6119 fix(pandas): grouped aggregation using a case statement
  ibis/backends/pandas/execution/generic.py
  ibis/backends/tests/test_aggregation.py
Labels: bug, backends - pandas

#6094 feat(api): exact median
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/duckdb/registry.py
  ibis/backends/polars/compiler.py
  ibis/backends/postgres/registry.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/operations/reductions.py
  ibis/expr/types/numeric.py
Labels: feature

#6073 feat(common): add `Topmost` and `Innermost` pattern matchers
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Labels: feature

#6127 fix(snowflake): fix invalid attribute access when using pyarrow
  ibis/backends/snowflake/__init__.py
Labels: bug, backends - snowflake

#6129 docs(guides): update ibis-for-dplyr-users.ipynb with latest
  docs/ibis-for-dplyr-users.ipynb
Labels: docs

#6135 test: clean up data loading; remove service spec where possible
  ci/schema/druid.sql
  ci/schema/postgresql.sql
  docker-compose.yml
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
Labels: refactor, tests, ci, developer-tools

#6136 chore: use upstream testing data
  justfile
Labels: ci, developer-tools

#6124 feat(duckdb): warn when querying an already consumed RecordBatchReader
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/snowflake/__init__.py
  ibis/expr/analysis.py
Labels: feature, backends - duckdb

#6149 refactor(pandas): solve and remove stale TODOs
  ibis/backends/pandas/core.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/selection.py
  ibis/backends/pandas/tests/execution/test_operations.py
Labels: refactor, backends - pandas

#6152 refactor(impala): rely on impyla cursor for _wait_synchronous
  ibis/backends/impala/client.py
Labels: refactor, backends - impala

#6107 doc(numeric): add examples to numeric methods
  ibis/expr/types/numeric.py
Labels: docs

#6158 ci: avoid `now` in benchmarks
  ibis/tests/benchmarks/test_benchmarks.py
Labels: bug, ci

#6137 fix(impala): clean up internal cursor usage
  ibis/backends/base/sql/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_ddl.py
Labels: bug, backends - impala, breaking change

#6162 ci: bring back service spec to relevant backends
  ci/schema/oracle/awards_players.ctl
  ci/schema/oracle/batting.ctl
  ci/schema/oracle/diamonds.ctl
  ci/schema/oracle/functional_alltypes.ctl
  docker-compose.yml
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/trino/tests/conftest.py
Labels: tests, ci, developer-tools

#6161 fix(pandas): fix string translate function
  ibis/backends/pandas/execution/strings.py
  ibis/backends/pandas/tests/execution/conftest.py
  ibis/backends/pandas/tests/execution/test_strings.py
Labels: bug, backends - pandas

#6144 fix(bigquery): bigquery timestamp and datetime dtypes
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/registry.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/bigquery/tests/unit/test_datatypes.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_temporal.py
Labels: bug, backends - bigquery

#6164 test(postgres): move special types to their own view
  ci/schema/postgresql.sql
  ibis/backends/postgres/tests/test_client.py
Labels: tests, backends - postgres, ci

#6165 fix(sqlalchemy): ensure that union_all-generated memtables use the correct column names
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/sqlite/tests/test_functions.py
Labels: bug, backends - sqlalchemy

#6178 docs(oracle): add oracle to matrix
  docs/backends/app/backend_info_app.py
Labels: docs, backends - oracle

#6183 fix(mysql): fix binary literals
  ibis/backends/mysql/registry.py
  ibis/backends/tests/test_binary.py
Labels: bug, backends - mysql

#6179 ci: expand sqlalchemy upper bound
  .github/workflows/ibis-backends.yml
  poetry.lock
  requirements.txt
Labels: ci, backends - duckdb

#6193 fix(duckdb): fix problem with kwargs
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: bug, backends - duckdb

#6188 feat(streamlit): add support for streamlit connection interface
  docs/SUMMARY.md
  docs/backends/support_matrix.md
  docs/example_streamlit_app/example_streamlit_app.py
  docs/example_streamlit_app/requirements.txt
  docs/how_to/streamlit.md
  docs/stylesheets/extra.css
  ibis/streamlit/__init__.py
Labels: feature, community

#6150 feat(clickhouse): move to clickhouse supported Python client
  ci/schema/clickhouse.sql
  docker-compose.yml
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/clickhouse/datatypes.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/clickhouse/tests/test_aggregations.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/clickhouse/tests/test_literals.py
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/clickhouse/tests/test_types.py
  ibis/backends/pandas/tests/test_datatypes.py
  ibis/backends/tests/base.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  ibis/expr/operations/relations.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, backends - clickhouse, breaking change

#6206 fix(trino): ensure that nested array types are inferred correctly
  ibis/backends/tests/test_array.py
  ibis/backends/trino/__init__.py
Labels: bug, backends - trino

#6223 fix(duckdb): better types for null literals
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_generic.py
Labels: bug, backends - duckdb

#6233 fix(duckdb): ensure that quoted struct field names work
  ibis/backends/duckdb/datatypes.py
  ibis/backends/duckdb/tests/test_datatypes.py
Labels: bug, backends - duckdb

#6236 chore(dev-deps): bump ruff to 0.267
  ibis/backends/bigquery/udf/__init__.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/dask/core.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/pandas/core.py
  ibis/expr/schema.py
  ibis/expr/sql.py
  poetry.lock
  requirements.txt
Labels: dependencies, developer-tools

#6227 refactor(api): consolidate `ibis.date()`, `ibis.time()` and `ibis.timestamp()` functions
  ibis/common/temporal.py
  ibis/expr/api.py
  ibis/expr/tests/test_api.py
  ibis/expr/types/core.py
  ibis/tests/expr/test_timestamp.py
  ibis/tests/expr/test_value_exprs.py
Labels: refactor, ux, timestamps

#6238 fix(duckdb): ensure that types are inferred correctly across `duckdb_engine` versions
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  poetry.lock
  requirements.txt
Labels: bug, backends - duckdb

#6239 feat(mysql): add re_extract
  ibis/backends/mysql/registry.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_string.py
  ibis/backends/tests/test_string.py
Labels: feature, backends - mysql

#6231 feat(polars): add correlation operation
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - polars

#6246 ci: make sure benchmark data are included in the mkdocs commit
  .github/workflows/ibis-docs-lint.yml
Labels: docs, ci, developer-tools

#6241 feat(duckdb): support duckdb 0.8.0
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/formats/pandas.py
  poetry.lock
  requirements.txt
Labels: feature, backends - duckdb

#6242 refactor(dask/pandas): align datatype conversions with the new convention
  ibis/backends/dask/__init__.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/dask/tests/test_datatypes.py
  ibis/backends/dask/tests/test_schema.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/tests/execution/test_temporal.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/pandas/tests/test_datatypes.py
  ibis/backends/pandas/tests/test_schema.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
  ibis/formats/dask.py
  ibis/formats/pandas.py
  ibis/formats/tests/test_dask.py
  ibis/formats/tests/test_numpy.py
  ibis/formats/tests/test_pandas.py
Labels: refactor, backends - pandas, backends - dask, datatypes

#6249 feat(api): raise better error on column name collision in joins
  ibis/expr/operations/relations.py
  ibis/tests/expr/test_table.py
Labels: ux, expressions

#6254 build: remove no longer necessary pydruid poetry2nix override
  poetry-overrides.nix
Labels: developer-tools, nix

#6261 feat(datafusion): add string functions
  ibis/backends/datafusion/compiler.py
  ibis/backends/tests/test_string.py
Labels: feature, backends - datafusion

#6255 fix(mysql): ensure that enum operations return the correct type
  ibis/backends/mysql/registry.py
  ibis/backends/mysql/tests/test_client.py
Labels: bug, backends - mysql

#6265 feat(backends): add support for start parameter in StringFind
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/mysql/registry.py
  ibis/backends/tests/test_string.py
Labels: feature, backends - sqlalchemy, backends - clickhouse, backends - mysql, backends - datafusion

#6263 feat(duckdb): support array zip operation
  ibis/backends/duckdb/registry.py
  ibis/backends/tests/test_array.py
  ibis/expr/types/arrays.py
Labels: feature, backends - duckdb

#6266 feat(datatypes): support creating Timestamp from units
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/operations/generic.py
Labels: feature, ux, datatypes

#6262 feat(duckdb): expand map support to `.values()` and map concatenation
  ibis/backends/duckdb/registry.py
  ibis/backends/tests/test_map.py
  ibis/expr/types/maps.py
Labels: feature, backends - duckdb

#6256 feat(snowflake): implement array zip
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_array.py
Labels: feature, backends - snowflake

#6267 test(repr): add test for `DummyTable` repr
  ibis/tests/expr/test_format.py
Labels: tests

#5747 feat: add dask windowing
  ibis/backends/dask/aggcontext.py
  ibis/backends/dask/core.py
  ibis/backends/dask/execution/aggregations.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/execution/numeric.py
  ibis/backends/dask/execution/selection.py
  ibis/backends/dask/execution/util.py
  ibis/backends/dask/execution/window.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/tests/execution/conftest.py
  ibis/backends/dask/tests/execution/test_join.py
  ibis/backends/dask/tests/execution/test_util.py
  ibis/backends/dask/tests/execution/test_window.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/dask/udf.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
Labels: feature, window functions, backends - dask

#6293 fix(snowflake): fix incorrect arguments to snowflake regexp_substr
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_string.py
Labels: bug, backends - snowflake

#6297 docs: update copyright year and add a period (minor docs nits)
  docs/index.md
  mkdocs.yml
Labels: docs

#6295 fix(snowflake): use `convert_timezone` for timezone conversion instead of invalid postgres `AT TIME ZONE` syntax
  ibis/backends/snowflake/registry.py
  ibis/backends/snowflake/tests/test_client.py
Labels: bug, backends - snowflake

#6207 feat(datafusion): register tables and datasets in datafusion
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_register.py
  ibis/backends/tests/test_export.py
Labels: feature, backends - datafusion, ecosystem

#6300 test(dask): fix flaky window test
  ibis/backends/dask/tests/execution/test_window.py
Labels: tests, backends - dask

#6296 refactor(bigquery): align datatype conversions with the new convention
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/registry.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/unit/test_datatypes.py
  ibis/backends/bigquery/udf/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_temporal.py
Labels: refactor, backends - bigquery, datatypes

#6301 fix(ir): raise Exception for group by with no keys
  ibis/expr/types/groupby.py
  ibis/tests/expr/test_table.py
Labels: bug, expressions

#6310 fix: add issue write permission to assign.yml
  .github/workflows/assign.yml
Labels: ci, developer-tools

#6314 chore(oracle): update oracle schema DROP TABLE
  ci/schema/oracle.sql
Labels: tests, ci, developer-tools, backends - oracle

#6316 test(snowflake): ignore deprecation warning from old vendored requests
  pyproject.toml
Labels: tests, backends - snowflake

#6313 test(dask): fix flaky tests
  ibis/backends/dask/tests/execution/test_join.py
Labels: tests, backends - dask

#6317 feat(polars): add argmin and argmax
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - polars

#6324 test(clickhouse): avoid running tests that depend on `ibis_testing` existing
  ibis/backends/tests/test_client.py
Labels: tests, backends - postgres, backends - clickhouse, backends - mysql

#6327 fix(sqlalchemy): quote struct field names
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/duckdb/tests/test_datatypes.py
Labels: bug, backends - sqlalchemy

#6337 test(bigquery): update generated code from sqlglot update
  ibis/backends/tests/snapshots/test_string/test_rlike/bigquery/out.sql
Labels: tests, ci, backends - bigquery

#6338 chore(deps): disallow snowflake-connector-python 3.0.4 until wheels are shipped
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies, backends - snowflake

#6298 feat(bigquery): add client and storage_client params to connect
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/system/conftest.py
  ibis/backends/bigquery/tests/system/test_connect.py
Labels: feature, backends - bigquery

#6315 fix(postgres): remove automatic `first`/`last` DDL execution
  ci/schema/postgresql.sql
  docker/postgres/Dockerfile
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/registry.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/postgres/out.sql
Labels: bug, backends - postgres

#6345 chore(oracle): remove error suppression from ci data load
  ibis/backends/oracle/tests/conftest.py
Labels: refactor, ci
