Repository ibis-project/ibis, pull requests merged in 2023-09, with the labels that each got.

#7000 docs: update link to 'example repository' instead of 'tutorial'
  docs/tutorials/getting_started.qmd
Labels: docs

#6977 docs: some how-to updates
  docs/_quarto.yml
  docs/how-to/analytics/basics.qmd
  docs/how-to/analytics/chain_expressions.qmd
  docs/how-to/external-dataframes/memtable_join.qmd
  docs/how-to/input-output/multiple-backends.qmd
Labels: docs

#6998 docs: fix whitespace issue on homepage
  docs/index.qmd
Labels: docs

#7003 chore: remove the need for all of jupyter
  nix/quarto/default.nix
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: docs

#7002 refactor(snowflake): sort column names in the database instead of on the client
  ibis/backends/snowflake/__init__.py
Labels: refactor, snowflake

#7006 chore: add product links to the various backends
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Labels: docs

#7005 chore: bring impala back into the backend fold
  docs/backends/impala.qmd
  ibis/backends/base/sql/__init__.py
Labels: docs, impala

#7010 chore: fix product links
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/impala.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Labels: docs

#7009 chore(polars): pin polars>=0.19 due to the recent deprecations
  ibis/backends/polars/compiler.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: dependencies, polars

#7015 refactor(common): remove ibis.common.parse since it is only used by the datatype parser
  ibis/common/parsing.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/datatypes/tests/test_parse.py
  ibis/tests/strategies.py
Labels: refactor

#7008 fix(common): disallow plain string inputs for SequenceOf patterns
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
  ibis/expr/operations/structs.py
  ibis/expr/operations/tests/test_structs.py
Labels: bug

#7025 fix(dtypes): switch scale and timestamp parameter order when formatting a timestamp datatype
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_parse.py
Labels: bug, tests, datatypes

#7029 docs: fix links from install to connect
  docs/_tabsets/install.qmd
Labels: docs

#7030 chore: render sql using the notebook instead of only printing to stdout
  docs/tutorials/ibis-for-sql-users.qmd
Labels: docs

#7031 chore: make case consistent
  docs/_quarto.yml
Labels: docs

#7045 chore(docs): remove code annotations from duckdb backend docs
  docs/backends/duckdb.qmd
Labels: docs

#7046 test(benchmark): adjust duckdb parsing benchmark to account for removed top-level parse function
  ibis/tests/benchmarks/test_benchmarks.py
Labels: tests, ci

#7048 chore: add custom css for scrolling connection parameters when type names are long
  docs/_quarto.yml
  docs/styles.css
Labels: docs

#7053 fix(api): ensure that deferred objects cannot be converted into literals
  ibis/expr/operations/generic.py
  ibis/tests/test_strategies.py
Labels: bug, ux

#7059 chore: ensure the full module path
  docs/_quarto.yml
Labels: docs

#7071 docs: basic starburst galaxy tutorial
  docs/_freeze/tutorials/data-platforms/starburst-galaxy/0_setup/execute-results/html.json
  docs/_freeze/tutorials/data-platforms/starburst-galaxy/1_basics/execute-results/html.json
  docs/_quarto.yml
  docs/tutorials/data-platforms/starburst-galaxy/0_setup.qmd
  docs/tutorials/data-platforms/starburst-galaxy/1_basics.qmd
  docs/tutorials/data-platforms/starburst-galaxy/_metadata.yml
Labels: docs

#7079 docs: update link to sqlalchemy tutorial
  docs/concepts/internals.qmd
Labels: docs

#7078 build: fix nix 3.9 builds by removing docs dependencies for python 3.9
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: dependencies, nix

#7081 docs: give reference docs a more organized layout
  docs/_quarto.yml
  gen_redirects.py
  ibis/expr/api.py
  ibis/expr/datatypes/value.py
  ibis/expr/schema.py
  ibis/expr/types/generic.py
Labels: docs

#7080 docs: bring back versioning policy doc
  docs/concepts/versioning.qmd
Labels: docs

#7084 docs: hand roll `datatypes.core` APIs to avoid documenting private types
  docs/_quarto.yml
Labels: docs

#7082 docs: move column selectors closer to relevant expression page
  docs/_quarto.yml
Labels: docs

#7086 ci: do not quote joined arguments to `pip install`
  .github/workflows/ibis-backends.yml
Labels: ci, dependencies

#7069 feat(duckdb): expose loading extensions
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
Labels: feature, duckdb

#7088 docs: remove old S3 comment in impala docs
  docs/backends/impala.qmd
Labels: docs

#7096 refactor(flink): use built-in `DEGREES`, `RADIANS`
  ibis/backends/flink/registry.py
Labels: flink

#7083 refactor(api): remove string as a parent type from expression API
  ibis/backends/base/sql/registry/literal.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/value.py
  ibis/expr/types/inet.py
  ibis/expr/types/uuid.py
  ibis/formats/numpy.py
Labels: refactor, breaking change

#7097 build: bump poetry2nix which includes a poetry version bump to 1.6.1
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix.yml
  .github/workflows/pre-release.yml
  flake.lock
  justfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: ci, dependencies, nix

#7102 fix(api): improve error message for bad arguments to `Table.select`
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: bug, ux

#6893 fix(format): support rendering empty schemas
  ibis/expr/format.py
  ibis/expr/tests/snapshots/test_format/test_format_table_with_empty_schema/repr.txt
  ibis/expr/tests/test_format.py
Labels: bug

#7107 chore(deps): remove `pins` nix override and tell direnv to watch some additional files
  .envrc
  poetry-overrides.nix
Labels: refactor, dependencies, nix

#7109 docs: ensure that all parameters elements overflow with a scrollbar
  docs/styles.css
Labels: bug, docs

#7110 docs: fix setuptools extra install style
  docs/backends/bigquery.qmd
  docs/backends/clickhouse.qmd
  docs/backends/dask.qmd
  docs/backends/datafusion.qmd
  docs/backends/druid.qmd
  docs/backends/duckdb.qmd
  docs/backends/impala.qmd
  docs/backends/mssql.qmd
  docs/backends/mysql.qmd
  docs/backends/oracle.qmd
  docs/backends/pandas.qmd
  docs/backends/polars.qmd
  docs/backends/postgresql.qmd
  docs/backends/pyspark.qmd
  docs/backends/snowflake.qmd
  docs/backends/sqlite.qmd
  docs/backends/trino.qmd
Labels: docs

#7108 ci: remove unused branches and ignore envrc file
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
  .github/workflows/ibis-tpch-queries-skip-helper.yml
  .github/workflows/ibis-tpch-queries.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Labels: refactor, ci

#7112 docs: add `ibis.connect` to `top_level` API docs
  docs/_quarto.yml
  ibis/backends/base/__init__.py
Labels: docs

#7111 docs: remove duckdb code annotations
  docs/backends/duckdb.qmd
Labels: docs

#7115 docs: add back goatcounter to website
  docs/index.qmd
Labels: docs

#7117 fix(impala): allow arbitrary connection params
  docs/backends/impala.qmd
  ibis/backends/impala/__init__.py
Labels: bug, impala

#7114 docs: add `functools.partial` and lambda closures to `ArrayValue.map` and `ArrayValue.filter`
  ibis/expr/types/arrays.py
Labels: docs

#7120 docs: add UDF API documentation
  docs/_quarto.yml
  docs/_renderer.py
  ibis/expr/operations/udf.py
Labels: docs

#7129 ci: dump benchmark data to gcs bucket
  .github/workflows/ibis-docs-lint.yml
Labels: refactor, ci

#7131 docs: remove old-style schema construction from examples and docstrings
  docs/backends/impala.qmd
  ibis/backends/pandas/aggcontext.py
Labels: refactor, docs

#7119 feat(api): expose the ability to refer to existing functions not defined in ibis APIs
  docs/_freeze/how-to/extending/builtin/execute-results/html.json
  docs/how-to/extending/builtin.qmd
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/datafusion/tests/test_udf.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_udf.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/oracle/tests/test_client.py
  ibis/backends/polars/compiler.py
  ibis/backends/polars/tests/test_udf.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/tests/test_udf.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/trino/tests/test_client.py
  ibis/expr/operations/udf.py
Labels: feature, ux, udf

#7144 fix(flink): correct the translation of `ops.Power`
  ibis/backends/flink/registry.py
Labels: bug, flink

#7136 docs(blog): add bigquery arrays 7.0.0 blog post
  docs/_freeze/posts/bigquery-arrays/index/execute-results/html.json
  docs/posts/bigquery-arrays/index.qmd
Labels: docs, bigquery

#7149 fix(flink): translate `ops.RandomScalar` to `rand`
  ibis/backends/flink/registry.py
Labels: bug, flink

#7141 docs: re-organize reference sections
  docs/_quarto.yml
Labels: docs

#7146 docs: more redirects and add ibis 3.0.2
  gen_redirects.py
Labels: docs

#7151 feat(examples): name examples tables according to example name
  ibis/examples/__init__.py
  ibis/examples/tests/test_examples.py
Labels: feature

#7153 feat(pyspark): enable the new scalar UDF API
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_udf.py
  ibis/backends/tests/test_vectorized_udf.py
Labels: feature, pyspark

#7154 fix(flink): rewrite `ops.Clip` using if statements
  ibis/backends/flink/registry.py
  ibis/backends/flink/translator.py
Labels: bug, flink

#7155 fix(flink): remove broken, untested `epochseconds`
  ibis/backends/flink/registry.py
Labels: bug, flink

#7156 docs: update `poetry` version
  docs/contribute/01_environment.qmd
Labels: docs

#7150 docs: add how-to for working with raw sql strings
  docs/how-to.qmd
  docs/how-to/extending/sql.qmd
Labels: docs

#7163 refactor(bigquery): clean up literal handling
  ibis/backends/bigquery/registry.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_hash/binary/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_hashbytes/md5-test-binary/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_hashbytes/sha1-test-binary/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_hashbytes/sha256-test-binary/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_hashbytes/sha512-test-binary/out.sql
Labels: refactor, bigquery

#7166 fix(trino): differentiate between a single column struct and a column when chaining unnest expressions with field accesses
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_sql.py
  ibis/backends/trino/compiler.py
  ibis/backends/trino/registry.py
Labels: bug, trino

#7162 feat: just chat to open Zulip in terminal
  .gitignore
  justfile
Labels: developer-tools

#7170 docs: gitter -> zulip
  docs/_quarto.yml
  docs/index.qmd
Labels: docs

#7174 ci(flink): don't generate now-unused 3.10 lockfile
  .github/workflows/ibis-backends.yml
Labels: flink

#7177 fix(flink): correct translation of `ops.IfNull` op
  ibis/backends/flink/registry.py
Labels: bug, flink

#7173 depr(api): deprecate top-level `ibis.geo_*` functions in favor of their corresponding methods
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/postgres/tests/test_geospatial.py
  ibis/expr/api.py
Labels: geospatial, deprecation

#7178 ci(snowflake): run nanoarrow ci job
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, snowflake

#7179 docs: add proper zulip icon
  docs/_quarto.yml
  docs/index.qmd
  docs/styles.css
  docs/zulip.svg
Labels: docs

#7181 docs: fix zulip link for new members
  README.md
  docs/_quarto.yml
  docs/index.qmd
  docs/posts/ibis-version-4.0.0-release/index.qmd
Labels: docs

#7185 ci(cloud): avoid cancelling jobs
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, bigquery, snowflake

#7186 feat(flink): implement translation of `ZEROIFNULL`
  ibis/backends/flink/registry.py
Labels: feature, flink

#7194 docs: link to zulip in `README.md`
  README.md
Labels: docs

#7196 docs(nix): add configuration notes to nix environment setup
  docs/contribute/01_environment.qmd
Labels: docs, nix

#7207 ci(snowflake): allow concurrent python version tests to run
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, snowflake

#7203 feat(flink): support translating typed null values
  ibis/backends/flink/utils.py
Labels: feature, flink

#7211 ci(oracle): pin database version until flakiness can be fixed
  docker-compose.yml
Labels: ci, oracle

#7189 fix(clip): preserve nulls when clipping
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/flink/registry.py
  ibis/backends/polars/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_numeric.py
  ibis/expr/types/numeric.py
Labels: bug

#7206 fix(flink): implement an in-memory table formatter
  ibis/backends/flink/compiler/core.py
Labels: bug, flink

#7218 feat(patterns): support building sequences in replacement patterns
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Labels: feature, refactor

#7219 fix(oracle): ensure that metadata queries use SQL and not sqlplus-specific syntax
  ibis/backends/oracle/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
Labels: bug, oracle

#7208 perf: introduce quicker abstract base classes
  ibis/backends/base/sql/compiler/base.py
  ibis/common/bases.py
  ibis/common/caching.py
  ibis/common/collections.py
  ibis/common/graph.py
  ibis/common/grounds.py
  ibis/common/patterns.py
  ibis/common/temporal.py
  ibis/common/tests/test_bases.py
  ibis/common/tests/test_collections.py
  ibis/common/tests/test_graph.py
  ibis/common/tests/test_grounds.py
  ibis/common/tests/test_grounds_benchmarks.py
  ibis/common/tests/test_patterns.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
Labels: refactor, performance

#7222 feat(patterns): support building sequences in replacement patterns
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Labels: feature, refactor

#7228 fix(patterns): support passing mappings to Getitem builder
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Labels: bug, developer-api

#7231 fix(api): ensure the order of duplicate non-renamed columns in `relocate` is preserved
  ibis/expr/types/relations.py
  ibis/tests/expr/test_relocate.py
Labels: bug, ux

#7232 feat(api): improve repr for deferred expressions containing Column/Scalar values
  ibis/expr/deferred.py
  ibis/expr/tests/test_deferred.py
Labels: feature, ux

#7234 fix(bigquery): generate the correct temporal literal type based on the presence of timezone information
  ibis/backends/bigquery/registry.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/datetime/index.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/datetime/name.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/string_timestamp/index.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/string_timestamp/name.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/timestamp/index.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/timestamp/name.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/datetime/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/string_timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/datetime/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/string_timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/timestamp/out.sql
  ibis/backends/tests/test_temporal.py
Labels: bug, bigquery, timestamps

#7230 refactor(ir): replace `Cumulative` operations by adding `where`, `group_by` and `order_by` kwargs to cumulative APIs
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/__init__.py
  ibis/backends/base/sql/registry/window.py
  ibis/backends/clickhouse/compiler/core.py
  ibis/backends/dask/execution/window.py
  ibis/backends/dask/tests/execution/test_window.py
  ibis/backends/duckdb/registry.py
  ibis/backends/flink/registry.py
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/max/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/mean/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/min/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/sum/out1.sql
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/postgres/registry.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/registry.py
  ibis/backends/trino/registry.py
  ibis/expr/analysis.py
  ibis/expr/operations/analytic.py
  ibis/expr/types/generic.py
  ibis/expr/types/logical.py
  ibis/expr/types/numeric.py
Labels: refactor, pandas, dask, breaking change

#7235 feat(api): support deferred arguments to udfs
  ibis/expr/operations/udf.py
  ibis/tests/expr/test_udf.py
Labels: feature, ux, udf

#7241 refactor: delete unexposed `ibis.api.category_label` function
  ibis/expr/api.py
Labels: refactor

#7242 test(dev-tools): allow skipping flink with pytest markers
  ibis/backends/flink/__init__.py
  ibis/backends/flink/compiler/core.py
  ibis/backends/flink/ddl.py
  ibis/backends/flink/registry.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: tests, developer-tools, flink

#7247 feat(api): support deferred arguments in `ibis.case()`
  ibis/expr/api.py
  ibis/expr/builders.py
  ibis/tests/expr/test_case.py
Labels: feature, ux

#7251 refactor(api): remove interpolation argument
  ibis/backends/dask/execution/numeric.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/postgres/registry.py
  ibis/expr/operations/reductions.py
  ibis/expr/types/numeric.py
Labels: refactor, ux, pandas, backends, dask, breaking change

#7256 feat(clickhouse): add support for `.sql` methods
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/compiler/relations.py
  ibis/backends/tests/test_dot_sql.py
Labels: feature, clickhouse

#7255 chore(deps): remove `packaging` requirement for the duckdb backend
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_datatypes.py
  poetry.lock
  pyproject.toml
Labels: refactor, dependencies, duckdb

#7267 chore(deps): bump locked version of sqlglot
  poetry.lock
  requirements-dev.txt
Labels: dependencies
