Repository ibis-project/ibis, pull requests merged in 2023-08, with the labels that each got.

#6733 feat(api): improve efficiency of `__dataframe__` protocol
  ibis/backends/tests/test_dataframe_interchange.py
  ibis/backends/tests/test_export.py
  ibis/expr/types/dataframe_interchange.py
  ibis/expr/types/relations.py
  ibis/expr/types/ruff.toml
Labels: performance, ecosystem

#6737 chore(deps): bring in the remaining wheels to the pymssql lockfile metadata
  poetry.lock
Labels: ci, dependencies

#6714 refactor(ir): decompose `Contains` into `InValues` and `InColumn`
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/binary_infix.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/clickhouse/tests/snapshots/test_select/test_array_join_in_subquery/out.sql
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/impala/tests/snapshots/test_in_not_in/test_field_in_literals/notin/out.sql
  ibis/backends/impala/tests/snapshots/test_in_not_in/test_isin_notin_in_select/notin/out.sql
  ibis/backends/impala/tests/snapshots/test_in_not_in/test_literal_in_fields/notin/out.sql
  ibis/backends/pandas/execution/generic.py
  ibis/backends/polars/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/trino/out.sql
  ibis/backends/tests/test_array.py
  ibis/expr/analysis.py
  ibis/expr/operations/logical.py
  ibis/expr/types/generic.py
  ibis/tests/expr/test_value_exprs.py
Labels: refactor

#6739 docs: add docstrings to `DataType.is_*` methods
  ibis/expr/datatypes/core.py
Labels: docs, datatypes

#6740 docs: document versioning policy
  docs/SUMMARY.md
  docs/supported_python_versions.md
  docs/versioning.md
Labels: docs

#6736 feat(trino): add support for table properties
  docker-compose.yml
  docker/trino/Dockerfile
  docker/trino/catalog/hive.properties
  docker/trino/entrypoint.sh
  docker/trino/metastore-site.xml
  ibis/backends/trino/__init__.py
  ibis/backends/trino/tests/test_client.py
Labels: feature, trino

#6744 refactor(ir): use @annotated decorator to coerce Selection.order_by and Aggregation.order_by arguments
  ibis/expr/operations/relations.py
Labels: refactor

#6749 fix(duckdb): deduplicate the output of `list_schemas()`
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_client.py
Labels: bug, duckdb

#6745 refactor(common): remove `Validator` mixin for better clarity
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/clickhouse/tests/test_aggregations.py
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/impala/tests/test_udf.py
  ibis/backends/impala/tests/test_unary_builtins.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/common/annotations.py
  ibis/common/grounds.py
  ibis/common/patterns.py
  ibis/common/tests/test_annotations.py
  ibis/common/tests/test_grounds.py
  ibis/common/tests/test_patterns.py
  ibis/common/tests/test_temporal.py
  ibis/expr/analysis.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/expr/datatypes/tests/test_parse.py
  ibis/expr/operations/histograms.py
  ibis/expr/operations/logical.py
  ibis/expr/operations/tests/test_generic.py
  ibis/expr/operations/udf.py
  ibis/expr/tests/test_schema.py
  ibis/expr/types/core.py
  ibis/tests/expr/test_analytics.py
  ibis/tests/expr/test_decimal.py
  ibis/tests/expr/test_operations.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_udf.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/expr/test_window_frames.py
  ibis/tests/test_config.py
Labels: refactor

#6751 refactor(common): ibis.common.patterns.match() should return with the matched value rather than the context
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Labels: refactor

#6750 test(snowflake): specify the current database and schema when creating a temp stage in snowflake
  ibis/backends/snowflake/__init__.py
Labels: bug, snowflake

#6748 test(bigquery): xfail the warning for BigQuery `list_databases`
  ibis/backends/tests/test_api.py
Labels: tests, bigquery

#6756 docs(postgres): fix postgres memtable docs
  docs/backends/postgresql.md
Labels: docs, postgres

#6596 fix(postgres): by default use domain socket
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
Labels: bug, postgres, sqlalchemy

#6762 fix(snowflake): reset the schema and database to the original schema after creating them
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
Labels: bug, snowflake

#6759 chore(deps): bump polars to non-yanked version (0.18.9 -> 0.18.11)
  poetry.lock
  requirements-dev.txt
Labels: dependencies, polars

#6767 fix(snowflake): reset to original schema when resetting the database
  ibis/backends/snowflake/__init__.py
Labels: snowflake

#6747 docs: add v6.1.0 release blog
  docs/SUMMARY.md
  docs/blog/rendered/ibis-version-6.1.0-release.ipynb
Labels: docs

#6769 docs: minor blog fixes/prose update
  docs/blog/rendered/ibis-version-6.1.0-release.ipynb
Labels: docs

#6773 feat(api): add `levenshtein` edit distance API
  ci/schema/postgres.sql
  ibis/backends/oracle/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_string.py
  ibis/backends/trino/registry.py
  ibis/expr/operations/strings.py
  ibis/expr/types/strings.py
Labels: feature, expressions, backends

#6776 test(bigquery): xfail `levenshtein` implementation
  ibis/backends/tests/test_string.py
Labels: tests, bigquery

#6780 docs: minor blog update
  docs/blog/rendered/ibis-version-6.1.0-release.ipynb
Labels: docs

#6777 feat(snowflake): add `ArrayRemove` implementation
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_array.py
Labels: feature, snowflake

#6768 refactor: add types to Case and Window Builders
  ibis/expr/builders.py
  ibis/expr/types/generic.py
Labels: refactor

#6783 refactor(snowflake): remove unnecessary schema setting
  ibis/backends/snowflake/__init__.py
Labels: refactor, snowflake

#6782 feat(api): add `ArrayIntersect` operation and corresponding `ArrayValue.intersect` API
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/duckdb/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_array.py
  ibis/backends/trino/registry.py
  ibis/expr/operations/arrays.py
  ibis/expr/types/arrays.py
Labels: feature, backends

#6784 fix(snowflake): use ibis-defined `array_sort` until upstream lands
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/registry.py
Labels: bug, snowflake

#6786 feat(snowflake): implement `ops.ArrayRepeat`
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_array.py
Labels: feature, snowflake

#6779 feat(postgres): implement remaining array functions
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_array.py
Labels: feature, postgres

#6785 feat(bigquery): implement array functions
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_array.py
Labels: feature, bigquery

#6787 fix(snowflake): disable filter and map
  ibis/backends/snowflake/registry.py
Labels: bug, tests, snowflake

#6789 test(bigquery): fix array unique test to accommodate bigquery null handling
  ibis/backends/tests/test_array.py
Labels: tests, clickhouse, bigquery

#6798 fix(struct-column): make `ops.StructColumn` dshape depend on its input
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_struct.py
  ibis/expr/operations/structs.py
  ibis/expr/operations/tests/test_structs.py
Labels: bug, datatypes

#6802 test(clickhouse): fix code to avoid snapshot regeneration
  ibis/backends/clickhouse/compiler/values.py
Labels: tests, clickhouse

#6806 feat(sql): add `database` argument to `list_schemas`
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_client.py
Labels: feature, backends

#6792 fix(snowflake): fix timestamp scale inference
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/datatypes.py
  ibis/backends/snowflake/tests/test_datatypes.py
  ibis/backends/tests/test_client.py
Labels: bug, timestamps, snowflake

#6807 fix(api): fail on trying to construct an iterable of a deferred object
  ibis/expr/deferred.py
  ibis/expr/tests/test_deferred.py
  ibis/expr/types/core.py
  ibis/util.py
Labels: bug

#6812 Add coalesce, nullif, ifnull, zeroifnull
  ibis/backends/datafusion/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/expr/types/generic.py
Labels: feature, datafusion

#6826 test(trino): test hive table overwrite
  docker/trino/catalog/hive.properties
  ibis/backends/trino/tests/test_client.py
Labels: tests, trino

#6819 feat(datafusion): add join support
  ibis/backends/datafusion/compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_join.py
Labels: feature, datafusion

#6830 chore(benchmarks): require a benchmark run number when invoking `just benchcmp`
  justfile
Labels: developer-tools

#6845 refactor(tests): move `test_visualize.py` to `ibis/expr/tests`
  ibis/expr/tests/test_visualize.py
  ibis/tests/expr/conftest.py
  ibis/tests/expr/test_interactive.py
Labels: refactor

#6804 fix(histogram): ensure that the bin width calculation matches numpy
  ibis/backends/dask/execution/generic.py
  ibis/backends/tests/test_numeric.py
  ibis/expr/types/numeric.py
Labels: bug

#6852 docs(backends): explain how to release a cursor and suggest using `.sql` instead
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
Labels: docs

#6854 fix(type hints): remove notimplemented as type hints as not valid
  ibis/expr/types/core.py
  ibis/expr/types/numeric.py
  ibis/expr/types/strings.py
  ibis/expr/types/temporal.py
Labels: bug, ecosystem

#6857 feat(datafusion): add temporal functions
  ibis/backends/datafusion/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: feature, datafusion

#6855 refactor(datatypes): use sqlglot for parsing backend-specific types
  ibis/backends/clickhouse/datatypes.py
  ibis/backends/druid/datatypes.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/datatypes.py
  ibis/backends/trino/datatypes.py
  ibis/formats/parser.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: refactor, datatypes

#6859 test(ir): test_custom_table_expr should not depend on the pandas backend
  ibis/expr/operations/tests/test_core.py
Labels: tests

#6861 feat(clickhouse): support `read_csv` and `read_parquet`
  ibis/backends/clickhouse/__init__.py
  ibis/backends/tests/test_register.py
Labels: feature, clickhouse

#6851 feat(snowflake): implement `read_json`
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
Labels: feature, snowflake

#6827 feat(trino): add support for cross-schema and cross-catalog table operations
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/trino/__init__.py
Labels: feature, trino

#6880 test(bigquery): remove unnecessary use of `s.c` selector in tests
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union/False/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union/True/out.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
Labels: tests, bigquery

#6875 perf(duckdb): improve `to_pyarrow` performance
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
Labels: performance, duckdb

#6879 feat(selectors): support column references in column selector
  ibis/selectors.py
  ibis/tests/expr/test_selectors.py
Labels: feature, ux

#6881 chore(duckdb): remove use of cursor in `to_pyarrow` and remove duplicate test marker
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
Labels: refactor

#6883 chore(snowflake): skip extra ddl step in snowflake read csv
  ibis/backends/snowflake/__init__.py
Labels: refactor, snowflake

#6882 test(benchmarks): add `to_pyarrow` benchmark for duckdb
  ibis/tests/benchmarks/test_benchmarks.py
Labels: tests, performance, duckdb

#6884 refactor(snowflake): replace custom temp table ddl for memtables with `read_parquet`
  ibis/backends/snowflake/__init__.py
Labels: refactor, snowflake

#6900 perf(common): improve `Concrete` construction performance
  ibis/common/annotations.py
  ibis/common/grounds.py
  ibis/common/patterns.py
  ibis/common/tests/test_grounds.py
  ibis/common/tests/test_grounds_benchmarks.py
  ibis/common/tests/test_patterns.py
Labels: performance

#6722 feat(snowflake): allow disabling creation of object UDFs
  ibis/backends/snowflake/__init__.py
Labels: feature, udf, snowflake

#6906 fix(api): ensure that normalization of boolean, ints and floats fail with readable error message
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/datatypes/value.py
Labels: bug, ux

#6916 fix(drop): support deferred objects in calls to drop
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: bug, ux

#6835 feat(flink): implement a minimal PyFlink `Backend`
  .github/workflows/ibis-backends.yml
  gen_matrix.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/tests/test_dot_sql.py
  justfile
  mkdocs.yml
  pyproject.toml
Labels: new backend, flink

#6905 test(snowflake): use parquet for data loading in the test suite
  ci/schema/snowflake.sql
  ibis/backends/snowflake/tests/conftest.py
Labels: refactor, tests, ci, snowflake

#6818 feat(api): add `relocate` table expression API for moving columns around based on selectors
  ibis/expr/types/relations.py
  ibis/selectors.py
  ibis/tests/expr/test_relocate.py
Labels: feature, ux

#6922 fix(sqlglot): ensure back compat for `DataTypeParam` import
  ibis/backends/clickhouse/datatypes.py
  ibis/formats/parser.py
Labels: bug, dependencies

#6928 chore(deps): bump sqlglot version and regen clickhouse snapshot
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  poetry.lock
  requirements-dev.txt
Labels: dependencies

#6929 chore(dev-deps): check poetry version when invoking `just lock`
  justfile
Labels: developer-tools

#6931 revert: revert core compiler method `to_ast_ensure_limit` from negative slicing PR
  ibis/backends/base/sql/compiler/query_builder.py
  poetry.lock
  requirements-dev.txt
Labels: bug, bigquery

#6932 test(clickhouse): enable xpassing quantile tests
  ibis/backends/tests/test_aggregation.py
Labels: tests, clickhouse

#6955 chore(snowflake): patch `oscrypto` in the nix environment
  poetry-overrides.nix
Labels: dependencies, snowflake, nix

#6954 refactor(clickhouse): move `ClickhouseTable.insert` method to clickhouse backend and remove `ClickhouseTable` class
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
Labels: refactor, clickhouse, breaking change

#6950 fix(bigquery,impala): escape all ASCII escape sequences in string literals
  ibis/backends/base/sql/registry/literal.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_string/escape_ascii_sequences/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_string/escape_backslash/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_string/escape_quote/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_string/not_escape_special_characters/out.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/re_extract/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/re_replace/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/re_search/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/rlike/out.sql
  ibis/backends/tests/test_string.py
Labels: bug, impala, bigquery

#6948 fix(oracle): clarify sid vs service_name handling and allow dsn
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/tests/conftest.py
Labels: bug, oracle

#6901 fix(datatypes): decimal normalization failed for integers
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/pyspark/compiler.py
  ibis/common/numeric.py
  ibis/common/tests/test_numeric.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/datatypes/value.py
  ibis/tests/expr/test_literal.py
  ibis/tests/expr/test_value_exprs.py
Labels: bug

#6981 test(snowflake): fix decimal comparison tests
  ibis/backends/tests/test_numeric.py
Labels: tests, snowflake

#6989 ci(docs): netlify deploy previews
  .github/workflows/ibis-docs-lint.yml
Labels: docs, ci

#6995 ci: build with vendored version of pandoc and bump quarto version
  nix/quarto/default.nix
Labels: docs, ci, dependencies
