Repository ibis-project/ibis, pull requests merged in 2023-02, with the labels that each got.

#5398 docs: improve/update pandas walkthrough
  docs/ibis-for-pandas-users.ipynb
Labels: docs

#5399 docs: rerender ci-analysis notebook with new table header colors
  docs/blog/rendered/ci-analysis.ipynb
Labels: docs

#5374 chore(dev): remove dead warning handlers
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/core.py
  ibis/backends/dask/tests/execution/test_strings.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/tests/execution/test_strings.py
  ibis/backends/postgres/tests/test_postgis.py
  pyproject.toml
Labels: refactor, tests, developer-tools

#5400 fix(snowflake): use `_flatten` to avoid overriding unrelated function in other backends
  ibis/backends/snowflake/registry.py
Labels: bug, backends - duckdb, backends - snowflake, backends - trino

#5407 fix(imports): remove top-level import of sqlalchemy from base backend
  ibis/backends/base/sql/__init__.py
Labels: dependencies

#5401 feat(api): implement `to_pandas()` API for ecosystem compatibility
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_numeric.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: feature, ux, ecosystem

#5414 ci: disable the tpch job in PRs that only touch documentation files
  .github/workflows/ibis-tpch-queries.yml
Labels: ci, developer-tools

#5415 docs: remove duplicate "or"
  docs/how_to/sessionize.md
Labels: docs

#5418 fix(ux): give the `value_counts` aggregate column a better name
  docs/tutorial/04-More-Value-Expressions.ipynb
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/expr/types/generic.py
  ibis/tests/expr/test_table.py
  ibis/tests/sql/snapshots/test_select_sql/test_sort_then_group_by_propagates_keys/result1.sql
  ibis/tests/sql/snapshots/test_select_sql/test_sort_then_group_by_propagates_keys/result2.sql
Labels: ux, breaking change

#5423 docs(io): doc/ux improvements for read_parquet and friends
  docs/install.md
  ibis/config.py
  ibis/expr/api.py
Labels: docs

#5427 fix(polars): use metric name in aggregate output to dedupe columns
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: bug

#5429 docs(io): update README.md to recommand installing duckdb as default backend
  README.md
Labels: docs

#5431 ci: remove autorebase job
  .github/workflows/auto-rebase.yml
Labels: ci

#5426 fix(backend): provide useful error if default backend is unavailable
  ibis/backends/conftest.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/config.py
Labels: bug, ux

#5425 fix(io): add `read_parquet` and `read_csv` to base backend mixin
  ibis/backends/base/__init__.py
Labels: bug, refactor

#5438 docs(streamlit): fix url for support matrix
  docs/backends/app/backend_info_app.py
Labels: bug, docs

#5443 fix(polars): properly infer polars categorical dtype
  ibis/backends/polars/datatypes.py
  ibis/backends/polars/tests/test_datatypes.py
Labels: bug, backends - polars

#5412 feat(dask/pandas): raise OperationNotDefinedError exc for not defined operations
  ibis/backends/dask/tests/execution/test_functions.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/pandas/dispatch.py
  ibis/backends/pandas/execution/decimal.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/execution/join.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/test_core.py
  ibis/backends/polars/compiler.py
  ibis/backends/polars/datatypes.py
  ibis/backends/pyarrow/datatypes.py
  ibis/backends/tests/test_generic.py
Labels: backends - pandas, backends - dask

#5447 fix(api): fix broken `__radd__` array concat operation
  ibis/backends/tests/test_array.py
  ibis/expr/types/arrays.py
Labels: bug, expressions

#5453 docs: render dunder methods
  mkdocs.yml
Labels: docs

#5444 refactor(datatype): remove `Category` type and related APIs
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/dask/tests/execution/test_cast.py
  ibis/backends/dask/tests/test_datatypes.py
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/include_over_include_under1/out.sql
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/execution/constants.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/test_datatypes.py
  ibis/backends/polars/datatypes.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/sqlite/registry.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/expr/api.py
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/datatypes/value.py
  ibis/expr/operations/histograms.py
  ibis/expr/rules.py
  ibis/expr/types/__init__.py
  ibis/expr/types/category.py
  ibis/expr/types/numeric.py
  ibis/tests/expr/test_analytics.py
  ibis/tests/strategies.py
Labels: refactor, breaking change

#5437 feat(ux): expose `rows` and `range` keyword arguments in `value.over()`
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/tests/expr/test_window_functions.py
Labels: ux

#5452 docs: array expression examples
  ibis/expr/types/arrays.py
Labels: docs

#5454 fix(ir): properly raise error if literal cannot be coerced to a datatype
  ibis/expr/rules.py
  ibis/tests/expr/test_rules.py
Labels: bug, ux

#5456 feat(api): allow `isin` to work across expressions that don't share a table
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_multiple_ctes/out.sql
  ibis/backends/tests/test_generic.py
  ibis/expr/analysis.py
Labels: feature, backends - sql

#5459 fix(mysql): remove invalid operations
  ibis/backends/mysql/registry.py
Labels: bug, tests, backends - mysql

#5463 chore: make pre-commit-yaml match lock file
  .pre-commit-config.yaml
Labels: dependencies, developer-tools

#5465 feat(bigquery): implement `isin` in select position
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/tests/test_generic.py
Labels: feature, backends - bigquery

#5476 fix(duckdb): fix memtable `to_pyarrow`/`to_pyarrow_batches`
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
Labels: bug, backends - duckdb

#5482 docs(api): improve `collect` method API documentation
  ibis/expr/types/generic.py
Labels: docs, expressions

#5486 fix(clickhouse): register in-memory tables in pyarrow-related calls
  ibis/backends/clickhouse/__init__.py
Labels: bug, backends - clickhouse

#5488 refactor(common): move the `geospatial` module to the base SQL backend
  ibis/backends/base/sql/registry/geospatial.py
  ibis/backends/postgres/registry.py
Labels: refactor

#5490 Enable color output in pytest output
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
Labels: ci, developer-tools

#5485 feat(api): add array to string join operation
  ibis/backends/bigquery/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/duckdb/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_string.py
  ibis/backends/trino/registry.py
  ibis/expr/operations/strings.py
  ibis/expr/types/arrays.py
  ibis/expr/types/strings.py
Labels: feature, backends

#5492 refactor(snowflake): remove broken fetch_arrow functionality
  ibis/backends/snowflake/__init__.py
Labels: ci, backends - snowflake

#5484 refactor(tests): reorganize datatype test files to the datatypes subpackage
  ibis/expr/datatypes/tests/__init__.py
  ibis/expr/datatypes/tests/test_cast.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/expr/datatypes/tests/test_parse.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/tests/expr/test_literal.py
  ibis/tests/expr/test_value_exprs.py
Labels: refactor, tests

#5493 fix: don't expose backend methods on `ibis.<backend>` directly
  ibis/__init__.py
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/sql.py
  ibis/tests/test_api.py
Labels: bug, ux

#5497 fix(api): add a `name` attribute to backend proxy modules
  ibis/__init__.py
  ibis/backends/tests/test_client.py
  ibis/tests/test_api.py
Labels: bug, backends

#5491 feat(snowflake): Add support for bulk upload for large memtable
  ibis/backends/base/sql/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/expr/api.py
Labels: performance, backends - snowflake

#5498 ci(snowflake): add pyarrow job
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, backends - snowflake

#5500 ci(cloud): cache virtualenvs where possible
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, backends - bigquery, backends - snowflake

#5501 ci(snowflake): don't reset the random number seed for every test
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, backends - snowflake

#5505 ci: enable merge groups
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
  .github/workflows/ibis-tpch-queries-skip-helper.yml
  .github/workflows/ibis-tpch-queries.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Labels: ci

#5507 test(postgres): fix flaky test
  ibis/backends/postgres/tests/test_client.py
Labels: tests, backends - postgres

#5508 docs: improve Expr.substitute() docstring
  ibis/expr/types/generic.py
Labels: docs

#5512 test(backends): remove test_column::test_date_extract_field
  ibis/backends/tests/test_column.py
Labels: refactor, tests

#5489 feat(ux): allow creating unbound tables using annotated class definitions
  ibis/expr/api.py
  ibis/expr/operations/relations.py
  ibis/expr/rules.py
  ibis/expr/schema.py
  ibis/tests/expr/test_schema.py
  ibis/tests/expr/test_table.py
Labels: feature, ux

#5527 feat(clickhouse): support asof_join for clickhouse
  ci/schema/clickhouse.sql
  ibis/backends/clickhouse/compiler/relations.py
  ibis/backends/clickhouse/tests/test_select.py
Labels: feature, backends - clickhouse, timestamps

#5496 test(backends): strict validate exceptions in test_string
  ibis/backends/mssql/registry.py
  ibis/backends/tests/test_string.py
Labels: refactor, tests, backends

#5530 fix(ir): reorder the right schema of set operations to align with the left schema
  ibis/backends/tests/test_set_ops.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
  ibis/tests/expr/test_schema.py
  ibis/tests/expr/test_set_operations.py
  ibis/tests/test_util.py
Labels: bug, expressions, type system

#5542 refactor(tests): reorganize `schema` test file to the `ibis.expr` subpackage
  ibis/expr/tests/test_schema.py
  ibis/tests/expr/test_schema.py
Labels: refactor, tests

#5397 feat(datatype): enable inference of `Decimal` type
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/datatypes/value.py
Labels: feature, type system

#5539 feat(pandas): implement ops.StartsWith, ops.EndsWith
  ibis/backends/pandas/execution/strings.py
  ibis/backends/tests/test_string.py
Labels: feature, backends - pandas

#5525 fix(backends): fix null literal handling
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/literal.py
  ibis/backends/bigquery/registry.py
  ibis/backends/duckdb/registry.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_generic.py
  ibis/backends/trino/registry.py
Labels: bug, backends

#5551 refactor(sqlalchemy): set session parameters once per connection
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
Labels: refactor, backends - sqlalchemy

#5550 feat(duckdb): use `read_json_auto` when reading json
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/expr/api.py
  poetry.lock
  pyproject.toml
Labels: feature, backends - duckdb

#5557 feat(impala): implement ops.Radians, ops.Degress
  ibis/backends/base/sql/registry/main.py
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_numeric.py
Labels: feature, backends - impala

#5534 depr(api): mark `ibis.sequence()` for removal
  ibis/expr/api.py
  ibis/expr/tests/test_rules.py
  ibis/tests/expr/test_value_exprs.py
Labels: refactor

#5574 fix(clickhouse): use a bool type that is compatible with `clickhouse_driver`
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/datatypes.py
  ibis/backends/tests/test_generic.py
Labels: bug, backends - clickhouse

#5577 fix(mssql): set sqlglot to tsql
  ibis/backends/mssql/__init__.py
  ibis/backends/tests/test_sql.py
Labels: bug, ux, backends - mssql

#5576 docs: don't sort backends by coverage percentage by default
  docs/backends/app/backend_info_app.py
Labels: docs

#5579 fix(deps): bump snowflake-connector-python upper bound
  .github/workflows/ibis-backends-cloud.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies, backends - snowflake

#5578 fix(sqlalchemy): ensure that isin contains full column expression
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/trino/out.sql
  ibis/backends/tests/test_sql.py
  ibis/tests/sql/snapshots/test_sqlalchemy/test_where_uncorrelated_subquery/out.sql
Labels: bug, backends - sqlalchemy

#5580 chore(deps): bump cryptography from 38.0.4 to 39.0.1
  poetry.lock
  requirements.txt
Labels: security, dependencies

#5575 refactor(analysis): slightly simplify `find_subqueries()`
  ibis/backends/base/sql/compiler/base.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/expr/analysis.py
  ibis/tests/sql/snapshots/test_sqlalchemy/test_where_correlated_subquery_with_join/out.sql
Labels: refactor

#5581 fix(analysis): extract `Limit` subqueries
  ibis/backends/impala/tests/snapshots/test_sql/test_limit_cte_extract/out.sql
  ibis/expr/analysis.py
  ibis/tests/sql/snapshots/test_select_sql/test_bug_project_multiple_times/out.sql
  ibis/tests/sql/snapshots/test_select_sql/test_join_with_limited_table/out.sql
  ibis/tests/sql/snapshots/test_select_sql/test_limit_cte_extract/out.sql
  ibis/tests/sql/snapshots/test_select_sql/test_topk_analysis_bug/out.sql
  ibis/tests/sql/snapshots/test_select_sql/test_topk_operation/e1.sql
  ibis/tests/sql/snapshots/test_select_sql/test_topk_operation/e2.sql
  ibis/tests/sql/snapshots/test_select_sql/test_topk_predicate_pushdown_bug/out.sql
Labels: refactor, backends - sql

#5583 ci(snowflake): don't set the random seed for snowflake tests
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, backends - snowflake

#5586 feat(snowflake): support cross-database table access
  ci/schema/snowflake.sql
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/snowflake/tests/test_client.py
Labels: feature, backends - snowflake

#5591 fix(sqlalchemy): reflect most recent schema when view is replaced
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/tests/test_register.py
Labels: bug

#5592 fix(snowflake): ensure that we do not try to use a None schema or database
  ibis/backends/snowflake/__init__.py
Labels: bug, backends - snowflake

#5594 chore(dev-deps): add pip to conda-lock spec
  conda-lock/linux-64-3.10.lock
  conda-lock/linux-64-3.8.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.10.lock
  conda-lock/osx-64-3.8.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/osx-arm64-3.10.lock
  conda-lock/osx-arm64-3.8.lock
  conda-lock/osx-arm64-3.9.lock
  conda-lock/win-64-3.10.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
  pyproject.toml
Labels: bug, developer-tools

#5590 feat(ux): easy interactive setup
  ibis/interactive.py
  pyproject.toml
Labels: feature, ux

#5599 chore: remove dead code
  ibis/backends/base/sql/compiler/select_builder.py
Labels: refactor

#5600 test(snowflake): reduce flakiness of concurrent cross schema tests
  ibis/backends/snowflake/__init__.py
Labels: tests, backends - snowflake

#5601 test: avoid memtable in set ops testing to prevent unreliable snowflake random string generation
  ibis/backends/tests/test_set_ops.py
Labels: tests, backends - snowflake

#5589 feat: `ibis.examples`
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .gitignore
  docs/community/contribute/05_maintainers_guide.md
  flake.nix
  ibis/backends/conftest.py
  ibis/examples/__init__.py
  ibis/examples/descriptions.json
  ibis/examples/gen_examples.R
  ibis/examples/gen_registry.py
  ibis/examples/registry.txt
  ibis/examples/tests/test_examples.py
  ibis/interactive.py
  nix/overlay.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: feature, ux

#5609 chore(examples): add Lahman baseball data examples
  ibis/examples/descriptions.json
  ibis/examples/gen_examples.R
  ibis/examples/gen_registry.py
  ibis/examples/registry.txt
  nix/overlay.nix
Labels: examples

#5614 chore(deps): bump ruff to 0.252
  poetry.lock
  requirements.txt
Labels: dependencies, developer-tools

#5618 chore(deps): bump ruff version in pre-commit-config
  .pre-commit-config.yaml
  pyproject.toml
Labels: ci, developer-tools

#5588 feat(common): add abstract mapping collection with support for set operations
  ibis/backends/base/__init__.py
  ibis/common/collections.py
  ibis/common/tests/test_collections.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/expr/operations/core.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/window.py
  ibis/expr/schema.py
  ibis/expr/tests/test_rules.py
  ibis/expr/tests/test_schema.py
  ibis/tests/expr/test_table.py
Labels: feature, type system

#5621 feat(snowflake): add support for alias in snowflake
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_dot_sql.py
Labels: feature, backends - snowflake

#5598 feat(ux): `across`/`if_any`/`if_all` selectors for whole-table operations
  docs/SUMMARY.md
  docs/blog/selectors.md
  ibis/common/annotations.py
  ibis/expr/schema.py
  ibis/expr/selectors.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_selectors.py
  pyproject.toml
Labels: feature, ux, expressions

#5616 feat(examples): add `wowah_data` to examples
  ibis/examples/__init__.py
  ibis/examples/descriptions.json
  ibis/examples/gen_registry.py
  ibis/examples/metadata.json
  ibis/examples/registry.txt
  ibis/examples/tests/test_examples.py
  nix/overlay.nix
  pyproject.toml
Labels: refactor, examples

#5626 feat(examples): add movielens small dataset
  ibis/examples/CITATIONS.md
  ibis/examples/gen_registry.py
  ibis/examples/metadata.json
  ibis/examples/registry.txt
  nix/overlay.nix
  pyproject.toml
Labels: feature, examples

#5608 feat(druid): add Apache Druid backend
  .github/workflows/ibis-backends.yml
  README.md
  ci/schema/druid.sql
  docker-compose.yml
  docker/druid/environment
  docs/backends/Druid.md
  flake.nix
  ibis/backends/druid/__init__.py
  ibis/backends/druid/compiler.py
  ibis/backends/druid/datatypes.py
  ibis/backends/druid/registry.py
  ibis/backends/druid/tests/__init__.py
  ibis/backends/druid/tests/conftest.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_network.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_register.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_timecontext.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: feature, experimental, new backend

#5632 ci: pin nix version to workaround upstream bug
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .github/workflows/update-deps.yml
Labels: ci, nix
