Repository ibis-project/ibis, pull requests merged in 2023-03, with the labels that each got.

#5637 ci: remove use of `autorebase:opt-in` label
  .github/workflows/conda-lock.yml
  .github/workflows/update-deps.yml
Labels: ci

#5631 docs: add Apache Druid to backend matrix
  docs/backends/app/backend_info_app.py
Labels: docs, backends - druid

#5636 perf(duckdb): faster `to_parquet`/`to_csv` implementations
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/expr/sql.py
Labels: feature, performance, backends - duckdb

#5639 perf(duckdb): fix dataframe insertion performance
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_client.py
  ibis/tests/benchmarks/test_benchmarks.py
  justfile
Labels: performance, backends - duckdb

#5642 chore(nix): remove cachix install nix workaround
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .github/workflows/update-deps.yml
Labels: ci, nix

#5623 feat(sql): create temp table
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_client.py
Labels: ddl, backends - sql

#5644 docs: remove duplicate spark backend in install docs
  docs/install.md
Labels: docs

#5645 docs: bump query engine count in README and use project-preferred names
  README.md
Labels: docs

#5647 feat(postgres): parse tsvector columns as strings
  ci/schema/postgresql.sql
  ibis/backends/postgres/datatypes.py
  ibis/backends/postgres/tests/test_string.py
Labels: feature, backends - postgres

#5549 chore: enforce raises in xfail tests
  ibis/backends/conftest.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_uuid.py
Labels: refactor, tests, developer-tools

#5652 tests(pyspark): xfail pyspark on python311
  .github/workflows/ibis-backends.yml
  ibis/backends/conftest.py
  ibis/backends/tests/test_client.py
Labels: tests, backends - pyspark

#5650 chore: remove spark alias to pyspark and associated cruft
  gen_matrix.py
  ibis/backends/conftest.py
  ibis/tests/benchmarks/test_benchmarks.py
  pyproject.toml
Labels: refactor, backends - pyspark, breaking change

#5656 test(pyspark): allow doctests to pass
  ibis/backends/conftest.py
Labels: tests, backends - pyspark

#5654 feat(druid): implement bitwise operations
  ibis/backends/druid/registry.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
Labels: feature, backends - druid

#5657 ci: cut down the druid RAM requirements even more
  docker/druid/environment
Labels: ci, backends - druid

#5658 feat(druid): implement ops.Pi, ops.Modulus, ops.Power, ops.Log10
  ibis/backends/druid/registry.py
  ibis/backends/tests/test_numeric.py
Labels: feature, backends - druid

#5661 feat: accept selectors in `Table.drop`
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: feature, ux, breaking change

#5662 fix(ux): make string range selectors right-inclusive
  ibis/expr/selectors.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_selectors.py
Labels: bug, ux

#5673 chore(deps): bump poetry2nix
  flake.lock
Labels: developer-tools, nix

#5672 ci: remove unnecessary Python version in custom venv cache key
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-main-skip-helper.yml
  .github/workflows/ibis-main.yml
Labels: ci

#5668 feat(examples): enable progressbar and faster hashing
  ibis/examples/__init__.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: ux, developer-tools, examples

#5674 test(postgres): make serial test execution faster
  ibis/backends/postgres/tests/conftest.py
Labels: tests, backends - postgres

#5675 fix(bigquery): regenerate sql for predicate pushdown fix
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_projection_fusion_only_peeks_at_immediate_parent/out.sql
Labels: tests, backends - bigquery

#5646 feat: Add 'cache' API to table
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
  ibis/expr/api.py
  ibis/expr/types/relations.py
  ibis/util.py
Labels: feature, performance, backends

#5541 test(backends): strict validate exception in test_temporal
  ibis/backends/conftest.py
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_temporal.py
Labels: refactor, tests

#5677 test(backends): fix strict validate exception in test_temporal for cloud backends
  ibis/backends/tests/test_temporal.py
Labels: tests, backends - bigquery, backends - snowflake

#5678 test(backends): strict validate exception in test_column
  ibis/backends/conftest.py
  ibis/backends/tests/test_column.py
Labels: tests

#5687 ci(bigquery): fix broken pytest run
  .gitignore
  ibis/backends/tests/test_temporal.py
Labels: bug, tests, backends - bigquery

#5685 feat(examples): add imdb dataset examples
  ibis/examples/CITATIONS.md
  ibis/examples/gen_registry.py
  ibis/examples/metadata.json
  ibis/examples/registry.txt
  nix/overlay.nix
Labels: feature, examples

#5689 fix(ci): fix invalid test id
  ibis/tests/expr/test_selectors.py
Labels: bug, ci

#5690 fix(ir): use static connection pooling to prevent dropping temporary state
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
Labels: ux, backends - sqlalchemy

#5700 fix(sql): make set operations produce valid sql in the presence of sort keys
  ibis/backends/base/sql/compiler/base.py
  ibis/tests/sql/snapshots/test_compiler/test_difference_project_column/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_intersect_project_column/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_table_difference/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_table_intersect/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_union/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_union_order_by/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_union_order_by/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_union_project_column/out.sql
  ibis/tests/sql/test_compiler.py
Labels: bug, backends - bigquery

#5698 feat(tables): cast table using schema
  ibis/common/typing.py
  ibis/expr/api.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: feature, ux, expressions

#5701 docs: add druid to the backends index docs page
  docs/backends/index.md
Labels: docs

#5663 feat(table): `pivot_longer` API
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: feature, ux, expressions

#5704 chore: remove unused _create_table_or_temp_view_from_csv()
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/test_ddl.py
Labels: refactor

#5703 docs(blog): adds examples sneak peek blog + assets folder
  docs/SUMMARY.md
  docs/blog/assets/tab_complete.png
  docs/blog/ibis-examples.md
Labels: docs

#5705 refactor(pyspark): remove another private function
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/test_ddl.py
Labels: refactor, backends - pyspark

#5699 feat(api): make `cache` evaluate only once per session per expression
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
  ibis/expr/types/relations.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: feature, ux, performance

#5713 docs(blog): adds to file sneak peek blog
  docs/SUMMARY.md
  docs/blog/ibis-to-file.md
Labels: docs

#5718 chore: remove unused zip argument
  ibis/backends/base/sql/alchemy/query_builder.py
Labels: refactor

#5721 test(bigquery/snowflake): xfail cloud partitioning tests
  ibis/backends/tests/test_export.py
Labels: bug, tests, backends - bigquery, backends - snowflake

#5720 depr(api): deprecate `summary` API
  ibis/backends/clickhouse/tests/test_aggregations.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/tests/test_aggregation.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/numeric.py
  ibis/tests/expr/test_table.py
Labels: ux

#5719 feat(api): allow single argument set operations
  ibis/backends/tests/test_set_ops.py
  ibis/expr/types/relations.py
Labels: feature, ux

#5731 fix(datafusion): support sum aggregation on bool column
  ibis/backends/datafusion/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: bug, backends - datafusion

#5733 feat(druid): implement ops.Sign, ops.StringJoin; remove invalid operations
  ibis/backends/druid/registry.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_string.py
Labels: feature, backends - druid

#5711 fix(cache): do not pass invalid arguments to table method
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
Labels: bug

#5722 feat(api): upcast pandas DataFrames to memtables in `rlz.table` rule
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/tests/test_datatypes.py
  ibis/backends/pyarrow/datatypes.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/expr/datatypes/value.py
  ibis/expr/rules.py
  ibis/util.py
Labels: feature, backends

#5734 fix(bigquery): ensure that memtables are translated correctly
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/tests/test_join.py
Labels: bug, backends - bigquery, backends - snowflake

#5738 chore(dev-deps): set the default nix environment python version to 3.10
  flake.nix
Labels: developer-tools, nix

#5740 chore(clickhouse): remove unused `_table_command` method
  ibis/backends/clickhouse/__init__.py
Labels: refactor, backends - clickhouse

#5735 fix(snowflake): ensure that memtables are translated correctly
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_join.py
Labels: bug, backends - snowflake

#5746 feat(snowflake): support binary variance reduction with filters
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - snowflake

#5751 ci: include only a single macos nix job
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Labels: ci, nix

#5754 docs: enable light/dark mode toggle in docs
  mkdocs.yml
Labels: docs

#5741 fix(snowflake): ensure that quoting matches snowflake behavior, not sqlalchemy
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/snowflake/tests/test_client.py
  ibis/backends/tests/base.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_window.py
  ibis/backends/trino/tests/conftest.py
Labels: bug, backends - snowflake

#5730 test(backends): strict validate exceptions in test_aggregation
  ibis/backends/conftest.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: tests, backends

#5755 docs: use teal for primary & accent colors
  mkdocs.yml
Labels: docs, ux

#5716 fix: support negative string indices
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/bigquery/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_substring/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_substring/out2.sql
  ibis/backends/mssql/registry.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_string.py
Labels: bug

#5756 fix(bigquery): regenerate negative string index sql snapshots
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_substring/out.sql
Labels: tests, backends - bigquery

#5757 fix(deps): ensure that pyspark depends on sqlalchemy
  poetry.lock
  pyproject.toml
Labels: bug, backends - pyspark, dependencies

#5736 feat(api): make create_table uniform
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/dask/tests/test_client.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/mssql/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pandas/tests/test_client.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_map.py
  ibis/tests/expr/mocks.py
  ibis/tests/sql/test_sqlalchemy.py
  poetry.lock
  pyproject.toml
Labels: feature, ddl, backends

#5758 ci: remove unnecessary docs build job
  .github/workflows/ibis-docs-release.yml
Labels: docs, ci

#5760 fix(mssql): remove invalid aggregations
  ibis/backends/mssql/registry.py
  ibis/backends/tests/test_aggregation.py
Labels: bug, backends - mssql

#5762 fix(trino,duckdb,postgres): make cumulative `notany`/`notall` aggregations work
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/tests/test_window.py
Labels: bug, backends - postgres, window functions, backends - duckdb, backends - trino

#5750 Add optional 'connect_args' to Snowflake connection method
  ibis/backends/snowflake/__init__.py
Labels: feature, backends - snowflake

#5688 feat(duckdb): support sqlalchemy 2
  .github/workflows/ibis-backends.yml
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/registry.py
  poetry.lock
  requirements.txt
Labels: ci, dependencies, backends - duckdb

#5764 docs: clean up agg argument descriptions and add join examples
  ibis/expr/types/relations.py
Labels: docs

#5778 build: add deadnix to pre-commit-hooks
  .pre-commit-config.yaml
  flake.nix
Labels: ci, developer-tools

#5791 docs: patch docs build to fix anchor links
  poetry-overrides.nix
Labels: bug, docs

#5710 refactor(cache): pull out ref counted cache into a separate class
  ibis/backends/base/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/tests/test_client.py
  ibis/common/caching.py
  ibis/tests/expr/mocks.py
Labels: refactor

#5798 feat(sqlite): implement `ops.Arbitrary`
  ibis/backends/sqlite/registry.py
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - sqlite

#5800 test(snowflake): catch the right error when accessing tables in view test
  ibis/backends/tests/test_client.py
Labels: tests, backends - snowflake

#5787 refactor(duckdb): use native duckdb parquet reader unless auth required
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/tests/test_register.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, performance, backends - duckdb

#5802 refactor(duckdb): source loaded and installed extensions from duckdb
  ibis/backends/duckdb/__init__.py
Labels: bug, backends - duckdb

#5799 feat(pyspark): support basic caching
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_client.py
Labels: feature, backends - pyspark

#5803 feat(pyspark): add read_csv, read_parquet, and register
  ibis/backends/duckdb/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_register.py
Labels: feature, backends - pyspark

#5805 feat(snowflake): native pyarrow support
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_export.py
Labels: performance, backends - snowflake

#5727 docs(blog): add campaign finance blog post
  docs/blog/rendered/campaign-finance.ipynb
Labels: docs

#5811 feat(bigquery): make `to_pyarrow_batches()` smarter
  ibis/backends/bigquery/__init__.py
Labels: feature, backends - bigquery

#5815 docs(blog): add campaign finance to `SUMMARY.md`
  docs/SUMMARY.md
Labels: docs

#5816 feat: default repr to showing all columns in Jupyter notebooks
  ibis/backends/tests/test_client.py
  ibis/expr/types/pretty.py
Labels: ux

#5818 test(snowflake): skip local test of schema-dependent database
  ibis/backends/tests/snapshots/test_string/test_rlike/snowflake/out.sql
  ibis/backends/tests/test_string.py
Labels: tests, backends - snowflake

#5825 feat(pyspark): add ArrayFilter operation
  ibis/backends/pyspark/compiler.py
  ibis/backends/pyspark/tests/test_array.py
  ibis/backends/tests/test_array.py
Labels: backends - pyspark

#5830 feat(pyspark): add ArrayMap operation
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_array.py
Labels: feature, backends - pyspark

#5833 test(duckdb): run tests in parallel using an in-memory database
  ibis/backends/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/tests/test_client.py
Labels: tests, performance, backends - duckdb

#5834 feat(pyspark): add DateDiff operation
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: feature, backends - pyspark, timestamps

#5839 fix(duckdb): use finer grained execution to fix flaky windows `install_extension`
  ibis/backends/duckdb/__init__.py
Labels: bug, backends - duckdb

#5854 chore(deps): remove unnecessary pyarrow extra
  .github/workflows/ibis-backends.yml
  poetry.lock
  pyproject.toml
Labels: refactor, ci

#5812 docs: add a getting started guide
  docs/getting_started.md
  docs/index.md
Labels: docs

#5857 refactor(api): remove deprecated `Table.sort_by()` and `Table.groupby()` methods
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: refactor, breaking change

#5865 ci: constrain mamba because later versions are broken
  .github/workflows/conda-lock.yml
Labels: ci, dependencies, developer-tools

#5868 test(duckdb): make remaining tests pass through extension load on init
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/duckdb/tests/test_register.py
Labels: bug, tests, backends - duckdb

#5867 fix(ux): use guaranteed length-1 characters for `NULL` values
  docs/blog/ibis-examples.md
  docs/blog/selectors.md
  docs/getting_started.md
  ibis/expr/api.py
  ibis/expr/types/arrays.py
  ibis/expr/types/generic.py
  ibis/expr/types/json.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_pretty_repr.py
Labels: bug, ux

#5864 feat(ux): move `ibis.expr.selectors` to `ibis.selectors` and deprecate for removal in 6.0
  docs/api/selectors.md
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
  ibis/expr/selectors.py
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
  ibis/interactive.py
  ibis/selectors.py
  ibis/tests/expr/test_table.py
  justfile
  pyproject.toml
Labels: feature, refactor, ux

#5873 ci: avoid building macos nix devShell
  .github/workflows/nix.yml
Labels: ci, dependencies, nix

#5872 test(duckdb): run register tests with a load group
  ibis/backends/duckdb/tests/test_register.py
Labels: bug, tests, backends - duckdb

#5885 feat(sql): move to temporary views for `con.read_x` APIs to avoid view proliferation
  ibis/backends/duckdb/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/sqlite/__init__.py
Labels: feature, ux, backends - sql
