Repository ibis-project/ibis, pull requests merged in 2023-04, with the labels that each got.

#5892 docs: add warning about comparisons to `None`
  ibis/expr/types/groupby.py
  ibis/expr/types/relations.py
Labels: docs

#5893 chore: remove dead snapshot files
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/years/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/row_number/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_decimal_builtins/precision/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_decimal_builtins/scale/out.sql
  ibis/backends/tests/snapshots/test_string/test_rlike/snowflake/out.sql
Labels: backends - sql

#5898 test(snowflake): ensure that tables are always cleaned up
  ibis/backends/conftest.py
  ibis/backends/tests/test_client.py
Labels: backends - snowflake

#5901 ci: reduce the minimum amount of time spent waiting for containers to start
  docker-compose.yml
Labels: ci, developer-tools

#5906 fix(snowflake): make sure pyarrow is used when possible
  ibis/backends/snowflake/__init__.py
Labels: bug, performance, backends - snowflake

#5912 refactor(sqlalchemy): remove unused `_meta` instance attributes
  ibis/backends/duckdb/__init__.py
  ibis/backends/trino/__init__.py
Labels: refactor, backends - sqlalchemy

#5914 fix(snowflake): make sure ephemeral tables following backend quoting rules
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/alchemy/translator.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/snowflake/out.sql
Labels: bug, backends - snowflake

#5915 ci(pyspark): be more specific with tested versions
  .github/workflows/ibis-backends.yml
Labels: bug, ci, backends - pyspark, dependencies

#5916 ci(pyspark): fix numpy 1.24 ci
  .github/workflows/ibis-backends.yml
  ibis/backends/conftest.py
Labels: bug, ci, backends - pyspark

#5882 fix(sql): ensure that set operations produce a single relation
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_set_operation/difference/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_set_operation/intersect/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_set_operation/union_all/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_set_operation/union_distinct/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union/False/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union/True/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/False-False/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/False-True/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/True-False/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_union_cte/True-True/out.sql
  ibis/backends/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/False/out.sql
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/True/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/trino/out.sql
  ibis/backends/tests/test_set_ops.py
  ibis/backends/tests/test_sql.py
  ibis/examples/tests/test_examples.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_set_operations.py
  ibis/tests/expr/test_table.py
  ibis/tests/sql/snapshots/test_compiler/test_difference_project_column/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_difference_project_column/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_intersect_project_column/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_intersect_project_column/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_table_difference/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_table_difference/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_table_intersect/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_table_intersect/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_union/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_union/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_union_order_by/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_union_order_by/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_union_project_column/decompiled.py
  ibis/tests/sql/snapshots/test_compiler/test_union_project_column/out.sql
  ibis/tests/sql/snapshots/test_select_sql/test_complex_union/result.sql
  ibis/tests/sql/snapshots/test_select_sql/test_subquery_in_union/decompiled.py
  ibis/tests/sql/snapshots/test_select_sql/test_subquery_in_union/out.sql
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_select_sql.py
  ibis/tests/util.py
Labels: bug, backends - sql

#5930 chore: remove unused comment step in `condalock_push` CI job
  .github/workflows/conda-lock.yml
Labels: refactor, ci

#5933 refactor(api): remove explicit use of `.projection` in favor of the shorter `.select`
  docs/ibis-for-sql-programmers.ipynb
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/dask/tests/execution/test_arrays.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_sql.py
  ibis/backends/impala/tests/test_window.py
  ibis/backends/pandas/tests/execution/test_arrays.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/tests/test_array.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/expr/analysis.py
  ibis/expr/operations/relations.py
  ibis/expr/types/groupby.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_window_frames.py
  ibis/tests/sql/conftest.py
  ibis/tests/sql/test_compiler.py
  ibis/tests/sql/test_select_sql.py
  ibis/tests/sql/test_sqlalchemy.py
  mkdocs.yml
Labels: refactor

#5932 depr(api): deprecate `Table.set_column` in favor of `Table.mutate`
  ibis/backends/impala/tests/test_exprs.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: refactor, ux

#5936 ci(pyspark): disable parallel test runs
  .github/workflows/ibis-backends.yml
Labels: ci, backends - pyspark

#5946 chore(docker): add health checks for kudu
  docker-compose.yml
Labels: developer-tools

#5955 docs: refresh environment setup pages
  docs/community/contribute/01_environment.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: docs

#5947 feat(duckdb): map operations
  ci/schema/duckdb.sql
  ibis/backends/duckdb/compiler.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/duckdb/registry.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/pandas/client.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_param.py
Labels: feature, backends - duckdb

#5956 fix(clickhouse): ensure that clickhouse depends on sqlalchemy for `make_url` usage
  poetry.lock
  pyproject.toml
Labels: bug, backends - clickhouse, dependencies

#5958 docs(comparison): add a "why ibis" page
  docs/SUMMARY.md
  docs/why_ibis.md
Labels: docs

#5957 docs(selectors): make doctests more complete and actually run them
  ibis/conftest.py
  ibis/selectors.py
Labels: docs, ux

#5963 fix(snowflake): fix new array operations; remove `ArrayRemove` operation
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_array.py
Labels: bug, backends - snowflake

#5974 test(ir): fix maximum console width
  ibis/backends/tests/test_client.py
Labels: tests

#5986 fix(duckdb): disable map values and map merge for columns
  ci/schema/snowflake.sql
  ibis/backends/duckdb/registry.py
  ibis/backends/tests/test_map.py
Labels: bug, tests, backends - duckdb, backends - snowflake

#5991 ci: only show docker compose logs if job requires services
  .github/workflows/ibis-backends.yml
Labels: bug, ci

#5992 fix(docs): fix failing doctests
  ibis/expr/types/arrays.py
  ibis/expr/types/relations.py
Labels: bug, docs

#5996 chore(deps): bump lower bound of ipython in dev dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies

#5993 fix(backends): make notany/notall work with the `where` argument
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_any_all/not_all/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_any_all/not_any/out.sql
  ibis/backends/pandas/execution/generic.py
  ibis/backends/postgres/registry.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_window.py
  ibis/backends/trino/registry.py
Labels: bug, backends

#6001 docs: add platform comment in conda env creation
  docs/community/contribute/01_environment.md
Labels: docs, developer-tools

#5997 chore(deps): remove pandas extra from snowflake deps
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies, backends - snowflake

#6003 feat(sqlite): add ops.DateSub, ops.DateAdd, ops.DateDiff
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_temporal.py
Labels: feature, backends - sqlite, timestamps

#5989 docs: improve docstrings for BooleanValue and BooleanColumn
  ibis/expr/types/logical.py
Labels: docs, expressions

#5977 refactor(deps): remove clickhouse-cityhash and lz4 as explicitly optional dependencies
  ci/conda-lock/generate.sh
  conda-lock/linux-64-3.10.lock
  conda-lock/osx-64-3.10.lock
  conda-lock/osx-arm64-3.10.lock
  conda-lock/win-64-3.10.lock
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: ci, dependencies, breaking change

#6000 feat(duckdb): add attach_sqlite method
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: feature, backends - duckdb

#5999 test(docs): explicitly set column width for doctests
  ibis/conftest.py
Labels: bug, ux, tests

#6005 fix(impala): expose `hdfs_connect` function as `ibis.impala.hdfs_connect`
  ibis/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/test_client.py
Labels: backends - impala

#6019 refactor(snowflake): add flags to supplemental JavaScript UDFs
  ibis/backends/snowflake/__init__.py
  ibis/expr/types/maps.py
Labels: refactor, backends - snowflake

#6020 fix(sql): ensure that overwrite is valid when clobbering an existing table
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/trino/__init__.py
  ibis/tests/conftest.py
Labels: bug, backends - sql

#6028 fix(snowflake): always use pyarrow for memtables
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/pyarrow/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/datatypes.py
  ibis/backends/snowflake/tests/test_client.py
Labels: bug, backends - snowflake

#6034 feat(sqlite): add argmin and argmax functions
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - sqlite

#6037 ci: skip bigquery tests when auth fails
  ibis/backends/bigquery/tests/conftest.py
Labels: ci, backends - bigquery

#6039 chore(windows): move warning to error on locale-specific format string usage
  ibis/backends/postgres/registry.py
  ibis/backends/postgres/tests/test_functions.py
  pyproject.toml
Labels: ux, backends - postgres

#6042 feat(duckdb): set `header=True` by default
  ibis/backends/duckdb/__init__.py
  ibis/examples/tests/test_examples.py
Labels: feature, breaking change, backends - duckdb

#6044 fix(bigquery): add srid=4326 to the geography dtype mapping
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/unit/test_datatypes.py
Labels: geospatial, backends - bigquery

#6041 feat(common): add pattern matchers
  ibis/common/annotations.py
  ibis/common/caching.py
  ibis/common/collections.py
  ibis/common/grounds.py
  ibis/common/patterns.py
  ibis/common/tests/test_collections.py
  ibis/common/tests/test_patterns.py
  ibis/common/tests/test_typing.py
  ibis/common/typing.py
  ibis/common/validators.py
Labels: feature, refactor

#6051 docs(generic): add docstring examples in types/generic
  ibis/expr/types/generic.py
Labels: docs

#6056 docs: fill out more docstrings
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/logical.py
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
Labels: docs, ux

#6058 fix(impala): do not cast `ca_cert` `None` value to string
  ibis/backends/impala/__init__.py
Labels: bug, backends - impala

#6061 refactor(common): use an enum as a sentinel value instead of NoMatch class
  ibis/common/patterns.py
Labels: refactor

#6072 test(deps): remove aiohttp in favor of plain requests + threads
  ibis/backends/druid/tests/conftest.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, tests, dependencies

#6074 fix(pandas): solve problem with first and last window function
  ibis/backends/pandas/execution/window.py
  ibis/backends/pandas/tests/execution/test_window.py
Labels: bug, backends - pandas

#6076 fix(snowflake): ensure that temp tables are only created once
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
Labels: bug, performance, backends - snowflake

#6081 feat(postgres): add ApproxMedian aggregation
  ibis/backends/postgres/registry.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - postgres

#6083 chore(ir): remove unused time unit mappings
  ibis/expr/operations/temporal.py
Labels: refactor, timestamps

#6086 feat(snowflake): implement proper approx median
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - snowflake

#6087 test(bigquery): rename client fixture to con
  ibis/backends/bigquery/tests/system/conftest.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
Labels: bug, tests, backends - bigquery

#6089 test(bigquery): enable xpassing test
  ibis/backends/tests/test_window.py
Labels: bug, tests, backends - bigquery

#6097 docs: clarify map refers to Python Mapping container
  ibis/expr/types/maps.py
Labels: docs

#6109 ci: skip sqlalchemy 2.0.11 to workaround broken ci
  .github/workflows/ibis-backends.yml
Labels: ci, backends - mysql, backends - duckdb

#6102 docs: add allowed input for memtable constructor
  ibis/expr/api.py
Labels: docs

#6100 refactor(sqlite): remove round-tripping for DayOfWeekIndex and DayOfWeekName
  ibis/backends/sqlite/compiler.py
  ibis/backends/sqlite/registry.py
Labels: refactor, backends - sqlite

#6050 docs: Create Ibis for dplyr users document
  docs/SUMMARY.md
  docs/ibis-for-dplyr-users.ipynb
Labels: docs
