Repository ibis-project/ibis, pull requests merged in 2023-01, with the labels that each got.

#5117 fix(snowflake): fix extracting query parameter by key
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_string.py
Labels: bug, backends - snowflake

#5121 test(snowflake): relax `test_list_databases`
  ibis/backends/tests/test_client.py
Labels: tests, backends - snowflake

#5118 feat: display qualified named in deprecation warnings
  ibis/util.py
  pyproject.toml
Labels: feature, developer-api

#5120 feat(trino): implement regex functions
  ibis/backends/tests/test_string.py
  ibis/backends/trino/registry.py
Labels: feature, expressions, backends - trino

#5119 style: bump `ruff` and fix implicit `str` concat lints
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/registry/window.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/conftest.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/test_core.py
  ibis/backends/duckdb/registry.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/test_metadata.py
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/dispatch.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/compiler.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/core.py
  ibis/expr/operations/histograms.py
  ibis/expr/operations/relations.py
  ibis/expr/rules.py
  ibis/expr/schema.py
  ibis/expr/timecontext.py
  ibis/expr/types/core.py
  ibis/expr/types/relations.py
  ibis/expr/window.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, developer-tools

#5116 feat(expr): split ParseURL operation into multiple URL extract operations
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/string.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/extract_host/out.sql
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_string_builtins.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_string.py
  ibis/backends/trino/registry.py
  ibis/expr/operations/strings.py
  ibis/expr/types/strings.py
Labels: refactor

#5122 fix(snowflake): fix failing snowflake url extraction functions
  ibis/backends/snowflake/registry.py
Labels: bug, backends - snowflake

#5103 refactor: remove the `JSONB` type
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/postgres/datatypes.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_json.py
  ibis/backends/trino/datatypes.py
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/types/json.py
  ibis/tests/strategies.py
Labels: refactor, backends - postgres, breaking change, type system

#5102 chore: enable `flake-bugbear` and `flake8-2020` and fix lints
  ibis/backends/bigquery/udf/core.py
  ibis/backends/dask/execution/maps.py
  ibis/backends/dask/execution/strings.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/pandas/execution/maps.py
  ibis/backends/pandas/execution/strings.py
  ibis/backends/tests/base.py
  ibis/backends/tests/test_api.py
  ibis/common/dispatch.py
  ibis/common/tests/test_grounds.py
  ibis/expr/format.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_string.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/expr/test_window_functions.py
  ibis/tests/strategies.py
  ibis/udf/vectorized.py
  pyproject.toml
Labels: developer-tools

#5126 chore: add more pre-commit checks and fix their lints
  .pre-commit-config.yaml
  .prettierignore
  .yamllint.yaml
  flake.nix
  ibis/backends/dask/trace.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mssql/registry.py
  ibis/backends/pandas/trace.py
  ibis/expr/timecontext.py
Labels: developer-tools

#5097 bug: fix execution return type and casting in many backends
  ibis/backends/dask/__init__.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/dask/tests/execution/test_timecontext.py
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/core.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/pandas/tests/execution/conftest.py
  ibis/backends/pandas/tests/execution/test_arrays.py
  ibis/backends/pandas/tests/execution/test_cast.py
  ibis/backends/pandas/tests/execution/test_functions.py
  ibis/backends/pandas/tests/execution/test_maps.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/pandas/tests/execution/test_structs.py
  ibis/backends/pandas/tests/execution/test_temporal.py
  ibis/backends/pandas/tests/execution/test_timecontext.py
  ibis/backends/pandas/tests/execution/test_window.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/polars/compiler.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_vectorized_udf.py
Labels: bug, backends, type system

#5132 refactor: clean up `cot` implementations to have one less function call
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/dask/execution/numeric.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/polars/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/test_numeric.py
Labels: refactor, tests, backends - sqlite, backends - pandas, backends - clickhouse, backends - pyspark, backends - dask, backends - datafusion, backends - polars

#5136 refactor: remove deprecated approximate aggregation classes
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/bigquery/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/duckdb/registry.py
  ibis/expr/operations/reductions.py
Labels: refactor

#5138 feat(bigquery): implement ops.Translate
  ibis/backends/bigquery/registry.py
  ibis/backends/tests/test_string.py
Labels: feature, backends - bigquery

#5140 fix(bigquery): don't try to parse database when name is already fully qualified
  ibis/backends/bigquery/__init__.py
Labels: bug, backends - bigquery

#5139 ci: add more extras to lockfiles
  .github/workflows/conda-lock.yml
  ci/conda-lock/condarc
  ci/conda-lock/generate.sh
  conda-lock/linux-64-3.10.lock
  conda-lock/linux-64-3.8.lock
  conda-lock/linux-64-3.9.lock
  conda-lock/osx-64-3.10.lock
  conda-lock/osx-64-3.8.lock
  conda-lock/osx-64-3.9.lock
  conda-lock/osx-arm64-3.10.lock
  conda-lock/osx-arm64-3.8.lock
  conda-lock/osx-arm64-3.9.lock
  conda-lock/win-64-3.10.lock
  conda-lock/win-64-3.8.lock
  conda-lock/win-64-3.9.lock
  poetry.lock
  pyproject.toml
Labels: ci, dependencies, developer-tools

#5141 feat(deps): support shapely 2.0
  poetry.lock
  pyproject.toml
Labels: geospatial, dependencies

#5144 docs: bring back git revision localized date plugin
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: docs, developer-tools

#5149 fix(polars): workaround failing cast of null to struct
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
  poetry.lock
Labels: bug, backends - polars

#5005 refactor: rework registration / file loading
  LICENSES/odo.txt
  docs/api/expressions/top_level.md
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_register.py
  ibis/common/dispatch.py
  ibis/expr/api.py
  ibis/util.py
  lychee.toml
Labels: backends - duckdb

#5152 chore: remove warning in extending tutorial
  docs/user_guide/extending/elementwise.ipynb
Labels: docs

#5157 refactor: uncouple `MultiQuantile` class from `Quantile`
  ibis/expr/operations/reductions.py
Labels: refactor

#5160 test(mssql): run tests serially, refactor GHA conditionals
  .github/workflows/ibis-backends.yml
Labels: ci, backends - mssql

#5167 chore(dev-deps): bump ruff and fixup/ignore new failures
  .pre-commit-config.yaml
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/udf/rewrite.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/conftest.py
  ibis/backends/dask/execution/reductions.py
  ibis/backends/dask/tests/execution/test_util.py
  ibis/backends/dask/udf.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_temporal.py
  ibis/common/grounds.py
  ibis/expr/datatypes/cast.py
  ibis/expr/operations/logical.py
  ibis/expr/types/relations.py
  ibis/expr/visualize.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_literal.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies, developer-tools

#5165 feat(api): return object from `to_sql` to support notebook syntax highlighting
  ibis/backends/tests/test_client.py
  ibis/expr/sql.py
Labels: feature, backends - sql

#5169 feat(bigquery): implement JSON getitem functionality
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/registry.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/tests/test_json.py
Labels: feature, backends - bigquery

#5173 ci: display docker compose logs on failure
  .github/workflows/ibis-backends.yml
Labels: ci

#5177 blog v4 release
  docs/SUMMARY.md
  docs/blog/ibis-version-4.0.0-release.md
Labels: docs

#5176 docs: add ibis ci data analysis blog
  .envrc
  docs/SUMMARY.md
  docs/blog/rendered/ci-analysis.ipynb
  docs/tutorial/rendered/08-Geospatial-Analysis.ipynb
  mkdocs.yml
Labels: feature, docs, backends - bigquery

#5179 ci: fix failing macos nix builds
  poetry-overrides.nix
Labels: ci, dependencies, nix

#5180 ci: there can be only one docs pushing build
  .github/workflows/ibis-docs-lint.yml
  .github/workflows/ibis-docs-release.yml
Labels: ci

#5184 docs(release): update breaking changes in the release notes for 4.0.0
  docs/release_notes.md
Labels: docs

#5182 fix(snowflake): Remove invalid operations from registry
  docs/backends/support_matrix.md
  ibis/backends/snowflake/registry.py
Labels: bug, docs, backends - snowflake

#5185 fix(deps): make sure pyarrow is not an implicit dependency
  ci/schema/clickhouse.sql
  docker-compose.yml
  docker/clickhouse/Dockerfile
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/pyarrow.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/pandas/tests/test_datatypes.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_register.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: backends - postgres, dependencies

#5197 fix(ir): ops.Where output shape should consider all arguments
  ibis/expr/operations/logical.py
  ibis/tests/expr/test_value_exprs.py
Labels: bug, type system

#5199 refactor(ir): remove UnnamedMarker
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/base/sql/registry/main.py
  ibis/expr/operations/core.py
  ibis/expr/schema.py
  ibis/expr/types/core.py
  ibis/util.py
Labels: refactor, type system

#5196 refactor(datatypes): remove Geography and Geometry types in favor of GeoSpatial
  ibis/backends/mssql/datatypes.py
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/sql.py
  ibis/expr/types/generic.py
  ibis/tests/strategies.py
Labels: refactor, type system

#5201 ci: remove conda-lock-dispatch workflow
  .github/workflows/conda-lock-dispatch.yml
  .github/workflows/conda-lock.yml
Labels: ci, developer-tools

#5200 feat(bigquery): add to_pyarrow method
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/tests/test_export.py
  ibis/expr/types/core.py
Labels: feature, backends - bigquery

#5206 refactor(sqlalchemy): remove use of deprecated `isnot`
  ibis/backends/base/sql/alchemy/registry.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: refactor, backends - sqlalchemy

#5205 docs: publish raw data for operation matrix
  docs/backends/support_matrix.md
  gen_matrix.py
Labels: feature, docs, developer-tools

#5189 fix(backend): read the default backend setting in `_default_backend`
  ibis/backends/tests/test_client.py
  ibis/config.py
Labels: bug, ux

#5198 feat(common): support annotations with typing.Literal
  ibis/common/tests/test_validators.py
  ibis/common/validators.py
Labels: feature, expressions

#5204 ci(mssql): dont recreate database in MSSQL
  .github/workflows/ibis-docs-lint.yml
  docker-compose.yml
  ibis/backends/mssql/tests/conftest.py
Labels: tests, ci, backends - mssql

#5208 chore: bring back the `all` extra
  .github/workflows/check-generated-files.yml
  flake.nix
  nix/overlay.nix
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies, developer-tools, nix

#5209 ci: stop running `bq load` in gcs insert job
  .github/workflows/ci-data.yml
Labels: ci, developer-tools

#5210 chore: tell renovate to also look at `Dockerfile`s
  .github/renovate.json
Labels: ci, dependencies, developer-tools

#5212 ci: automerge docker and github-actions dependency updates [skip ci]
  .github/renovate.json
Labels: ci, dependencies, developer-tools

#5207 chore(deps): relock and remove `docstring_parser`
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: dependencies, developer-tools

#5217 fix(snowflake): re-enable `ops.TableArrayView`
  ibis/backends/snowflake/registry.py
Labels: bug, backends - snowflake

#5218 refactor: remove empty unused file
  ibis/backends/impala/parquet.py
Labels: refactor, backends - impala

#5220 docs: add streamlit app for showing the backend operation matrix
  docs/backend_info_app.py
Labels: docs

#5224 docs: make firefox render the proper iframe height
  docs/stylesheets/extra.css
Labels: docs

#5222 fix(duckdb): make `read_csv` on URLs work
  ibis/backends/duckdb/__init__.py
Labels: bug, backends - duckdb

#5223 docs: allow deselecting geospatial ops in backend support matrix
  docs/backends/app/backend_info_app.py
Labels: docs

#5225 docs: clean up gen_matrix.py after adding streamlit app
  docs/backends/app/backend_info_app.py
  gen_matrix.py
Labels: refactor, docs

#5232 fix(sql): add `typeof` test and bring back implementations
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/duckdb/registry.py
  ibis/backends/sqlite/registry.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_generic.py
  ibis/backends/trino/registry.py
Labels: backends - sql

#5238 feat(snowflake): implement typeof operation
  ibis/backends/snowflake/registry.py
Labels: feature, backends - snowflake

#5233 depr(api): deprecate `.to_projection` in favor of `.as_table`
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base/sql/registry/binary_infix.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/pandas/core.py
  ibis/backends/polars/__init__.py
  ibis/expr/types/generic.py
  ibis/tests/expr/mocks.py
Labels: expressions

#5248 chore: remove reference to ibis-bigquery package
  ibis/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/version.py
Labels: refactor, backends - bigquery

#5243 refactor(sqlalchemy): move `_get_schema_using_query` to base class
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
Labels: refactor

#5242 feat(sqlite): implement `_get_schema_using_query` in SQLite backend
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/datatypes.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/tests/test_dot_sql.py
Labels: feature, backends - sqlite

#5249 chore(deps): squash sqlalchemy 2.0 warnings coming from 1.4.45
  .envrc
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  docs/sqlalchemy_example.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/database.py
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/conftest.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/registry.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/registry.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/postgres/udf.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/registry.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/trino/__init__.py
  ibis/backends/trino/tests/conftest.py
  ibis/tests/sql/test_sqlalchemy.py
Labels: refactor, backends - sqlalchemy, dependencies

#5257 refactor(dtypes): expose nbytes property for integer and floating point datatypes
  ibis/backends/clickhouse/compiler/values.py
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
Labels: refactor, type system

#5256 depr(ir): schedule DatabaseTable.change_name for removal
  ibis/backends/impala/client.py
  ibis/backends/pyspark/client.py
  ibis/expr/operations/relations.py
Labels: refactor, ux, backends

#5264 fix(snowflake): implement working `TimestampNow`
  ibis/backends/postgres/registry.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_temporal.py
Labels: bug, refactor, backends - postgres, backends - snowflake

#5271 chore(dev): stop and start containers with a single command
  justfile
Labels: developer-tools

#5277 test(snowflake): xfail ns test
  ibis/backends/tests/test_temporal.py
Labels: bug, tests, ci, backends - snowflake

#5274 chore(ux): let the transaction error bubble up to avoid nested useless tracebacks
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
Labels: ux, developer-tools

#5272 docs(api): document more public expression APIs
  .pre-commit-config.yaml
  ibis/expr/operations/analytic.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/logical.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  ibis/expr/types/ruff.toml
  pyproject.toml
Labels: docs, ci, developer-tools

#5284 refactor(snowflake): remove unnecessary `parse_json` call in `ops.StructField` impl
  ibis/backends/snowflake/registry.py
Labels: refactor, backends - snowflake

#5282 refactor(sqlalchemy): clean up quoting implementation
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/sqlite/__init__.py
Labels: refactor, backends - sqlalchemy

#5290 fix: correctly visualize array type
  ibis/expr/visualize.py
  ibis/tests/expr/test_visualize.py
Labels: bug, graphviz

#5276 test(dot-sql): make `dot_sql` tests less flaky
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/sqlite/__init__.py
Labels: bug, tests, backends - postgres, ci

#5295 docs(backend-info): prevent app from trying install duckdb extensions
  docs/backends/app/backend_info_app.py
Labels: bug, docs

#5283 feat(snowflake): implement `ops.Arbitrary`
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, backends - snowflake

#5285 feat(snowflake): add struct column operation
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_struct.py
Labels: feature, backends - snowflake

#5291 feat(ux): improve error message when column is not found
  ibis/backends/tests/test_generic.py
  ibis/expr/operations/generic.py
  ibis/expr/types/relations.py
Labels: ux

#5299 test(snowflake): fix xpassing typeof date and typeof timestamp tests
  ibis/backends/tests/test_generic.py
Labels: tests, backends - snowflake

#5273 feat(postgres): add `Map(string, string)` support via the built-in `HSTORE` extension
  ci/schema/postgresql.sql
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/duckdb/registry.py
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_param.py
Labels: feature, backends - postgres

#5301 test(snowflake): use an always-valid identifier in testing map table creation
  ibis/backends/tests/test_map.py
Labels: tests, backends - snowflake

#5303 chore(dev): don't try to drop databases that are automatically created
  docker-compose.yml
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
Labels: tests, backends - sqlalchemy

#5298 depr(datatype): schedule `Struct.from_dict()`, `Struct.pairs` and `Struct(names, types)` constructor for removal
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/clickhouse/datatypes.py
  ibis/backends/clickhouse/tests/test_types.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/polars/datatypes.py
  ibis/backends/pyarrow/datatypes.py
  ibis/backends/pyspark/datatypes.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/trino/datatypes.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/value.py
  ibis/expr/schema.py
  ibis/expr/types/structs.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_format.py
  ibis/tests/expr/test_literal.py
  ibis/tests/expr/test_sql.py
  ibis/tests/sql/test_sqlalchemy.py
  ibis/tests/strategies.py
Labels: refactor, type system

#5310 fix(ux): remove extra trailing newline in expression repr
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: bug, ux, expressions

#5308 refactor(schema): use a mapping to store `Schema` fields rather than `names` and `types` tuples
  ibis/backends/base/sql/ddl.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
  ibis/tests/expr/test_schema.py
  ibis/tests/expr/test_table.py
  ibis/tests/strategies.py
Labels: refactor

#5312 fix(bigquery): resolve deprecation warnings for `StructType` and `Schema`
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/datatypes.py
  ibis/backends/bigquery/tests/conftest.py
Labels: bug, backends - bigquery

#5314 test(bigquery): fix struct/schema deprecation warnings
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/expr/schema.py
Labels: bug, tests, backends - bigquery

#5313 test(snowflake): ignore `isolation_level` for the snowflake backend tests
  ibis/backends/conftest.py
  ibis/backends/snowflake/tests/conftest.py
Labels: bug, tests, backends - snowflake

#5268 feat: make Backend.tables.__repr__ look like list
  ibis/backends/base/__init__.py
  ibis/backends/tests/test_api.py
Labels: feature, ux

#5309 feat(duckdb): add `read_json` function for consuming newline-delimited JSON files
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/expr/api.py
Labels: feature, ux, backends - duckdb

#5320 fix(bigquery): remove invalid operations from registry
  ibis/backends/bigquery/registry.py
Labels: bug, backends - bigquery

#5319 depr(schema): schedule `Schema.delete()` and `Schema.append()` for removal
  ibis/backends/base/sql/ddl.py
  ibis/backends/impala/tests/conftest.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
  ibis/tests/expr/test_schema.py
  ibis/tests/expr/test_table.py
Labels: refactor, type system

#5321 test(snowflake): create a testing schema per-user to avoid clobbering
  ci/schema/snowflake.sql
  ibis/backends/snowflake/tests/conftest.py
Labels: bug, tests, backends - snowflake

#5327 docs: fix notebook logging example
  docs/tutorial/03-Expressions-Lazy-Mode-Logging.ipynb
Labels: bug, docs

#5329 test(snowflake): revert temp table usage
  ci/schema/snowflake.sql
Labels: bug, tests, backends - snowflake

#5328 feat(bigquery): implement create and drop table method
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/tests/test_client.py
Labels: feature, ddl, backends - bigquery

#5323 refactor(schema): remove deprecated `Schema.from_dict()`, `.delete()` and `.append()` methods
  ibis/expr/datatypes/core.py
  ibis/expr/schema.py
  ibis/tests/expr/test_schema.py
Labels: refactor

#5326 refactor(ir/backends): remove various deprecated functions and methods
  docs/backends/Impala.md
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/conftest.py
  ibis/backends/duckdb/datatypes.py
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/strings.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  pyproject.toml
Labels: refactor

#5324 feat(datatype): implement `Mapping` abstract base class for `StructType`
  ibis/expr/datatypes/core.py
  ibis/tests/expr/test_datatypes.py
Labels: feature

#5322 refactor(postgres): clean up literal arrays
  ibis/backends/postgres/registry.py
  ibis/backends/tests/test_sql.py
  ibis/expr/sql.py
Labels: refactor, backends - postgres

#5339 refactor(snowflake): remove the need for `parsy`
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/datatypes.py
Labels: refactor, backends - snowflake

#5341 refactor(sqlalchemy): split data type dispatches into backend specific modules
  ibis/backends/base/sql/alchemy/datatypes.py
  ibis/backends/mssql/datatypes.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/postgres/datatypes.py
  ibis/backends/sqlite/datatypes.py
Labels: refactor, backends - sqlalchemy

#5344 test(sqlalchemy): fix previously-untested failing unsigned integer test
  ibis/backends/tests/test_client.py
Labels: tests, backends - sqlalchemy

#5354 feat(snowflake): implement ops.Bitwise{And,Not,Or,Xor}
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_numeric.py
Labels: feature, backends - snowflake

#5356 feat(duckdb): add support for reading sqlite tables
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: feature, backends - duckdb

#5357 docs(README.md): clean up readme, fix typos, alter the example
  README.md
Labels: docs

#5345 feat(pandas): support more pandas extension dtypes
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/pandas/client.py
  ibis/backends/pandas/tests/test_client.py
Labels: feature, type system

#5363 test(trino): fix xpassing `load_data` test
  ibis/backends/tests/test_client.py
Labels: bug, tests, ddl, backends - trino

#5359 feat(duckdb): implement create_view and drop_view method
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_client.py
Labels: feature, ddl, backends - duckdb

#5365 fix(duckdb): workaround an ownership bug at the interaction of duckdb, pandas and pyarrow
  ibis/backends/base/sql/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/pandas/client.py
  ibis/backends/pyspark/__init__.py
  ibis/util.py
Labels: bug, backends - duckdb

#5371 feat(bigquery): implement create_view and drop_view method
  ibis/backends/bigquery/__init__.py
  ibis/backends/tests/test_client.py
Labels: feature, ddl, backends - bigquery

#5367 fix(sqlalchemy): use indexed group by key references everywhere possible
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/clickhouse/compiler/relations.py
  ibis/backends/clickhouse/tests/snapshots/test_select/test_complex_array_expr_projection/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_named_from_filter_groupby/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_named_from_filter_groupby/out2.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_table_column_unbox/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_where_with_timestamp/out.sql
  ibis/backends/mssql/compiler.py
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/False/out.sql
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/True/out.sql
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/trino/out.sql
  ibis/backends/tests/test_sql.py
  ibis/tests/sql/snapshots/test_sqlalchemy/test_aggregate/having_count/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_aggregate/having_sum/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_aggregate/single_key/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_aggregate/two_keys/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_cte_factor_distinct_but_equal/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/count_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/group_by_count_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/projection_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/single_column_projection_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_distinct/table_distinct/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_filter_group_by_agg_with_same_name/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_lower_projection_sort_key/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_no_cart_join/out.sql
  ibis/tests/sql/snapshots/test_sqlalchemy/test_subquery_aliased/out.sql
  ibis/tests/sql/test_sqlalchemy.py
Labels: bug, backends - sqlalchemy, backends - duckdb

#5372 chore(deps): relax snowflake pyarrow dependency
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/conftest.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: refactor, dependencies, backends - snowflake

#5375 fix(clickhouse): raise OperationNotDefinedError if operation is not supported
  ibis/backends/clickhouse/compiler/relations.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/tests/test_generic.py
Labels: bug, backends - clickhouse

#5346 fix(parsy): remove unexpected keyword argument to `optional`
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, breaking change

#5376 fix(snowflake): handle the case where pyarrow isn't installed
  ibis/backends/snowflake/__init__.py
Labels: bug, backends - snowflake

#5380 fix(duckdb): ensure that `temp_directory` exists
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: bug, backends - duckdb

#5379 fix(pandas): don't try to dispatch on arrow dtype if not available
  ibis/backends/pandas/client.py
Labels: bug, backends - pandas, type system

#5330 feat(datatype/schema): support datatype and schema declaration using type annotated classes
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/schema.py
  ibis/tests/expr/test_datatypes.py
  ibis/tests/expr/test_rules.py
  ibis/tests/expr/test_schema.py
Labels: feature, type system, ecosystem

#5386 build(nix): fix nix tests
  nix/ibis.nix
Labels: tests, nix

#5385 build: remove `mkdocs-table-reader-plugin` and explicit `tomli` dependency
  gen_matrix.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: docs, dependencies

#5387 feat(snowflake): implement remaining map functions
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_map.py
Labels: feature, backends - snowflake
