Repository ibis-project/ibis, pull requests merged in 2023-10, with the labels that each got.

#7262 docs(reference): improve signatures
  docs/_quarto.yml
Labels: docs

#7268 docs: set expectations for the impala backend
  docs/backends/impala.qmd
Labels: docs, impala

#7274 chore(codecov): skip processing bigquery and snowflake codecov
  codecov.yml
Labels: analytics, developer-tools, bigquery, snowflake

#7263 depr(api): replace `nullifzero` with `ifnull(0)` and `zeroifnull` with `fillna(0)`
  ibis/backends/base/sql/alchemy/registry.py
  ibis/backends/base/sql/alchemy/translator.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/bigquery/registry.py
  ibis/backends/clickhouse/compiler/values.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/clickhouse/tests/test_select.py
  ibis/backends/dask/execution/generic.py
  ibis/backends/dask/tests/execution/test_operations.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/flink/registry.py
  ibis/backends/impala/tests/snapshots/test_case_exprs/test_decimal_fillna_cast_arg/fillna_l_extendedprice/out.sql
  ibis/backends/impala/tests/snapshots/test_case_exprs/test_decimal_fillna_cast_arg/fillna_l_extendedprice_double/out.sql
  ibis/backends/impala/tests/snapshots/test_case_exprs/test_decimal_fillna_cast_arg/fillna_l_quantity/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-nullifzero/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/double_col-zeroifnull/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-nullifzero/out.sql
  ibis/backends/impala/tests/snapshots/test_unary_builtins/test_numeric_unary_builtins/int_col-zeroifnull/out.sql
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/tests/test_unary_builtins.py
  ibis/backends/mysql/registry.py
  ibis/backends/pandas/execution/generic.py
  ibis/backends/pandas/tests/execution/test_operations.py
  ibis/backends/polars/compiler.py
  ibis/backends/postgres/registry.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/sqlite/registry.py
  ibis/backends/sqlite/tests/test_functions.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/trino/registry.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/numeric.py
  ibis/expr/types/generic.py
  ibis/expr/types/numeric.py
  ibis/tests/expr/test_sql_builtins.py
  ibis/tests/expr/test_table.py
Labels: refactor, deprecation

#7275 docs: remove underscores that are not deferreds in doctest
  ibis/backends/bigquery/client.py
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/relations.py
  ibis/expr/types/temporal.py
Labels: docs, ux

#7271 refactor(clickhouse): use more sqlglot constructs
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/compiler/values.py
Labels: refactor, clickhouse

#7294 fix(duckdb): query table list directly instead of relying on sqlalchemy
  ibis/backends/duckdb/__init__.py
Labels: bug, duckdb

#7302 test(perf): run all tpch queries in a single process to avoid high memory usage and multiple data loads
  ibis/backends/tests/tpch/conftest.py
Labels: tests, performance, duckdb, trino

#7301 feat(api): allow selectors in `order_by`
  ibis/expr/types/relations.py
  ibis/tests/expr/test_selectors.py
Labels: feature, ux

#7305 docs(udfs): fix udf interlink locations
  ibis/expr/operations/udf.py
Labels: bug, docs

#7304 feat(ux): render url strings as links in rich table output
  ibis/expr/types/pretty.py
  ibis/tests/expr/test_pretty_repr.py
Labels: feature, ux

#7297 docs: add deprecation to .nullifzero docstring
  ibis/expr/types/numeric.py
Labels: docs

#7316 feat(common): support `Self` annotations for `Annotable`
  ibis/common/grounds.py
  ibis/common/patterns.py
  ibis/common/tests/test_graph_benchmarks.py
  ibis/common/tests/test_grounds.py
  ibis/common/tests/test_typing.py
  ibis/common/typing.py
Labels: refactor

#7315 feat(common): make `Slotted` and `FrozenSlotted` pickleable
  ibis/common/bases.py
  ibis/common/tests/test_bases.py
Labels: refactor

#7322 feat(api): support deferred in reduction filters
  ibis/backends/tests/test_aggregation.py
  ibis/expr/analysis.py
  ibis/expr/types/generic.py
  ibis/expr/types/logical.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
Labels: feature, backends

#7320 refactor(datafusion): create registry of time udfs to create them only once
  ibis/backends/datafusion/compiler.py
  ibis/backends/datafusion/registry.py
Labels: refactor, datafusion

#7277 refactor(ir): unify `ibis.common.pattern` builders and `ibis.expr.deferred`
  ibis/backends/clickhouse/compiler/core.py
  ibis/backends/polars/__init__.py
  ibis/common/deferred.py
  ibis/common/graph.py
  ibis/common/patterns.py
  ibis/common/tests/test_deferred.py
  ibis/common/tests/test_grounds.py
  ibis/common/tests/test_patterns.py
  ibis/common/typing.py
  ibis/expr/analysis.py
  ibis/expr/api.py
  ibis/expr/builders.py
  ibis/expr/deferred.py
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/tests/test_generic.py
  ibis/expr/operations/tests/test_rewrites.py
  ibis/expr/operations/udf.py
  ibis/expr/tests/test_api.py
  ibis/expr/tests/test_deferred.py
  ibis/expr/types/arrays.py
  ibis/expr/types/generic.py
  ibis/expr/types/groupby.py
  ibis/expr/types/maps.py
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
  ibis/selectors.py
  ibis/tests/expr/test_udf.py
  ibis/tests/expr/test_window_frames.py
  ibis/tests/test_util.py
  ibis/util.py
Labels: refactor

#7332 fix(datatypes): correct unsigned integer bounds
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_cast.py
  ibis/expr/datatypes/tests/test_core.py
Labels: bug, developer-api

#7336 refactor(clickhouse): use a pattern for one-to-zero index conversion of ranking window functions
  ibis/backends/clickhouse/compiler/core.py
  ibis/backends/clickhouse/compiler/values.py
Labels: refactor, clickhouse

#7245 refactor(analysis): vastly simplify windowize_function
  ibis/backends/dask/tests/execution/test_window.py
  ibis/common/graph.py
  ibis/common/tests/test_graph_benchmarks.py
  ibis/expr/analysis.py
  ibis/expr/types/groupby.py
  ibis/tests/sql/test_select_sql.py
Labels: developer-api, refactor, window functions

#7340 chore(deps): bump duckdb
  poetry.lock
  requirements-dev.txt
Labels: ci, duckdb

#7347 docs: improve re_replace docstring
  ibis/expr/types/strings.py
Labels: docs

#7356 feat(trino): support temporal operations
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/tpch/snapshots/test_h01/test_tpc_h01/trino/h01.sql
  ibis/backends/tests/tpch/snapshots/test_h03/test_tpc_h03/trino/h03.sql
  ibis/backends/tests/tpch/snapshots/test_h04/test_tpc_h04/trino/h04.sql
  ibis/backends/tests/tpch/snapshots/test_h05/test_tpc_h05/trino/h05.sql
  ibis/backends/tests/tpch/snapshots/test_h06/test_tpc_h06/trino/h06.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/trino/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/trino/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h10/test_tpc_h10/trino/h10.sql
  ibis/backends/tests/tpch/snapshots/test_h12/test_tpc_h12/trino/h12.sql
  ibis/backends/tests/tpch/snapshots/test_h14/test_tpc_h14/trino/h14.sql
  ibis/backends/tests/tpch/snapshots/test_h15/test_tpc_h15/trino/h15.sql
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/trino/h20.sql
  ibis/backends/trino/__init__.py
  ibis/backends/trino/datatypes.py
  ibis/backends/trino/registry.py
Labels: feature, timestamps, trino

#7361 ci(trino): use upstream hive image to avoid building one from scratch
  docker-compose.yml
  docker/trino/Dockerfile
  docker/trino/catalog/hive.properties
  docker/trino/entrypoint.sh
  docker/trino/metastore-site.xml
Labels: tests, ci, developer-tools, trino

#7364 fix(oracle): disable if_exists for Oracle drop view command
  ibis/backends/oracle/__init__.py
Labels: bug, oracle

#7337 refactor(clickhouse): apply repetitive transformations as pattern replacements
  ibis/backends/clickhouse/compiler/core.py
  ibis/backends/clickhouse/compiler/values.py
Labels: refactor, clickhouse

#7369 refactor(analysis): remove `substitute_unbound()` since it is used at a single place
  ibis/expr/analysis.py
  ibis/expr/types/core.py
Labels: developer-api, refactor

#7368 refactor(analysis): remove `_rewrite_filter()` in favor of using replacement patterns
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name/out.sql
  ibis/expr/analysis.py
  ibis/expr/operations/logical.py
  ibis/expr/types/relations.py
  ibis/tests/sql/snapshots/test_compiler/test_agg_filter/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_agg_filter_with_alias/out.sql
  ibis/tests/sql/snapshots/test_compiler/test_subquery_where_location/decompiled.py
Labels: refactor

#7360 test(duckdb): speed up duckdb parallel tests by avoiding repeated extension downloads
  ibis/backends/duckdb/tests/conftest.py
Labels: tests, ci, performance, developer-tools

#7265 feat(flink): add temporal operators
  ibis/backends/flink/registry.py
Labels: feature, flink

#7362 test(trino): clean up testing setup code
  ci/schema/duckdb.sql
  ci/schema/postgres.sql
  ci/schema/snowflake.sql
  ci/schema/trino.sql
  docker-compose.yml
  docker/trino/catalog/hive.properties
  docker/trino/catalog/postgresql.properties
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_map.py
  ibis/backends/trino/tests/conftest.py
  ibis/backends/trino/tests/snapshots/test_client/test_builtin_scalar_udf/result.txt
  ibis/backends/trino/tests/test_client.py
Labels: refactor, tests, trino

#7370 refactor(docker-compose): clean up unused exposed ports and make envar spec uniform
  docker-compose.yml
Labels: ci

#7371 refactor(analysis): remove `substitute_parents()`
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/expr/analysis.py
  ibis/tests/expr/test_analysis.py
Labels: developer-api, refactor

#7372 docs(trino): add note about SSO configuration
  docs/backends/trino.qmd
Labels: docs, trino

#7375 ci(duckdb): bring back a faster version of isolated extension downloads
  ibis/backends/duckdb/tests/conftest.py
Labels: ci, duckdb

#7379 fix(bigquery): move sql code to proper argument
  ibis/backends/bigquery/udf/__init__.py
  ibis/backends/tests/test_export.py
Labels: bug, udf, bigquery

#7380 fix(trino): remove stateful `USE` pattern for cross-schema table compilation
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/tpch/snapshots/test_h01/test_tpc_h01/trino/h01.sql
  ibis/backends/tests/tpch/snapshots/test_h02/test_tpc_h02/trino/h02.sql
  ibis/backends/tests/tpch/snapshots/test_h03/test_tpc_h03/trino/h03.sql
  ibis/backends/tests/tpch/snapshots/test_h04/test_tpc_h04/trino/h04.sql
  ibis/backends/tests/tpch/snapshots/test_h05/test_tpc_h05/trino/h05.sql
  ibis/backends/tests/tpch/snapshots/test_h06/test_tpc_h06/trino/h06.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/trino/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/trino/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h09/test_tpc_h09/trino/h09.sql
  ibis/backends/tests/tpch/snapshots/test_h10/test_tpc_h10/trino/h10.sql
  ibis/backends/tests/tpch/snapshots/test_h11/test_tpc_h11/trino/h11.sql
  ibis/backends/tests/tpch/snapshots/test_h12/test_tpc_h12/trino/h12.sql
  ibis/backends/tests/tpch/snapshots/test_h13/test_tpc_h13/trino/h13.sql
  ibis/backends/tests/tpch/snapshots/test_h14/test_tpc_h14/trino/h14.sql
  ibis/backends/tests/tpch/snapshots/test_h15/test_tpc_h15/trino/h15.sql
  ibis/backends/tests/tpch/snapshots/test_h16/test_tpc_h16/trino/h16.sql
  ibis/backends/tests/tpch/snapshots/test_h17/test_tpc_h17/trino/h17.sql
  ibis/backends/tests/tpch/snapshots/test_h18/test_tpc_h18/trino/h18.sql
  ibis/backends/tests/tpch/snapshots/test_h19/test_tpc_h19/trino/h19.sql
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/trino/h20.sql
  ibis/backends/tests/tpch/snapshots/test_h21/test_tpc_h21/trino/h21.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/trino/h22.sql
  ibis/backends/trino/__init__.py
  ibis/backends/trino/tests/test_client.py
Labels: bug, refactor, snowflake, trino

#7384 chore(bigquery): regenerate sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_compile_toplevel/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_set_operation/difference/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_set_operation/intersect/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_set_operation/union_all/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_set_operation/union_distinct/out.sql
Labels: tests, ci, bigquery

#7385 test(duckdb): preload extensions to avoid race condition
  ibis/backends/duckdb/tests/conftest.py
Labels: ci, duckdb

#7392 test(doctest): sort `pivot_wider` case that occasionally fails in CI
  ibis/expr/types/relations.py
Labels: tests, ci

#7393 fix(duckdb): ensure proper quoting when compiling cross database/schema tables
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
Labels: bug, duckdb

#7382 feat(flink): add remaining operators for Flink to pass/skip the common tests
  ibis/backends/flink/registry.py
Labels: feature, tests, timestamps, flink

#7401 refactor(bigquery): remove unused `BigQueryTable` object
  ibis/backends/bigquery/client.py
Labels: refactor, bigquery

#7399 fix(trino): enable passing the `database` argument when accessing tables
  ibis/backends/base/__init__.py
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/alchemy/__init__.py
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/compiler/relations.py
  ibis/backends/druid/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/client.py
  ibis/backends/trino/tests/test_client.py
  ibis/expr/operations/relations.py
  ibis/tests/expr/mocks.py
Labels: bug, duckdb, snowflake, trino

#7405 feat(datafusion): add TimestampTruncate / fix broken extract time part functions
  ibis/backends/datafusion/compiler.py
  ibis/backends/datafusion/registry.py
  ibis/backends/datafusion/tests/test_temporal.py
  ibis/backends/tests/test_temporal.py
Labels: bug, feature, datafusion

#7402 fix(bigquery): apply unnest transformation in other methods that execute SQL
  ibis/backends/bigquery/__init__.py
  ibis/backends/tests/test_array.py
Labels: bug, bigquery

#7394 feat(duckdb): add `attach` and `detach` methods for adding and removing databases to the current duckdb session
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
Labels: feature, duckdb

#7404 chore: revert the apocalyse
  .github/workflows/conda-lock.yml
  .pre-commit-config.yaml
  ci/conda-lock/generate.sh
  ci/conda-lock/linux-64/3.10.lock
  ci/conda-lock/linux-64/3.11.lock
  ci/conda-lock/osx-64/3.10.lock
  ci/conda-lock/osx-64/3.11.lock
  ci/conda-lock/osx-arm64/3.10.lock
  ci/conda-lock/osx-arm64/3.11.lock
  ci/conda-lock/python-3.10.yml
  ci/conda-lock/python-3.11.yml
  ci/conda-lock/python-3.9.yml
  ci/conda-lock/versions/python-3.10.yml
  ci/conda-lock/versions/python-3.11.yml
  ci/conda-lock/versions/python-3.9.yml
  ci/conda-lock/win-64/3.10.lock
  ci/conda-lock/win-64/3.11.lock
  docs/contribute/01_environment.qmd
Labels: ci, dependencies, developer-tools

#7410 chore(deps): bump urllib3 from 1.26.17 to 1.26.18
  poetry.lock
  requirements-dev.txt
Labels: security, dependencies

#7409 feat(ux): show syntax-highlighted SQL if pygments is installed
  ibis/expr/sql.py
Labels: feature, ux

#7406 docs: setup codespace configuration for `getting_started.qmd` tutorial
  .devcontainer/devcontainer.json
  .devcontainer/updateContent.sh
Labels: docs, ux, developer-tools

#7414 feat(snowflake): support timestamp bucketing
  ibis/backends/snowflake/registry.py
  ibis/backends/tests/test_temporal.py
Labels: feature, snowflake

#7421 chore(snowflake): remove now-implemented `TimestampBucket` operation
  ibis/backends/snowflake/registry.py
Labels: tests, snowflake

#7418 test(trino): use `tpch.tiny` for faster testing of tpch queries
  ibis/backends/tests/tpch/conftest.py
  ibis/backends/trino/tests/conftest.py
Labels: tests, performance, trino

#7416 fix(sqlalchemy): ensure that limit on `.sql` calls works
  ibis/backends/base/sql/alchemy/query_builder.py
  ibis/backends/tests/test_dot_sql.py
Labels: bug, sqlalchemy

#7413 feat(duckdb): add support for specific timestamp scales
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/duckdb/tests/test_datatypes.py
Labels: feature, duckdb

#7387 feat(api): support specifying `sig` in udf definitions
  ibis/expr/operations/udf.py
  ibis/tests/expr/test_udf.py
Labels: feature

#7428 fix(repr): add dispatch for repr of GeoSpatialBinOps
  ibis/expr/format.py
  ibis/tests/expr/test_geospatial.py
Labels: bug, ux, geospatial

#7433 style: format mssql backend files to unix line endings for consistency with the rest of the codebase
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mssql/registry.py
Labels: developer-tools, mssql

#7437 chore(deps): bump nixpkgs
  .github/workflows/nix.yml
  default.nix
  flake.lock
  flake.nix
  nix/overlay.nix
  poetry-overrides.nix
  shell.nix
Labels: dependencies, developer-tools, nix

#7429 fix(ir): coerce integers passed to `Value[dt.Floating]` annotated values as `dt.float64`
  ibis/expr/datatypes/core.py
  ibis/expr/operations/core.py
  ibis/expr/operations/numeric.py
  ibis/expr/operations/reductions.py
  ibis/expr/operations/tests/test_generic.py
Labels: bug, developer-api, ux

#7440 test(datafusion): enable compile benchmarks for datafusion after move to sqlglot
  ibis/tests/benchmarks/test_benchmarks.py
Labels: tests, datafusion

#7446 feat(datafusion): add case and if-else statements
  ibis/backends/datafusion/compiler/values.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_string.py
Labels: feature, datafusion

#7467 feat(datafusion): add corr and covar
  ibis/backends/datafusion/compiler/values.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, datafusion

#7462 fix(sqlite): truncate week to previous week not following
  ibis/backends/sqlite/registry.py
  ibis/backends/tests/test_temporal.py
Labels: bug, sqlite

#7449 feat(duckdb): expose option to force reinstall extension
  ibis/backends/duckdb/__init__.py
Labels: feature, duckdb
