Repository ibis-project/ibis, pull requests merged in 2024-02, with the labels that each got.

#8181 test: replace flaky `today()` test with mock
  ibis/common/tests/test_temporal.py
Labels: tests, ci

#8124 fix(common): don't match an `Object` pattern with more positional arguments defined than `__match_args__` has
  ibis/backends/base/sqlglot/tests/test_compiler.py
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
Labels: bug, tes-required-for-merge

#7966 test(flink): add unit test for window join
  ibis/backends/conftest.py
  ibis/backends/flink/datatypes.py
  ibis/backends/flink/ddl.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/flink/tests/test_join.py
Labels: tests, flink

#8188 test(arrays): ensure that array test assertions are not sensitive to row order
  ibis/backends/flink/tests/test_join.py
  ibis/backends/tests/test_array.py
Labels: tests, ci, backends, flink

#8196 docs: update quickstart to use rename
  docs/index.qmd
Labels: docs

#8194 docs: improve UDF signature docs
  docs/_freeze/how-to/extending/builtin/execute-results/html.json
  docs/how-to/extending/builtin.qmd
  ibis/expr/operations/udf.py
Labels: docs, udf, duckdb, snowflake

#8209 docs: row_number always starts at 0
  ibis/expr/api.py
Labels: docs

#8211 test(snowflake): enable xpassing test
  ibis/backends/tests/test_dot_sql.py
Labels: tests, snowflake

#8212 test(snowflake): ensure that compilation does not make requests
  ibis/backends/snowflake/tests/test_client.py
Labels: tests, snowflake

#8215 fix(api): selection using a selector yielding multiple columns
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: bug, tests

#8218 chore: remove ruff.toml causing types directory to be ignore and fix subsequent lint errors
  ibis/expr/types/arrays.py
  ibis/expr/types/core.py
  ibis/expr/types/dataframe_interchange.py
  ibis/expr/types/generic.py
  ibis/expr/types/geospatial.py
  ibis/expr/types/groupby.py
  ibis/expr/types/maps.py
  ibis/expr/types/numeric.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
  ibis/expr/types/ruff.toml
  ibis/expr/types/strings.py
  ibis/expr/types/structs.py
  ibis/expr/types/temporal.py
  ibis/expr/types/typing.py
  pyproject.toml
Labels: bug, developer-tools

#8221 test(risingwave): make unnest test not flaky
  ibis/backends/tests/test_array.py
Labels: tests, ci, tes-required-for-merge, risingwave

#8219 chore(dev-deps): bump ruff to v0.2.0
  ibis/backends/clickhouse/tests/test_operators.py
  ibis/backends/pandas/execution/temporal.py
  ibis/backends/postgres/datatypes.py
  ibis/backends/risingwave/datatypes.py
  ibis/backends/tests/test_map.py
  ibis/common/patterns.py
  ibis/common/tests/test_patterns.py
  ibis/common/typing.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: developer-tools

#8232 docs: add blog link on the homepage
  docs/index.qmd
Labels: docs

#8222 docs: add lms for data post
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/_freeze/posts/lms-for-data/index/figure-html/cell-31-output-1.png
  docs/posts/lms-for-data/index.qmd
  docs/posts/lms-for-data/thumbnail.png
Labels: docs

#8234 ci: allow codecov uploads to fail
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
Labels: ci, developer-tools

#8236 docs: minor fixes to LM blog
  docs/_freeze/posts/lms-for-data/index/execute-results/html.json
  docs/posts/lms-for-data/index.qmd
Labels: docs

#8238 docs(flink): update conda-based installation guide
  docs/_tabsets/install.qmd
Labels: docs, dependencies, flink

#8240 chore(deps): bump quarto 1.4.549 in our devcontainer
  .devcontainer/devcontainer.json
Labels: docs, developer-tools

#8241 ci: eagerly cancel docs previews
  .github/workflows/docs-preview.yml
Labels: ci, developer-tools

#8245 test(duckdb): enable previously incorrectly skipped geospatial tests
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp0-0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp1-1_1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp2-2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp3-0_0_1_1_2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp4-2_2_1_1_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp5-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp6-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp7-0_0_1_1_2_2_2_2_1_1_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp8-0_0_1_1_2_2/out.sql
  ibis/backends/duckdb/tests/test_geospatial.py
  ibis/backends/tests/test_examples.py
Labels: tests, geospatial, duckdb, tes-required-for-merge

#8244 refactor(ir): remove now obsolete `ops.Named` mixin
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_from_integer/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_truncate/d/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_truncate/h/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_truncate/m/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_truncate/minute/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_truncate/w/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_truncate/y/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_assign_labels/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_base/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_joins_single_cte/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/default/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/ms/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/us/out.sql
  ibis/backends/tests/sql/snapshots/test_compiler/test_having_size/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_aggregate_having/inline.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_select_sql/aggregate_table_count_metric/out.sql
  ibis/backends/tests/sql/snapshots/test_sql/test_aggregate/having_count/out.sql
  ibis/expr/operations/core.py
  ibis/expr/operations/generic.py
  ibis/expr/tests/snapshots/test_format/test_table_count_expr/cnt_repr.txt
  ibis/expr/types/core.py
  ibis/util.py
Labels: refactor

#8246 chore(dev-deps): add environment.yml file for ibis development
  environment.yml
Labels: dependencies, developer-tools

#8249 chore: update flags for ruff 0.2.0
  .pre-commit-config.yaml
Labels: developer-tools

#8242 chore(dev-deps): remove conda lock files and update instructions accordingly
  .github/workflows/conda-lock.yml
  ci/conda-lock/condarc
  ci/conda-lock/generate.sh
  ci/conda-lock/linux-64/3.10.lock
  ci/conda-lock/linux-64/3.11.lock
  ci/conda-lock/osx-64/3.10.lock
  ci/conda-lock/osx-64/3.11.lock
  ci/conda-lock/osx-arm64/3.10.lock
  ci/conda-lock/osx-arm64/3.11.lock
  ci/conda-lock/win-64/3.10.lock
  ci/conda-lock/win-64/3.11.lock
  docs/contribute/01_environment.qmd
Labels: dependencies, developer-tools

#8262 fix(datatypes): convert UUIDs to strings
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pyarrow.py
Labels: bug, ux, datatypes

#8259 test(dot-sql): replace snapshot test with sqlglot compilation test to avoid clashing table names
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/bigquery/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/datafusion/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/duckdb/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/exasol/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/impala/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/mssql/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/mysql/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/oracle/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/postgres/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/pyspark/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/risingwave/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/snowflake/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/sqlite/out.sql
  ibis/backends/tests/snapshots/test_dot_sql/test_cte/trino/out.sql
  ibis/backends/tests/test_dot_sql.py
Labels: tests, ci

#8278 revert: fix(deps): update dependency sqlglot to v21
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/trino/out.sql
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: bigquery

#8267 feat(api): support Deferreds in Array.map and .filter
  ibis/backends/tests/test_array.py
  ibis/expr/types/arrays.py
Labels: ux, expressions

#8280 ci(clouds): allow running cloud backends with github label
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, ci-run-cloud

#8281 ci(cloud-run): add label checkout and remove label after used
  .github/workflows/ibis-backends-cloud.yml
Labels: ci-run-cloud

#8284 fix(trino): re-enable native TABLESAMPLE support
  ibis/backends/trino/compiler.py
Labels: bug, trino

#8184 docs: 2024H1 roadmap and why VoDa supports Ibis
  .codespellrc
  docs/posts/roadmap-2024-H1/commits.png
  docs/posts/roadmap-2024-H1/index.qmd
  docs/posts/roadmap-2024-H1/roadmap.png
  docs/posts/why-voda-supports-ibis/commits.png
  docs/posts/why-voda-supports-ibis/index.qmd
  docs/posts/why-voda-supports-ibis/roadmap.png
  docs/posts/why-voda-supports-ibis/standards.png
Labels: docs

#8286 docs(risingwave): add backend docs page for RisingWave
  docs/backends/risingwave.qmd
Labels: docs, risingwave

#8287 docs: change date and remove links from why voda blog
  docs/posts/why-voda-supports-ibis/index.qmd
Labels: docs

#8291 feat(api): include bad type in NotImplementedError
  ibis/expr/operations/relations.py
Labels: ux

#8295 test(sql): remove xdist_group marker for `.sql` tests
  ibis/backends/base/sql/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/trino/__init__.py
Labels: tests, ci, developer-tools

#8301 build(dev-tools): enable duckdb cli in the github dev container
  .devcontainer/devcontainer.json
Labels: developer-tools

#8305 fix(backends): make string concat-with-null behavior consistent across backends
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/tests/sql/snapshots/test_sql/test_no_cart_join/out.sql
  ibis/backends/tests/sql/snapshots/test_sql/test_order_by_expr/out.sql
  ibis/backends/tests/test_string.py
  ibis/expr/types/strings.py
Labels: bug, postgres, datafusion, duckdb, mssql, oracle, exasol

#8200 docs: add v8 blog
  docs/_freeze/posts/ibis-version-8.0.0-release/index/execute-results/html.json
  docs/posts/ibis-version-8.0.0-release/index.qmd
Labels: docs

#8312 docs: freeze clickhouse tutorial
  docs/_freeze/tutorials/data-platforms/clickhouse/execute-results/html.json
  docs/tutorials/data-platforms/clickhouse.qmd
Labels: docs, ci, clickhouse

#7912 docs(blog): add post introducing the Flink backend
  docs/_freeze/posts/flink-announcement/index/execute-results/html.json
  docs/posts/flink-announcement/index.qmd
  environment.yml
Labels: flink

#8315 docs(links): fix release notes link in 8.0 release
  docs/posts/ibis-version-8.0.0-release/index.qmd
Labels: bug, docs

#8308 chore(clickhouse): remove obsolete identifiers module
  ibis/backends/clickhouse/identifiers.py
Labels: refactor, clickhouse

#8320 test(benchmarks): restore benchmarks to `ibis/tests/benchmarks`
  ibis/backends/base/sql/__init__.py
  ibis/tests/benchmarks/__init__.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: ci

#8321 ci(risingwave): run tests in series to rule that out as the cause of hanging
  .github/workflows/ibis-backends.yml
Labels: ci, risingwave

#8322 refactor(benchmarks): remove pandas benchmarking and replace with more-representative duckdb version
  ibis/tests/benchmarks/test_benchmarks.py
Labels: refactor, performance

#8316 docs(blog): make point on stream-batch unification
  docs/_freeze/posts/flink-announcement/index/execute-results/html.json
  docs/posts/flink-announcement/index.qmd
Labels: docs

#8330 docs: update the geospatial blogpost to use explicit scalar subqueries
  docs/posts/ibis-duckdb-geospatial/index.qmd
Labels: docs, expressions, geospatial

#8307 refactor(sql): remove old compiler
  .gitignore
  docs/backends/impala.qmd
  ibis/backends/base/sql/__init__.py
  ibis/backends/base/sql/compiler/__init__.py
  ibis/backends/base/sql/compiler/base.py
  ibis/backends/base/sql/compiler/query_builder.py
  ibis/backends/base/sql/compiler/select_builder.py
  ibis/backends/base/sql/compiler/translator.py
  ibis/backends/base/sql/ddl.py
  ibis/backends/base/sql/registry/__init__.py
  ibis/backends/base/sql/registry/aggregate.py
  ibis/backends/base/sql/registry/binary_infix.py
  ibis/backends/base/sql/registry/case.py
  ibis/backends/base/sql/registry/helpers.py
  ibis/backends/base/sql/registry/identifiers.py
  ibis/backends/base/sql/registry/literal.py
  ibis/backends/base/sql/registry/main.py
  ibis/backends/base/sql/registry/string.py
  ibis/backends/base/sql/registry/timestamp.py
  ibis/backends/base/sql/registry/window.py
  ibis/backends/base/sqlglot/ddl.py
  ibis/backends/flink/__init__.py
  ibis/backends/flink/ddl.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/tests/snapshots/test_ddl_compilation/test_create_table_delimited/out.sql
  ibis/backends/impala/tests/snapshots/test_ddl_compilation/test_create_table_parquet_with_schema/out.sql
  ibis/backends/impala/tests/snapshots/test_ddl_compilation/test_create_table_with_location_compile/out.sql
  ibis/backends/impala/tests/snapshots/test_udf/test_create_uda/False/out.sql
  ibis/backends/impala/tests/snapshots/test_udf/test_create_uda/True/out.sql
  ibis/backends/impala/tests/snapshots/test_udf/test_create_udf/out.sql
  ibis/backends/impala/tests/snapshots/test_udf/test_create_udf_type_conversions/out.sql
  ibis/backends/impala/tests/snapshots/test_udf/test_delete_udf_aggregate/out.sql
  ibis/backends/impala/tests/snapshots/test_udf/test_delete_udf_db/out.sql
  ibis/backends/impala/tests/snapshots/test_udf/test_delete_udf_if_exists/out.sql
  ibis/backends/impala/tests/snapshots/test_udf/test_delete_udf_simple/out.sql
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/tests/test_client.py
Labels: refactor, sql

#8334 ci: enable docs publishing again
  .github/workflows/ibis-docs-main.yml
Labels: docs, ci

#8332 refactor(deps): remove `multipledispatch` as a dependency
  ibis/expr/datatypes/cast.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_cast.py
  ibis/expr/rules.py
  ibis/expr/types/relations.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: refactor, dependencies, datatypes

#8342 chore(deps): bump quarto to pick up css table fixes
  docs/theme-dark.scss
  docs/theme-light.scss
  nix/quarto/default.nix
Labels: docs, dependencies

#8338 refactor(backends): remove singledispatchmethod from the sql backends
  docs/support_matrix.qmd
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/datetime/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/string_time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/string_timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/time/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_timestamp_or_time/timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/datetime/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/string_date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/string_timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/timestamp_date/out.sql
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/compiler.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/risingwave/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_string.py
  ibis/backends/trino/compiler.py
Labels: refactor, docs, sql

#8348 ci: prevent labelled workflows from clobbering each other
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-backends-cloud.yml
Labels: docs, ci

#8341 feat(api): add disconnect method
  ibis/backends/base/__init__.py
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_client.py
  ibis/tests/expr/mocks.py
Labels: feature, backends

#8351 test(risingwave): skip semi join test that times out
  ibis/backends/tests/test_join.py
Labels: tests, ci, risingwave

#8349 refactor(sql): automatically add simple ops implementations
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/risingwave/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/trino/compiler.py
Labels: refactor, sql

#8270 fix(strings): make `StringValue.capitalize()` consistent across backends
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/base/sqlglot/rewrites.py
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/dask/tests/test_strings.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/capitalize/out.sql
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/pandas/tests/test_strings.py
  ibis/backends/polars/compiler.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/test_string.py
  ibis/expr/types/strings.py
Labels: bug, refactor

#8362 docs: roadmap 2024 H1 blog
  docs/posts/roadmap-2024-H1/index.qmd
Labels: docs

#8364 fix(ir): compute `InSubquery.shape` property from `needle` input
  ibis/expr/operations/subqueries.py
  ibis/tests/expr/test_value_exprs.py
Labels: bug, expressions

#8366 fix(comparison): wrap isnull equality check in parens
  ibis/backends/base/sqlglot/compiler.py
  ibis/backends/impala/tests/snapshots/test_sql/test_is_parens/isnull/out.sql
  ibis/backends/tests/test_generic.py
Labels: bug, sql

#8376 chore(deps): bump nixpkgs
  flake.lock
Labels: dependencies, nix

#8371 chore: add env for arm64 and xfail geospatial tests
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp8-0_0_1_1_2_2/out.sql
  ibis/backends/duckdb/tests/test_geospatial.py
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_geo_literals_smoke/multipoint-geography/out.sql
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_geo_literals_smoke/multipoint-geometry/out.sql
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_geo_literals_smoke/multipoint-none/out.sql
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_geo_literals_smoke/multipoint-srid/out.sql
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp8/out.sql
  ibis/backends/postgres/tests/test_geospatial.py
  pyproject.toml
Labels: dependencies, developer-tools

#8367 feat(duckdb): allow all-null columns in memtables
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_datatypes.py
Labels: feature, duckdb

#8389 fix(duckdb-sql): ignore importlib package errors when importing ibis.snowflake for transpilation
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/snowflake/__init__.py
Labels: dependencies, duckdb, snowflake

#8388 chore: remove conda-lock from pyproject.toml
  pyproject.toml
Labels: developer-tools

#8386 chore(dev-tools): remove unused dependencies in conda environment files
  conda/environment-arm64.yml
  conda/environment.yml
Labels: dependencies, developer-tools

#8378 docs(blog): blog on why DuckDB is the default backend
  docs/posts/why-duckdb/index.qmd
Labels: docs, duckdb

#8391 fix(pyspark): ensure to_delta works and is tested in ci
  .github/workflows/ibis-backends.yml
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/test_register.py
Labels: bug, pyspark

#8397 feat(mssql): add datatype mapping for `hierarchyid`
  ibis/backends/base/sqlglot/datatypes.py
  ibis/backends/mssql/tests/test_client.py
Labels: feature, mssql

#8398 refactor(udfs): consolidate builtin udf compilation and failure modes for unimplemented udfs
  ibis/backends/base/sqlglot/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
Labels: refactor, udf

#8142 feat(flink): implement UDF support for the backend
  docker/flink/Dockerfile
  ibis/backends/base/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/flink/compiler.py
  ibis/backends/flink/tests/test_udf.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/tests/test_udf.py
Labels: feature, udf, flink

#8409 fix(mssql): restore any, all and cumulative versions
  ibis/backends/mssql/compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_window.py
Labels: mssql

#8387 docs: add blog on using duckdb for RAG
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/index.qmd
  docs/posts/duckdb-for-rag/thumbnail.png
Labels: docs

#8411 fix(mssql): restore unbounded window functions
  ibis/backends/mssql/compiler.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_window.py
Labels: bug, mssql

#8407 test(snowflake): allow connecting with config files for more convenient test running
  ibis/backends/snowflake/tests/conftest.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: tests, snowflake

#8406 refactor(backend-api): remove the `database()` API and implementation
  docs/backends/impala.qmd
  ibis/backends/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/trino/tests/conftest.py
Labels: refactor

#8413 docs: add explanation in rag blog and note on fixed length arrays
  docs/_freeze/posts/duckdb-for-rag/index/execute-results/html.json
  docs/posts/duckdb-for-rag/index.qmd
Labels: docs

#8420 docs(deps): pin itables to preserve grid styling
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: docs, dependencies

#8422 feat(snowflake): support connecting with no arguments
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
Labels: feature, ux, snowflake

#8421 chore: resurrect `SupportsSchema` type; clean up unused ignored imports
  ibis/common/typing.py
Labels: docs

#8427 refactor: rename SupportSchema -> SchemaLike, fix type definition
  ibis/backends/sql/__init__.py
  ibis/common/typing.py
  ibis/expr/api.py
  ibis/expr/schema.py
  ibis/expr/types/relations.py
Labels: ux, datatypes

#8428 feat(snowflake): allow empty url when using ibis.connect
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
Labels: feature, ux, snowflake

#8417 docs: clean up cursor closing and link to `Table.sql` API docs
  docs/how-to/extending/sql.qmd
  ibis/config.py
Labels: docs

#8400 fix(ir): fix window boundaries being forcefully casted
  ibis/backends/flink/tests/snapshots/test_window/test_rows_window/out.sql
  ibis/backends/tests/test_window.py
  ibis/expr/builders.py
  ibis/expr/operations/window.py
Labels: bug

#8433 test(snowflake): xfail on test with window larger than 1000
  ibis/backends/tests/test_window.py
Labels: tests, ci, snowflake

#8359 fix(flink): fix compilation of over aggregation query in flink backend
  ibis/backends/flink/compiler.py
  ibis/backends/flink/tests/snapshots/test_compiler/test_window_aggregation/out.sql
  ibis/backends/flink/tests/snapshots/test_compiler/test_window_topn/out.sql
  ibis/backends/flink/tests/snapshots/test_compiler/test_windowing_tvf/cumulate_window/out.sql
  ibis/backends/flink/tests/snapshots/test_compiler/test_windowing_tvf/hop_window/out.sql
  ibis/backends/flink/tests/snapshots/test_compiler/test_windowing_tvf/tumble_window/out.sql
  ibis/backends/flink/tests/snapshots/test_literals/test_literal_timestamp_or_time/datetime/out.sql
  ibis/backends/flink/tests/snapshots/test_literals/test_literal_timestamp_or_time/datetime_with_microseconds/out.sql
  ibis/backends/flink/tests/snapshots/test_literals/test_literal_timestamp_or_time/string_time/out.sql
  ibis/backends/flink/tests/snapshots/test_literals/test_literal_timestamp_or_time/string_timestamp/out.sql
  ibis/backends/flink/tests/snapshots/test_literals/test_literal_timestamp_or_time/time/out.sql
  ibis/backends/flink/tests/snapshots/test_literals/test_literal_timestamp_or_time/timestamp/out.sql
  ibis/backends/flink/tests/snapshots/test_window/test_range_window/out.sql
  ibis/backends/sql/dialects.py
Labels: bug, flink

#8438 feat(api): add a `uuid` function for returning a new uuid
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/risingwave/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/trino/compiler.py
  ibis/expr/api.py
  ibis/expr/operations/generic.py
  ibis/tests/expr/test_uuid.py
Labels: feature

#8425 feat(flink): add map support
  ibis/backends/flink/compiler.py
  ibis/backends/flink/datatypes.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_udf.py
Labels: feature, flink

#8444 chore(deps): default to python 3.11 with nix
  flake.nix
  nix/overlay.nix
Labels: dependencies, developer-tools, nix

#8445 perf(ir): avoid exponential growth on `name` attribute access
  ibis/expr/operations/core.py
  ibis/expr/tests/test_api.py
Labels: performance

#8293 docs(blog): add post on stream-batch unification
  docs/_freeze/posts/flink-unified-stream-batch/index/execute-results/html.json
  docs/_freeze/posts/unified-stream-batch/index/execute-results/html.json
  docs/posts/unified-stream-batch/index.qmd
  docs/tutorials/open-source-software/apache-flink/1_single_feature.qmd
Labels: docs, blog

#8439 fix(postgres): fix json type conversion in `to_pyarrow` output
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/converter.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/snowflake/tests/test_client.py
  ibis/backends/tests/test_client.py
  ibis/formats/pyarrow.py
Labels: bug, refactor, postgres, backends, snowflake

#8486 fix(duckdb): parenthesize argument to StructField operation to support field access on CASE statements
  ibis/backends/duckdb/compiler.py
  ibis/backends/tests/test_struct.py
Labels: bug, duckdb

#8489 fix(impala): remove no-longer-used temporary database and paths that may prevent connection success
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/conftest.py
Labels: bug, impala

#8487 docs(dev): give the callout box a title
  docs/contribute/01_environment.qmd
Labels: docs

#8498 chore(ci): `python-version` instead of `python_version`
  .github/workflows/ibis-docs-main.yml
Labels: ci, developer-tools

#8441 docs(blog): wow analysis blog post
  docs/posts/wow-analysis/index.qmd
  docs/posts/wow-analysis/thumbnail.png
Labels: docs, duckdb, blog

#8500 chore(docs): remove title case capitalization from test class reference
  docs/contribute/05_reference.qmd
Labels: docs

#8501 fix(clickhouse): make arrays non nullable
  ibis/backends/clickhouse/tests/test_datatypes.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_array.py
Labels: bug, clickhouse

#8502 chore: fix recent blog heading casing
  docs/_freeze/posts/wow-analysis/index/execute-results/html.json
  docs/posts/wow-analysis/index.qmd
Labels: docs, blog
