Repository ibis-project/ibis, pull requests merged in 2024-11, with the labels that each got.

#10414 docs(examples): add `as_timestamp` and `as_interval` IntegerValue examples
  ibis/expr/types/numeric.py
Labels: docs

#10410 perf(duckdb): reduce branching factor for generated ArrayDistinct code
  ibis/backends/sql/compilers/duckdb.py
  ibis/backends/tests/test_array.py
Labels: tests, performance, duckdb, sql

#10420 docs(examples): add type example
  ibis/expr/types/generic.py
Labels: docs, datatypes

#10421 docs(examples): add remaining selectors examples
  ibis/selectors.py
Labels: docs

#10223 feat(databricks): add the databricks backend
  .github/workflows/ibis-backends-cloud.yml
  ci/schema/databricks.sql
  docs/_quarto.yml
  docs/backends/cloud_support_policy.qmd
  ibis/backends/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/databricks/__init__.py
  ibis/backends/databricks/tests/__init__.py
  ibis/backends/databricks/tests/conftest.py
  ibis/backends/flink/__init__.py
  ibis/backends/sql/compilers/__init__.py
  ibis/backends/sql/compilers/databricks.py
  ibis/backends/sql/datatypes.py
  ibis/backends/sql/dialects.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/databricks/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/databricks/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/databricks/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/databricks/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/databricks/out.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/databricks-subquery/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/databricks-subquery/row.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/databricks-table/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/databricks-table/row.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/databricks-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/databricks-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_to_sql_default_backend/databricks/to_sql.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/databricks/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_examples.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_expr_caching.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_network.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_register.py
  ibis/backends/tests/test_signatures.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_udf.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
  ibis/tests/expr/mocks.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: feature, docs, tests, ci, clickhouse, dependencies, sql, mssql, new backend, flink, databricks

#10429 ci(databricks): enable databricks ci job
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, databricks

#10430 fix(compiler): use the correct exception type for a failed import
  ibis/backends/sql/compilers/base.py
Labels: bug, sql

#10435 docs(examples): `count`, `percent_rank`, `cume_dist`, `ntile` example usage
  ibis/expr/types/generic.py
Labels: docs, window functions

#10432 feat(databricks): isolate volume creation
  ci/schema/databricks.sql
  ibis/backends/databricks/__init__.py
  ibis/backends/databricks/tests/conftest.py
Labels: bug, tests, databricks

#10431 chore(deps): bump locked version of duckdb
  poetry.lock
  requirements-dev.txt
Labels: dependencies, duckdb

#10438 refactor(config): remove `option_context`
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/tests/test_interactive.py
  ibis/config.py
Labels: ux, tests, impala, postgres, clickhouse, breaking change

#10446 docs(examples): `cummin`, `cummax`, `lead`, `lag`, `nth` example usage
  ibis/expr/types/generic.py
Labels: docs

#10445 docs(duckdb): remove warning of duckdb not supporting chunk_size param
  ibis/backends/duckdb/__init__.py
Labels: docs, duckdb

#10460 fix(postgres): add dtype mapping for postgres OID type
  docs/reference/cursed_knowledge.qmd
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/sql/datatypes.py
Labels: docs, tests, postgres, sql

#10427 chore(dev-tools): add some more type hints
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: developer-tools

#10454 docs(examples): add unbind example
  ibis/expr/types/core.py
Labels: docs

#10424 chore(dev-deps): move to `uv` for development
  .envrc
  .github/labeler.yml
  .github/renovate.json
  .github/workflows/check-generated-files.yml
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  .github/workflows/ibis-lint.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  ci/release/bump_version.py
  ci/release/prepare.sh
  ci/release/publish.sh
  ci/release/verify_conditions.sh
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  docs/contribute/01_environment.qmd
  docs/contribute/04_maintainers_guide.qmd
  flake.lock
  flake.nix
  ibis/backends/tests/test_interactive.py
  justfile
  nix/ibis.nix
  nix/overlay.nix
  nix/pyproject-overrides.nix
  poetry-overrides.nix
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: docs, tests, ci, dependencies, developer-tools, nix

#10464 docs: use python3.11 in doctests to avoid impyla import issue
  .github/workflows/ibis-docs-main.yml
Labels: bug, docs, ci

#10447 chore: add todos on switching to newer duckdb list_concat() syntax
  ibis/backends/sql/compilers/duckdb.py
Labels: sql

#10469 fix(snowflake): make semantics of array filtering match everything else
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/compilers/trino.py
Labels: bug, sql, snowflake, trino

#10433 refactor(duckdb): pass `temp_directory` through as-is to `duckdb.connect`
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: tests, duckdb, sql

#10437 fix(mssql): escape special characters in passwords
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
Labels: tests, mssql

#10471 test(bigquery): xfail bigquery when testing decimal column describe due to limited decimal type support
  ibis/backends/tests/test_generic.py
Labels: tests, bigquery

#10473 chore(deps): implement Nix testing as separate derivation from env
  .github/workflows/nix.yml
  flake.lock
  flake.nix
  nix/ibis.nix
  nix/overlay.nix
  nix/tests.nix
Labels: ci, dependencies, developer-tools, nix

#9663 feat(pyarrow): support arrow PyCapsule interface in more places
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
Labels: ux, tests, ecosystem, community

#10476 test(flink): disable pyarrow c stream test
  ibis/backends/tests/test_generic.py
Labels: tests, sql, flink

#10478 fix(geometry): make output handling robust to text or bytes
  ibis/backends/bigquery/converter.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_binary/difference/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_binary/intersection/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_binary/union/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_point/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_simplify/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/buffer/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/centroid/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/end_point/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/point_n/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/start_point/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary_union/out.sql
  ibis/backends/sql/compilers/bigquery/__init__.py
  ibis/expr/types/pretty.py
Labels: tests, geospatial, bigquery, duckdb, sql

#10485 feat(geospatial): accept geopandas GDFs in `memtable`
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
Labels: feature, tests, geospatial, datatypes, ecosystem

#10490 fix(mssql): use nvarchar to avoid non ascii be question mark
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
Labels: bug, tests, mssql

#10480 test(duckdb): add test for chunk_size param in to_pyarrow_batches
  ibis/backends/duckdb/tests/test_client.py
Labels: tests, ecosystem, duckdb

#10491 test(snowflake,bigquery,databricks): xfail test for pyarrow decimal memtable construction with ints
  ibis/backends/tests/test_numeric.py
Labels: tests, ci, bigquery, snowflake, databricks

#10488 docs(examples): add `std`, `var`, `corr`, and `cov` usage examples
  ibis/expr/types/numeric.py
Labels: docs

#10496 fix(docs): add null examples header and expected failure
  ibis/expr/types/generic.py
Labels: docs

#10495 docs(examples): align Table.get_backend with ibis.get_backend examples
  ibis/expr/types/core.py
Labels: docs

#10498 feat(export): implement the `Column.to_list()` API
  .gitattributes
  .gitignore
  ibis/backends/tests/test_export.py
  ibis/expr/types/generic.py
Labels: tests

#10504 docs(contribute): include instructions to use Pixi
  docs/contribute/01_environment.qmd
Labels: docs

#10521 chore(pyspark): use normalize_filenames() from util
  ibis/backends/pyspark/__init__.py
Labels: pyspark

#10533 docs: reword backend counting to nearly 20 from 20+
  README.md
  docs/how-to/extending/unbound_expression.qmd
  docs/index.qmd
  docs/why.qmd
Labels: docs

#10540 chore(ci): skip nixos on mac-14, python3.12 for docs only prs
  .github/workflows/nix-skip-helper.yml
Labels: ci

#10537 docs(examples): add hashbytes example
  ibis/expr/types/strings.py
Labels: sql
