Repository ibis-project/ibis, pull requests merged in 2024-12, with the labels that each got.

#10549 docs(tutorial): fix typo in ibis-for-sql-users.qmd
  docs/tutorials/ibis-for-sql-users.qmd
Labels: docs

#10552 test: use more precise marker for backends that don't support arrays
  ibis/backends/tests/test_string.py
Labels: tests

#10475 fix(sql): remove constants in `order_by` calls during select merging
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/databricks/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/flink/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/pyspark/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/risingwave/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/trino/out.sql
  ibis/backends/tests/test_sql.py
Labels: bug, tests, sql

#10501 docs(blog): classification metrics on the backend
  docs/posts/classification-metrics-on-the-backend/confusion_matrix.png
  docs/posts/classification-metrics-on-the-backend/index.qmd
  docs/posts/classification-metrics-on-the-backend/thumbnail.png
Labels: docs

#9840 refactor(impala): remove impala table
  ibis/backends/impala/__init__.py
  ibis/backends/impala/client.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_ddl_compilation.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  ibis/backends/impala/tests/test_partition.py
  ibis/backends/impala/tests/test_patched.py
Labels: tests, impala, breaking change

#10557 docs(impala): remove table methods from backend docs
  docs/backends/impala.qmd
Labels: docs

#10565 docs(blog): fix metric print output in classification blog
  docs/posts/classification-metrics-on-the-backend/index.qmd
Labels: docs

#10568 ci(nix): make skip helper python version match the non-skipped job
  .github/workflows/nix-skip-helper.yml
Labels: ci

#10555 chore(polars): add `database` arg, for consistency
  ibis/backends/polars/__init__.py
  ibis/backends/tests/test_signatures.py
Labels: tests, polars

#10544 feat(deps): install project and dev and test dependencies in devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docs/contribute/01_environment.qmd
Labels: docs

#10576 fix(deps): enable running uv lock command in devcontainer
  .devcontainer/Dockerfile
  docs/contribute/01_environment.qmd
Labels: docs

#10571 chore(deps): bump flakes
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  ibis/backends/impala/tests/test_exprs.py
  ibis/backends/impala/udf.py
  ibis/backends/oracle/tests/test_client.py
  ibis/backends/polars/rewrites.py
  ibis/backends/sql/compilers/__init__.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_examples.py
  ibis/backends/tests/test_expr_caching.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/trino/converter.py
  ibis/common/annotations.py
  ibis/common/collections.py
  ibis/common/deferred.py
  ibis/common/egraph.py
  ibis/common/grounds.py
  ibis/common/patterns.py
  ibis/common/selectors.py
  ibis/common/tests/test_annotations.py
  ibis/common/tests/test_collections.py
  ibis/common/tests/test_deferred.py
  ibis/common/tests/test_graph.py
  ibis/common/tests/test_patterns.py
  ibis/config.py
  ibis/expr/builders.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/expr/operations/arrays.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/histograms.py
  ibis/expr/operations/logical.py
  ibis/expr/operations/reductions.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/strings.py
  ibis/expr/operations/structs.py
  ibis/expr/operations/subqueries.py
  ibis/expr/operations/temporal_windows.py
  ibis/expr/operations/vectorized.py
  ibis/expr/operations/window.py
  ibis/expr/rewrites.py
  ibis/expr/tests/test_format.py
  ibis/expr/types/groupby.py
  ibis/expr/types/temporal_windows.py
  ibis/formats/pyarrow.py
  ibis/selectors.py
  ibis/tests/expr/test_window_functions.py
  ibis/util.py
  nix/overlay.nix
  nix/pyproject-overrides.nix
  nix/quarto/default.nix
  requirements-dev.txt
  uv.lock
Labels: tests, impala, dependencies, datatypes, sql, polars, nix, trino, oracle

#10581 chore: fix spelling of backend hierarchy docs file
  docs/backend_table_hierarchy.qmd
Labels: docs

#10582 feat(python): support python 3.13
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  flake.nix
  ibis/backends/sql/compilers/bigquery/udf/core.py
  nix/overlay.nix
  nix/pyproject-overrides.nix
  nix/quarto/default.nix
  requirements-dev.txt
  uv.lock
Labels: ci, dependencies, bigquery, sql, nix

#10584 test(bigquery): fix array concat test
  ibis/backends/tests/test_array.py
Labels: tests, bigquery

#10583 chore(deps): bump quarto version
  docs/contribute/01_environment.qmd
  nix/quarto/default.nix
Labels: docs, dependencies, nix

#10503 fix(deps): remove the upper bounds for `pyarrow`
  pyproject.toml
  uv.lock
Labels: dependencies

#10588 chore(deps): bump 3.12 usage to 3.13
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  flake.lock
  ibis/backends/sql/compilers/bigquery/udf/core.py
  ibis/backends/sql/compilers/bigquery/udf/rewrite.py
  requirements-dev.txt
  uv.lock
Labels: ci, dependencies, bigquery, sql, nix

#10589 test(snowflake,bigquery): enable xpassing tests and relax read_csv schema assertion from float64 to numeric
  flake.nix
  ibis/backends/tests/test_io.py
Labels: tests, dependencies, bigquery, snowflake, nix

#10590 test(sqlite): use context managers for sqlite connections to avoid `ResourceWarning` in python 3.13
  ibis/backends/duckdb/tests/test_io.py
  ibis/backends/sqlite/tests/test_types.py
Labels: tests, sqlite, duckdb

#10593 ci: rename nix update workflow to match remaining workflow naming conventions
  .github/workflows/update-nix-flakes.yml
Labels: ci

#10595 refactor(api): remove `IntegerValue.label`
  ibis/backends/impala/tests/test_bucket_histogram.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/risingwave/tests/test_functions.py
  ibis/expr/types/numeric.py
Labels: tests, impala, postgres, risingwave

#10597 test(sqlite): fix test flakiness caused by failing to close `sqlite3.Connection` objects
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/duckdb/tests/test_io.py
  ibis/backends/sqlite/tests/test_client.py
  ibis/backends/sqlite/tests/test_types.py
Labels: tests, sqlite, duckdb

#10607 ci(docs): fix build by checking out uv.lock after building a temporary wheel
  justfile
Labels: docs, ci

#10608 test(pyspark): fix failing pyspark test
  flake.lock
  ibis/backends/tests/test_export.py
  requirements-dev.txt
  uv.lock
Labels: tests, dependencies, nix

#10614 chore(dev-deps): bump pgvector, clang and llvm versions
  compose.yaml
  docker/postgres/Dockerfile
Labels: postgres, ci, developer-tools

#10615 chore: re-enable the dependency dashboard
  .github/renovate.json
Labels: ci, dependencies

#10551 docs: add callout notes for some APIs changes and additions
  ibis/backends/duckdb/__init__.py
  ibis/expr/api.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: docs, duckdb

#10342 ci(google-auth): use workload identity federation instead of json
  .github/workflows/ci-data.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-benchmarks.yml
Labels: ci, bigquery

#10617 fix(api): ensure memtable schema and columns match
  ibis/expr/api.py
  ibis/expr/tests/test_api.py
Labels: tests, datatypes

#10620 chore: relax upper bounds on required dependencies (except sqlglot)
  pyproject.toml
  uv.lock
Labels: dependencies

#10621 ci: fix google cloud wif token permissions
  .github/workflows/ci-data.yml
  .github/workflows/ibis-benchmarks.yml
Labels: ci

#10618 chore(deps): bump all flakes
  flake.lock
  ibis/backends/tests/test_generic.py
  requirements-dev.txt
  uv.lock
Labels: tests, dependencies, developer-tools, nix

#10624 feat(polars): add `StringFind` operation
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Labels: tests, polars

#10625 chore(deps): move `uv` in nix environment to vendored version from `uv2nix`
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  flake.lock
  flake.nix
  nix/overlay.nix
  requirements-dev.txt
  uv.lock
Labels: ci, dependencies, nix

#10630 ci(bigquery): disable two failing tests until WIF auth is worked out
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
Labels: tests, bigquery

#10623 feat(polars): add `Intersection` and `Difference` ops
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_set_ops.py
Labels: feature, tests, polars

#10632 feat(dtypes): allow passing `nullable` kwarg to string parsed dtypes
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_parse.py
Labels: bug, tests, datatypes

#10634 feat(polars): add bitwise operations (`bit_and`, `bit_or`, `bit_xor`)
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, tests, polars

#10635 feat(polars): add `TimeFromHMS` op
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: feature, tests, timestamps, polars

#10637 docs: deduplicate rendering of cloud support policy
  docs/backends/support/cloud_support_policy.qmd
Labels: docs

#10631 feat(athena): add amazon athena backend
  .github/workflows/ibis-backends-cloud.yml
  docs/backends/athena.qmd
  docs/backends/support/cloud_support_policy.qmd
  flake.nix
  ibis/backends/athena/__init__.py
  ibis/backends/athena/tests/__init__.py
  ibis/backends/athena/tests/conftest.py
  ibis/backends/databricks/__init__.py
  ibis/backends/sql/compilers/__init__.py
  ibis/backends/sql/compilers/athena.py
  ibis/backends/sql/compilers/trino.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/athena/out.sql
  ibis/backends/tests/snapshots/test_sql/test_group_by_has_index/athena/out.sql
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/athena/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/athena/out.sql
  ibis/backends/tests/snapshots/test_sql/test_order_by_no_deference_literals/athena/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/athena/out.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/athena-subquery/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/athena-subquery/row.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/athena-table/block.sql
  ibis/backends/tests/snapshots/test_sql/test_sample/athena-table/row.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/athena-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/athena-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_to_sql_default_backend/athena/to_sql.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/athena/out.sql
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_asof_join.py
  ibis/backends/tests/test_binary.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_column.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_examples.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_expr_caching.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_io.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_network.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_signatures.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_struct.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_udf.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/tests/test_window.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: feature, docs, tests, ci, dependencies, sql, nix

#10639 chore: avoid setting environment variables except for local cases
  .env
  flake.nix
  ibis/backends/athena/tests/conftest.py
Labels: tests, dependencies, nix

#10640 chore: athena ci
  .env
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  flake.nix
Labels: tests, ci, dependencies, nix

#10641 chore: fail fast on clouds
  .github/workflows/ibis-backends-cloud.yml
Labels: ci

#10642 ci: revert athena debugging changes
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
Labels: ci

#10638 feat(polars): add ArrayStringJoin op
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_string.py
Labels: tests, polars
