Repository ibis-project/ibis, pull requests merged in 2024-08, with the labels that each got.

#9746 test(tpcds): bump scale factor to 0.45
  docker/trino/jvm.config
  ibis/backends/tests/base.py
  ibis/backends/tests/tpc/ds/test_queries.py
  nix/overlay.nix
Labels: tests, ci, clickhouse, datafusion, duckdb, snowflake, trino

#9666 depr(duckdb): deprecate `read_in_memory`
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/tests/test_register.py
Labels: refactor, deprecation

#9743 refactor(table_loc): return consistent object from catalog.db parsing
  ibis/backends/bigquery/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/trino/__init__.py
Labels: refactor

#9754 chore(dev-deps): support pyspark in nix
  flake.nix
  nix/ibis.nix
Labels: pyspark, developer-tools, nix

#9753 feat(pyspark): add support for pyarrow and python UDFs
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/test_udf.py
  ibis/backends/tests/test_udf.py
Labels: feature, udf, pyspark

#9755 fix(compiler-internals): define unsupported operations after simple operations
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/risingwave.py
Labels: bug, internals, refactor, risingwave

#9756 chore(dev-tools): define `PYSPARK_PYTHON` outside of shellHook since it is already known at build time
  flake.nix
Labels: developer-tools, nix

#9729 feat(api): support `order_by` in order-sensitive aggregates (`collect`/`group_concat`/`first`/`last`)
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_group_concat/comma_none/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_group_concat/comma_zero/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_group_concat/minus_none/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/first/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/last/out.sql
  ibis/backends/pandas/executor.py
  ibis/backends/polars/compiler.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/bigquery.py
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/sql/compilers/druid.py
  ibis/backends/sql/compilers/duckdb.py
  ibis/backends/sql/compilers/exasol.py
  ibis/backends/sql/compilers/flink.py
  ibis/backends/sql/compilers/mssql.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/risingwave.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/sql/compilers/trino.py
  ibis/backends/sql/dialects.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_generic.py
  ibis/expr/operations/reductions.py
  ibis/expr/tests/test_reductions.py
  ibis/expr/types/generic.py
Labels: feature

#9758 fix(snowflake): bring back `where` filter support in `group_concat`; fix `array_agg` ordering
  ibis/backends/sql/compilers/snowflake.py
Labels: bug, snowflake

#9761 ci(deps): pin matplotlib on windows due to missing wheels for 3.9.1
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: ci, dependencies

#9762 docs(browser-repl): fix jupyterlite build
  justfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: docs

#9741 test(arrays): remove unnecessary series construction in `test_array_remove`
  ibis/backends/tests/test_array.py
Labels: refactor, tests

#9769 fix(postgres): handle enums by delegating to the parent class
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/sql/datatypes.py
Labels: bug, tests, postgres, datatypes

#9770 ci: add job to set the milestone of linked issues to match the milestone of the PR [skip ci]
  .github/workflows/set-milestone-on-issue.yml
  ci/linked-issues.gql
  ci/set-milestone-on-issue.sh
Labels: ci, developer-tools

#9748 fix(sql): only return tables in `current_database`
  docker/mysql/startup.sql
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/exasol/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_client.py
  ibis/backends/trino/__init__.py
Labels: postgres, mysql, pyspark, duckdb, mssql, trino, exasol

#9766 refactor(sql): make compilers usable with a base install
  ibis/__init__.py
  ibis/backends/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/snapshots/test_client/test_cross_project_query/out.sql
  ibis/backends/bigquery/tests/system/snapshots/test_client/test_multiple_project_queries/out.sql
  ibis/backends/bigquery/tests/system/snapshots/test_client/test_multiple_project_queries_database_api/out.sql
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/unit/udf/test_core.py
  ibis/backends/bigquery/tests/unit/udf/test_find.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/bigquery/__init__.py
  ibis/backends/sql/compilers/bigquery/udf/__init__.py
  ibis/backends/sql/compilers/bigquery/udf/core.py
  ibis/backends/sql/compilers/bigquery/udf/find.py
  ibis/backends/sql/compilers/bigquery/udf/rewrite.py
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/sql/compilers/druid.py
  ibis/backends/sql/compilers/duckdb.py
  ibis/backends/sql/compilers/exasol.py
  ibis/backends/sql/compilers/flink.py
  ibis/backends/sql/compilers/impala.py
  ibis/backends/sql/compilers/mssql.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/risingwave.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/sql/compilers/trino.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_sql.py
  ibis/backends/trino/__init__.py
  ibis/expr/schema.py
  ibis/expr/sql.py
  ibis/tests/expr/mocks.py
  ibis/tests/expr/test_sql_builtins.py
Labels: refactor, sql

#9777 chore(deps): bump debugpy
  poetry.lock
  requirements-dev.txt
Labels: dependencies

#9776 feat(duckdb): add support for passing a subset of column types to `read_csv`
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
Labels: feature, duckdb

#9782 chore(dev-tools): move static envars into `.env`
  .env
  .envrc
  flake.nix
Labels: developer-tools, nix

#9786 refactor(pandas): remove unreachable code in pandas backend
  ibis/backends/pandas/__init__.py
Labels: refactor, pandas

#9784 feat(snowflake): add `userinfo` URL parsing
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/tests/test_string.py
Labels: feature, snowflake

#9787 feat(ux): allow window functions in predicates and compile to `QUALIFY` where possible
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/bigquery/__init__.py
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/sql/compilers/duckdb.py
  ibis/backends/sql/compilers/mssql.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/dialects.py
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/flink/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/pyspark/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/risingwave/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/trino/out.sql
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_sql.py
  ibis/expr/operations/relations.py
Labels: internals, ux, window functions

#9789 docs: add aggregate-udfs api page to index
  docs/_quarto.yml
Labels: docs

#9794 feat(snowflake): implement interval arithmetic
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/tests/test_temporal.py
Labels: feature, timestamps, snowflake

#9796 test: avoid use of `TablesAccessor` in stateful `reconnect` test
  ibis/backends/tests/test_client.py
Labels: tests, postgres

#9799 feat(timestamps): add support for timestamp/date +/- intervals for additional backends
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/mssql.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_temporal.py
Labels: feature, mysql, timestamps, mssql, oracle

#9798 fix(pickle): make `Parameter` instances pickleable
  ibis/common/annotations.py
  ibis/common/tests/test_annotations.py
  ibis/common/tests/test_grounds.py
  poetry.lock
  pyproject.toml
Labels: bug

#9802 ci(snowflake): acquiesce to the dependency gods and unpin cloudpickle
  poetry.lock
  pyproject.toml
Labels: tests, ci

#9781 feat(output-formats): add support for to_parquet_dir
  ibis/backends/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_export.py
  ibis/expr/types/core.py
Labels: feature

#9792 chore: consolidate error handling in __rich_console__
  ibis/expr/types/core.py
Labels: internals, refactor

#9809 feat(clickhouse): support ms/us/ns truncate units
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_timestamp_truncate/d/out.sql
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/tests/test_temporal.py
Labels: feature, clickhouse, timestamps

#9813 test(clickhouse): add test for aliasing
  ibis/backends/clickhouse/tests/test_client.py
Labels: tests, clickhouse

#9814 fix(rewrite): avoid accumulating context state during rewriting
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/druid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/exasol/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/flink/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/impala/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/oracle/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/pyspark/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/risingwave/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/snowflake/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/trino/out.sql
  ibis/backends/tests/test_sql.py
  ibis/common/graph.py
Labels: bug, internals

#9819 chore(dev-deps): remove gen-examples script from dev-shell
  flake.nix
Labels: developer-tools, nix

#9812 fix(dot-sql): ensure that CTEs can be used in `.sql`
  ibis/backends/polars/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/tests/test_dot_sql.py
  ibis/expr/types/relations.py
Labels: bug, sqlite, bigquery, duckdb, sql

#9815 fix(ir): convert analytic functions to window functions in filters
  ibis/expr/rewrites.py
  ibis/expr/tests/test_newrels.py
Labels: bug, internals

#9827 fix(repr): format scalar values with same logic as columnar values
  ibis/expr/api.py
  ibis/expr/operations/udf.py
  ibis/expr/types/generic.py
  ibis/expr/types/geospatial.py
  ibis/expr/types/logical.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
  ibis/expr/types/strings.py
  ibis/expr/types/temporal.py
Labels: bug, ux

#9835 chore(positconf2024): fancy animations
  docs/presentations/positconf2024/talk.qmd
  docs/presentations/pycon2024/maintainers.qmd
Labels: docs

#9839 feat(impala): add `tbl_properties` to `create_table`
  ibis/backends/impala/__init__.py
  ibis/backends/impala/ddl.py
  ibis/backends/impala/tests/test_partition.py
Labels: impala

#9848 fix(mssql): remove sort key to keep order
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
Labels: bug, mssql

#9868 feat(sql): load parsed but unsupported types as unknown
  ibis/backends/sql/datatypes.py
  ibis/backends/sql/tests/test_datatypes.py
Labels: feature, datatypes

#9873 ci(snowpark): ignore warnings from the `logging` module
  pyproject.toml
Labels: ci, snowflake

#9887 docs(snowflake): document using private key to connect to snowflake
  docs/backends/snowflake.qmd
Labels: docs, snowflake

#9894 feat(mssql): support connecting with a url
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/oracle/tests/test_client.py
Labels: feature, mssql

#9888 depr(dask,pandas): deprecate the dask and pandas backends
  docs/_tabsets/install.qmd
  docs/backends/dask.qmd
  docs/backends/pandas.qmd
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  pyproject.toml
Labels: pandas, dask, deprecation

#9505 docs(blog): kaggle competition using IbisML
  docs/_freeze/posts/ibisml/index/execute-results/html.json
  docs/posts/ibisml/index.qmd
Labels: docs, blog

#9896 docs(blog): post on why we are dropping the pandas backend
  docs/posts/farewell-pandas/index.qmd
Labels: pandas, deprecation, blog

#9898 test(oracle): fix flaky test that assumes tables exist
  ibis/backends/oracle/tests/test_client.py
Labels: tests, ci, oracle

#9899 docs(blog): mention dask in the pandeprecation post
  docs/posts/farewell-pandas/index.qmd
Labels: deprecation, blog

#9901 depr(expr-api): deprecate useless `has_name` method
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
Labels: refactor, ux, deprecation

#9830 fix(pyspark): suppress errors for unsupported Databricks serverless compute properties
  ibis/backends/pyspark/__init__.py
Labels: bug, pyspark

#9909 feat(clickhouse): partition kwargs for compile and execution in `to_pyarrow` and `to_pandas`
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
Labels: feature, clickhouse

#9904 feat(api): support deferred objects in `literal`
  ibis/expr/types/generic.py
  ibis/tests/expr/test_literal.py
  ibis/tests/test_strategies.py
Labels: feature

#9885 feat(api): support `SchemaLike` in `Backend.create_table()`
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/trino/__init__.py
Labels: feature, ux

#9844 feat(sql): support inserts with default constraints
  ibis/backends/datafusion/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/tests/test_client.py
Labels: feature, ddl, sql

#9915 chore(oracle): remove duplicate `ops.Hash` specification
  ibis/backends/sql/compilers/oracle.py
Labels: refactor, oracle

#9920 docs(blog): minor edits to pandas blog
  docs/posts/farewell-pandas/index.qmd
Labels: docs

#9916 fix(bigquery): disallow column names longer than 300 characters
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/sql/compilers/bigquery/__init__.py
Labels: bigquery

#9779 feat(decompile): make the decompiler run on TPCH query 1
  ibis/backends/duckdb/tests/snapshots/test_decompile_tpch/test_parse_sql_tpch/tpch01/out_tpch.py
  ibis/backends/duckdb/tests/snapshots/test_decompile_tpch/test_parse_sql_tpch/tpch03/out_tpch.py
  ibis/backends/duckdb/tests/test_decompile_tpch.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_column_expr_retains_name/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_count_distinct/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_difference_project_column/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_having_from_filter/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_intersect_project_column/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_subquery_where_location/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_table_difference/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_table_drop_with_filter/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_table_intersect/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_union/decompiled.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_union_project_column/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_aggregate_count_joined/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_anti_join/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_bool_bool/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_case_in_projection/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_fuse_projections/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_join_between_joins/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_join_just_materialized/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_limit_with_self_join/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_multiple_joins/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_select_sql/filter_then_limit/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_select_sql/limit_then_filter/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_semi_join/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_simple_joins/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_in_union/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_where_analyze_scalar_op/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_where_no_pushdown_possible/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_where_with_between/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_where_with_join/decompiled.py
  ibis/backends/tests/sql/snapshots/test_sql/test_lower_projection_sort_key/decompiled.py
  ibis/backends/tests/sql/snapshots/test_sql/test_where_simple_comparisons/decompiled.py
  ibis/backends/tests/tpc/conftest.py
  ibis/expr/decompile.py
  ibis/expr/sql.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_aggregation_with_multiple_joins/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_aggregation_with_join/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_join/inner/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_join/left/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_join/right/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_basic_projection/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_join_with_filter/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_multiple_joins/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_scalar_subquery/decompiled.py
  ibis/expr/tests/snapshots/test_sql/test_parse_sql_simple_select_count/decompiled.py
  pyproject.toml
Labels: experimental

#9895 refactor(internals): remove `cached_property` on the `tables` accessor to avoid a reference cycle
  ibis/backends/__init__.py
Labels: internals, refactor

#9856 feat(api): add `DateValue.epoch` api for computing days since epoch
  ibis/backends/polars/compiler.py
  ibis/backends/sql/compilers/impala.py
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/sql/compilers/risingwave.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/types/temporal.py
Labels: feature, timestamps

#9913 fix(oracle): avoid double cursor closing by removing unnecessary `close` in `_fetch_from_cursor`
  ibis/backends/oracle/__init__.py
  ibis/backends/tests/test_temporal.py
Labels: bug, tests, oracle

#9918 fix(oracle): implement current_catalog and current_database correctly
  ibis/backends/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_client.py
Labels: refactor, tests, datafusion, oracle

#9922 fix(polars): use `drop_table` when cleaning the cache and remove duplicated `_remove_table` method
  ibis/backends/polars/__init__.py
  ibis/backends/polars/tests/test_client.py
  ibis/backends/tests/errors.py
Labels: bug, polars

#9928 test(tpcds): add query 82
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9925 test(tpcds): add tpcds query 96
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/96.sql
Labels: tests

#9927 test(tpcds): add tpcds query 84
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9932 test(tpcds): add test for query 79
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/79.sql
Labels: tests

#9929 test(tpcds): add test for tpc ds query 99
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9926 test: add tests for tpc-ds query 98
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9917 refactor(selectors): remove janky `Predicate` class and unify `Selector`s under a single interface
  ibis/common/selectors.py
  ibis/expr/types/relations.py
  ibis/selectors.py
  ibis/tests/expr/test_selectors.py
Labels: internals, refactor

#9941 fix(trino): remove hack that silently breaks join transpilation
  ibis/backends/sql/dialects.py
  ibis/backends/sql/tests/test_compiler.py
Labels: bug, internals, trino

#9939 test(tpcds): add test for tpcds query 97
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9912 fix(pivot-wider): handle the case of empty `id_cols`
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
Labels: feature, ux

#9933 test(tpcds): add queries 72-74
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/72.sql
Labels: tests

#9943 test(tpcds): add query 66 to the TPC-DS test suite
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9930 chore(duckdb): update alternative method for in-memory data registration
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: duckdb

#9949 test: add test for query 93
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9942 test(tpcds): add queries 68-71
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9950 test(tpcds): increase timeout marker for trino
  ibis/backends/tests/tpc/conftest.py
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests, trino

#9944 test(cleanup): remove dead `xfail_version` clutter
  ibis/backends/datafusion/tests/test_select.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
Labels: refactor, tests

#9951 test(tpc): add test to verify and list all queries are written
  ibis/backends/tests/tpc/conftest.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/h/test_queries.py
Labels: tests

#9947 test(tpcds): add query 75
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/75.sql
Labels: tests

#9953 test: add tpcds 89
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9952 test(tpcds): add queries 92 and 94
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/92.sql
  ibis/backends/tests/tpc/queries/duckdb/ds/94.sql
Labels: tests

#9954 test(tpcds): add queries 76-78
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9957 test(tpcds): queries 65, 86, 90, 91, and 95
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/95.sql
Labels: tests

#9964 docs: fix doctests for postgres backend
  ibis/backends/postgres/__init__.py
Labels: docs, postgres

#9959 fix(clickhouse): workaround `EXCEPT` and `INTERSECT` generation in sqlglot; add tpcds query 87
  ibis/backends/sql/dialects.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/87.sql
Labels: bug, tests, clickhouse

#9974 ci: run arm64 job on slightly beefier runner
  .github/actionlint.yaml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Labels: ci

#9972 test(tpcds): query 83
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/queries/duckdb/ds/83.sql
Labels: tests

#9971 test(tpcds): query 81
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests

#9973 test(tpcds): query 88
  ibis/backends/tests/tpc/ds/test_queries.py
Labels: tests
