Repository ibis-project/ibis, pull requests merged in 2024-06, with the labels that each got.

#9285 build: pin semrel and conventionalcommits deps in release scripts
  ci/release/dry_run.sh
  ci/release/run.sh
Labels: dependencies, developer-tools, semantic-release

#9282 fix(typing): map() can take ArrayValues not just ArrayColumns
  ibis/expr/types/maps.py
Labels: datatypes

#9085 chore(dev-tools): get nix setup working on macOS
  flake.lock
  nix/ibis.nix
  nix/quarto/default.nix
Labels: developer-tools

#9286 chore(deps): bump nix deps
  flake.lock
Labels: dependencies, developer-tools, nix

#9294 fix(mysql): support parametrized datetime types
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/sql/datatypes.py
Labels: bug, mysql, datatypes, timestamps

#9266 feat(pyspark): support reading from and writing to Kafka
  ibis/backends/pyspark/__init__.py
Labels: pyspark, streaming

#9290 fix(polars,mysql): avoid execution of query in `_get_schema_using_query`
  ibis/backends/mysql/__init__.py
  ibis/backends/polars/__init__.py
Labels: performance, mysql, polars

#9298 test(data): adjust data directory for impala and bump nix hash
  ibis/backends/impala/tests/conftest.py
  ibis/backends/impala/tests/test_ddl.py
  ibis/backends/impala/tests/test_parquet_ddl.py
  nix/overlay.nix
Labels: tests, ci

#9297 feat(duckdb): support and test 1.0
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: dependencies, duckdb

#9302 feat(pandas,dask): implement ops.StructColumn
  ibis/backends/dask/executor.py
  ibis/backends/pandas/executor.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
Labels: pandas, dask

#9307 docs: use more idiomatic group_by in readme example
  README.md
Labels: docs

#9306 chore(test): remove indirection in test_sql.py
  ibis/backends/tests/test_sql.py
Labels: refactor, tests

#9305 fix(clickhouse): more explicitly disallow null structs
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_struct.py
Labels: bug, clickhouse

#9210 feat(bigquery): implement a few URL ops
  ibis/backends/bigquery/compiler.py
  ibis/backends/tests/test_string.py
Labels: feature, refactor, bigquery

#9308 test(duckdb): load parquet files instead of generating tpch data every time
  ibis/backends/duckdb/tests/conftest.py
Labels: tests, duckdb

#9299 feat(datafusion): use pyarrow for type conversion
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_datatypes.py
  ibis/backends/tests/test_client.py
  ibis/tests/strategies.py
Labels: datatypes

#9139 fix(datatypes): manually cast the type of `pos` to `int16` for `table.info()`
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
Labels: bug, datatypes

#9296 test(datafusion): run tpch correctness tests
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/tpch/conftest.py
  ibis/backends/tests/tpch/snapshots/test_h01/test_tpc_h01/datafusion/h01.sql
  ibis/backends/tests/tpch/snapshots/test_h02/test_tpc_h02/datafusion/h02.sql
  ibis/backends/tests/tpch/snapshots/test_h03/test_tpc_h03/datafusion/h03.sql
  ibis/backends/tests/tpch/snapshots/test_h04/test_tpc_h04/datafusion/h04.sql
  ibis/backends/tests/tpch/snapshots/test_h05/test_tpc_h05/datafusion/h05.sql
  ibis/backends/tests/tpch/snapshots/test_h06/test_tpc_h06/datafusion/h06.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/datafusion/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/datafusion/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h09/test_tpc_h09/datafusion/h09.sql
  ibis/backends/tests/tpch/snapshots/test_h10/test_tpc_h10/datafusion/h10.sql
  ibis/backends/tests/tpch/snapshots/test_h11/test_tpc_h11/datafusion/h11.sql
  ibis/backends/tests/tpch/snapshots/test_h12/test_tpc_h12/datafusion/h12.sql
  ibis/backends/tests/tpch/snapshots/test_h13/test_tpc_h13/datafusion/h13.sql
  ibis/backends/tests/tpch/snapshots/test_h14/test_tpc_h14/datafusion/h14.sql
  ibis/backends/tests/tpch/snapshots/test_h15/test_tpc_h15/datafusion/h15.sql
  ibis/backends/tests/tpch/snapshots/test_h17/test_tpc_h17/datafusion/h17.sql
  ibis/backends/tests/tpch/snapshots/test_h18/test_tpc_h18/datafusion/h18.sql
  ibis/backends/tests/tpch/snapshots/test_h19/test_tpc_h19/datafusion/h19.sql
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/datafusion/h20.sql
  ibis/backends/tests/tpch/test_h16.py
  ibis/backends/tests/tpch/test_h21.py
  ibis/backends/tests/tpch/test_h22.py
Labels: tests, datafusion

#9314 fix(datatypes): manually cast the type of pos to int16 for `table.describe()`
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
Labels: bug

#9327 docs(pyspark): remove outdated `connect()` callout
  docs/backends/pyspark.qmd
Labels: docs, pyspark

#9318 fix: drop nulls in `.collect()` aggregation
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/pandas/kernels.py
  ibis/backends/polars/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/trino/compiler.py
Labels: bug

#9288 ci: run one nix job on arm64 runner
  .github/actionlint.yaml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Labels: ci

#9331 chore(dev-deps): enable aarch64-linux dev envs
  .github/workflows/nix.yml
  nix/quarto/default.nix
Labels: developer-tools, nix

#9329 chore(dev-deps): bump nix flakes
  flake.lock
Labels: dependencies, developer-tools

#9337 docs: update the code of conduct link
  README.md
Labels: docs

#9341 docs(presentations): minor updates to history in overview presentation
  docs/presentations/overview.qmd
Labels: docs

#9350 chore(deps): upgrade lonboard and remove leafmap dep
  docs/posts/ibis-duckdb-geospatial/index.qmd
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: geospatial, dependencies, blog

#9342 chore(api): remove defunct add_operation from backends
  ibis/__init__.py
  ibis/backends/__init__.py
  ibis/tests/test_api.py
Labels: bug, ux

#9353 ci: reenable doctest builds
  .github/workflows/ibis-main.yml
Labels: ci

#9356 feat(selectors): parse Python types in `s.of_type`
  ibis/selectors.py
  ibis/tests/expr/test_selectors.py
Labels: feature, ux, datatypes

#9348 feat(postgres): provide translation for `hash` ops
  ibis/backends/postgres/compiler.py
  ibis/backends/tests/test_generic.py
Labels: feature, postgres

#9349 docs: update contribute index page content
  docs/contribute/index.md
Labels: docs

#9362 ci(clickhouse): use a different health check
  .github/workflows/ibis-backends.yml
  compose.yaml
Labels: ci, clickhouse

#9363 fix(mysql): avoid creating any tables when using `.sql()`
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/tests/test_client.py
Labels: bug, mysql, datatypes

#9366 docs(search): append scraped API records to algolia index in CI
  .github/workflows/ibis-docs-main.yml
  .github/workflows/upload-algolia-api.py
Labels: docs

#9367 test(clouds): disable flaky tests
  ibis/backends/snowflake/tests/test_udf.py
  ibis/backends/tests/test_generic.py
Labels: tests, bigquery, snowflake

#9372 ci: make sure args is never empty
  .github/workflows/nix.yml
Labels: ci, nix

#9370 docs: remove GitHub-specific Markdown in README.md
  README.md
Labels: docs

#9374 chore: remove unrendered docs/README.md
  docs/README.md
Labels: docs

#9377 chore(docs): actually run the algolia index augmenter
  .github/workflows/upload-algolia-api.py
Labels: docs, ci

#9375 feat(bigquery): support filtering by `_TABLE_SUFFIX` when using a wildcard table name
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: feature, bigquery

#9380 test(snowflake): add case to insert test
  ibis/backends/snowflake/tests/test_client.py
Labels: tests, snowflake

#9388 test(snowflake): enable xgboost model test again
  ibis/backends/snowflake/tests/test_udf.py
Labels: tests, snowflake

#9393 test(snowflake): reenable array map and filter tests
  ibis/backends/tests/test_array.py
Labels: tests, snowflake

#9399 chore(deps): bump nix flakes
  flake.lock
Labels: dependencies, developer-tools, nix

#9400 chore(deps): bump lower bound of pytest to 8.2.0
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Labels: tests, dependencies, developer-tools

#9411 test(common): replace error message snapshot with match
  ibis/common/tests/snapshots/test_annotations/test_signature_from_callable_with_positional_only_arguments/parameter_is_positional_only.txt
  ibis/common/tests/test_annotations.py
Labels: tests

#9412 test(snowflake): unxfail passing test
  ibis/backends/tests/test_window.py
Labels: tests, snowflake

#9410 fix(trino): allow passing the `auth` keyword
  ibis/backends/trino/__init__.py
  ibis/backends/trino/tests/conftest.py
  ibis/backends/trino/tests/test_client.py
Labels: bug, trino

#9421 fix(mysql): ensure that `port` is captured in MySQL `_from_url` implementation
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/tests/test_client.py
Labels: bug, mysql

#9420 refactor(backends): remove redundant implementations of `_register_in_memory_tables`
  ibis/backends/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/sql/__init__.py
Labels: refactor

#9419 perf(duckdb): speed up memtable registration
  ibis/backends/duckdb/__init__.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: performance, duckdb

#9416 refactor(api): remove `tuple` support in `SortKey`
  ibis/expr/operations/sortkeys.py
Labels: refactor

#9425 perf(bigquery): avoid running `list_tables` when registering memtables
  ibis/backends/bigquery/__init__.py
Labels: performance, bigquery

#9418 perf(bigquery): use `query_and_wait` for better performance on queries of small data with smaller result sets
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
Labels: refactor, performance

#9404 fix(sec): remove most instances of possible sql injection
  ci/check_disallowed_imports.py
  ci/make_geography_db.py
  docs/how-to/visualization/example_streamlit_app/example_streamlit_app.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/unit/udf/test_core.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/pyspark/tests/test_ddl.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/sql/dialects.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
  ibis/common/typing.py
  ibis/examples/gen_registry.py
  ibis/expr/tests/test_decompile.py
  ibis/tests/util.py
  ibis/util.py
  pyproject.toml
Labels: refactor, developer-tools

#9391 docs: add ibis-bench blog
  docs/_freeze/posts/ibis-bench/index/execute-results/html.json
  docs/posts/ibis-bench/.gitignore
  docs/posts/ibis-bench/figure1.png
  docs/posts/ibis-bench/index.qmd
Labels: docs, performance, blog

#9435 fix(oracle): support connection using oracle connection string
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/tests/test_client.py
Labels: bug, oracle

#9434 fix(mssql): fix temporary table creation and implement `cache`
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/tests/test_client.py
Labels: bug, mssql

#9441 chore(build): fix pyogrio build for macos arm
  flake.lock
Labels: bug, dependencies, developer-tools, nix

#9445 docs(blog-axis-labels): set correct y axis in plot in Ibis benchmark blog post
  docs/_freeze/posts/ibis-bench/index/execute-results/html.json
  docs/posts/ibis-bench/index.qmd
Labels: bug, blog

#9440 perf(drop): speed up performance of drop
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/pandas/executor.py
  ibis/backends/polars/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/sql/snapshots/test_compiler/test_table_drop_with_filter/decompiled.py
  ibis/backends/tests/sql/snapshots/test_sql/test_no_cartesian_join/out.sql
  ibis/expr/decompile.py
  ibis/expr/operations/relations.py
  ibis/expr/types/relations.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/test_table.py
Labels: internals, ux, performance

#9385 feat(api): add `nulls_first=False` argument to `order_by`
  ibis/backends/dask/executor.py
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/first/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/lag_arg/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/lag_default/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/lag_explicit_default/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/last/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/lead_arg/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/lead_default/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/lead_explicit_default/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/ntile/out.sql
  ibis/backends/impala/tests/snapshots/test_analytic_functions/test_analytic_exprs/percent_rank/out.sql
  ibis/backends/impala/tests/snapshots/test_exprs/test_filter_with_analytic/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_group_by_with_window_preserves_range/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_add_default_order_by/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_aggregate_in_projection/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/max/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/max/out2.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/mean/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/mean/out2.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/min/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/min/out2.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/sum/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_cumulative_functions/sum/out2.sql
  ibis/backends/impala/tests/snapshots/test_window/test_multiple_windows/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_nested_analytic_function/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_order_by_desc/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_order_by_desc/out2.sql
  ibis/backends/impala/tests/snapshots/test_window/test_propagate_nested_windows/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_rank_functions/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_row_number_does_not_require_order_by/out1.sql
  ibis/backends/impala/tests/snapshots/test_window/test_row_number_does_not_require_order_by/out2.sql
  ibis/backends/impala/tests/snapshots/test_window/test_row_number_properly_composes_with_arithmetic/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/cumulative/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/foll_0/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/foll_10_5/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/foll_2/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/foll_2_prec_0/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/foll_5_10/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/prec_0/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/prec_5/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/prec_5_foll_0/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/prec_5_foll_2/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_window_frame_specs/trailing_10/out.sql
  ibis/backends/pandas/executor.py
  ibis/backends/polars/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/dialects.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/impala/out.sql
  ibis/backends/tests/test_generic.py
  ibis/expr/api.py
  ibis/expr/decompile.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/rewrites.py
  ibis/expr/types/generic.py
  ibis/tests/test_api.py
Labels: feature, internals, ux

#9450 chore(deps): bump nix flakes
  flake.lock
Labels: dependencies, developer-tools, nix

#9451 feat(api): allow grouping by scalar values
  ibis/backends/tests/test_aggregation.py
  ibis/expr/operations/relations.py
  ibis/expr/types/groupby.py
  ibis/tests/expr/test_table.py
Labels: feature, ux

#9452 fix(druid): handle typed nulls where possible
  ibis/backends/druid/compiler.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_string.py
Labels: bug, druid

#9461 test: add some basic cast tests
  ibis/backends/tests/test_generic.py
Labels: tests, timestamps
