Repository ibis-project/ibis, pull requests merged in 2024-07, with the labels that each got.

#9272 feat(pyspark): implement new experimental read/write directory methods
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_import_export.py
Labels: pyspark

#9476 fix(ir): avoid deduplicating filters based solely on their name
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/relations.py
Labels: bug, internals

#9466 fix(uri-parsing): handle password with bracket in connection url
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/druid/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/trino/__init__.py
Labels: bug, ux

#9423 feat(api): add `TableUnnest` operation to support cross-join unnest semantics as well as `offset`
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/snowflake/tests/test_client.py
  ibis/backends/tests/test_array.py
  ibis/backends/trino/compiler.py
  ibis/expr/operations/relations.py
  ibis/expr/types/arrays.py
  ibis/expr/types/relations.py
Labels: feature, postgres, pyspark, bigquery, duckdb, sql, snowflake, trino, risingwave

#9482 fix(urls): standardize pass-through of parsed query parameters
  ibis/backends/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/druid/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/trino/__init__.py
Labels: bug, ux

#9493 chore(deps): fix macos build with scipy>=1.14 by bumping poetry2nix
  flake.lock
Labels: dependencies, nix

#9470 feat(bigquery): implement CountDistinctStar
  ibis/backends/bigquery/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, bigquery

#9477 feat(caching): tie lifetime of cached tables to python refs
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  docs/posts/run-on-snowflake/index.qmd
  ibis/backends/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/polars/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/tests/test_udf.py
  ibis/backends/sql/__init__.py
  ibis/backends/tests/test_client.py
  ibis/common/caching.py
  ibis/examples/pixi.lock
  ibis/expr/types/relations.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: feature, ux

#9500 chore(dev-tools): add `justfile` command to clean up containers
  justfile
Labels: developer-tools

#9509 fix(clickhouse): support `Date32` database type
  ibis/backends/clickhouse/tests/test_datatypes.py
  ibis/backends/sql/datatypes.py
Labels: feature, clickhouse

#9514 chore(deps): bump nixpkgs
  flake.lock
Labels: dependencies, developer-tools, nix

#9519 fix(datatypes): proper handling of srid in geospatial datatypes
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/sql/datatypes.py
  ibis/backends/sql/tests/test_datatypes.py
  ibis/expr/datatypes/core.py
  ibis/expr/types/geospatial.py
  ibis/expr/types/numeric.py
  ibis/tests/strategies.py
Labels: bug, geospatial, datatypes

#9528 chore(deps): bump duckdb wasm to 1.0.0 in website jupyterlite build
  justfile
Labels: docs, duckdb

#9532 refactor(caching): remove parameters that are always the same
  ibis/backends/__init__.py
  ibis/common/caching.py
Labels: internals, refactor

#9550 refactor(streamlit): update to use BaseConnection interface
  docs/how-to/visualization/example_streamlit_app/example_streamlit_app.py
  docs/how-to/visualization/streamlit.qmd
  ibis/streamlit/__init__.py
Labels: ecosystem

#9558 docs: add Shiny (for Python) to "works well with" section
  docs/why.qmd
Labels: docs

#9563 docs: fix spelling issues
  docs/concepts/who.qmd
  docs/how-to/extending/builtin.qmd
Labels: docs

#9516 feat(polars): support version 1.0 and later
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_temporal.py
  ibis/expr/schema.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: feature, polars

#9556 perf(duckdb): speedup timestamp conversion by avoiding conversion to object
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_asof_join.py
  ibis/formats/pandas.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: performance, timestamps, duckdb

#9525 fix(clickhouse): generate redundant aliases to workaround clickhouse naming behavior
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_cast_double_col/float/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/bigint_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/bool_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/date_string_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/double_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/float_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/id/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/int_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/month/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/smallint_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/string_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/timestamp_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/tinyint_col/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_noop_cast/year/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_complex_array_expr_projection/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_complex_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_count_name/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_join_self_reference/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_named_from_filter_groupby/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_named_from_filter_groupby/out2.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-awardID-any_inner_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-awardID-any_left_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-awardID-inner_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-awardID-left_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-playerID-any_inner_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-playerID-any_left_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-playerID-inner_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_simple_joins/playerID-playerID-left_join/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_table_column_unbox/out.sql
  ibis/backends/clickhouse/tests/snapshots/test_select/test_where_with_timestamp/out.sql
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/clickhouse-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/clickhouse-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
Labels: bug, clickhouse

#9567 feat(dtypes): fall back to `dt.unknown` for unknown types
  ibis/backends/sql/datatypes.py
Labels: feature, refactor, ux, datatypes

#9566 feat(duckdb): use `delta_scan` instead of reading pyarrow datasets
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
Labels: feature, duckdb

#9573 ci(snowflake,bigquery): fix failing tests
  ibis/backends/tests/test_generic.py
Labels: bigquery, snowflake

#9572 ci(bigquery): gate failure on bigquery lite jobs
  .github/workflows/ibis-backends-skip-helper.yml
  .github/workflows/ibis-backends.yml
Labels: ci, bigquery

#9575 ci(trino): pin to 449 to avoid truncate table memory bug
  compose.yaml
Labels: ci, trino

#9552 refactor(deps): make pyarrow optional for non-backend installs
  .github/workflows/ibis-main.yml
  ibis/backends/tests/data.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_dataframe_interchange.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_map.py
  ibis/common/tests/test_dispatch.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/tests/test_schema.py
  ibis/expr/types/joins.py
  ibis/formats/pandas.py
  ibis/formats/pyarrow.py
  ibis/formats/tests/test_pandas.py
  ibis/formats/tests/test_pyarrow.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/test_api.py
  poetry.lock
  pyproject.toml
Labels: refactor, dependencies

#9576 feat(dtypes): fall back to `dt.unknown` for unknown types
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_struct.py
Labels: feature, datatypes

#9578 ci: try to fix preview links in gha
  .github/workflows/docs-preview.yml
Labels: docs, ci

#9583 chore: test links
  .github/workflows/docs-preview.yml
Labels: docs

#9582 chore(deps): bump nixpkgs and poetry2nix
  flake.lock
Labels: dependencies, nix

#9544 feat(datafusion): datafusion enhancements
  ibis/backends/datafusion/__init__.py
  ibis/backends/datafusion/tests/test_register.py
Labels: feature, datafusion

#9553 docs: update link to the flink example repo
  docs/_freeze/posts/flink-announcement/index/execute-results/html.json
  docs/_freeze/posts/unified-stream-batch/index/execute-results/html.json
  docs/posts/flink-announcement/index.qmd
  docs/posts/unified-stream-batch/index.qmd
Labels: docs

#9508 test(clickhouse): add TPC-H and TPC-DS queries
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/tests/tpc/conftest.py
  ibis/backends/tests/tpc/ds/test_queries.py
  ibis/backends/tests/tpc/h/test_queries.py
  ibis/backends/tests/tpc/queries/clickhouse/ds/13.sql
  ibis/backends/tests/tpc/queries/clickhouse/h/19.sql
Labels: tests, clickhouse

#9590 refactor(compilers): move compilers out of the backend dependency path
  .github/workflows/ibis-backends.yml
  docs/backends/risingwave.qmd
  docs/backends/support/matrix.qmd
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/impala/tests/mocks.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/risingwave/tests/test_streaming.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/sql/compilers/__init__.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/bigquery.py
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/sql/compilers/druid.py
  ibis/backends/sql/compilers/duckdb.py
  ibis/backends/sql/compilers/exasol.py
  ibis/backends/sql/compilers/flink.py
  ibis/backends/sql/compilers/impala.py
  ibis/backends/sql/compilers/mssql.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/risingwave.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/sql/compilers/trino.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_join.py
  ibis/backends/trino/__init__.py
  ibis/backends/trino/tests/conftest.py
  pyproject.toml
Labels: feature, internals, refactor

#9593 chore(justfile): add check to justfile docs preview commands
  justfile
Labels: developer-tools

#9560 chore(test): consolidate ifelse() and case() tests
  ibis/backends/dask/tests/test_operations.py
  ibis/backends/pandas/tests/test_operations.py
  ibis/backends/tests/test_conditionals.py
  ibis/backends/tests/test_generic.py
Labels: tests

#9596 docs(arbitrary): add example for `arbitrary` method docstring
  ibis/expr/types/generic.py
Labels: docs

#9597 chore(docs): fix arbitrary docstring
  ibis/expr/types/generic.py
Labels: docs

#9595 fix(join): skip substitution of non-field references in join chains
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
Labels: bug, internals, ux

#9592 docs: add `deferred`, `range`, `e`, and `pi` to API reference
  docs/_quarto.yml
  ibis/expr/api.py
  ibis/expr/operations/udf.py
Labels: docs

#9533 feat(api): add positional joins
  ibis/backends/pandas/executor.py
  ibis/backends/polars/compiler.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/tests/test_join.py
  ibis/expr/operations/relations.py
  ibis/expr/types/joins.py
Labels: ux, pandas, dask, duckdb, polars

#9599 test(sql): fix json array/map ordering in test to be deterministic
  ci/schema/bigquery.sql
  ci/schema/duckdb.sql
  ci/schema/mysql.sql
  ci/schema/postgres.sql
  ci/schema/risingwave.sql
  ci/schema/snowflake.sql
  ci/schema/sqlite.sql
  ci/schema/trino.sql
  ibis/backends/tests/test_json.py
Labels: tests, sql, snowflake

#9606 fix(pyspark): set lower bound of pyspark to 3.3.3 to avoid maintenance burden of pytest collection hook
  .github/workflows/ibis-backends.yml
  ibis/backends/conftest.py
  poetry.lock
  pyproject.toml
Labels: tests, pyspark

#9605 test(flink): show more readable assertion error for flaky test
  ibis/backends/flink/tests/test_memtable.py
Labels: tests, flink

#9607 refactor(polars): remove numpy usage entirely
  ibis/backends/polars/compiler.py
Labels: refactor, dependencies, polars

#9589 fix(bigquery): escape table names with spaces for bigquery backend
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
Labels: bug, bigquery

#9610 fix(bigquery): support microseconds in time literals
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_time_from_hms_with_micros/micros.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_time_from_hms_with_micros/no_micros.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/sql/compilers/bigquery.py
Labels: bigquery, timestamps

#8954 feat(polars): add more accurate type mapping for timestamps
  ibis/expr/datatypes/core.py
  ibis/formats/polars.py
  ibis/formats/tests/test_polars.py
Labels: feature, timestamps, polars

#9611 test(flink): materialize results to avoid consuming an iterator to check for element membership
  ibis/backends/flink/tests/test_memtable.py
Labels: tests, ci, flink

#9334 fix(datatypes): infer the correct shape for many existing ops
  ibis/expr/operations/arrays.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/strings.py
  ibis/expr/operations/temporal.py
  ibis/expr/rules.py
Labels: bug, internals

#9616 refactor(pyarrow): remove comparison of column names for renaming
  ibis/formats/pyarrow.py
Labels: internals, refactor

#9622 feat(flink): create views from more mem data types
  ibis/backends/flink/__init__.py
  ibis/backends/flink/tests/test_ddl.py
  ibis/backends/tests/test_client.py
Labels: bug, flink

#9624 docs(clickhouse): put the clickhouse tutorial into sidebar
  docs/tutorials/cloud-data-platforms/clickhouse.qmd
Labels: docs

#9200 refactor(api): refactor the implementation of windowing
  ibis/backends/flink/tests/conftest.py
  ibis/backends/flink/tests/test_compiler.py
  ibis/backends/flink/tests/test_join.py
  ibis/backends/flink/tests/test_window.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_import_export.py
  ibis/backends/pyspark/tests/test_window.py
  ibis/backends/sql/compilers/flink.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/expr/format.py
  ibis/expr/operations/temporal_windows.py
  ibis/expr/types/relations.py
  ibis/expr/types/temporal_windows.py
  ibis/tests/expr/test_temporal_windows.py
Labels: refactor, pyspark, streaming

#8848 fix(pyspark): run pre-execute hooks for `to_delta`
  ibis/backends/pyspark/__init__.py
Labels: feature, pyspark

#9617 test(ci): ensure that we do not skip all of `test_client.py` if polars is not installed
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_expr_caching.py
Labels: tests, ci

#9632 test(snowflake): add tests for inserting from a list of dictionaries
  ibis/backends/snowflake/tests/test_client.py
Labels: tests, snowflake

#9630 feat(postgres): support basic jsonb type and existing operations
  ci/schema/postgres.sql
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_json.py
  ibis/backends/risingwave/tests/test_client.py
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/sql/datatypes.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/operations/json.py
  ibis/tests/strategies.py
Labels: feature, internals, postgres, datatypes

#9635 ci(exasol): add the astronauts dataset for testing
  ci/schema/exasol.sql
  ibis/backends/tests/test_dot_sql.py
Labels: tests, ci, exasol

#9620 fix(pyspark): set catalog and database with `USE` instead of pyspark api
  .github/workflows/ibis-backends.yml
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_client.py
  poetry-overrides.nix
Labels: pyspark

#9640 chore(conda): relax python pinned version in the flink yaml file
  conda/environment-arm64-flink.yml
Labels: dependencies, flink

#9642 docs(how-to): add a guide on streaming operations
  docs/how-to/extending/streaming.qmd
Labels: docs, pyspark, flink, streaming

#9646 perf(drop): use `_fast_bind` to speed up `drop` even more
  ibis/expr/types/relations.py
Labels: internals, performance

#9652 fix(api): add support for using deferreds in the `argmin`/`argmax` `key` argument
  ibis/expr/tests/test_reductions.py
  ibis/expr/types/generic.py
Labels: bug, ux

#9636 chore(deps): bump nixpkgs and relock project deps
  flake.lock
  ibis/backends/tests/test_struct.py
  justfile
  poetry.lock
  requirements-dev.txt
Labels: dependencies, nix

#9641 perf(rename): avoid unnecessary rewrites and dereferencing in `rename`
  ibis/expr/types/relations.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: internals, ux, performance

#9644 perf(relocate): avoid redundant selector position computation
  docs/how-to/analytics/basics.qmd
  ibis/expr/types/relations.py
  ibis/selectors.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/test_relocate.py
Labels: internals, refactor, performance

#9651 chore(deps): remove unused `pydeps` dependency
  ci/check_disallowed_imports.py
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  justfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: dependencies

#9656 fix(mssql): always pass port to `pyodbc` in host string
  ibis/backends/mssql/__init__.py
Labels: bug, mssql

#9649 feat(api): support selectors in window function `order_by` and `group_by`
  ibis/common/selectors.py
  ibis/expr/builders.py
  ibis/expr/types/relations.py
  ibis/selectors.py
  ibis/tests/expr/test_selectors.py
Labels: feature, ux

#9658 fix(mssql): avoid calling `.commit()` unless a DDL operation is being performed
  ibis/backends/mssql/__init__.py
Labels: bug, mssql

#9659 feat(api): accept more input types in `ibis.range`
  ibis/expr/api.py
  ibis/tests/expr/test_timestamp.py
Labels: bug, feature, ux, timestamps

#9665 feat(pyarrow): support `__arrow_c_schema__` on `ibis.Schema` objects
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
Labels: feature

#9603 feat(backends): support creation from a DB-API con
  .github/workflows/ibis-backends.yml
  gen_redirects.py
  ibis/backends/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/tests/test_client.py
  ibis/backends/trino/__init__.py
Labels: backends

#9671 test(schema): ensure that we attempt to call `__arrow_c_schema__`
  ibis/expr/tests/test_schema.py
Labels: tests

#9672 fix(polars): remove bogus minus-one-week truncation
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: bug, polars

#9673 refactor(polars): remove casting where possible; handle conversion on output
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/polars/tests/test_udf.py
Labels: polars

#9674 fix(polars): fix polars `std`/`var` to properly handle `sample`/`population`
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_aggregation.py
Labels: bug, polars

#9675 refactor(polars): delete some dead versioning code
  ibis/backends/polars/compiler.py
Labels: refactor, polars

#9677 fix(drop): ignore order for `DropColumns` equality
  ibis/expr/operations/relations.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: bug, internals

#9679 docs: replace all double graves with single graves
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/test_window.py
  ibis/common/typing.py
  ibis/expr/types/core.py
  ibis/expr/types/relations.py
  ibis/expr/types/structs.py
  ibis/util.py
Labels: docs

#9559 fix(case): fix dshape, error on noncomparable and empty cases
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_bucket/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_assign_labels/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/close_extreme_false/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/close_extreme_false_closed_right/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/close_extreme_false_include_under_include_over/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/closed_right/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/closed_right_close_extreme_false_include_under/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/closed_right_include_over_include_under/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/default/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/include_over_include_under0/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/include_over_include_under1/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/include_over_include_under2/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/include_under/out.sql
  ibis/backends/impala/tests/snapshots/test_bucket_histogram/test_bucket_to_case/include_under_include_over/out.sql
  ibis/backends/impala/tests/snapshots/test_case_exprs/test_search_case/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_case_in_projection/decompiled.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_case_in_projection/out.sql
  ibis/backends/tests/sql/snapshots/test_sql/test_searched_case/out.sql
  ibis/expr/builders.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/logical.py
  ibis/expr/rules.py
  ibis/tests/expr/test_case.py
Labels: bug, internals, refactor, ux

#9682 refactor(internals): remove unnecessary dynamism in `drop` method
  ibis/expr/types/relations.py
Labels: internals, refactor

#9683 chore(deps): remove `packaging` package where it is not used
  poetry.lock
  pyproject.toml
Labels: polars, oracle

#9680 depr(snowflake): deprecate `from_snowpark` method
  docs/posts/run-on-snowflake/index.qmd
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/snowflake/tests/test_udf.py
  ibis/backends/tests/test_client.py
Labels: ux, tests, snowflake, deprecation

#9692 fix(druid): get basic timestamp functionality working
  ci/schema/druid.sql
  ibis/backends/druid/tests/conftest.py
  ibis/backends/sql/compilers/druid.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_param.py
  ibis/backends/tests/test_temporal.py
Labels: bug, druid

#9693 test(benchmark): remove unnecessary `date` call in benchmark
  .github/workflows/ibis-main.yml
  ibis/tests/benchmarks/test_benchmarks.py
Labels: bug, tests

#9713 refactor(duckdb): use replace to generate less sql
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_explicit/expr1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp0-0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp1-1_1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp2-2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp3-0_0_1_1_2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp4-2_2_1_1_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp5-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp6-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp7-0_0_1_1_2_2_2_2_1_1_0_0/out.sql
Labels: refactor, geospatial, duckdb

#9715 feat(api): support quarterly truncation
  ibis/backends/dask/executor.py
  ibis/backends/pandas/executor.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/tests/test_temporal.py
Labels: feature, timestamps

#9700 feat(mssql): support case-sensitive collations
  ci/schema/mssql.sql
  compose.yaml
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/tests/test_generic.py
Labels: mssql

#9698 perf(schema): speed up failure case of duplicate keys when constructing schemas
  ibis/expr/schema.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: ux, performance

#9723 chore(deps): bump nixpkgs and poetry dependencies
  flake.lock
  ibis/backends/tests/test_struct.py
  poetry.lock
  requirements-dev.txt
Labels: ci, dependencies, developer-tools, nix

#9724 chore(deps): bump quarto to 1.5.55
  .gitignore
  docs/_extensions/fontawesome/_extension.yml
  docs/_extensions/fontawesome/assets/css/all.css
  docs/_extensions/fontawesome/assets/css/latex-fontsize.css
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Brands-Regular-400.ttf
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Brands-Regular-400.woff2
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Free-Regular-400.ttf
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Free-Regular-400.woff2
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Free-Solid-900.ttf
  docs/_extensions/fontawesome/assets/webfonts/FontAwesome6Free-Solid-900.woff2
  docs/_extensions/fontawesome/assets/webfonts/fa-brands-400.ttf
  docs/_extensions/fontawesome/assets/webfonts/fa-brands-400.woff2
  docs/_extensions/fontawesome/assets/webfonts/fa-regular-400.ttf
  docs/_extensions/fontawesome/assets/webfonts/fa-regular-400.woff2
  docs/_extensions/fontawesome/assets/webfonts/fa-solid-900.ttf
  docs/_extensions/fontawesome/assets/webfonts/fa-solid-900.woff2
  docs/_extensions/fontawesome/assets/webfonts/fa-v4compatibility.ttf
  docs/_extensions/fontawesome/assets/webfonts/fa-v4compatibility.woff2
  docs/_extensions/fontawesome/fontawesome.lua
  docs/_extensions/interlinks/.gitignore
  docs/_extensions/interlinks/_extension.yml
  docs/_extensions/interlinks/interlinks.lua
  docs/presentations/pycon2024/maintainers.qmd
  nix/quarto/default.nix
Labels: docs, dependencies, developer-tools

#9712 fix(bigquery): repr geospatial values in interactive mode
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/converter.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_binary/difference/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_binary/intersection/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_binary/union/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_point/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_simplify/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/buffer/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/centroid/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/end_point/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/point_n/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary/start_point/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_geospatial_unary_union/out.sql
Labels: bug, geospatial, bigquery

#9725 feat(bigquery): support timestamp bucket
  ibis/backends/sql/compilers/bigquery.py
  ibis/backends/tests/test_temporal.py
Labels: feature, bigquery

#9727 docs: fix typo in `drop` method docstring
  ibis/expr/types/relations.py
Labels: docs

#9726 fix(internals): ensure that CTEs are emitted in topological order
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/sql/test_sql.py
  ibis/common/graph.py
Labels: bug, internals

#9731 test(risingwave): mark `test_union_aliasing` as notimpl because arbitrary aggregate function is not supported
  ibis/backends/tests/test_sql.py
Labels: feature, tests, ci, risingwave

#9732 feat(oracle): support `group_concat` operator
  ibis/backends/sql/compilers/oracle.py
  ibis/backends/tests/test_aggregation.py
Labels: feature, tests, ci, oracle

#9730 docs(algolia): add custom attributes to backend and core methods
  .github/workflows/algolia/configure-algolia.py
  .github/workflows/algolia/upload-algolia-api.py
  .github/workflows/algolia/upload-algolia.py
  .github/workflows/ibis-docs-main.yml
  docs/backends/_utils.py
Labels: docs, developer-tools

#9735 feat(datafusion): enable array flatten, group concat, and timestamp now
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_temporal.py
Labels: feature, datafusion, timestamps

#9739 fix(algolia): add parent class docstring to algolia index
  docs/backends/_utils.py
Labels: docs, ci

#9738 chore(deps): bump clickhouse-server version
  compose.yaml
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
Labels: ci, clickhouse, developer-tools
