Repository ibis-project/ibis, pull requests merged in 2024-03, with the labels that each got.

#8503 chore(deps): bump ruff to 0.3.0
  docs/posts/pydata-performance/step1.py
  docs/posts/pydata-performance/step2.py
  docs/posts/torch/model.py
  ibis/__init__.py
  ibis/backends/bigquery/converter.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
  ibis/backends/bigquery/tests/unit/udf/test_builtin.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/dask/convert.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/tests/test_udf.py
  ibis/backends/flink/compiler.py
  ibis/backends/flink/tests/test_udf.py
  ibis/backends/flink/utils.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/udf.py
  ibis/backends/mssql/compiler.py
  ibis/backends/pandas/convert.py
  ibis/backends/polars/tests/test_udf.py
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/converter.py
  ibis/backends/postgres/tests/test_geospatial.py
  ibis/backends/postgres/tests/test_json.py
  ibis/backends/risingwave/tests/test_json.py
  ibis/backends/snowflake/tests/test_udf.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/datatypes.py
  ibis/backends/sql/ddl.py
  ibis/backends/sql/rewrites.py
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_interactive.py
  ibis/backends/tests/test_json.py
  ibis/common/bases.py
  ibis/common/collections.py
  ibis/common/deferred.py
  ibis/common/graph.py
  ibis/common/patterns.py
  ibis/common/tests/test_annotations.py
  ibis/common/tests/test_bases.py
  ibis/common/tests/test_patterns.py
  ibis/common/tests/test_typing.py
  ibis/common/typing.py
  ibis/expr/api.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/udf.py
  ibis/expr/operations/window.py
  ibis/expr/rewrites.py
  ibis/formats/pandas.py
  ibis/tests/expr/test_udf.py
  ibis/tests/test_util.py
  ibis/util.py
  justfile
  poetry.lock
  requirements-dev.txt
Labels: dependencies, developer-tools

#8515 feat(pyspark): support `ibis.pyspark.connect()`
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/test_basic.py
Labels: feature, pyspark

#8495 docs: update contributing docs and env for m1/m2 devs
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  docs/contribute/01_environment.qmd
  docs/contribute/02_workflow.qmd
Labels: docs

#8490 docs: rework why Ibis article to explain what Ibis is and other updates
  docs/_tabsets/install.qmd
  docs/backends_sankey.py
  docs/concepts/who.qmd
  docs/why.qmd
Labels: docs

#8513 docs(how-to): add graphviz section
  docs/how-to/visualization/graphs.qmd
Labels: docs

#8530 chore(deps): bump nix flakes and poetry version
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  docs/contribute/01_environment.qmd
  flake.lock
  justfile
Labels: dependencies, developer-tools, nix

#8524 docs: rewrite readme
  README.md
  docs/images/backends.png
Labels: docs

#8546 feat(api): support variadic arguments on `Table.group_by()`
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: ux

#8549 chore(docker): ensure that `just up <backend>` builds the image if necessary
  justfile
Labels: developer-tools

#8527 feat(graphviz): node- and edge-specific custom attributes
  ibis/expr/types/core.py
  ibis/expr/visualize.py
Labels: ux, graphviz

#8536 chore: update pypi description
  pyproject.toml
Labels: docs

#8565 feat(exasol): add support for DateDelta
  ibis/backends/exasol/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: feature, timestamps, exasol

#8426 docs(snowflake): add blog post showing insertion into snowflake from postgres
  docs/_freeze/posts/into-snowflake/index/execute-results/html.json
  docs/posts/into-snowflake/index.qmd
Labels: docs, postgres, snowflake, blog

#8557 docs: add concepts guide on Datatypes and Datashapes
  docs/concepts/datatypes_datashapes.qmd
Labels: docs

#8556 feat(datatypes): convert money and small money datatype to decimal datatype
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/sql/datatypes.py
Labels: datatypes

#8569 chore: simplify url for datatypes concepts
  docs/concepts/datatypes.qmd
Labels: docs

#8373 test(duckdb): get things passing with duckdb 0.10.0
  .github/workflows/ibis-backends.yml
  ibis/backends/duckdb/tests/test_register.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_window.py
  ibis/expr/types/generic.py
  ibis/expr/types/numeric.py
  ibis/expr/types/relations.py
  poetry.lock
  requirements-dev.txt
Labels: tests, backends, dependencies, duckdb, sql

#8522 docs(how-to): add a how-to guide for executing unbound expressions on backends
  docs/how-to/extending/unbound_expression.qmd
Labels: docs

#8571 ci: failing cotangent test
  ibis/backends/tests/test_numeric.py
Labels: tests, ci

#8414 fix(sql): support set operations wrapping subqueries
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/False/out.sql
  ibis/backends/postgres/tests/snapshots/test_functions/test_union_cte/True/out.sql
  ibis/backends/risingwave/tests/snapshots/test_functions/test_union_cte/False/out.sql
  ibis/backends/risingwave/tests/snapshots/test_functions/test_union_cte/True/out.sql
  ibis/backends/sql/compiler.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/pyspark/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/risingwave/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/trino/out.sql
  ibis/backends/tests/sql/snapshots/test_compiler/test_difference_project_column/out.sql
  ibis/backends/tests/sql/snapshots/test_compiler/test_intersect_project_column/out.sql
  ibis/backends/tests/sql/snapshots/test_compiler/test_table_difference/out.sql
  ibis/backends/tests/sql/snapshots/test_compiler/test_table_intersect/out.sql
  ibis/backends/tests/sql/snapshots/test_compiler/test_union/out.sql
  ibis/backends/tests/sql/snapshots/test_compiler/test_union_project_column/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_complex_union/result.sql
  ibis/backends/tests/test_set_ops.py
Labels: bug

#8526 docs: add Python + SQL section to why ibis
  docs/why.qmd
Labels: docs

#8576 test(bench): reduce big union join threshold
  ibis/tests/benchmarks/test_benchmarks.py
Labels: performance

#8578 feat(exasol): add support for ExtractDayOfYear
  ibis/backends/exasol/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: feature, exasol

#8583 docs(tutorial): update documentation regarding `topk`
  docs/_freeze/tutorials/data-platforms/clickhouse/execute-results/html.json
  docs/tutorials/data-platforms/clickhouse.qmd
Labels: docs

#8587 feat(exasol): add support for ExtractQuarter
  ibis/backends/exasol/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: feature, exasol

#8589 feat(exasol): add support for DayOfWeekName
  ibis/backends/exasol/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: feature, exasol

#8590 refactor(exasol): add custom TimestampTruncate
  ibis/backends/exasol/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: refactor, exasol

#8588 feat(exasol): add support for ExtractWeekOfYear
  ibis/backends/exasol/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: feature, exasol

#8572 fix(sql): replace CTEs within CTEs
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/bigquery/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/datafusion/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/druid/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/duckdb/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/exasol/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/flink/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/impala/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/mssql/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/mysql/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/oracle/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/postgres/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/pyspark/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/risingwave/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/sqlite/out.sql
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/trino/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_in_union/out.sql
Labels: bug, refactor

#8593 test(snowflake): regen sql snapshot for cte fix
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/snowflake/out.sql
Labels: tests, ci, snowflake

#8594 chore(deps): bump minimum version of pytest to 8.0.2 everywhere
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Labels: tests, dependencies

#8570 feat(geospatial): add support for duckdb operations on literals
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_geospatial.py
Labels: feature, geospatial, duckdb

#8607 chore(deps): bump nixpkgs and upgrade poetry to 1.8.2
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  docs/contribute/01_environment.qmd
  flake.lock
  justfile
  poetry.lock
Labels: dependencies, developer-tools, nix

#8602 fix(api): improve error message raised on improper calls to array `map` or `filter`
  ibis/expr/types/arrays.py
  ibis/tests/expr/test_value_exprs.py
Labels: bug, ux

#8600 fix(snowflake): bring back default nth behavior from before the-epic-split
  ibis/backends/snowflake/compiler.py
  ibis/backends/tests/test_window.py
Labels: bug, snowflake, tes-required-for-release

#8617 depr: deprecate and warn on `legacy` udf usage
  ibis/backends/dask/tests/test_udf.py
  ibis/backends/dask/tests/test_window.py
  ibis/backends/datafusion/tests/test_udf.py
  ibis/backends/pandas/tests/test_functions.py
  ibis/backends/pandas/tests/test_udf.py
  ibis/backends/pandas/tests/test_window.py
  ibis/backends/polars/tests/test_udf.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  ibis/expr/tests/test_format.py
  ibis/legacy/udf/vectorized.py
Labels: refactor, deprecation

#8358 docs: improve nested type docstrings
  ibis/expr/types/arrays.py
  ibis/expr/types/maps.py
  ibis/expr/types/structs.py
Labels: docs

#8626 fix(oracle): map bare `NUMBER` to `int64` and consolidate data type mapping code for shared inference
  ibis/backends/oracle/__init__.py
  ibis/backends/tests/test_dot_sql.py
Labels: bug, oracle

#8629 fix(dask): pin dask version to avoid automatically picking up dask-expr
  poetry.lock
  pyproject.toml
Labels: dask, dependencies

#8577 fix(bigquery): get literals working again
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/system/conftest.py
  ibis/backends/bigquery/tests/system/udf/test_udf_execute.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_client.py
Labels: tests, ci, bigquery

#8193 docs: include return type in Interval component properties
  docs/_quarto.yml
  ibis/expr/types/temporal.py
Labels: docs

#8627 refactor(backends): remove `_metadata` method in favor of `_get_schema_using_query`
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sql/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
Labels: refactor, backends

#8636 ci: ensure that benchmarks do not reference data that is subject to disappear
  ibis/tests/benchmarks/test_benchmarks.py
Labels: ci

#8638 perf(common): improve the performance of replacing nodes using mappings
  ibis/common/graph.py
  ibis/common/tests/test_graph_benchmarks.py
Labels: expressions, performance

#8642 ci: actually fix benchmarking
  ibis/tests/benchmarks/test_benchmarks.py
Labels: ci

#8640 docs: add constants to width and height
  docs/index.qmd
Labels: docs

#8643 chore(deps): bump nixpkgs
  flake.lock
Labels: dependencies, developer-tools, nix

#8645 ci: use more robust app installation token generating action
  .github/workflows/create-rotate-key-issue.yml
  .github/workflows/docs-preview.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/release.yml
Labels: ci

#8592 perf(sql): prevent sqlglot from extensive deepcopying every time we create a sqlglot object
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/sql/__init__.py
  ibis/backends/sql/compiler.py
  ibis/backends/trino/compiler.py
Labels: performance

#8630 feat(ir): support showing variable names used to create an expression in `repr()`
  ibis/backends/tests/test_interactive.py
  ibis/config.py
  ibis/expr/format.py
  ibis/expr/tests/snapshots/test_format/test_format_show_variables/repr.txt
  ibis/expr/tests/test_format.py
  ibis/expr/types/core.py
Labels: developer-tools

#8633 fix(sql): look for CTEs under value expressions as well
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_factor_correlated_subquery/out.sql
  ibis/backends/tests/tpch/snapshots/test_h02/test_tpc_h02/snowflake/h02.sql
  ibis/backends/tests/tpch/snapshots/test_h02/test_tpc_h02/trino/h02.sql
  ibis/backends/tests/tpch/snapshots/test_h11/test_tpc_h11/duckdb/h11.sql
  ibis/backends/tests/tpch/snapshots/test_h11/test_tpc_h11/snowflake/h11.sql
  ibis/backends/tests/tpch/snapshots/test_h11/test_tpc_h11/trino/h11.sql
  ibis/backends/tests/tpch/snapshots/test_h15/test_tpc_h15/duckdb/h15.sql
  ibis/backends/tests/tpch/snapshots/test_h15/test_tpc_h15/snowflake/h15.sql
  ibis/backends/tests/tpch/snapshots/test_h15/test_tpc_h15/trino/h15.sql
Labels: bug

#8531 feat(api): count nulls with topk
  ci/schema/clickhouse.sql
  ci/schema/duckdb.sql
  ci/schema/exasol.sql
  ci/schema/mssql.sql
  ci/schema/mysql.sql
  ci/schema/oracle.sql
  ci/schema/postgres.sql
  ci/schema/risingwave.sql
  ci/schema/snowflake.sql
  ci/schema/sqlite.sql
  ci/schema/trino.sql
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/dask/tests/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/impala/tests/conftest.py
  ibis/backends/pandas/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/data.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_chain_limit_doesnt_collapse/result.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_topk_operation/e2.sql
  ibis/backends/tests/test_generic.py
  ibis/expr/types/generic.py
Labels: feature, breaking change

#8660 test(impala): ensure that topk table does not already exist
  ibis/backends/impala/tests/conftest.py
Labels: tests, impala

#8678 test(trino): remove invalid properties from trino hive connector setup
  docker/trino/catalog/hive.properties
Labels: tests, ci, trino

#8661 test(bigquery): clean up test data loading
  ci/schema/bigquery.sql
  ibis/backends/bigquery/tests/conftest.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/bigquery/tests/system/test_connect.py
  ibis/backends/tests/test_json.py
Labels: refactor, tests, bigquery

#8667 fix(pandas): map `date` type to `datetime64[s]`
  ibis/formats/pandas.py
  ibis/formats/tests/test_pandas.py
Labels: bug

#8669 refactor(duckdb): use `.sql` instead of `.execute` in performance-senitive locations
  ibis/backends/duckdb/__init__.py
Labels: performance, duckdb

#8651 docs: added section on duckdb reading gcs files
  docs/how-to/input-output/gcs_duckdb.qmd
Labels: docs, duckdb

#8665 fix(polars): ensure `t.select(col=scalar)` results in `len(t)` rows
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_temporal.py
Labels: bug, polars

#8668 feat(mssql): use integrated auth when no user or password supplied
  docs/backends/mssql.qmd
  ibis/backends/mssql/__init__.py
Labels: docs, mssql

#8685 ci(flink): support setting flink's version in the docker setup
  .env
  .gitignore
  compose.yaml
  docker/flink/Dockerfile
Labels: developer-tools, flink

#8682 fix(deps): bump sqlglot to pick up duckdb array fixes
  .github/workflows/ibis-backends.yml
  ibis/__init__.py
  ibis/backends/__init__.py
  ibis/backends/clickhouse/tests/snapshots/test_select/test_array_join_in_subquery/out.sql
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_geospatial.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/tests/snapshots/test_sql/test_is_parens/notnull/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_logically_negate_complex_boolean_expr/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_isnull_notnull/notnull/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/default/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/ms/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/us/out.sql
  ibis/backends/snowflake/compiler.py
  ibis/backends/sql/__init__.py
  ibis/backends/sql/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/snapshots/test_generic/test_many_subqueries/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_cte_refs_in_topo_order/mssql/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_bug_duplicated_where/out.sql
  ibis/backends/tests/sql/snapshots/test_sql/test_isnull_notnull/notnull/out.sql
  ibis/backends/tests/sql/test_select_sql.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_temporal.py
  ibis/examples/tests/test_examples.py
  ibis/expr/sql.py
  ibis/tests/expr/mocks.py
  ibis/tests/util.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: tests, sqlite, duckdb, sql

#8702 refactor(common): consolidate egraph implementation by using `FrozenSlotted`
  ibis/common/egraph.py
Labels: refactor

#8701 refactor(cleanup): remove deprecated methods and properties
  ibis/expr/operations/core.py
Labels: breaking change

#8706 ci(clickhouse): bump docker image to latest version
  compose.yaml
Labels: tests, ci, clickhouse, developer-tools

#8707 ci(duckdb): work around flaky windows extension downloading
  ibis/backends/duckdb/tests/test_geospatial.py
Labels: ci, duckdb

#8656 feat(duckdb): add support for read_mysql
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_register.py
Labels: feature, duckdb

#8700 refactor(api): remove `by` of asof_join() in favor of `predicates`
  ibis/backends/dask/tests/test_join.py
  ibis/backends/pandas/tests/test_join.py
  ibis/backends/tests/test_asof_join.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: refactor

#8528 feat(polars): add limited support for table dot sql
  ci/schema/exasol.sql
  ibis/backends/polars/__init__.py
  ibis/backends/polars/compiler.py
  ibis/backends/postgres/__init__.py
  ibis/backends/tests/test_dot_sql.py
  ibis/backends/tests/test_export.py
Labels: feature, sql, polars

#8711 test(bigquery): fix quoting issues in new dot sql test
  ibis/backends/tests/test_dot_sql.py
Labels: tests, ci, bigquery

#8720 docs(exasol): remove deprecated parameters from example
  docs/backends/exasol.qmd
Labels: docs, exasol

#8708 perf(common): improve equality caching by explicitly invalidating the entry on `__del__`
  ibis/common/bases.py
  ibis/common/caching.py
  ibis/common/grounds.py
  ibis/common/tests/test_bases.py
  ibis/common/tests/test_graph_benchmarks.py
  ibis/common/tests/test_grounds.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/core.py
  ibis/expr/schema.py
Labels: performance

#8648 feat(api): support all dtypes in MapGet and MapContains
  ibis/backends/flink/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/tests/test_map.py
  ibis/expr/operations/maps.py
Labels: feature, expressions, datatypes

#8724 fix(flink): cast map key lookups because flink requires exact type matches
  ibis/backends/flink/compiler.py
Labels: bug, flink

#8726 feat(exasol): add support for extract epoch seconds
  ibis/backends/exasol/compiler.py
  ibis/backends/tests/test_temporal.py
Labels: feature, exasol

#8693 refactor(common): make `FrozenDict` a subclass of `dict`
  ibis/backends/pandas/tests/test_structs.py
  ibis/backends/tests/test_param.py
  ibis/common/collections.py
  ibis/common/tests/test_collections.py
Labels: bug, refactor

#8721 refactor(api): remove the remnants of now unsupported `timecontext` feature
  docs/_quarto.yml
  ibis/backends/bigquery/__init__.py
  ibis/backends/dask/__init__.py
  ibis/backends/tests/test_timecontext.py
  ibis/config.py
  ibis/expr/types/core.py
Labels: pandas, pyspark, dask, breaking change

#8544 test(flink): enable turning on local test env
  ibis/backends/flink/tests/conftest.py
Labels: tests, flink

#8719 chore(deps): release sqlglot pinning in environment yaml file
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
Labels: dependencies

#8521 fix(graphviz): show proper field attributes of accessed relations and do not display join link property accesses
  docs/how-to/visualization/graphs.qmd
  ibis/expr/tests/test_visualize.py
  ibis/expr/visualize.py
Labels: bug, ux

#8740 feat(exasol): add support for hexdigest
  ibis/backends/exasol/compiler.py
  ibis/backends/tests/test_generic.py
Labels: feature, exasol

#8741 feat(exasol): add support for bit operations
  ibis/backends/exasol/compiler.py
  ibis/backends/tests/test_numeric.py
Labels: feature, exasol

#8743 fix(snowflake): import the connector at the correct scope
  ibis/backends/snowflake/__init__.py
  poetry.lock
  pyproject.toml
Labels: bug, snowflake

#8753 chore(deps): bump nixpkgs
  flake.lock
Labels: dependencies, developer-tools, nix

#8759 ci(coverage): actually upload coverage
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
Labels: ci, developer-tools

#8744 docs(duckdb): add short section on enabling duckdb geospatial
  docs/backends/duckdb.qmd
Labels: docs, geospatial, duckdb

#8764 ci: set codecov branch
  codecov.yml
Labels: ci, developer-tools

#8769 fix(bigquery): restore option to specify table path in table name
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
Labels: bigquery

#8767 chore(descheming): remove remaining internal usage of deprecated schema
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: refactor

#8766 docs: show how Array.unique() keeps NULLs
  ibis/expr/types/arrays.py
Labels: docs

#8747 perf(dask): avoid triggering compute for dynamic limit/offset
  ibis/backends/dask/executor.py
Labels: performance, dask

#8782 fix(druid): import pydruid.db module explicitly
  ibis/backends/druid/__init__.py
Labels: druid

#8802 docs: fix a couple of formatting issues
  docs/_freeze/tutorials/open-source-software/apache-flink/1_single_feature/execute-results/html.json
  docs/contribute/02_workflow.qmd
  docs/tutorials/open-source-software/apache-flink/1_single_feature.qmd
Labels: docs

#8801 feat(api): add `catalog` and `database` kwargs to `ibis.table`
  ibis/expr/api.py
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/tests/snapshots/test_format/test_format_unbound_table_namespace/repr.txt
  ibis/expr/tests/snapshots/test_format/test_format_unbound_table_namespace/reprcatdb.txt
  ibis/expr/tests/snapshots/test_format/test_format_unbound_table_namespace/reprdb.txt
  ibis/expr/tests/test_api.py
  ibis/expr/tests/test_format.py
Labels: feature, ux

#8814 refactor(formats): remove unnecessary schema argument from schema inference
  ibis/backends/dask/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/expr/datatypes/core.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
  ibis/formats/__init__.py
  ibis/formats/pandas.py
Labels: refactor

#8822 fix(clickhouse): use backwards compatible string search function
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_find/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_find/out2.sql
Labels: bug, clickhouse

#8777 fix(datatypes): always quote sqlglot struct fields
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_cast_string_col/structa_string_b_int64/out.sql
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/trino/out.sql
  ibis/backends/tests/test_struct.py
Labels: bug, sql

#8826 test(bigquery): fix struct field quoting in type translation tests
  ibis/backends/bigquery/tests/unit/test_datatypes.py
Labels: tests, bigquery

#8831 docs(tutorial): add examples for complex topk
  docs/tutorials/ibis-for-sql-users.qmd
Labels: analytics, docs

#8834 chore(deps): downgrade nixpkgs
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  flake.lock
  flake.nix
  nix/overlay.nix
Labels: security, developer-tools
