Repository ibis-project/ibis, pull requests merged in 2024-04, with the labels that each got.

#8785 feat(backends): introducing ibish the infinite scale backend you always wanted
  docs/_freeze/posts/unix-backend/index/execute-results/html.json
  docs/posts/unix-backend/index.qmd
Labels: feature, docs

#8837 chore(dev-tools): add geospatial extra to dev container setup and bump quarto-cli version
  .devcontainer/devcontainer.json
  .devcontainer/updateContent.sh
  pyproject.toml
Labels: developer-tools

#8843 test(snowflake): add test for parameterized string and binary data types
  ibis/backends/snowflake/tests/test_datatypes.py
Labels: tests, snowflake

#8841 fix(deps): bump polars lower bound
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  poetry.lock
  pyproject.toml
Labels: dependencies, polars

#8832 feat(ir): add `StringSlice`
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_substring/out.sql
  ibis/backends/clickhouse/compiler.py
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_substring/out1.sql
  ibis/backends/clickhouse/tests/snapshots/test_functions/test_string_column_substring/out2.sql
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/capitalize/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/substr_0_3/out.sql
  ibis/backends/impala/tests/snapshots/test_string_builtins/test_string_builtins/substr_2/out.sql
  ibis/backends/mssql/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/pandas/rewrites.py
  ibis/backends/polars/__init__.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/test_string.py
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/duckdb/h22.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/snowflake/h22.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/trino/h22.sql
  ibis/backends/trino/compiler.py
  ibis/expr/operations/strings.py
  ibis/expr/rewrites.py
  ibis/expr/types/strings.py
  ibis/tests/expr/test_string.py
Labels: developer-api

#8798 docs(blog): portable dataflows with Ibis and Hamilton
  docs/_freeze/posts/hamilton-ibis/execute-results/html.json
  docs/_freeze/posts/hamilton-ibis/index/execute-results/html.json
  docs/posts/hamilton-ibis/column_lineage.png
  docs/posts/hamilton-ibis/hamilton_abc.png
  docs/posts/hamilton-ibis/ibis_lineage.png
  docs/posts/hamilton-ibis/index.qmd
  docs/posts/hamilton-ibis/table_lineage.png
  docs/posts/hamilton-ibis/thumbnail.png
  docs/posts/hamilton-ibis/udf.png
Labels: docs

#8851 docs(blog): update date on hamilton blog
  docs/_freeze/posts/hamilton-ibis/index/execute-results/html.json
  docs/posts/hamilton-ibis/index.qmd
Labels: docs

#8861 feat(common): add `Node.find_below()` methods to exclude the root node from filtering
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
Labels: developer-api

#8860 feat(pandas, polars, dask, datafusion): enable create local backends with empty url
  ibis/backends/__init__.py
  ibis/backends/tests/test_client.py
Labels: pandas, dask, datafusion, polars

#8880 feat(ir): add default implementation of pretty formatting nodes
  ibis/expr/format.py
  ibis/expr/tests/snapshots/test_format/test_default_format_implementation/repr.txt
  ibis/expr/tests/test_format.py
Labels: feature

#8887 chore(deps): bump nixpkgs back to the latest version
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  .github/workflows/pre-release.yml
  docs/contribute/01_environment.qmd
  flake.lock
  flake.nix
  justfile
  nix/overlay.nix
Labels: dependencies, developer-tools, nix

#8897 chore: add motivation section to feat req template
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: docs

#8825 fix(sql): avoid excessive inlining during `Select` merge
  ibis/backends/sql/rewrites.py
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/mssql/out.sql
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/duckdb/h20.sql
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/trino/h20.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/duckdb/h22.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/trino/h22.sql
  ibis/common/graph.py
Labels: refactor

#8239 feat(risingwave): add streaming DDLs
  compose.yaml
  ibis/backends/risingwave/__init__.py
  ibis/backends/risingwave/tests/test_streaming.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_join.py
  ibis/backends/tests/test_temporal.py
Labels: ddl, risingwave, streaming

#8919 test(snowflake): fix snapshots
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  ibis/backends/tests/tpch/snapshots/test_h20/test_tpc_h20/snowflake/h20.sql
  ibis/backends/tests/tpch/snapshots/test_h22/test_tpc_h22/snowflake/h22.sql
Labels: tests, ci, sql, snowflake

#8928 chore(dev-tools): remove unnecessary `all` extra
  .github/workflows/check-generated-files.yml
  flake.nix
  justfile
  nix/overlay.nix
  poetry.lock
  pyproject.toml
Labels: dependencies, developer-tools

#8923 feat(api): allow *arg syntax with GroupedTable methods
  ibis/expr/types/groupby.py
Labels: feature, ux

#8944 chore: add java deps to conda envs
  conda/environment-arm64.yml
  conda/environment.yml
Labels: developer-tools

#7915 feat(ux): add Table and Column.preview()
  ibis/expr/format.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/pretty.py
  ibis/expr/types/relations.py
Labels: ux

#8941 docs(release-notes): fix up version header
  .releaserc.js
  docs/_freeze/posts/ibis-version-6.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-8.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/execute-results/html.json
  docs/_freeze/posts/v6.1.0-release/index/figure-html/cell-9-output-1.png
  docs/_quarto.yml
  docs/fix-version-href.lua
  docs/posts/Ibis-version-3.1.0-release/index.qmd
  docs/posts/ibis-version-4.0.0-release/index.qmd
  docs/posts/ibis-version-6.0.0-release/index.qmd
  docs/posts/ibis-version-8.0.0-release/index.qmd
  docs/posts/v6.1.0-release/index.qmd
  docs/release_notes.qmd
  docs/release_notes_generated.qmd
Labels: docs

#8824 docs(blog): needle haystack post
  docs/posts/varchar-in-a-haystack/index.qmd
  docs/posts/varchar-in-a-haystack/thumbnail.png
Labels: docs, blog

#8929 fix(risingwave): set implicit flush to true
  ibis/backends/risingwave/__init__.py
Labels: bug, risingwave

#8625 test(api): verify that null isin behavior is consistent across backends
  ibis/backends/tests/test_generic.py
  ibis/expr/types/generic.py
Labels: bug, docs, polars

#8949 docs: update the haystack blog publish date
  docs/_freeze/posts/varchar-in-a-haystack/index/execute-results/html.json
  docs/posts/varchar-in-a-haystack/index.qmd
Labels: docs

#8950 docs(build): cache notebooks during render
  .gitignore
  docs/_quarto.yml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: docs, performance, developer-tools

#8951 docs(altair): remove to_pandas from altair example
  docs/how-to/visualization/altair.qmd
Labels: docs

#8952 docs(flink): remove conda warning from flink setup page
  docs/_freeze/tutorials/open-source-software/apache-flink/0_setup/execute-results/html.json
  docs/tutorials/open-source-software/apache-flink/0_setup.qmd
Labels: docs, flink

#8953 chore(dev-tools): add jupyter-cache to conda env files
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
Labels: docs, developer-tools

#8955 test(clickhouse): bring back xpassing array unnest of structs test
  ibis/backends/tests/test_array.py
Labels: tests, clickhouse

#8956 ci(deps): remove dep caching and pipx usage in favor of plain pip
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
Labels: ci, developer-tools

#8884 refactor(api): treat integer inputs as literals instead of column references
  ibis/expr/types/relations.py
  ibis/tests/expr/test_selectors.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_value_exprs.py
Labels: refactor, breaking change

#8960 chore(deps): bump polars to 0.20.20
  ibis/backends/polars/compiler.py
  ibis/backends/tests/test_dot_sql.py
  poetry.lock
  requirements-dev.txt
Labels: dependencies, sql, polars

#8961 chore(deps): bump nixpkgs
  flake.lock
Labels: dependencies, developer-tools

#8963 feat(trino): implement existing json functionality
  ibis/backends/tests/test_json.py
  ibis/backends/trino/compiler.py
Labels: feature, trino

#8962 feat(snowflake): create an ibis backend from a snowpark session
  .github/workflows/ibis-backends-cloud.yml
  ibis/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/conftest.py
Labels: feature, snowflake

#8965 ci(snowflake): install python with specific version constraint marker
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, snowflake

#8966 ci(snowflake-snowpark): make install required
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, snowflake

#8968 ci(snowflake-snowpark): test against python 3.10 to avoid clobbering other runs test data
  .github/workflows/ibis-backends-cloud.yml
Labels: ci, snowflake

#8758 fix(deps): support pandas 2.2
  .github/workflows/ibis-backends.yml
  ibis/backends/dask/executor.py
  ibis/backends/exasol/__init__.py
  ibis/backends/pandas/executor.py
  ibis/backends/pandas/tests/test_join.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/expr/datatypes/value.py
  ibis/formats/pandas.py
  ibis/formats/tests/test_pandas.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: pandas, dependencies

#8969 fix(snowflake-snowpark): disable the `reconnect` method
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_client.py
Labels: tests, snowflake

#8972 fix(snowflake): initialize the parent class on construction
  ibis/backends/snowflake/__init__.py
Labels: tests, snowflake

#8739 feat(api): add `describe` method to compute summary stats of table expressions
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
Labels: feature, ux

#8958 feat(api): add API for unwrapping JSON values into backend-native values
  ci/schema/bigquery.sql
  ci/schema/duckdb.sql
  ci/schema/mysql.sql
  ci/schema/postgres.sql
  ci/schema/risingwave.sql
  ci/schema/snowflake.sql
  ci/schema/sqlite.sql
  ci/schema/trino.sql
  ibis/backends/bigquery/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/mysql/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/data.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_json.py
  ibis/backends/trino/compiler.py
  ibis/expr/operations/json.py
  ibis/expr/types/json.py
Labels: feature, postgres, sqlite, mysql, bigquery, duckdb, snowflake, trino, risingwave

#8974 chore(bigquery): add notimpl marker to table_info test
  ibis/backends/tests/test_generic.py
Labels: tests, ci, bigquery

#8967 fix(ir): make impure ibis.random() and ibis.uuid() functions return unique node instances
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/datafusion/compiler.py
  ibis/backends/druid/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/flink/compiler.py
  ibis/backends/impala/compiler.py
  ibis/backends/mssql/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/pandas/executor.py
  ibis/backends/postgres/compiler.py
  ibis/backends/pyspark/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/sql/rewrites.py
  ibis/backends/sqlite/compiler.py
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/bigquery-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/bigquery-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/clickhouse-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/clickhouse-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/datafusion-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/datafusion-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/druid-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/duckdb-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/duckdb-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/exasol-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/flink-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/flink-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/impala-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/impala-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/mssql-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/mssql-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/mysql-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/mysql-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/oracle-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/postgres-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/postgres-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/pyspark-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/pyspark-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/risingwave-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/snowflake-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/snowflake-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/sqlite-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/sqlite-uuid/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/trino-random/out.sql
  ibis/backends/tests/snapshots/test_sql/test_selects_with_impure_operations_not_merged/trino-uuid/out.sql
  ibis/backends/tests/test_sql.py
  ibis/backends/tests/test_uuid.py
  ibis/backends/trino/compiler.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/tests/test_generic.py
  ibis/expr/tests/test_newrels.py
  ibis/tests/expr/test_table.py
  ibis/tests/expr/test_window_frames.py
Labels: bug

#8976 fix(bigquery): ensure session creation before creating temp tables
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
Labels: tests, bigquery

#8971 test(snowflake-snowpark): testing running ibis code in a snowpark stored procedure
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_udf.py
Labels: tests, snowflake

#8979 fix(snowflake): set con outside of `_setup_session` call
  ibis/backends/snowflake/__init__.py
Labels: bug, snowflake

#8980 test(clickhouse): verify create table from #8924 works
  ibis/backends/clickhouse/tests/test_client.py
Labels: bug, tests, clickhouse

#8977 fix(deps): bump dependencies' lower bounds to reflect tested minimum version
  .github/workflows/ibis-backends.yml
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/pandas/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/snowflake/__init__.py
  poetry.lock
  pyproject.toml
Labels: pandas, dependencies

#8649 fix(duckdb): workaround for duckdb Map NULL bugs
  ibis/backends/duckdb/compiler.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/postgres/compiler.py
  ibis/backends/tests/test_map.py
Labels: bug, ecosystem, duckdb, community, requires upstream support

#8986 test(clickhouse): isolate empty table listing from existing connection
  ibis/backends/clickhouse/tests/test_client.py
Labels: tests, clickhouse

#8985 fix(duckdb): workaround remaining null map issues
  ibis/backends/duckdb/compiler.py
  ibis/backends/tests/test_map.py
  ibis/expr/types/maps.py
Labels: bug, breaking change, duckdb

#8988 fix(ir): accidentally remapping fields during bind()
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: bug, developer-api

#8978 fix(structs): ensure that isin works with struct membership
  ibis/backends/pyspark/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/compiler.py
Labels: bug, sql

#8797 test: add test for non-1 step in String slicing
  ibis/expr/types/strings.py
  ibis/tests/expr/test_value_exprs.py
Labels: ux, tests

#8993 test(flink): xfail in-struct test
  ibis/backends/tests/test_struct.py
Labels: tests, flink

#9001 test(duckdb): remove flaky test
  ibis/backends/duckdb/tests/test_client.py
Labels: tests, duckdb

#9013 chore(container): add gdal to codespace, disable dynamic versioning
  .devcontainer/Dockerfile
  .devcontainer/updateContent.sh
Labels: developer-tools

#9004 docs: remove `all` extra installation from contributing docs
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  docs/contribute/01_environment.qmd
Labels: docs

#9017 fix(dask): fix argmin/argmax implementation for dask
  ibis/backends/dask/executor.py
Labels: bug, dask

#9022 chore(dev-tools): fix import location in type import
  ibis/expr/types/relations.py
Labels: developer-tools

#9016 ci: make skip helper jobs match non-skip-helper workflows
  .github/workflows/ibis-backends-skip-helper.yml
Labels: ci

#9031 chore(dev-tools): fix poetry-dynamic-versioning usage in devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Labels: developer-tools

#9023 refactor(ir): impure values are never dereferencible
  ibis/backends/pandas/executor.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/tests/test_generic.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/relations.py
Labels: refactor

#9009 docs(tutorial): deploy a jupyterlite repl on the website
  .github/workflows/ibis-docs-main.yml
  .github/workflows/ibis-docs-pr.yml
  .gitignore
  docs/_quarto.yml
  docs/_tabsets/repl_warning.qmd
  docs/ibis-wasm-wheels_cors_config.json
  docs/jupyter_lite_config.json
  docs/styles.css
  docs/tutorials/browser/repl.qmd
  gen_redirects.py
  justfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: docs

#9046 chore(snowflake): remove XPASSing xfail on udf test
  ibis/backends/snowflake/tests/test_udf.py
Labels: tests, snowflake

#8983 docs(presentations): presentation for linkedin meetup 2024-04-24
  docs/_quarto.yml
  docs/presentations.qmd
  docs/presentations/arrow.png
  docs/presentations/cds.png
  docs/presentations/cds_manifesto.png
  docs/presentations/compile.png
  docs/presentations/engines.png
  docs/presentations/growth.png
  docs/presentations/handoff.png
  docs/presentations/linkedin-meetup-2024-04-24.qmd
  docs/presentations/magic.gif
  docs/presentations/overview.qmd
  docs/presentations/qrcode.svg
  docs/presentations/standards.png
  docs/presentations/sure.gif
  docs/presentations/throwing.png
  docs/styles.css
  docs/tutorials/browser/repl.qmd
Labels: docs

#9043 feat(ir): support pretty printing arbitrary traversable objects
  ibis/common/typing.py
  ibis/expr/format.py
  ibis/expr/tests/snapshots/test_format/test_arbitrary_traversables_are_supported/repr.txt
  ibis/expr/tests/test_format.py
  ibis/expr/types/core.py
Labels: feature, internals

#9041 feat(common): also traverse nodes used as dictionary keys
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
Labels: feature, internals

#9042 feat(pyspark): add catalog support to pyspark
  ibis/backends/pyspark/__init__.py
  ibis/backends/pyspark/tests/test_client.py
  ibis/backends/tests/test_api.py
  ibis/backends/tests/test_client.py
Labels: feature, pyspark

#9037 feat(postgres): support loading tables with `pgvector` column types
  ci/schema/postgres.sql
  docker/postgres/Dockerfile
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/sql/datatypes.py
Labels: bug, feature, postgres, datatypes, sql

#9050 docs(presentations): fix quarto markup for Ibis origins slide in linkedin-meetup presentation
  docs/presentations/linkedin-meetup-2024-04-24.qmd
Labels: docs, docs-preview

#8992 feat(ir): more flexible dereferencing support for join right hand side
  docs/_code/setup_penguins.qmd
  docs/how-to/analytics/basics.qmd
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_projection_fusion_only_peeks_at_immediate_parent/out.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/clickhouse/tests/snapshots/test_select/test_join_self_reference/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_key_name2/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_with_nested_or_condition/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_join_with_nested_xor_condition/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_limit_cte_extract/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_join_base/out.sql
  ibis/backends/impala/tests/snapshots/test_sql/test_nested_joins_single_cte/out.sql
  ibis/backends/pandas/executor.py
  ibis/backends/polars/compiler.py
  ibis/backends/sql/compiler.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_limit_cte_extract/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_limit_with_self_join/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_self_join_subquery_distinct_equal/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_in_union/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_subquery_used_for_self_join/out.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_tpch_self_join_failure/out.sql
  ibis/backends/tests/sql/snapshots/test_sql/test_cte_factor_distinct_but_equal/out.sql
  ibis/backends/tests/sql/snapshots/test_sql/test_self_reference_join/out.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/duckdb/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h07/test_tpc_h07/trino/h07.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/duckdb/h08.sql
  ibis/backends/tests/tpch/snapshots/test_h08/test_tpc_h08/trino/h08.sql
  ibis/common/graph.py
  ibis/common/tests/test_graph.py
  ibis/expr/decompile.py
  ibis/expr/format.py
  ibis/expr/operations/relations.py
  ibis/expr/rewrites.py
  ibis/expr/tests/snapshots/test_format/test_asof_join/repr.txt
  ibis/expr/tests/snapshots/test_format/test_two_inner_joins/repr.txt
  ibis/expr/tests/test_dereference.py
  ibis/expr/tests/test_format.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_analysis.py
  ibis/tests/expr/test_struct.py
  ibis/tests/expr/test_table.py
Labels: feature

#9052 fix(pyspark): ensure that the output of zip matches the expected ibis schema
  ibis/backends/pyspark/compiler.py
  ibis/backends/tests/test_array.py
Labels: bug, pyspark, datatypes

#9059 test(flink): fix flakiness in test results output order
  ibis/backends/flink/tests/test_memtable.py
Labels: tests, flink

#9061 fix(pyspark): remove use of attribute that prevents using spark connect
  ibis/backends/pyspark/__init__.py
Labels: bug, pyspark

#9072 docs(datafusion): update website link
  docs/backends/datafusion.qmd
Labels: docs

#9062 feat(geo-duckdb): support casting binary to geometry
  ibis/backends/duckdb/compiler.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/duckdb/tests/test_geospatial.py
  ibis/expr/types/generic.py
Labels: feature, geospatial, duckdb

#9077 docs: update sankey diagram
  README.md
  docs/backends_sankey.py
  docs/images/backends.png
  docs/why.qmd
Labels: docs

#9079 docs(udfs): improve udf docstring examples
  ibis/expr/operations/udf.py
Labels: docs

#9084 chore(testing-data): update nix hash and rev
  nix/overlay.nix
Labels: developer-tools

#9080 fix(duckdb): load extension when executing geospatial expressions
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_geospatial.py
Labels: bug, geospatial, duckdb

#9083 fix(pandas): make case work for non-RangeIndex dataframes
  ibis/backends/pandas/executor.py
  ibis/backends/pandas/tests/test_operations.py
Labels: bug, pandas

#8917 refactor(api): restrict arbitrary input nesting
  ibis/backends/tests/test_vectorized_udf.py
  ibis/expr/builders.py
  ibis/expr/rewrites.py
  ibis/expr/tests/test_newrels.py
  ibis/expr/types/groupby.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: refactor

#9090 docs: fix jupyterlite build
  .gitignore
  docs/jupyter_lite_config.json
  justfile
Labels: docs

#9086 chore: remove some extra release notes information
  docs/release_notes_generated.qmd
Labels: docs

#9087 refactor(ir): actually remove `analysis.py`
  ibis/expr/analysis.py
  ibis/expr/rewrites.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
Labels: refactor
