Repository ibis-project/ibis, pull requests merged in 2024-05, with the labels that each got.

#9092 fix(deps): remove pydruid sqlalchemy dependency
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Labels: refactor, dependencies

#8918 docs: release blog for Ibis 9.0
  docs/_freeze/posts/ibis-version-9.0.0-release/index/execute-results/html.json
  docs/_freeze/posts/ibis-version-9.0.0-release/index/figure-html/cell-16-output-1.svg
  docs/posts/ibis-version-9.0.0-release/index.qmd
Labels: docs

#9088 docs: rework the homepage
  docs/backends_sankey.py
  docs/index.qmd
  docs/styles.css
  docs/tutorials/getting_started.qmd
Labels: docs

#9106 docs: remove unrendered/unused top-level getting-started.qmd document
  docs/getting-started.qmd
Labels: docs

#9071 feat(snowflake): implement Table.sample
  ibis/backends/snowflake/compiler.py
  ibis/backends/tests/test_generic.py
Labels: feature, snowflake

#9123 docs: use interactive mode instead of execute for typed null docstrings
  ibis/expr/api.py
  ibis/expr/types/generic.py
Labels: docs, ux

#9127 test(snowflake): fix failing snowflake null boolean literal test
  ibis/backends/tests/test_generic.py
Labels: tests, bigquery, snowflake

#9126 docs(presentation): updates to overview presentation
  docs/presentations/overview.qmd
Labels: docs

#9130 test(examples): add penguins example test
  ibis/backends/tests/test_examples.py
Labels: tests

#9132 docs(builtin): update url for packages.parquet file
  docs/how-to/extending/builtin.qmd
Labels: bug, docs

#9133 docs(descheming): move callout note outside of parameter description
  ibis/backends/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sql/__init__.py
Labels: docs

#9142 test: add test cases for no-op fillna expressions
  ibis/backends/tests/test_generic.py
Labels: tests

#9143 feat(pyarrow): support Arrow PyCapsule interface on `ibis.Table` objects
  ibis/backends/tests/test_export.py
  ibis/expr/types/relations.py
Labels: ecosystem

#9141 fix(bigquery): quote all parts of table names
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_connect.py
  ibis/backends/bigquery/tests/unit/test_client.py
Labels: bug, bigquery

#9145 docs(presentation): minor updates to overview presentation
  docs/presentations/overview.qmd
Labels: docs

#9149 fix(bigquery): quote qualified memtable names
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
Labels: bug, bigquery

#9147 feat(duckdb): add catalog support to create_table
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_catalog.py
Labels: ddl, duckdb

#9155 fix(duckdb): use existing table repr for settings view
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
Labels: bug, duckdb

#9156 perf(api): speed up simple column accesses by avoiding dereferencing
  ibis/expr/types/relations.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: performance

#9034 feat(api): isoyear method
  ibis/backends/bigquery/compiler.py
  ibis/backends/clickhouse/compiler.py
  ibis/backends/duckdb/compiler.py
  ibis/backends/exasol/compiler.py
  ibis/backends/oracle/compiler.py
  ibis/backends/pandas/kernels.py
  ibis/backends/polars/compiler.py
  ibis/backends/postgres/compiler.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/tests/test_temporal.py
  ibis/backends/trino/compiler.py
  ibis/expr/operations/temporal.py
  ibis/expr/types/temporal.py
Labels: feature, timestamps

#9161 refactor(pyspark): remove custom implementation of cursors
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/client.py
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/pyspark/__init__.py
Labels: pyspark, bigquery

#9160 fix(bigquery): strip whitespace from bigquery field names
  ibis/backends/bigquery/compiler.py
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx/filter-approx_median/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_approx/filter-approx_nunique/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_binary/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_bit/filter-bit_and/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_bit/filter-bit_or/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_bit/filter-bit_xor/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_bool_reducers_where_conj/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_bool_reducers_where_simple/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_cast_float_to_int/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_cov/pop/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_cov/sample/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/date/index.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/date/name.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/datetime/index.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/datetime/name.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/string_date/index.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/string_date/name.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/string_timestamp/index.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/string_timestamp/name.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/timestamp/index.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/timestamp/name.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/timestamp_date/index.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_day_of_week/timestamp_date/name.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_divide_by_zero/floordiv/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_divide_by_zero/truediv/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/datetime/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/string_date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/string_timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/timestamp/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_literal_year/timestamp_date/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_to_timestamp_no_timezone/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_to_timestamp_timezone/out.sql
  ibis/backends/bigquery/tests/unit/test_compiler.py
  ibis/backends/bigquery/tests/unit/udf/snapshots/test_builtin/test_farm_fingerprint/out.sql
Labels: bigquery

#9115 feat(ux): improve error message on unequal schemas during set ops
  ibis/common/collections.py
  ibis/common/exceptions.py
  ibis/expr/operations/relations.py
  ibis/expr/schema.py
  ibis/tests/expr/test_set_operations.py
Labels: feature, ux

#9181 fix(snowflake): ensure that timestamp conversion from parquet files is correct
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/tests/test_client.py
Labels: bug, snowflake

#9178 feat(snowflake): implement array map and array filter
  ibis/backends/snowflake/compiler.py
  ibis/backends/tests/test_array.py
Labels: feature, snowflake

#9183 test(snowflake): use standard fixture instead of assuming `SNOWFLAKE_HOME` is set
  ibis/backends/snowflake/tests/test_client.py
Labels: tests, snowflake

#9182 test(arrays): add array repeat test on column expression
  ibis/backends/snowflake/__init__.py
  ibis/backends/snowflake/compiler.py
  ibis/backends/tests/test_array.py
Labels: tests

#9180 feat(snowflake): implement support for `asof_join` API
  ibis/backends/snowflake/compiler.py
  ibis/backends/tests/test_asof_join.py
Labels: feature, snowflake

#9207 docs: improve maintainers summit slides
  docs/_extensions/quarto-ext/fontawesome/assets/css/all.css
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/FontAwesome6Brands-Regular-400.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/FontAwesome6Brands-Regular-400.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/FontAwesome6Free-Regular-400.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/FontAwesome6Free-Regular-400.woff2
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/FontAwesome6Free-Solid-900.ttf
  docs/_extensions/quarto-ext/fontawesome/assets/webfonts/FontAwesome6Free-Solid-900.woff2
  docs/presentations/pycon2024/heisenbug.png
  docs/presentations/pycon2024/maintainers.qmd
Labels: docs

#9208 chore: default theme
  docs/presentations/pycon2024/maintainers.qmd
Labels: docs

#9226 chore(deps): bump pymysql
  poetry.lock
  requirements-dev.txt
Labels: security, mysql

#9211 feat(api): add `Table.value_counts` for easy group by count on multiple fields
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
Labels: feature

#9242 test(duckdb): test multiple connections to named in-memory db
  ibis/backends/duckdb/tests/test_client.py
Labels: tests, duckdb

#9252 test(trino): make sure uri connect test does not rely on backend data
  ibis/backends/trino/tests/test_client.py
Labels: tests, trino

#9253 ci(snowflake): ensure that snowpark tests run in their own schema
  .github/workflows/ibis-backends-cloud.yml
Labels: snowflake

#9233 docs: add API docs for operations
  docs/_quarto.yml
  docs/backends/support/matrix.qmd
  docs/backends/support/operations.qmd
  docs/how-to/extending/unbound_expression.qmd
  docs/support_matrix.py
  docs/support_matrix.qmd
  docs/why.qmd
  gen_redirects.py
  ibis/expr/operations/analytic.py
  ibis/expr/operations/arrays.py
  ibis/expr/operations/generic.py
  ibis/expr/operations/geospatial.py
  ibis/expr/operations/histograms.py
  ibis/expr/operations/json.py
  ibis/expr/operations/logical.py
  ibis/expr/operations/maps.py
  ibis/expr/operations/numeric.py
  ibis/expr/operations/reductions.py
  ibis/expr/operations/relations.py
  ibis/expr/operations/sortkeys.py
  ibis/expr/operations/strings.py
  ibis/expr/operations/structs.py
  ibis/expr/operations/subqueries.py
  ibis/expr/operations/temporal.py
  ibis/expr/operations/temporal_windows.py
  ibis/expr/operations/udf.py
  ibis/expr/operations/window.py
  ibis/expr/types/generic.py
Labels: docs

#9268 fix(bigquery): only register memtable if obj is not None
  ibis/backends/bigquery/__init__.py
Labels: bug, bigquery

#9281 test(snowflake): xfail on broken transform and filter
  ibis/backends/tests/test_array.py
Labels: tests, snowflake

#9271 chore(deps): bump nix flakes
  .github/workflows/check-generated-files.yml
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-benchmarks.yml
  .github/workflows/ibis-main.yml
  .github/workflows/pre-release.yml
  docs/contribute/01_environment.qmd
  flake.lock
  flake.nix
  justfile
  nix/ibis.nix
  nix/overlay.nix
  poetry-overrides.nix
Labels: developer-tools, nix

#9194 perf(api): rewrite union and intersection construction to support more operands
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: performance
