Repository ibis-project/ibis, pull requests merged in 2025-01, with the labels that each got.

#10646 test(athena): ensure that results are ordered
  ibis/backends/athena/tests/conftest.py
  ibis/backends/tests/test_generic.py
Labels: tests, ci, athena

#10647 test(druid): xfail because druid cannot sort by anything but timestamps
  ibis/backends/tests/test_generic.py
Labels: tests, druid

#10649 chore(deps): bump nix flakes and regenerate lockfiles
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#10650 chore(athena): reuse existing connection when setting up data fixtures
  ibis/backends/athena/tests/conftest.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: tests, ci, dependencies, athena

#10670 chore(deps): bump nix flakes and add missing `editables` dependency for `hatchling`
  flake.lock
  nix/pyproject-overrides.nix
Labels: dependencies, nix

#10669 refactor(risingwave): decouple the risingwave backend from the postgres backend
  ibis/backends/risingwave/__init__.py
Labels: refactor, risingwave

#10676 chore(deps): bump pyarrow to 19.0.0
  ibis/backends/tests/test_export.py
  ibis/expr/api.py
  requirements-dev.txt
  uv.lock
Labels: tests, dependencies

#10677 chore(deps): bump nix flakes and remove pyodide wheel loading hack
  docs/tutorials/browser/repl.qmd
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: docs, dependencies, nix

#10682 feat(types): add typing overloads to common .cast() dtypes
  ibis/expr/types/generic.py
Labels: feature

#10659 feat(postgres): use `psycopg` rather than `psycopg2`
  .github/renovate.json
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_numeric.py
  nix/overlay.nix
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: tests, postgres, ci, dependencies, nix, risingwave

#10683 chore(docs): simply pip install ibis-framework instead of pre-installing a bunch of requirements
  docs/_tabsets/repl_warning.qmd
  docs/tutorials/browser/repl.qmd
  flake.lock
Labels: docs, dependencies, nix

#10685 chore(docs): remove remaining jupyterlite setup hacks
  docs/tutorials/browser/repl.qmd
  justfile
Labels: docs

#10681 feat(duckdb): add to_json() to Table and duckdb backend
  ibis/backends/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/tests/test_export.py
  ibis/expr/types/core.py
Labels: feature, tests, duckdb

#9810 fix(duckdb): return null typed pyarrow arrays and disable creating tables with all null columns in duckdb
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/converter.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/exasol/__init__.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/trino/__init__.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
  ibis/formats/pyarrow.py
Labels: bug, tests, impala, postgres, clickhouse, mysql, datatypes, duckdb, mssql, trino, oracle, flink, exasol, risingwave

#10692 chore(deps): bump flakes and bump lockfile versions
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#10694 test(cloud-backends): fix all-null tests for the clouds
  ibis/backends/tests/test_export.py
Labels: tests

#10706 chore(deps): bump flakes and bump locked versions
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#10693 test(fixtures): ensure that most connections are cleaned up when the session ends
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/tests/conftest.py
Labels: refactor, tests, impala, postgres, sqlite, clickhouse, mysql, pyspark, datafusion, duckdb, polars, snowflake, mssql, trino, oracle, risingwave

#10707 chore: remove redundant word
  ibis/common/tests/test_patterns.py
Labels: tests

#10716 docs: clarify `distinct` in difference(), add examples
  ibis/expr/api.py
  ibis/expr/types/relations.py
Labels: docs

#10713 test: fix cloud purity tests
  ibis/backends/tests/test_impure.py
Labels: tests

#10717 revert: test(fixtures): ensure that most connections are cleaned up when the session ends (#10693)
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/conftest.py
  ibis/backends/datafusion/tests/conftest.py
  ibis/backends/duckdb/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/polars/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/snowflake/tests/conftest.py
  ibis/backends/sqlite/tests/conftest.py
  ibis/backends/tests/base.py
  ibis/backends/tests/errors.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_struct.py
  ibis/backends/trino/tests/conftest.py
Labels: tests, postgres, sqlite, clickhouse, mysql, pyspark, datafusion, duckdb, polars, snowflake, mssql, trino, oracle, risingwave

#10718 chore(deps): bump deps
  flake.lock
  ibis/backends/mssql/__init__.py
  requirements-dev.txt
  uv.lock
Labels: dependencies, mssql, nix

#10720 chore(deps): bump pyproject-nix, uv2nix, nixpkgs and relock
  flake.lock
  ibis/backends/tests/test_set_ops.py
  requirements-dev.txt
  uv.lock
Labels: tests, dependencies, nix

#10722 docs: add JSON API docs
  docs/_quarto.yml
Labels: docs

#10723 ci(release): ensure that `uv.lock` is committed with a new release
  .releaserc.js
  ci/release/prepare.sh
Labels: ci

#10728 chore(deps): bump nixpkgs, uv2nix and regen lockfiles
  .github/labeler.yml
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: ci, dependencies, nix

#10730 ci(runners): beef up arm64 nix runners a bit
  .github/actionlint.yaml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
Labels: ci, nix

#10732 fix(snowflake): ensure that timestamps are properly timezoned
  ibis/formats/pandas.py
Labels: bug, duckdb, snowflake

#10729 feat(datatypes): add support for fixed length arrays
  ibis/backends/clickhouse/tests/test_datatypes.py
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/duckdb/tests/test_udf.py
  ibis/backends/sql/datatypes.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/tests/strategies.py
Labels: feature, tests, clickhouse, datatypes, duckdb, sql

#10736 chore(deps): bump
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#10740 test(athena): regen snapshots for first/last value
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/athena/out.sql
Labels: bug, tests, ci, athena

#10748 fix(postgres): fix insertion of `NaT`/`None` into timestamp columns
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_functions.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/risingwave/converter.py
Labels: bug, tests, postgres, timestamps, risingwave

#10737 feat(arrays): add `modes` array aggregation
  ibis/backends/sql/compilers/duckdb.py
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/tests/test_array.py
  ibis/expr/operations/arrays.py
  ibis/expr/types/arrays.py
Labels: feature, tests, postgres, duckdb, sql, risingwave
