Repository ibis-project/ibis, pull requests merged in 2025-03, with the labels that each got.

#10925 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#10930 ci(athena): use a different database for each python version to avoid clobbering data
  ibis/backends/athena/__init__.py
  ibis/backends/athena/tests/conftest.py
Labels: bug, tests, ddl, ci, athena

#10931 ci(athena): use internal ibis APIs for creating testing data
  ibis/backends/athena/tests/conftest.py
Labels: tests, athena

#10935 refactor(oracle): remove unused `owner` column from `select` metadata query
  ibis/backends/oracle/__init__.py
Labels: oracle

#10947 fix(mysql): ensure that unsigned integers are mapped to the ibis type system
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/sql/datatypes.py
Labels: bug, tests, mysql, sql

#10948 docs: mention theseus in the readme and docs landing page diagram
  README.md
  docs/backends_sankey.py
Labels: docs

#10949 feat(python): support python 3.9 again
  .github/workflows/ibis-backends-cloud.yml
  .github/workflows/ibis-backends.yml
  .github/workflows/ibis-main.yml
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  flake.nix
  ibis/backends/__init__.py
  ibis/backends/postgres/tests/test_udf.py
  ibis/backends/sql/compilers/base.py
  ibis/backends/sql/compilers/bigquery/udf/core.py
  ibis/backends/sqlite/udf.py
  ibis/backends/tests/test_udf.py
  ibis/common/annotations.py
  ibis/common/caching.py
  ibis/common/deferred.py
  ibis/common/dispatch.py
  ibis/common/exceptions.py
  ibis/common/graph.py
  ibis/common/patterns.py
  ibis/common/tests/conftest.py
  ibis/common/tests/test_grounds.py
  ibis/common/tests/test_patterns.py
  ibis/common/typing.py
  ibis/config.py
  ibis/expr/datatypes/core.py
  ibis/expr/operations/tests/conftest.py
  ibis/expr/operations/udf.py
  ibis/expr/schema.py
  ibis/expr/types/arrays.py
  ibis/expr/types/relations.py
  ibis/expr/types/temporal_windows.py
  ibis/expr/visualize.py
  ibis/legacy/udf/validate.py
  ibis/selectors.py
  ibis/tests/util.py
  ibis/util.py
  nix/overlay.nix
  nix/pyproject-overrides.nix
  pyproject.toml
Labels: tests, postgres, sqlite, ci, dependencies, bigquery, datatypes, sql, nix

#10959 docs(setup): add `just` recipe and setup entry for `uv`
  .devcontainer/Dockerfile
  docs/contribute/01_environment.qmd
  justfile
Labels: docs

#10958 chore: fix running clouds on 39 due to use of 310-only tempfile features
  ibis/backends/athena/__init__.py
  ibis/backends/databricks/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/tests/test_array.py
  ibis/util.py
Labels: tests, snowflake, databricks, athena

#10954 perf(postgres): improve `to_pyarrow_batches` by using server-side cursors
  ibis/backends/conftest.py
  ibis/backends/postgres/__init__.py
  ibis/conftest.py
  ibis/tests/benchmarks/test_benchmarks.py
Labels: tests, postgres, performance

#10966 ci(bench): spin up postgres for benchmarks
  .github/workflows/ibis-benchmarks.yml
Labels: ci

#10967 fix(bigquery): adjust codegen for newer version of sqlglot
  ibis/backends/sql/compilers/bigquery/__init__.py
Labels: bigquery, sql

#10968 refactor(postgres): split out `hstore` extension registration into separate method
  ibis/backends/postgres/__init__.py
Labels: postgres

#10973 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#10975 fix(postgres): use `.transaction` method instead of managing our own
  .github/workflows/ibis-backends.yml
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/tests/test_client.py
Labels: tests, postgres, ci

#10976 fix(deps): drop `pytz` from dependencies
  conda/environment-arm64-flink.yml
  conda/environment-arm64.yml
  conda/environment.yml
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/flink/__init__.py
  ibis/backends/impala/tests/test_client.py
  ibis/backends/tests/test_array.py
  ibis/common/temporal.py
  ibis/common/tests/test_temporal.py
  ibis/expr/datatypes/tests/test_value.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/test_value_exprs.py
  ibis/tests/strategies.py
  pyproject.toml
  uv.lock
Labels: tests, impala, dependencies, bigquery, datatypes, flink

#10995 test(pyspark): avoid `disconnect`ing with pyspark as it breaks subsequent tests
  ibis/backends/tests/test_client.py
Labels: tests

#10982 chore(deps): bump and regen lockfiles
  flake.lock
  ibis/backends/clickhouse/tests/conftest.py
  ibis/backends/clickhouse/tests/test_client.py
  ibis/backends/exasol/tests/conftest.py
  ibis/backends/mssql/tests/conftest.py
  ibis/backends/mysql/tests/conftest.py
  ibis/backends/oracle/tests/conftest.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/risingwave/tests/conftest.py
  ibis/backends/trino/tests/conftest.py
  ibis/common/egraph.py
  ibis/expr/tests/test_visualize.py
  requirements-dev.txt
  uv.lock
Labels: tests, postgres, clickhouse, mysql, dependencies, mssql, nix, trino, oracle, exasol, risingwave

#11002 test(databricks): enable xpassing json to pyarrow test
  ibis/backends/tests/test_client.py
Labels: tests

#11001 fix(postgres): clean up leaky cursor coming from `raw_sql`
  docker/postgres/debug.sql
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/tests/test_client.py
Labels: tests, postgres

#11005 test(flink): xfail because of missing method `_safe_raw_sql`
  ibis/backends/tests/test_client.py
Labels: tests

#11010 docs: add introduction to pandas users for adding columns with single text values (literal)
  docs/tutorials/coming-from/pandas.qmd
Labels: docs

#11028 feat(postgres): add support for reading enum types as strings
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/test_client.py
Labels: tests, postgres

#11037 refactor(postgres): use raw sql for `get_schema` invocation to simplify code
  ibis/backends/postgres/__init__.py
Labels: refactor, postgres

#11024 feat(postgres): implement support for `asof_join` API via a lateral join
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/tests/test_asof_join.py
Labels: tests, sql

#11034 chore(deps): bump
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11039 chore(deps): bump and relock
  flake.lock
  justfile
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#10996 perf(struct): drop unused fields on Struct.__getitem__
  ibis/backends/tests/sql/snapshots/test_sql/test_struct_field_simplified/getattr/out.sql
  ibis/backends/tests/sql/snapshots/test_sql/test_struct_field_simplified/getitem/out.sql
  ibis/backends/tests/sql/test_sql.py
  ibis/backends/tests/test_struct.py
  ibis/expr/types/structs.py
  ibis/tests/expr/test_struct.py
Labels: tests, performance

#10913 fix(backends): array string join on empty array now consistently returns `None` across all supported backends
  ibis/backends/polars/compiler.py
  ibis/backends/sql/compilers/bigquery/__init__.py
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/sql/compilers/pyspark.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/compilers/trino.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_generic.py
  ibis/backends/tests/test_string.py
Labels: tests, postgres, clickhouse, mysql, bigquery, sql, polars, snowflake, trino, druid

#11042 test(snowflake): ensure that zip test is result-order-independent
  ibis/backends/tests/test_array.py
Labels: tests, snowflake

#11044 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#10928 feat(api): make topk() and value_counts() more flexible
  ibis/backends/polars/compiler.py
  ibis/backends/tests/sql/snapshots/test_select_sql/test_chain_limit_doesnt_collapse/result.sql
  ibis/backends/tests/sql/snapshots/test_select_sql/test_topk_operation/e2.sql
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
Labels: feature, ux, tests, polars

#11049 feat(flink): support `StringSplit`
  ibis/backends/sql/compilers/databricks.py
  ibis/backends/sql/compilers/flink.py
  ibis/backends/tests/test_string.py
Labels: tests, pyspark, sql, flink

#11045 feat(datatypes): add string length
  ibis/backends/clickhouse/tests/test_datatypes.py
  ibis/backends/exasol/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mssql/tests/test_client.py
  ibis/backends/mysql/__init__.py
  ibis/backends/mysql/datatypes.py
  ibis/backends/mysql/tests/test_client.py
  ibis/backends/postgres/tests/test_client.py
  ibis/backends/snowflake/tests/test_datatypes.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_client.py
  ibis/backends/tests/test_string.py
  ibis/backends/trino/tests/test_datatypes.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/parse.py
  ibis/expr/datatypes/tests/test_parse.py
  ibis/expr/types/generic.py
  ibis/selectors.py
  ibis/tests/strategies.py
Labels: tests, postgres, clickhouse, mysql, backends, dependencies, datatypes, sql, snowflake, mssql, nix, trino, exasol

#11050 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11055 fix(postgres): clean up possible transaction hangs
  ibis/backends/postgres/__init__.py
  ibis/backends/postgres/tests/conftest.py
  ibis/backends/postgres/tests/test_client.py
Labels: tests, postgres

#11054 chore(deps): bump and relock
  flake.lock
  ibis/expr/schema.py
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix
