Repository ibis-project/ibis, pull requests merged in 2025-05, with the labels that each got.

#11119 chore(deps): bump and relock
  .github/workflows/nix-skip-helper.yml
  .github/workflows/nix.yml
  flake.lock
  flake.nix
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_range_window_function/prec_foll/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_range_window_function/prec_prec/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/days/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/hours/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/micros/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/minutes/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/seconds/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/two_days/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_trailing_range_window/week/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_window_function/current_foll/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_window_function/prec_current/out.sql
  ibis/backends/bigquery/tests/unit/snapshots/test_compiler/test_window_function/prec_prec/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_add_default_order_by/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_multiple_windows/out.sql
  ibis/backends/impala/tests/snapshots/test_window/test_order_by_desc/out2.sql
  ibis/backends/mssql/tests/snapshots/test_window/test_rank_no_window_frame/out.sql
  ibis/backends/postgres/tests/snapshots/test_functions/test_analytic_functions/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/mssql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_mixed_qualified_and_unqualified_predicates/mysql/out.sql
  ibis/backends/tests/snapshots/test_sql/test_rewrite_context/sqlite/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/athena/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/bigquery/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/clickhouse/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/databricks/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/datafusion/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/duckdb/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/postgres/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/pyspark/out.sql
  ibis/backends/tests/snapshots/test_sql/test_union_aliasing/trino/out.sql
  ibis/backends/tests/test_export.py
  ibis/backends/tests/test_numeric.py
  ibis/backends/tests/test_struct.py
  nix/overlay.nix
  nix/pyproject-overrides.nix
  requirements-dev.txt
  uv.lock
Labels: tests, impala, postgres, ci, dependencies, bigquery, mssql, nix

#11173 fix(snowflake): allow pyarrow 20 to work
  ibis/backends/snowflake/converter.py
Labels: snowflake

#11172 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11150 chore: improve conventional commits check
  .github/workflows/pr-title.yml
Labels: ci

#11186 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11183 docs(postgres): show passing schema to Postgres.from_url()
  docs/backends/postgresql.qmd
Labels: docs

#11185 feat: make Backend._from_url() consistently use kwargs as overrides
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/druid/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/pyspark/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/trino/__init__.py
Labels: impala, postgres, clickhouse, mysql, pyspark, bigquery, snowflake, mssql, trino, druid, oracle, exasol, risingwave

#11131 docs: add concepts doc on casting
  docs/concepts/casting.qmd
Labels: docs

#11200 fix(oracle): cast string to int for the precision and scale of decimal
  ibis/backends/oracle/__init__.py
  ibis/backends/oracle/tests/test_datatypes.py
Labels: tests, oracle

#11199 feat(datafusion): add Greatest and Least
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/test_numeric.py
Labels: tests, sql

#11220 feat(risingwave): add support for include in create_source
  ibis/backends/risingwave/__init__.py
Labels: risingwave

#11233 feat(bigquery): Add the ability to specify a bigquery job ID
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_client.py
Labels: tests, bigquery

#11238 docs(databricks): add a backend documentation page
  docs/backends/databricks.qmd
Labels: docs, docs-preview

#11235 fix(bigquery): maintain custom client project id when provided
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/test_connect.py
Labels: tests, bigquery, ci-run-cloud

#11272 fix(snowflake): use newer sqlglot syntax for unnest
  ibis/backends/sql/compilers/snowflake.py
Labels: sql

#11273 fix(builds): ensure that python 3.13 builds on nix
  nix/pyproject-overrides.nix
Labels: dependencies, nix

#11267 ci(perf): reduce threads to 1 when running duckdb test suite in parallel to avoid consuming all resources
  ibis/backends/duckdb/tests/conftest.py
Labels: tests, duckdb
