Repository ibis-project/ibis, pull requests merged in 2025-04, with the labels that each got.

#11066 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11074 feat(databricks): add support for json via variant
  ibis/backends/sql/compilers/databricks.py
  ibis/backends/sql/datatypes.py
  ibis/backends/tests/test_json.py
Labels: tests, sql

#11084 ci: changed file debug
  .github/workflows/docs-preview.yml
Labels: docs, ci, docs-preview

#11067 chore(deps): bump and relock
  .github/workflows/check-generated-files.yml
  flake.lock
  ibis/backends/duckdb/tests/test_geospatial.py
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_geo_literals_smoke/multipoint-geography/out.sql
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_geo_literals_smoke/multipoint-geometry/out.sql
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_geo_literals_smoke/multipoint-none/out.sql
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_geo_literals_smoke/multipoint-srid/out.sql
  ibis/backends/postgres/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp8/out.sql
  ibis/backends/postgres/tests/test_geospatial.py
  ibis/backends/postgres/tests/test_postgis.py
  ibis/expr/types/geospatial.py
  justfile
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: tests, postgres, ci, dependencies, duckdb, nix

#11092 fix(duckdb): always create temp tables in `temp.main`
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
Labels: tests, duckdb

#11106 chore(deps): bump and relock
  flake.lock
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp0-0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp1-1_1/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp2-2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp3-0_0_1_1_2_2/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp4-2_2_1_1_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp5-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp6-0_0_1_1_2_2_0_0/out.sql
  ibis/backends/duckdb/tests/snapshots/test_geospatial/test_literal_geospatial_inferred/shp7-0_0_1_1_2_2_2_2_1_1_0_0/out.sql
  ibis/backends/duckdb/tests/test_geospatial.py
  ibis/backends/tests/test_dot_sql.py
  ibis/common/tests/test_annotations.py
  requirements-dev.txt
  uv.lock
Labels: tests, dependencies, duckdb, nix

#11114 feat(pyflink): fix type mapping from BINARY to VARBINARY
  ibis/backends/sql/dialects.py
  ibis/backends/tests/test_binary.py
Labels: tests, sql

#11123 chore(deps): update delta-spark to 3.3.0 for local and remote pyspark
  .github/workflows/ibis-backends.yml
  compose.yaml
  docker/spark-connect/conf.properties
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/tests/test_export.py
Labels: tests, ci, pyspark

#11126 feat(postgres): allow disablement of hstore extension loading
  ibis/backends/postgres/__init__.py
Labels: postgres

#11125 fix(scalar-subquery): ensure that scalar subqueries `value` is resolvable with no underlying projection
  ibis/backends/tests/test_dot_sql.py
  ibis/expr/operations/subqueries.py
Labels: tests

#11128 chore(types): add type hints to lots of core stuff
  ibis/backends/sql/datatypes.py
  ibis/common/bases.py
  ibis/common/collections.py
  ibis/common/deferred.py
  ibis/common/numeric.py
  ibis/expr/datatypes/core.py
  ibis/expr/schema.py
  ibis/formats/numpy.py
  ibis/formats/pandas.py
Labels: datatypes, sql

#11113 feat(temporal): implement casting floating values to timestamps
  ibis/backends/polars/compiler.py
  ibis/backends/sql/compilers/bigquery/__init__.py
  ibis/backends/sql/compilers/clickhouse.py
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/sql/compilers/druid.py
  ibis/backends/sql/compilers/duckdb.py
  ibis/backends/sql/compilers/flink.py
  ibis/backends/sql/compilers/mysql.py
  ibis/backends/sql/compilers/postgres.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/sql/compilers/trino.py
  ibis/backends/tests/test_temporal.py
  ibis/common/temporal.py
  ibis/expr/datatypes/core.py
Labels: tests, bigquery, datatypes, sql, polars

#11134 fix(databricks): use `AS JSON` for programmatic output of schema information
  ibis/backends/databricks/__init__.py
  ibis/backends/databricks/tests/conftest.py
  ibis/backends/databricks/tests/test_datatypes.py
  ibis/backends/tests/test_client.py
Labels: bug, tests, datatypes, databricks

#11110 feat(backends): fixup drop_database() when passing a specific catalog
  ibis/backends/clickhouse/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_catalog.py
  ibis/backends/mysql/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/tests/test_client.py
Labels: tests, postgres, clickhouse, mysql, duckdb, risingwave

#11101 feat(api): expose DataType publicly at ibis.DataType
  ibis/expr/api.py
  ibis/expr/datatypes/core.py
Labels: datatypes

#11135 fix(snowflake/bigquery/athena): ensure that timestamp casting works
  ibis/backends/sql/compilers/athena.py
  ibis/backends/sql/compilers/bigquery/__init__.py
  ibis/backends/sql/compilers/snowflake.py
  ibis/backends/sql/compilers/trino.py
Labels: bug, bigquery, timestamps, sql, snowflake, ci-run-cloud, athena

#11138 fix(athena): only replace commas instead of all special characters in column names
  ibis/backends/athena/tests/test_client.py
  ibis/backends/sql/compilers/athena.py
  ibis/backends/tests/snapshots/test_sql/test_isin_bug/athena/out.sql
  ibis/backends/tests/snapshots/test_sql/test_to_sql_default_backend/athena/to_sql.sql
  ibis/backends/tests/test_temporal.py
Labels: bug, tests, sql, athena

#11077 docs: clarify NULL/NaN/inf distinction in docstring and examples
  ibis/expr/types/generic.py
  ibis/expr/types/numeric.py
Labels: docs

#11089 ci(data-loading): add a test to verify stateful loading
  ibis/backends/tests/test_client.py
Labels: tests

#11162 feat(datafusion): add support for anys and alls
  ibis/backends/sql/compilers/datafusion.py
  ibis/backends/tests/test_array.py
Labels: tests, sql
