Repository ibis-project/ibis, pull requests merged in 2025-07, with the labels that each got.

#11409 fix(duckdb): disallow duckdb 1.3.1 due to hangs when loading the geospatial extension
  ibis/expr/types/geospatial.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: dependencies, duckdb

#11407 chore(deps): bump and relock
  flake.lock
  ibis/expr/types/generic.py
  nix/quarto/default.nix
  pyproject.toml
  uv.lock
Labels: dependencies, nix

#11418 chore(deps): bump and relock
  flake.lock
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11424 fix(psycopg): avoid specifying the psycopg dependency implementation
  .github/workflows/ibis-backends.yml
  flake.nix
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: ci, dependencies, nix

#11425 chore(dev-deps): replace `compose build` with recommended `buildx bake`
  flake.nix
  justfile
Labels: dependencies, nix

#11431 fix(duckdb/snowflake): decouple Pandas and PyArrow backend converters
  ibis/backends/duckdb/converter.py
  ibis/backends/snowflake/converter.py
Labels: duckdb, snowflake

#11434 fix(trino/athena): ensure that `DateDiff` operands are in the correct order
  ci/schema/trino.sql
  ibis/backends/sql/compilers/trino.py
Labels: bug, sql, trino, athena

#11436 fix(trino/athena): ensure that regex extract compiler dispatch method is spelled correctly
  ibis/backends/sql/compilers/trino.py
Labels: sql, trino, athena

#11435 chore(deps): bump and relock and bump quarto to latest pre-release
  flake.lock
  flake.nix
  nix/overlay.nix
  nix/quarto/default.nix
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11470 feat(api): always prefer overwriting existing fields when unpacking with overlapping column names
  ibis/backends/tests/test_struct.py
  ibis/expr/types/relations.py
Labels: tests

#11475 test(snowflake): fix unpacking test
  ibis/backends/snowflake/tests/conftest.py
Labels: tests, snowflake

#11478 test(snowflake): relax the dtype check on `test_single_field` struct test
  ibis/backends/tests/test_struct.py
Labels: tests

#11481 chore(deps): bump and relock
  flake.lock
  nix/overlay.nix
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11455 refactor: rename `to_sqlglot` to `to_sqlglot_columns_definition`
  ibis/backends/athena/__init__.py
  ibis/backends/bigquery/__init__.py
  ibis/backends/clickhouse/__init__.py
  ibis/backends/databricks/__init__.py
  ibis/backends/datafusion/__init__.py
  ibis/backends/duckdb/__init__.py
  ibis/backends/exasol/__init__.py
  ibis/backends/impala/__init__.py
  ibis/backends/mssql/__init__.py
  ibis/backends/mysql/__init__.py
  ibis/backends/oracle/__init__.py
  ibis/backends/postgres/__init__.py
  ibis/backends/risingwave/__init__.py
  ibis/backends/snowflake/__init__.py
  ibis/backends/sqlite/__init__.py
  ibis/backends/trino/__init__.py
  ibis/backends/trino/tests/conftest.py
  ibis/expr/schema.py
  ibis/expr/tests/test_schema.py
Labels: tests, impala, postgres, sqlite, clickhouse, mysql, datafusion, bigquery, duckdb, snowflake, mssql, trino, oracle, exasol, risingwave, databricks, athena

#11496 chore(deps): bump and relock dependencies
  docs/backends/_utils.py
  flake.lock
  ibis/backends/bigquery/tests/system/test_client.py
  ibis/backends/clickhouse/tests/test_functions.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/flink/tests/conftest.py
  ibis/backends/pyspark/tests/conftest.py
  ibis/backends/pyspark/tests/test_null.py
  ibis/backends/sql/compilers/bigquery/udf/core.py
  ibis/backends/tests/test_numeric.py
  ibis/common/temporal.py
  ibis/common/tests/test_numeric.py
  ibis/expr/types/_rich.py
  ibis/tests/benchmarks/test_benchmarks.py
  ibis/tests/expr/test_value_exprs.py
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: tests, clickhouse, pyspark, dependencies, bigquery, duckdb, sql, nix, flink

#11500 refactor(sqlite): move sqlite3 imports local to avoid pyodide import issues with non-sqlite backends
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/sql/compilers/sqlite.py
  ibis/backends/sqlite/__init__.py
Labels: tests, sqlite, duckdb, sql

#11502 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11506 feat: allow dtype(Union[T, None])
  ibis/common/typing.py
  ibis/expr/datatypes/core.py
  ibis/expr/datatypes/tests/test_core.py
  ibis/tests/expr/test_udf.py
Labels: tests, datatypes

#11503 fix(pyspark): only register json unwraps if they are being used
  ibis/backends/pyspark/__init__.py
  ibis/backends/tests/test_aggregation.py
  ibis/backends/tests/test_vectorized_udf.py
  ibis/backends/tests/test_window.py
  nix/pyproject-overrides.nix
Labels: tests, pyspark, dependencies, breaking change, nix

#11520 fix(clickhouse): reraise non-unknown-table exceptions when running `get_schema` queries
  ibis/backends/clickhouse/__init__.py
  ibis/backends/clickhouse/tests/test_client.py
Labels: tests, clickhouse

#11524 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix
