Repository ibis-project/ibis, pull requests merged in 2025-06, with the labels that each got.

#11275 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11202 fix(datatype): convert from sqlglot VARCHAR(MAX) correctly
  ibis/backends/sql/datatypes.py
Labels: sql

#11315 refactor(test): centralize marks for no array, struct, etc support
  ibis/backends/tests/conftest.py
  ibis/backends/tests/test_array.py
  ibis/backends/tests/test_json.py
  ibis/backends/tests/test_map.py
  ibis/backends/tests/test_struct.py
Labels: tests

#11300 ci(mysql): run mysql tests serially to debug timeouts
  .github/workflows/ibis-backends.yml
Labels: ci

#11214 fix(duckdb): support materializing enum types to pyarrow
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
  ibis/backends/duckdb/tests/test_datatypes.py
  ibis/backends/duckdb/tests/test_geospatial.py
Labels: tests, duckdb

#11329 test(athena): enable xpassing tests
  ibis/backends/tests/test_array.py
Labels: tests, athena

#11328 chore(deps): bump and relock
  flake.lock
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11167 fix(flink): unit is ignored when str cast to timestamp
  ibis/backends/flink/tests/test_compiler.py
  ibis/backends/sql/compilers/flink.py
Labels: tests, sql, flink

#11265 feat(bigquery): add job_id_prefix to functions that produce bigquery loadjobs
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/system/conftest.py
  ibis/backends/bigquery/tests/system/test_client.py
Labels: tests, bigquery

#11335 chore(deps): bump and relock
  .github/workflows/nix.yml
  flake.lock
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/ms/out.sql
  ibis/backends/impala/tests/snapshots/test_value_exprs/test_timestamp_from_integer/us/out.sql
  pyproject.toml
  requirements-dev.txt
  uv.lock
Labels: tests, impala, ci, dependencies, nix

#11255 feat(bigquery): add QueryJobConfig properties to bigquery backend specified at query time
  ibis/backends/bigquery/__init__.py
  ibis/backends/bigquery/tests/unit/test___init__.py
Labels: tests, bigquery

#11347 revert: feat(ux): improve rich rendering (#11326)
  ibis/backends/tests/test_client.py
  ibis/expr/types/_rich.py
  ibis/expr/types/core.py
  ibis/expr/types/generic.py
  ibis/expr/types/relations.py
  ibis/expr/types/rich.py
Labels: tests

#11349 fix(bigquery): undo removal of `job_id_prefix` functionality from `raw_sql`
  ibis/backends/bigquery/__init__.py
Labels: bigquery

#11367 chore: fixed broken link
  docs/contribute/01_environment.qmd
Labels: docs

#11383 fix(distinct): allow deleting rows when `on` is unspecified
  ibis/backends/tests/test_generic.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: tests
