Repository ibis-project/ibis, pull requests merged in 2025-08, with the labels that each got.

#11532 fix(duckdb): allow creating tables with columns containing sql keywords
  ibis/backends/duckdb/__init__.py
  ibis/backends/duckdb/tests/test_client.py
Labels: bug, tests, duckdb

#11551 chore(deps): bump and relock
  flake.lock
  requirements-dev.txt
  uv.lock
Labels: dependencies, nix

#11540 refactor(binding): make DerefMap computation lazy and support multiple value inputs
  ibis/expr/rewrites.py
  ibis/expr/tests/test_dereference.py
  ibis/expr/types/groupby.py
  ibis/expr/types/joins.py
  ibis/expr/types/relations.py
  ibis/tests/expr/test_table.py
Labels: tests

#11574 perf(athena): use `get_table_metadata` in `get_schema`
  ibis/backends/athena/__init__.py
Labels: performance, athena
